/*
	Slide projects and resources on the homepage
*/
li.projectToggleOn, li.projectToggleOff,
li.resourceToggleOn, li.resourceToggleOff {
    @include transition(width 0.5s ease-out);
}
.animate-show {
	position: absolute;
	top: 0;
	left: 0;
}
.animate-show {
	@include transition(all 1s ease);
	&.animate-slide-left.resourceToggleOff {
		transform: translateX($page-width);
	}
	&.animate-slide-right.projectToggleOff {
		transform: translateX(-$page-width);
	}
}
div.projectToggleOn, div.resourceToggleOn {
	opacity: 1;
}
div.projectToggleOff, div.resourceToggleOff {
	opacity: 0;
}
