$page-width: 1100px;
$needs-height: 220px;
$sibling-height: 20em;
$linked-height: 20em;
$intro-height: 25em;

body {
	font: 0.85em/1.5em sans-serif;
	background-color: $color-bg;
	/*
	@include background-image(linear-gradient(#333, #bdbdbd, #333));
	*/
}
a {
	text-decoration: none;
}

.container {
	width: $page-width;
	margin: 0 auto;
}
.container-fluid {
	padding: 0;
}

header {
	background-color: $color-header-bg;
	form {
		display: inline;
	}	
}

#intro {
	padding: 2em 0;
	background: $color-intro-bg url('../img/bg/header-bg.jpg') center center no-repeat;
	background-size: cover;
	h1, h2 {
		text-align: center;
	}
	h1 {
		margin: 1.5em 0 0.5em;
		color: $color-intro-h1;
		font-weight: bold;
		font-size: 2em;
		text-transform: uppercase;
	}
	h2 {
		margin: 0 0 2em 0;
		font-size: 1.3em;
		font-weight: bold;
		color: $color-intro-h2;
	}
	h3 {
		z-index: 200;
		position: absolute;
		top: 9em;
		left: -21px;
		padding: 13px 0 0 0;
		color: $color-intro-h3;
		background: transparent url('../img/fiche-projet.png') top left no-repeat;
		span {
			display: block;
			padding: 0.75em 1.25em;
			text-transform: uppercase;
			background-color: $color-intro-h3-bg;
			border: 3px solid $color-intro-h3-border;
			@include border-radius(3px);
		}
	}
}

.intro {
	position: relative;
	margin: 2em 15px;
	/*
	background-color: $color-intro-bg;
	background-repeat: no-repeat;
	background-size: cover;
	*/
	font-size: 0.8em;
	border: 2px solid $color-intro-border;
	
	.row > div:first-child {
		padding-right: 0;
	}
	.row > div:last-child {
		padding-left: 0;
	}
	.row > div:first-child img {
		display: block;
		width: 100%;
		height: $intro-height;
	}

	div.sideproject {
		margin-right: -1px; /* fix 1px bug from boostrap grid */
		padding: 2em;
		color: $color-intro;
		background-color: $color-intro-project-bg;
		p.location {
			margin: 2em 0;
			padding-left: 60px;
			line-height: 48px;
			background: transparent url('../img/location.png') left center no-repeat;
		}
	}
	
	ul.tags {
		margin: 0 0 1em;
		li {
			display: inline-block;
		}
		a {
			display: inline-block;
			margin: 0 0.25em 0.5em 0;
			padding: 0.25em 1em;
			color: $color-intro-tags;
			background-color: $color-intro-tags-bg;
			@include border-radius(1px);
		}
	}
	
	ul.phases {
		margin: 1em 0;
		li {
			display: inline-block;
			width: 44px;
			height: 44px;
			margin-right: 0.5em;
			line-height: 44px;
			vertical-align: middle;
			background: url('../img/phase.png') center center no-repeat;
			text-transform: uppercase;
			&.selected {
				color: $color-phase-selected;
				background-image: url('../img/phase-selected.png');
			}
			span {
				display: none;
			}
			&:last-child {
				width: auto;
				margin: 0;
				background-image: none;
			}
		}
	}
	
}

/*
	Actions found in the sidebar, but also in the content
*/
ul.actions {
	li {
		float: right;
	}
	a {
		display: inline-block;
		padding: 1em 1em 0.5em 1em;
		font-size: 0.8em;
		color: $color-sidebar-action;
		background-color: $color-sidebar-action-bg;
		text-align: center;
		text-transform: uppercase;
		span {
			display: block;
			font-size: 2em;
		}
	}
}



