$page-width: 1100px;
$needs-height: 220px;
$sibling-height: 20em;
$linked-height: 20em;
$intro-height: 25em;

body {
	font: 0.85em/1.5em sans-serif;
	background-color: $color-bg;
	/*
	@include background-image(linear-gradient(#333, #bdbdbd, #333));
	*/
}
a {
	text-decoration: none;
}

.container {
	width: $page-width;
	margin: 0 auto;
}
.container-fluid {
	padding: 0;
}

/*
	Actions found in the sidebar, but also in the content
*/
ul.actions {
	li {
		float: right;
	}
	a {
		display: inline-block;
		padding: 1em 1em 0.5em 1em;
		font-size: 0.8em;
		color: $color-sidebar-action;
		background-color: $color-sidebar-action-bg;
		text-align: center;
		text-transform: uppercase;
		span {
			display: block;
			font-size: 2em;
		}
	}
}



