$page-width: 1100px;
$home-slide-height: 393px;
$needs-height: 220px;
$boxes-width: ($page-width - $grid-gutter-width * 5) / 4;
$boxes-height: $boxes-width;
$boxes-large-width: ($page-width - $grid-gutter-width * 4) / 3;
$boxes-large-height: $boxes-large-width;
$boxes-small-width: ($page-width - $grid-gutter-width * 4) / 5;
$boxes-small-height: $boxes-small-width;
$boxes-member-home-width: 27.4%;
$bloc-height: 300px;
$linked-height: 20em;
$intro-height: 25em;

body {
	font: 0.85em/1.5em Lato, sans-serif;
	background-color: $color-bg;
	/*
	@include background-image(linear-gradient(#333, #bdbdbd, #333));
	*/
}
a, a:focus {
	text-decoration: none;
	cursor: pointer;
	outline: none;
}
strong, b {
	font-weight: bold;
}
i {
	font-style: italic;
}

.right {
	text-align: right;
}
.left-aligned {
	text-align: left;
}
.container {
	width: $page-width;
	margin: 0 auto;
}
.container-fluid {
	padding: 0;
}
span.fixme {
	font-weight: bold;
	background-color: yellow;
}

h3.category {
	z-index: 200;
	position: absolute;
	top: 2em;
	left: -6px;
	padding-top: 13px;
	font-size: 1.1em;
	background: transparent url('../img/fiche-project.png') top left no-repeat;
	span {
		display: block;
		padding: 0.75em 1.25em;
		color: #fff;
		text-transform: uppercase;
		border: 3px solid $color-intro-h3-border;
		@include border-radius(3px);
		background-color: $color-blue;
	}
}

/*
	Actions found in the sidebar, but also in the content
*/
ul.actions {
	position: absolute;
	top: 0;
	right: 0;
	li {
		float: right;
	}
	a, button {
		display: inline-block;
		padding: 1.25em 1em 0.25em 1em;
		font-size: 0.7em;
		line-height: 3em;
		color: $color-sidebar-action;
		background-color: $color-sidebar-action-bg;
		text-align: center;
		text-transform: uppercase;
		border: none;
		span {
			display: block;
			font-size: 2em;
		}
		.solo {
			font-size: 2em !important;
		}
		&:hover {
			text-decoration: none;
			background-color: $color-red;
		}
	}
}

/*
	Tags - Found in header & content
*/
ul.tags {
	margin: 0 0 1em;
	li {
		display: inline-block;
	}
	a, button {
		display: inline-block;
		margin: 0 0.25em 0.5em 0;
		padding: 0.25em 1em;
		color: $color-tags;
		background-color: $color-blue;
		@include border-radius(1px);
	}
	&.tags-project a {
		background-color: $color-tags-project-bg;
	}
	&.tags-resource a {
		background-color: $color-tags-resource-bg;
		&:hover {
			background-color: $color-purple;
		}
	}
	&.tags-project a {
		background-color: $color-blue;
	}
	&.tags-resource a {
		background-color: $color-green;
	}
	a:hover {
		text-decoration: none;
		background-color: $color-red;
	}
}

button, a {
	@include transition(all 0.2s ease);
	&.large {
		display: block;
		width: 100%;
		margin: 2em 0;
		padding: 1.5em;
		font-size: 1.5em;
		text-align: center;
		text-transform: uppercase;
		&.large-orange, &.large-red, &.large-purple {
			color: #fff;
			border: none;
		}
		&.large-orange {
			background-color: $color-orange;
		}
		&.large-red {
			background-color: $color-red;
		}
		&.large-purple {
			background-color: $color-purple;
		}
		&:hover {
			text-decoration: none;
		}
	}
}

form.share {
	margin-bottom: 1em;
	text-align: right;
	button {
		width: 36px;
		height: 36px;
		margin: 0 0 0 0.5em;
		padding: 0;
		background-color: transparent;
		background-position: center center;
		background-repeat: no-repeat;
		border: none;
	}
	button.share-email {
		margin-left: 1.5em;
		background-image: url('../img/icons/share/share-email.png');
	}
	button.share-facebook {
		background-image: url('../img/icons/share/share-facebook.png');
	}
	button.share-google {
		background-image: url('../img/icons/share/share-google.png');
	}
	button.share-twitter {
		background-image: url('../img/icons/share/share-twitter.png');
	}
}

ul.pagination {
	margin: 0;
	li:first-child a, li:last-child a {
		@include border-radius(0);
	}
	a {
		margin: 0 0.1em;
		font-size: 1.5em;
		color: $color-orange;
		background-color: transparent;
		font-weight: bold;
		border: 2px solid $color-orange;
	}
	li.active a {
		color: #fff;
		background-color: $color-orange;
		border-color: $color-orange;
	}
	a:hover {
		color: #fff;
		background-color: $color-orange;
		border-color: $color-orange;
	}
}

