/* MakerScience colors */
$color-blue: #2497d0;
$color-chocolate: #453936;
$color-dark-blue: #126d9a;
$color-dark-green: #1a814e;
$color-dark-grey: #2f2f2f;
$color-dark-red: #a13535;
$color-copyright: #b6b6b6;
$color-cream: #e3deda;
$color-green: #30c9ad;
$color-light-cream: #f5f4f2;
$color-light-grey: #e8e8e8;
$color-medium-grey: #d3d7da;
$color-orange: #fa920b;
$color-pink: #ff5353;
$color-purple: #5a4b84;
$color-red: #c30;
$color-strong-grey: #656565;
$color-very-dark-blue: #092a3b; /* menu */
$color-very-light-grey: #ebebeb;
$color-vimeo: #1aa777; /* green */
$color-youtube: #cb2824; /* red */

/* Sections colors */
$color-profil: $color-chocolate;
$color-project: $color-blue;
$color-resource: $color-green;

/* Body */
$color-text: #333;
$color-bg: #f2f2f2;

/* Side Nav */
$color-nav-a: #fdfdfd;
$color-nav-a-bg: $color-dark-grey;
$color-nav-a-bg-selected: $color-red;
$color-nav-project-a-bg-selected: $color-red;
$color-nav-resource-a-bg-selected: $color-purple;
$color-nav-a-bg-hover: $color-nav-a-bg-selected;

/* Header */
$color-header-bg: #fff;

/* Menu */
$color-menu-a: #fff;
$color-menu-projects: #3297cd;
$color-menu-resources: #3c9;
$color-menu-form: #fff;
$color-menu-form-bg: #e4e4e4;
$color-menu-members: $color-profil;

/* Intro */
$color-intro: #000;
$color-intro-listing: #fff;
$color-intro-project-bg: #042d41;
$color-intro-resource-bg: #21083b;
$color-intro-border: #fff;
$color-intro-h1: #fefefe;
$color-intro-h2: #fcfcfc;
$color-intro-h3: #fff;
$color-intro-h3-border: #fff;
$color-intro-h3-project-bg: $color-project;
$color-intro-h3-resource-bg: $color-resource;
$color-intro-project-bg: #f2f2f2;
$color-phase-selected: #fe9903;

/* Base */
$color-tags: #fff;
$color-tags-project-bg: $color-project;
$color-tags-resource-bg: $color-resource;

/* Toolbar */
$color-toolbar-bg: #ddd9da;

/* Content */
$color-content-tab: #000;
$color-content-tab-bg: transparent;
$color-content-tab-active: #fff;
$color-content-tab-project-active-bg: $color-project;
$color-content-tab-resource-active-bg: $color-resource;
$color-content-tab-seance-active-bg: $color-purple;
$color-content-tab-slide: #fff;
$color-content-tab-slide-bg: $color-dark-grey;
$color-content-tab-slide-active-bg: $color-blue;
$color-content-tab-listing-active-bg: $color-blue;
$color-content-section: #333;
$color-content-section-bg: #fff;
$color-content-section-bg-even: $color-light-grey;
$color-content-listing-bg: $color-light-grey;
$color-content-edit: #fff;
$color-content-edit-bg: $color-medium-grey;
$color-needs: $color-text;
$color-needs-bg: #2695cd;
$color-needs-h3: #fff;
$color-interested: $color-needs-h3;
$color-interested-bg: $color-red;
$color-interested-border: #fff;
$color-linked: #fff;
$color-linked-project-h3-bg: $color-blue;
$color-linked-resource-h3-bg: $color-green;
$color-linked-h4-bg: $color-text;
$color-linked-h5-bg: $color-linked-h4-bg;
$color-boxes: #fff;
$color-boxes-bg: $color-red;
$color-boxes-title-bg: #333;
$color-boxes-title-border: #444;
$color-carousel-photos-tabs-bg: #333;
$color-bloc-methodology: #fff;
$color-bloc-methodology-bg: $color-green;
$color-bloc-warning: #fff;
$color-bloc-warning-bg: $color-purple;
$color-bloc-links: $color-text;
$color-bloc-links-bg: $color-light-grey;
$color-bloc-about: #fff;
$color-bloc-about-bg: $color-green;
$color-member-bg: #d9d8d8;
$color-member-added-bg: $color-orange;

/* Forms */
$color-form-text: #535353;
$color-form-input-bg: $color-very-light-grey;

/* Sidebar */
$color-sidebar-action: #fff;
$color-sidebar-action-bg: $color-text;
$color-sidebar-submenu: #fff;
$color-sidebar-submenu-bg: #304651;
$color-sidebar-submenu-border: #cbdfde;
$color-sidebar-community: #fff;
$color-sidebar-community-member-border: #7fb3c9;
$color-sidebar-comments: $color-text;
$color-sidebar-comments-bg: $color-light-grey;
$color-sidebar-comments-border: #d3d3d3;
$color-sidebar-popularity: #fff;
$color-sidebar-popularity-bg: $color-blue;
$color-sidebar-popularity-percent: #50587c;
$color-sidebar-popularity-percent-bg: #fff;

/* Admin */
$color-admin-dropdown-bg: #d1cdce;

/* Footer */
$color-footer: $color-text;
$color-footer-bg: #fff;
