@import "same-height";

div.toolbar {

	.col-xs-height, .col-solo {
		display: table-cell;
		height: 8em;
		vertical-align: middle;
	}
	background-color: $color-toolbar-bg;
	.row.container {
		padding-left: 30px;
		padding-right: 30px;
	}
	.col-xs-height {
		height: 8em;
		&.project {
			background-color: $color-blue;
		}
		&.member {
			background-color: $color-red;
		}
		&.resource {
			background-color: $color-green;
		}
	}
	h3 {
		color: #fff;
		text-transform: uppercase;
	}
	ul {
		margin: 1.5em 0 0.25em;
		font-size: 0.9em;
		li {
			margin-right: 0.5em;
			margin-bottom: 0.5em;
		}
	}
	.col-md-2 {
		form {
			text-align: center;
			button[type="submit"] {
				color: #fff;
				background-color: transparent;
				font-size: 2.25em;
				border: none;
			}
		}
	}
	.col-orange {
		background-color: $color-red;
		form button[type="submit"] {
			background-color: $color-red;
		}
	}
	
	&.toolbar-profils {
		text-align: right;
		form {
			button {
				padding: 1.35em 1.5em;
				font-size: 2.25em;
				color: #fff;
				background-color: $color-orange;
				border: none;
			}
		}
	}
}


#content, #sidebar {
	margin-top: 3em;
}
#content {
	&.listing {
		overflow: hidden; /* Allows to have bottom padding */
		padding-bottom: 4em;
		section.title {
			padding: 1.5em 2em;
			padding: $grid-gutter-width;
			color: #fff;
			background-color: $color-blue;
			text-transform: uppercase;
			h3 {
				margin-bottom: 0.5em;
				font-family: latolight;
				font-size: 1.3em;
				font-weight: normal;
			}
			h4 {
				font-size: 2em;
				font-weight: bold;
			}
		}
		#carousel-weekly {
			a.carousel-control {
				display: none;
			}
			.boxes-listing {
				margin-bottom: $grid-gutter-width;
				padding: 0 0 3em 0;
				.box {
					text-align: left; /* fix carousel auto-centering */
				}
			}
			.carousel-indicators li {
				height: 1em;
				width: 1em;
				border-color: $color-dark-grey;
				vertical-align: middle;
				&.active {
					height: 0.9em;
					width: 0.9em;
					background-color: $color-dark-grey;
				}
			}
			h5 {
				margin-bottom: 0;
			}
			.text-center {
				text-align: justify; /* prevent bootstrap from centering items in the carousel */
			}
		}
	}
	&.project {
		section.title {
			background-color: $color-blue;
		}
	}
	&.resource {
		section.title {
			background-color: $color-green;
		}
	}
	ul.nav-tabs {
		margin-bottom: 1em;
		border: none;
		&.nav-tabs-seance,
		&.nav-tabs-slide,
		&.nav-tabs-listing {
			margin: 0;
		}
		&> li {
			 a {
			 	font-size: 1.4em;
			 	font-weight: bold;
				color: $color-content-tab;
				background-color: $color-content-tab-bg;
			}
			&.active a {
				color: $color-content-tab-active;
			}
		}
		&.nav-tabs-project > li.active a {
			background-color: $color-content-tab-project-active-bg;
			border: 2px solid $color-content-tab-active;
		}
		&.nav-tabs-resource > li.active a {
			background-color: $color-content-tab-resource-active-bg;
			border: 2px solid $color-content-tab-active;
		}
		&.nav-tabs-seance {
			font-size: 0.8em;
			text-transform: uppercase;
			&> li.active a {
				background-color: $color-content-tab-seance-active-bg;
			}
		}
/*		&.nav-tabs-slide {*/
/*			font-size: 1.3em;*/
/*			&>li a {*/
/*				color: $color-content-tab-slide;*/
/*				background-color: $color-content-tab-slide-bg;*/
/*				@include border-radius(0);*/
/*			}*/
/*			&>li.active a {*/
/*				background-color: $color-content-tab-slide-active-bg;*/
/*				border: 2px solid $color-content-tab-active;*/
/*			}*/
/*		}*/
		&.nav-tabs-listing {
			margin-bottom: 3em;
			&> li.active a {
				background-color: $color-content-tab-listing-active-bg;
				border: 2px solid $color-content-tab-active;
			}
		}
		&.nav-tabs-profils {
			&> li.active a {
				background-color: $color-orange;
			}
		}
	}
	/* Added to work with bootstrapui's extra div around the ul  */
	/* FIXME Might need to remove redundant code above once all elements have been moved to angular */
	.nav-tabs-listing ul.nav-tabs,
	.nav-tabs-slide ul.nav-tabs {
		margin: 0;
	}
	.nav-tabs-listing ul.nav-tabs a {
		border: 2px solid transparent;
	}
	.nav-tabs-listing ul.nav-tabs {
		margin-bottom: 3em;
		&> li.active a, &>li a:hover {
			color: #fff;
			background-color: $color-content-tab-listing-active-bg;
			border-color: $color-content-tab-active;
			@include transition(all .2s ease-in-out);
		}
	}
	.nav-tabs-project ul.nav-tabs {
		&> li.active a, &>li a:hover {
			color: #fff;
			background-color: $color-content-tab-project-active-bg;
			border-color: $color-content-tab-active;
			@include transition(all .2s ease-in-out);
		}
	}
	.nav-tabs-resource ul.nav-tabs {
		margin-bottom: 3em;
		&> li.active a, &> li a:hover {
			color: #fff;
			background-color: $color-content-tab-resource-active-bg;
			border-color: $color-content-tab-active;
			@include transition(all .2s ease-in-out);
		}
	}
	.nav-tabs-slide {
		ul.nav-tabs {
			font-size: 1.3em;
			&>li a {
				color: $color-content-tab-slide;
				background-color: $color-content-tab-slide-bg;
				@include border-radius(0);
			}
			&>li.active a {
				border: 2px solid $color-content-tab-active;
			}
		}
		&.nav-tabs-slide-project {
			ul.nav-tabs {
				&>li.active a {
					background-color: $color-blue;
				}
			}
		}
		&.nav-tabs-slide-resource {
			ul.nav-tabs {
				&>li.active a {
					background-color: $color-green;
				}
			}
		}
	}
	/* end of new bootstrap UI amends */
	
	.tab-content-listing {
		padding: 0;
		.boxes-listing {
			margin: 0;
			padding: 0;
		}
	}
	.tab-content-profils {
		padding: 0;
		.boxes-profils {
			margin: 0;
			padding: 0;
		}
	}
	section {
		position: relative;
		margin-bottom: $grid-gutter-width;
		padding: 1em 1em 0;
		color: $color-content-section;
		background-color: $color-content-section-bg;
		h3 {
			margin-bottom: 1em;
			font-weight: bold;
			text-transform: uppercase;
		}
		p:last-child {
			padding-bottom: 2em;
		}
	}
	section:nth-child(even) {
		background-color: $color-content-section-bg-even;	
	}
	
	section.linked {
		position: relative;
		height: $linked-height;
		margin-top: 2em;
		padding: 0;
		background-repeat: no-repeat;
		background-size: cover;
		.carousel-inner {
			height: $linked-height;
		}
		a.carousel-control {
			bottom: 1.25em;
			span {
				font-weight: bold;
				text-decoration: underline;
			}
			&.left {
				left: 2em;
			}
			&.right {
				right: 1em;
			}
		}
		h3 {
			margin: 0;
		}
		h3, h4, h5 {
			z-index: 10;
			position: relative;
			text-transform: uppercase;
		}
		h3 a, h4 a, h5 a {
			display: inline-block;
			color: $color-linked;
			&:hover {
				text-decoration: none;
			}
		}
		h3 a {
			padding: 1em;
		}
		&.linked-project h3 a {
			background-color: $color-linked-project-h3-bg;
		}
		&.linked-resource h3 a {
			background-color: $color-linked-resource-h3-bg;
		}
		h4 a, h5 a {
			padding: 0.5em 1em;
			background-color: $color-linked-h4-bg;
			@include opacity(0.8);
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			height: $linked-height;
			width: 100%;
		}
		ul.nav {
			width: 100%;
			li {
				position: absolute;
				bottom: 0.5em;
			}
			li:first-child {
				left: 1em;
			}
			li:last-child {
				right: 1em;
			}
			a {
				font-size: 0.9em;
				font-weight: bold;
				color: $color-linked;
				text-decoration: underline;
				&:hover {
					background-color: transparent;
				}
			}
		}
	}

	.needs, .interested {
		height: $needs-height;
		margin-bottom: 2em;
		padding: 2em;
		h3 {
			color: $color-needs-h3;
			font-size: 1.2em;
			font-weight: bold;
			
		}
		h4 {
			font-size: 1.4em;
		}
		h3, h4 {
			text-transform: uppercase;
		}
	}
	.needs {
		position: relative;
		font-size: 0.9em;
		color: $color-needs;
		background: $color-needs-bg url('../img/bg/content-blue-bg.png') center left no-repeat;
		#carousel-needs {
			div.carousel-inner {
				padding-bottom: 3em;
			}
			a.carousel-control {
				color: $color-needs;
			}
			.text-center {
				text-align: left;
			}
		}
		.item {
			min-height: 100px;
			margin: 1em 0;
			padding-left: 100px;
			line-height: 1.25em;
			h4 {
				padding: 1em 0 0.25em;
			}
		}
		.needs-idea,
		.needs-financing,
		.needs-hardware,
		.needs-skills {
			background-image: url('../img/needs/needs-idea.png');
			background-position: 0 1.25em;
			background-repeat: no-repeat;
		}
		.needs-idea { background-image: url('../img/needs/needs-idea.png'); }
		.needs-financing { background-image: url('../img/needs/needs-financing.png'); }
		.needs-hardware { background-image: url('../img/needs/needs-hardware.png'); }
		.needs-skills { background-image: url('../img/needs/needs-skills.png'); }
	}
	.interested {
		display: table;
		width: 100%;
		padding: 1em;
		text-align: center;
		background-color: $color-interested-bg;
		border: 2px solid $color-interested-border;
		h3 {
			display: table-cell;
			height: 100%;
			font-size: 2em;
			vertical-align: middle;
		}
		h3 a {
			color: $color-interested;
		}
	}
	.bloc {
		overflow: hidden;
		height: $bloc-height;
		margin: 3em 0;
		h3, p, ul {
			padding-right: 1em;
			padding-left: 1em;
		}
		h3 {
			padding-top: 1em;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
	.bloc-methodology {
		padding: 170px 0 0 0;
		text-align: center;
		color: $color-bloc-methodology;
		background: $color-bloc-methodology-bg url('../img/icons/methodology.png') 50% 35% no-repeat;
		h3 {
			font-size: 2em;
			vertical-align: middle;
			text-align: center;
			font-weight: bold;
			img {
				display: inline-block;
			}
		}
	}
	.bloc-warning {
		color: $color-bloc-warning;
		background: $color-bloc-warning-bg url('../img/icons/warning.png') 50% 15% no-repeat;
		h3 {
			padding-top: 120px;
			padding-bottom: 1em;
			font-weight: bold;
		}
		p, ul {
			font-size: 0.9em;
			line-height: 1.5em;
		}
		li:before {
			content: "> ";
		}
	}
	.bloc-links, .bloc-about {
		position: relative;
		h3, p, ul {
			padding-right: 2em;
			padding-left: 2em;
		}
		h3 {
			padding: 2em 2em 1em 2em;
		}
	}
	.bloc-links {
		background-color: $color-bloc-links-bg;
		&.bloc-links-project {
			background-color: #fff;
		}
		a, a:visited {
			color: $color-bloc-links;
			text-decoration: underline;
		}
	}
	.bloc-about {
		color: $color-bloc-about;
		background-color: $color-bloc-about-bg;
		&.bloc-about-project {
			background-color: $color-blue;
		}
		img {
			display: block;
			margin: 1em auto 2em;
		}
		p {
			font-weight: bold;
		}
		em {
			display: block;
			font-size: 0.9em;
			font-weight: normal;
		}
	}
		
}


.boxes {

	margin-right: -$grid-gutter-width;

	.box {
		display: inline-block;
		position: relative;
		height: $boxes-height;
		width: $boxes-width;
		margin-right: $grid-gutter-width;
		margin-bottom: $grid-gutter-width;
		color: $color-boxes;
		vertical-align: top;
		h3, h4, h5 {
			z-index: 10;
			position: relative;
			font-family: latolight;
			font-weight: bold;
		}
		h3 {
			display: inline-block;
			padding: 0 0.25em 0 1em;
			font-size: 0.9em;
			text-transform: uppercase;
			background-color: $color-boxes-title-bg;
		}
		h4, h5 {
			padding: 0.2em $grid-gutter-width / 2;
			line-height: 1.5em;
			background-color: $color-boxes-title-bg;
			@include opacity(0.8);
		}
		h4 a, h5 a {
			text-decoration: none;
		}
		h4 a:hover, h5 a:hover {
			text-decoration: underline;
		}
		h4 {
			padding-top: 0.75em;
			padding-bottom: 0;
			text-transform: uppercase;
		}
		h5 {
			padding-top: 0;
			padding-bottom: 0.75em;
			color: $color-light-grey;
		}
		a {
			display: inline-block;
			color: $color-boxes;
			span.link {
			    text-decoration: underline;
            }			    
		}
		h3 img {
			margin-left: 0.5em;
			padding: 0.25em 0 0.25em 0.25em;
			border-left: 1px solid $color-boxes-title-border;
			vertical-align: middle;
		}
		> img {
			z-index: 1;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		div.description {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			h4, h5 {
				display: block;
				background-color: $color-dark-grey;
				@include opacity(0.95);
			}
			h4 a, h5 a {
				display: inline;
			}
		}
		&.box-blue { background-color: $color-blue; }
		&.box-green { background-color: $color-green; }
		&.box-orange { background-color: $color-orange; }
		&.box-purple { background-color: $color-purple; }
		&.box-red { background-color: $color-red; }
		&.box-solo {
			a {
				height: 100%;
				padding: 1em;
				font-family: latoblack;
				font-size: 1.75em;
				font-weight: bold;
				line-height: 1.25em;
				text-transform: uppercase;
				background: transparent url('../img/bg/box.png') top left no-repeat;
				vertical-align: middle;
				span {
					font-size: 0.9em;
					font-weight: lighter;
				}
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	
	/* Extra div to vertically center text no matter how many lines we have */
	.box-solo {
        div {
            display: table;
            height: 100%;
	        vertical-align: top;
	        a {
		        display: table-cell;
		        padding: 0 1em;
		        text-transform: uppercase;
		        text-align: left;
		        font-weight: bold;
		        line-height: 1.25em;
		        vertical-align: middle;
		        @include transition(all 0.1s ease);
		        &:hover {
			        text-decoration: none;
		        }
	        }
	    }
    }
    
	&.boxes-listing {
		.box {
			@include box-shadow(0 1px 1px rgba(0, 0, 0, 0.25));
		}
	}

    &.boxes-spaced {
        margin-top: $grid-gutter-width;
        margin-bottom: $grid-gutter-width;
    }
    
    /* FIXME Need to merge this with normal boxes if we can agree on a standard way to "link" boxes */
	&.boxes-medium {
		.box {
			h4, h5 {
				font-size: 1.1em;
				text-transform: uppercase;
			}
			&> a {
				position: relative;
				display: block;
				height: $boxes-height;
				h3, h4, h5, {
					float: left;
					clear: left;
					display: inline;
					padding: 0.5em $grid-gutter-width / 3;
					background-color: $color-boxes-title-bg;
				}
				h3 {
					padding: 0 $grid-gutter-width / 3;
				}
				&> img {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					height: 100%;
					width: 100%;
				}
			}
			&> a, &>div > a {
				&:hover {
					opacity: 0.8;
				}
			}
			&.box-solo {
				a {
					font-size: 2.25em;
				}
			}
		}
	}
	
    &.boxes-large {
		.box {
			height: $boxes-large-height;
			width: $boxes-large-width;
			h4, h5 {
			    font-size: 1.25em;
			    text-transform: uppercase;
		    }
		    &> a {
		        position: relative;
		        display: block;
		        height: $boxes-large-height;
		        h3, h4, h5, {
		            float: left;
		            clear: left;
		            display: inline;
		            padding: 0.5em $grid-gutter-width / 3;
        			background-color: $color-boxes-title-bg;
		        }
		        h3 {
		            padding: 0 $grid-gutter-width / 3;
		        }
		       &> img {
		            position: absolute;
		            top: 0;
		            left: 0;
		            right: 0;
		            bottom: 0;
		            height: 100%;
		            width: 100%;
	            }
		    }
		    &> a, &>div > a {
	            &:hover {
	                opacity: 0.8;
	            }
		    }
			&.box-solo {
			    a {
			        font-size: 2.25em;
			    }
			}
		}
    }
    
	&.boxes-small {
		font-size: 0.85em;
		.box {
			height: $boxes-small-height;
			width: $boxes-small-width;
			margin-right: $grid-gutter-width / 2;
			div.description {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
			}
		}
	}
	
	&.boxes-small-home {
		margin-top: $grid-gutter-width / 2;
		margin-left: $grid-gutter-width / 2;
		margin-bottom: $grid-gutter-width / 2;
		.box {
			margin-right: $grid-gutter-width / 2;
			margin-bottom: $grid-gutter-width / 2;
		}
		.box-solo a {
			font-size: 2.1em;
		}
	}

	
	.members {
	
	    margin-right: -$grid-gutter-width;
	
		li {
			display: inline-block;
			position: relative;
			width: $boxes-width - 1px; /* need to fix extra space added by Angular between </li><li> */
			margin-right: $grid-gutter-width;
			margin-bottom: 2em;
			text-align: center;
			background-color: $color-member-bg;
			vertical-align: middle;
			@include box-shadow(0 1px 1px rgba(0, 0, 0, 0.25));
			&.member-added {
				background-color: $color-member-added-bg;
			}
			button {
				position: absolute;
				top: 0;
				right: 0;
				padding: 0.5em 0.75em;
				color: #fff;
				background-color: $color-dark-grey;
				border: none;
				&:hover {
					background-color: $color-orange;
				}
			}
			img {
				width: 140px;
				height: 140px;
				margin: 1em 0 0.25em;
			}
			h3 {
				text-transform: uppercase;
				strong {
					font-weight: bold;
				}
			}
			h4 {
				height: 2em;
				margin-bottom: 1em;
				font-size: 0.8em;
				line-height: 1.25em;
			}
			h5 {
				padding: 0.8em 0;
				color: #fff;
				background-color: $color-dark-grey;
				text-transform: uppercase;
				span {
					margin-right: 0.5em;
					font-size: 1.75em;
					vertical-align: middle;
				}
			}
			&:hover {
			    background-color: $color-orange;
			}
		}
		a {
		    display: block;
		    color: $color-dark-grey;
	    }
		a:hover {
		    text-decoration: none;
	    }
		
	}
	ul.members-small {
	    margin-right: 0;
	    li {
	        position: relative;
		    height: $boxes-small-height - $grid-gutter-width;
		    width: $boxes-member-home-width;
		    margin-right: $grid-gutter-width;
		    margin-bottom: $grid-gutter-width / 2;
		    background-color: #fff;
		    &:hover {
		        background-color: $color-light-grey;
	        }
		    h3 {
			    margin-bottom: 0.1em;
			    font-size: 0.85em;
			    color: $color-dark-grey;
		    }
		    h4 {
			    font-size: 0.75em;
		    }
		    h5 {
		        position: absolute;
		        bottom: 0;
		        left: 0;
		        right: 0;
			    font-size: 0.7em;
		    }
		    img {
			    width: 85px;
			    height: 85px;
			    margin-top: 0.75em;
		    }
		    &.box-solo {
		        a {
		        	color: $color-dark-grey;
		        	font-family: latoblack;
		        	&:hover {
		                color: $color-pink;
		                background-color: $color-dark-grey;
	                }
		        }
		    }
	    }
    }
}

.content-member .boxes-small {
    .box {
        width: 194px; /* FIXME need to figure out why on this page boxes are a bit larger */
    }
}

div.badges {
	margin-bottom: 4em;
	padding: 2em;
	background-color: $color-light-grey;
	h3 {
		font-weight: bold;
		text-transform: uppercase;
	}
}
