@font-face {
    font-family: Lato;
    src: url('./fonts/Lato-Regular.ttf');
    font-weight:400;
}
@font-face {
    font-family: LatoItalic;
    src: url('./fonts/Lato-Italic.ttf');
    font-weight:400;
}
@font-face {
    font-family: LatoBold;
    src: url('./fonts/Lato-Bold.ttf');
    font-weight:700;
}
@font-face {
    font-family: LatoBoldItalic;
    src: url('./fonts/Lato-BoldItalic.ttf');
    font-weight:700;
}
@font-face {
    font-family: LatoLight;
    src: url('./fonts/Lato-Light.ttf');
    font-weight:300;
}
@font-face {
    font-family: LatoLightItalic;
    src: url('./fonts/Lato-LightItalic.ttf');
    font-weight:300;
}
@font-face {
    font-family: LatoBlack;
    src: url('./fonts/Lato-Black.ttf');
    font-weight:900;
}
@font-face {
    font-family: LatoBlackItalic;
    src: url('./fonts/Lato-BlackItalic.ttf');
    font-weight:900;
}
@font-face {
    font-family: LatoHairline;
    src: url('./fonts/Lato-Hairline.ttf');
    font-weight:200;
}
@font-face {
    font-family: LatoHairlineItalic;
    src: url('./fonts/Lato-HairlineItalic.ttf');
    font-weight:200;
}
