footer {
	color: $color-footer;
	background-color: $color-footer-bg;
	div.blue,
	div.cream,
	div.copyright,
	div.financed,
	div.about {
		padding-top: $grid-gutter-width;
		padding-bottom: $grid-gutter-width;
	}
	div.blue {
		color: #fff;
		background-color: $color-blue;
		text-align: center;
		div * {
			display: inline-block;
			vertical-align: middle;
		}
		h2, h3 {
			text-transform: uppercase;
		}
		h2 {
			margin: 0 0.75em;
			font-size: 1.25em;
			font-weight: bold;
			text-align: left;
		}
		h3 {
			margin-right: 0.25em;
			font-size: 1.25em;
			font-family: LatoLight;
		}
		form {
			img {
				@include opacity(0.5);
				@include transition(opacity 0.2s ease-out);
			}
			&:hover img {
				@include opacity(1);
			}
			input, button {
				padding: 0.4em;
				border: none;
			}
			input {
				margin-left: 1em;
				padding-right: 1em;
				padding-left: 1em;
				color: $color-dark-grey;
			}
			button {
				margin-right: 3em;
				color: #fff;
				background-color: $color-dark-blue;
				font-weight: bold;
			}
		}
	}
	ul.social {
		li a {
			padding: 0 1em;
			img {
				@include opacity(0.5);
			 	@include transition(opacity 0.2s ease-out);
				&:hover {
					@include opacity(1);
				}
			}
		}
	}
	.financed {
		text-align: center;
		h2 {
			margin-bottom: 0.75em;
			font-size: 1.65em;
		}
		ul {
			li {
				display: inline-block;
			}
			a {
				display: inline-block;
				height: 100px;
				width: 120px;
			}
			li.logo-inmediats {
				a {
					background: url('../img/footer/logo-inmediats-grey.png') center center no-repeat;
					&:hover {
						background: url('../img/footer/logo-inmediats.png') center center no-repeat;
					}
				}
			}
			li.logo-investissements-avenir {
				a {
					background: url('../img/footer/logo-investissements-avenir-grey.png') center center no-repeat;
					&:hover {
						background: url('../img/footer/logo-investissements-avenir.png') center center no-repeat;
					}
				}
			}
		}
	}
	.about h3,
	.sitemap h3 {
		margin-bottom: 0.5em;
		font-family: LatoBlack;
		font-size: 1.5em;
		color: $color-blue;
		text-transform: uppercase;
	}
	.about {
		button {
			margin-top: 1em;
			padding: 1em 2em;
			color: #fff;
			background-color: $color-dark-blue;
			font-size: 0.8em;
			font-family: LatoBlack;
			text-transform: uppercase;
			border: none;
		}
	}
	.sitemap {
		font-size: 0.9em;
		h4 {
			margin-top: 0.5em;
			font-weight: bold;
		}
		ul {
			margin-top: 0.25em;
			margin-bottom: 2em;
			line-height: 2em;
		}
		li {
			margin-left: 1em;
			list-style-type: square;
			color: $color-blue;
		}
		a {
			color: $color-dark-grey;
			&:hover {
				color: $color-blue;
			}
		}
	}
	div.cream {
		background-color: $color-light-cream;
		border-bottom: 1px solid $color-cream;
		div.row div:first-child p {
			margin-right: 2em;
		}
	}
	div.copyright {
		color: $color-copyright;
		font-size: 0.95em;
		p {
			margin: 0 1em;
		}
		span {
			float: right;
		}
	}
}
