.admin {

	#content {

		margin-top: 2em;
		margin-bottom: 10em;
		padding: $grid-gutter-width;
		background: $color-content-edit-bg;

		.introduction {
			margin-bottom: $grid-gutter-width;
		}

		ul.experiences {
			@extend .experiences
		}

		h2, h3 {
			font-size: 1.5em;
			text-transform: uppercase;
		}
		h2 {
			margin-top: -$grid-gutter-width;
			margin-right: -$grid-gutter-width;
			margin-left: -$grid-gutter-width;
			margin-bottom: $grid-gutter-width * 1.5;
			padding: $grid-gutter-width;
			color: #fff;
			font-weight: bold;
		}

		h3 {
			margin: 1em 0;
			color: $color-strong-grey;
		}

		form {
			.inputfile {
				width: 0.1px;
				height: 0.1px;
				opacity: 0;
				overflow: hidden;
				position: absolute;
				z-index: -1;
				margin-top: 20px;
			}
			.inputfile + label {
				display: block;
				margin-right: 50px;
				text-align: center;
				margin-top: 20px;
				padding: .75em 1em;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.panel {
				h4 {
					font-size: 1.3em;
					font-weight: bold;
				}
				h5 {
					font-size: 1.3em;
					font-weight: bold;
					margin-top: .75em;
					color: $color-crumbs-grey;
				}
				.accordion-toggle {
					.title {
						vertical-align: middle;
					}
					&:hover {
						text-decoration: none;
					}
				}
				.subtitle {
					line-height: 1.2em;
					padding-right: 1em;
					padding-top: 8px;
				}
				.glyphicon-chevron-down {
					transition: transform .2s;
					&.right {
						transform: rotate(-90deg);
					}
				}
				.panel-body {
					padding-top: .25em;
				}
			}

			.panel-heading {
				overflow: hidden;
			}

			fieldset {
				margin: 0;
				padding: 0;
				&.needs-idea, &.needs-select, &.linked-idea {
					background-color: transparent;
					textarea {
						width: 75%;
						margin-left: 25%;
						padding: 0;
						background-color: transparent;
					}
					button.right {
						float: right;
						padding: 0;
						font-size: 0.85em;
						background-color: transparent;
						border: none;
					}
				}
				&.needs-idea {
					background-image: url('../img/needs/needs-idea.png');
				}
				&.needs {
					&.needs-select, &.needs-save {
						height: auto;
						background-image: none;
					}
					&.needs-select {
						button.dropdown-toggle {
							.caret {
								margin-left: 1em;
							}
						}
						textarea {
							width: 100%;
							margin: 0;
							padding: 1em;
							background-color: #fff;
							border: 1px solid #ccc;
							@include border-radius(2px);
						}
						button.button {
							position: relative;
    							float: right;
						}

					}
					&.needs-save {
						padding-bottom: $grid-gutter-width / 2;
						background: $color-light-grey url('../img/needs/needs-idea.png') 5% 50% no-repeat;
						h5 {
							margin-left: 0;
							font-weight: bold;
						}
						textarea {
							display: inline;
							margin: $grid-gutter-width / 2 0;
							padding: 1em;
							font-size: 1.1em;
							background-color: #fff;
							@include border-radius(3px);
						}
						button {
							padding-top: 0.3em;
							padding-bottom: 0.4em;
							font-size: 1.1em;
						}
					}
				}
				&.needs-select, &.linked-idea {
					padding-bottom: 0.25em;
					ul.list-group {
						margin: $grid-gutter-width / 2 0;
						li {
							padding: $grid-gutter-width / 2 0;
							border-bottom: 1px solid $color-medium-grey;
							div div:last-child {
								text-align: right;
							}
							&:last-child {
								border-bottom: none;
							}
						}
						label {
							font-weight: bold;
						}
						button span {
							margin-right: 0.5em;
						}
					}
				}
				&.linked-idea {
					margin-bottom: $grid-gutter-width;
					input {
						background-color: #fff;
					}
					p.right {
						button {
							padding: 0.5em 1em;
						}
					}
				}
				&.compact {
					padding: 0;
					input {
						margin: 0;
					}
				}
				&.phases, &.levels {
					margin-bottom: 1em;
					label {
						display: inline-block;
						padding-top: 50px;
						margin-top: 1em;
						margin-right: 1em;
						text-align: center;
						font-size: 0.9em;
						cursor: pointer;
					}
					label > input {
						display: none;
					}
				}
				&.phases {
					label {
						background: url('../img/icons/project/project-grey.png') top center no-repeat;
						&.phase1 {
							&.selected, &:hover {
								background-image: url('../img/icons/project/project-white.png');
							}
						}
						&.phase2 {
							&.selected, &:hover {
								background-image: url('../img/icons/project/project-red.png');
							}
						}
						&.phase3 {
							&.selected, &:hover {
								background-image: url('../img/icons/project/project-orange.png');
							}
						}
						&.phase4 {
							&.selected, &:hover {
								background-image: url('../img/icons/project/project-green.png');
							}
						}
					}
				}
				&.levels {
					label {
						margin-right: 1em;
						background: url('../img/icons/resource/resource-level-default.png') top center no-repeat;
						&.level1 {
							&.selected, &:hover {
								background-image: url('../img/icons/resource/resource-level-easy.png');
							}
						}
						&.level2 {
							&.selected, &:hover {
								background-image: url('../img/icons/resource/resource-level-medium.png');
							}
						}
						&.level3 {
							&.selected, &:hover {
								background-image: url('../img/icons/resource/resource-level-hard.png');
							}
						}
					}
				}
				&.new-project {
					h4 {
						margin-bottom: 0.5em;
						color: $color-strong-grey;
						font-weight: bold;
					}
					textarea {
						padding: 0;
						margin: 0;
					}
					.ta-scroll-window > .ta-bind {
						padding: 1em;
					}
				}
				&.fake-placeholder {
					input {
						@include placeholder($color-form-text !important);
					}
				}
			}
			label {
				padding-bottom: .5em;
				padding-top: 1em;
			}
			input, textarea {
				width: 100%;
				padding: 0.75em;
				color: $color-form-text;
				background-color: #fff;
				border: solid 1px $color-light-grey;
				@include placeholder($color-crumbs-grey);
			}
			.mce-content-body  {
				font-size: 1em;
				color: $color-form-text;
				@include placeholder($color-crumbs-grey);
			}
			textarea {
				display: block;
			}
			select {
				display: block;
				margin-bottom: 1em;
			}
			.radio-block {
				padding-top: 1em;
				label {
					padding: 0;
					margin: 0;
				}

				input {
					margin: 4px;
					float: left;
					width: auto;
				}
			}
			.mce-panel {
				border: solid 1px $color-light-grey;
				@include placeholder($color-crumbs-grey);
			}
			.help {
				margin-top: 0.25em;
				font-style: italic;
				color: $color-crumbs-grey;
			}
			ul.phases {
				margin: 1em 0 0;
				li {
					display: inline-block;
				}
				button {
					font-size: 0.9em;
					text-align: center;
					border: none;
					background-color: transparent;
					img {
						display: block;
						margin: 0 auto 1em;
					}
				}
			}
			button.button {
				padding: 1em;
				color: #fff;
				&[type="submit"] {
					padding: 0.7em 1em;
				}
				&.button-geolocalisation, &.button-photo-upload, &.button-add {
					width: 100%;
					margin-bottom: 0.75em;
					color: $color-form-text !important;
					background-color: $color-light-grey !important;
					background-repeat: no-repeat;
					background-position: center left;
					text-align: left;
					border: none !important;
				}
				&.button-geolocalisation {
					padding-left: 65px;
					background-image: url('../img/icons/buttons/icon-geolocalisation.png');
				}
				&.button-photo-upload {
					padding-left: 65px;
					background-image: url('../img/icons/buttons/icon-photo.png');
				}
				&.button-add {
					background-position: 100% 50%;
				}
			}
			button.fullwidth {
				width: 100%;
			}
			p.right button {
				margin-left: 0.75em;
			}

		}

		/* Projects */
		&.new-project {
			h2 {
				margin-bottom: $grid-gutter-width;
				background-color: $color-blue;
			}
			form {
				fieldset.fake-placeholder {
					input, textarea {
						@include placeholder($color-blue);
					}
				}
				button.button {
					background-color: $color-blue;
					border: 2px solid $color-blue;
					border-right: 2px solid $color-dark-blue;
					border-bottom: 2px solid $color-dark-blue;
					&.cancel {
						color: $color-dark-blue;
						background-color: transparent;
						border-color: $color-dark-blue;
					}
					&.button-photo-upload {
						background-image: url('../img/icons/buttons/icon-photo-project.png');
					}
					&.button-add {
						background-image: url('../img/icons/buttons/icon-add-project.png');
					}
				}
			}
		}

		/* Resources */
		&.new-resource {
			h2 {
				margin-bottom: $grid-gutter-width;
				background-color: $color-green;
			}
			form {
				fieldset.fake-placeholder {
					input, textarea {
						@include placeholder($color-green);
					}
				}
				button.button {
					background-color: $color-green;
					border: 2px solid $color-green;
					border-right: 2px solid $color-dark-green;
					border-bottom: 2px solid $color-dark-green;
					&.cancel {
						color: $color-dark-green;
						background-color: transparent;
						border-color: $color-dark-green;
					}
					&.button-photo-upload {
						background-image: url('../img/icons/buttons/icon-photo-resource.png');
					}
					&.button-add {
						background-image: url('../img/icons/buttons/icon-add-resource.png');
					}
				}
			}
		}
	}

	tags-input {
		div.tags {
			border: none;
			background-color: transparent;
			box-shadow: none;
			input {
				padding: 0.75em;
				margin: 0;
				height: auto;
				background-color: transparent !important;
				width: 100% !important;
			}
			li.tag-item {
				background-color: $color-blue !important;
				@include border-radius(1px);
				a, a.remove-button {
					background-color: $color-blue !important;
				}
			}
			.tag-list {
				overflow: hidden;
			}
			.tag-item {
				margin-top: 0;
				margin-bottom: .25em;
				&:first-child {
          margin-left: 0;
        }
				.remove-button {
					color: white;
				}
			}
		}
	}

}

fieldset.phases {
	p {
		margin-bottom: 0.5em;
	}
	label {
		width: auto;
		margin-bottom: 1em;
		margin-right: 1.5em;
		padding-top: 34px;
		background-repeat: no-repeat;
		background-position: top center;
	}
}

form.login, div.login {
	padding: $grid-gutter-width;
	text-align: center;
	background: $color-pink url("../img/bg/shape-top-bg.png") no-repeat scroll center -100px;
	h3, p {
		color: #fff;
	}
	h3 {
		font-size: 1.1em;
	}
	ul {
		margin: 1em 0 0.75em;
		li {
			display: inline;
			button {
				width: 49px;
				height: 49px;
				margin: 0 1em;
				background-color: transparent;
				border: none;
				@include transition(all .5s ease);
				&.connect-with-facebook {
					background: transparent url('../img/home/home-share-facebook.png') center center no-repeat;
					&:hover {
						background-image: url('../img/home/home-share-facebook-hover.png');
					}
				}
				&.connect-with-twitter {
					background: transparent url('../img/home/home-share-twitter.png') center center no-repeat;
					&:hover {
						background-image: url('../img/home/home-share-twitter-hover.png');
					}
				}
				&.connect-with-google {
					background: transparent url('../img/home/home-share-google.png') center center no-repeat;
					&:hover {
						background-image: url('../img/home/home-share-google-hover.png');
					}
				}
			}
		}
	}
	p.or {
		margin: $grid-gutter-width 0;
		text-transform: uppercase;
	}
	fieldset {
		margin-top: 1em;
	}
	input {
		width: 100%;
		margin-bottom: 1em;
		padding: 0.5em 0.75em;
		font-size: 0.9em;
		border: none;
	}
	button[type=submit] {
		padding: 0.25em 2.5em;
		font-size: 0.85em;
		color: $color-pink;
		background-color: #fff;
		border: none;
		&:hover {
			color: #fff;
			background-color: $color-blue;
		}
	}
	span.error {
		display: block;
		padding-top: 0.75em;
		color: #fff;
		font-weight: bold;
	}
	div.checkbox {
		color: #fff;
		a {
			color: #fff;
			text-decoration: underline;
		}
		input {
			width: auto;
		}
	}
}

.home-slide {
	form.login {
		background: transparent;
	}
}

button.close-login {
	position: absolute;
	right: $grid-gutter-width;
	height: 24px + 10px;
	width: 24px + 10px;
	margin-top: -15px;
	border: none;
	background-color: transparent;
	opacity: 0.9;
	&:hover {
		opacity: 1;
	}
}

form.mapsearch {
	padding: 1.25em;
	text-align: center;
	background-color: #fff;
	label {
		margin-right: 1em;
		vertical-align: middle;
		font-size: 1.25em;
		font-weight: bold;
		text-transform: uppercase;
	}
	input {
		width: 90% !important; /* override bootstrap's style */
	}
	button {
		color: #fff;
		background-color: $color-pink;
		&:hover {
			color: #fff;
			background-color: $color-blue;
		}
	}
}

section.video form p:first-child {
	margin: $grid-gutter-width / 2 0;
}

button.search-advanced {
	padding: 1em;
	font-size: 1.25em;
	text-transform: uppercase;
}
form#search-advanced {
	margin-bottom: $grid-gutter-width;
	padding: $grid-gutter-width;
	background-color: #fff;
	label {
		width: 20em;
		margin-bottom: $grid-gutter-width;
	}
	input[type="text"] {
		width: 50em;
		padding: 0.5em;
		border: 1px solid $color-bg;
		background-color: $color-bg;
	}
	input + label {
		width: auto;
		margin-left: 0.5em;
		margin-right: 2em;
	}
	button[type="submit"] {
		margin-left: 20.25em;
		padding: 0.5em 1em;
	}
}

#content .news-form {
	overflow: hidden;
	clear: both;
	.btn {
		margin: 1em 0;
		float: right;
	}
}

.item-validate {
	margin-top: 40px;
	width: 100%;
	padding: .75em 1em;
}

.needs .item-validate {
	text-align: right;
}

#content .gallery-form, .gallery-form, .info-link-form, .news-form {
	label {
		padding-bottom: .5em;
		padding-top: 1em;
	}
	input, textarea {
		width: 100%;
		padding: 0.75em;
		color: $color-form-text;
		background-color: #fff;
		border: solid 1px $color-light-grey;
		@include placeholder($color-crumbs-grey);

		&[disabled] {
			color: $color-crumbs-grey;
		}
	}
	.mce-panel {
		border: solid 1px $color-light-grey;
		@include placeholder($color-crumbs-grey);
	}
	.radio-block {
		padding-top: 1em;
		label {
			padding: 0;
			margin: 0;
		}

		input {
			width: auto;
			float: left;
			margin: 4px;
		}
	}
	p {
    margin-bottom: 1em;
    white-space: normal;
	}
	ul.nav-tabs {
		margin: 10px 0;
		border: none;
		> li {
			border: none;
			margin-right: 6px;
			&.active {
				a {
					background: $color-light-cream;
					color: $color-text;
					span {
							background-color: $color-text;
					}
				}
			}
			a {
				padding-right: 2em;
				color: $color-medium-grey;
				font-size: 1.1em;
				font-weight: bold;
				border: none;
				border-radius: 0;
				@include transition(color .2s ease-in-out);
				span {
						@include transition(background-color .2s ease-in-out);
						margin-right: 0.25em;
						margin-bottom: 0.25em;
						padding: 0.5em;
						font-size: 1.5em;
						border-radius: 1em;
						background: $color-medium-grey;
						color: white;
				}
				&:hover {
						border: none;
						color: $color-text;
						background-color: $color-bg;
						span {
								background-color: $color-text;
						}
				}
				&:focus {
					border: none;
				}
			}
		}
	}
	.parcourir {
		position: absolute;
		right: 0;
		top: 50px;
		text-align: center;
		width: 50px;
	}
	.inputfile {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
		margin-top: 20px;
	}
	.inputfile + label {
		display: block;
		margin-right: 50px;
		text-align: center;
		margin-top: 20px;
		padding: .75em 1em;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	input.video-youtube,
	input.video-vimeo {
		margin: 0;
		padding: 20px;
		padding-left: 75px;
		color: #fff;
		font-size: 1.1em;
		@include placeholder($color-light-grey);
		background-repeat: no-repeat;
		background-position: 1% 50%;
	}
	input.video-youtube {
		background-color: $color-youtube;
		background-image: url('../img/icons/buttons/video-youtube.png');
	}
	input.video-vimeo {
		background-color: $color-vimeo;
		background-image: url('../img/icons/buttons/video-vimeo.png');
	}
}

#content .project-form .gallery-form {
	.inputfile, .inputfile + label {
		margin-top: 40px;
	}
}

#content .resource-form {
	.inputfile + label {
		width: 100%;
	}

	.file-errors p {
		margin-top: 28px;
	}
}

#content .resource-form {
	.btn-primary {
		background-color: darken($color-green, 5);
		border-color: darken($color-green, 5);

		&:hover, &:active {
			background-color: darken($color-green, 20);
			border-color: darken($color-green, 20);
		}
	}
	.btn-warning {
		color: darken($color-green, 5);
	}
}
ul.experiences {
	li {
		overflow: hidden;
		border-bottom: solid 1px $color-light-grey;
		&:last-child {
			border-bottom-color: transparent;
		}
	}
	p:last-child {
		padding-bottom: 2em;
	}
	h4 {
		font-size: 1.2em;
		margin-top: 1em;
		margin-bottom: 0;
		font-weight: normal;
		i {
			color: $color-green;
			margin-right: 4px;
		}
	}
	h5 {
		color: $color-dark-grey;
		font-size: 1em;
		margin-bottom: .5em;
	}
	.remove-button {
		margin-top: 1em;
		display: block;
		float: right;
		background: $color-red;
		color: white;
		border: none;
		padding: 10px;
		&:hover {
			background: $color-dark-red;
		}
	}
	p.date {
		padding-left: 25px;
		padding-bottom: 0;
		font-size: .9em;
		font-style: italic;
		color: $color-crumbs-grey;
	}
}

#content div.tab-content ul.gallery-links,
#content ul.gallery-links,
ul.gallery-links {
	display: flex;
	flex-wrap: wrap;
	margin: 10px 0;

	li {
		position: relative;
		display: flex;
		width: 25%;
		text-align: center;
		padding: .5em;
		margin-bottom: 12px;
		.remove-button {
			position: absolute;
			z-index: 10;
			top: .5em;
			right: .5em;
			background: $color-red;
			color: white;
			border: none;
			padding: 10px;
			&:hover {
				background: $color-dark-red;
			}
		}
		.cover-button {
			position: absolute;
			z-index: 10;
			bottom: -5px;
			left: 50%;
			margin-left: -75px;
			width: 150px;
			&:hover {
				background: none;
			}
		}
		a {
			position: relative;
			z-index: 1;
			display: block;
			width: 100%;
			border: solid 2px $color-blue;
			padding: 10px 10px 18px 10px;
			&.invalid {
				background: rgba(161, 53, 53, .2);
				border-color: $color-dark-red;
			}
			&:hover {
				text-decoration: none;
				border-color: darken($color-blue, 15);
				span.icon {
					color: darken($color-blue, 15);
				}
				span.url {
					text-decoration: underline;
				}
			}

			span {
				display: block;
				&.validation {
					color: $color-dark-red;
					font-weight: bold;
				}
				&.title {
					color: $text-color;
					font-size: 1em;
					font-weight: bold;
					word-wrap: break-word;
				}
				&.description {
					color: $text-color;
					padding: 0 0 1em 0;
					margin-bottom: .5em;
					border-bottom: solid 1px $color-light-grey;
					word-wrap: break-word;
				}
				&.author {
					color: $color-crumbs-grey;
					font-style: italic;
					word-wrap: break-word;
				}
				&.review-title {
					color: $color-dark-grey;
					margin-top: .5em;
					font-weight: bold;
					word-wrap: break-word;
				}
				&.review {
					color: $color-dark-grey;
					font-style: italic;
					word-wrap: break-word;
					&::before {
						font-weight: bold;
						content: '« ';
						font-size: 1.2em;
					}
					&::after {
						font-weight: bold;
						content: ' »';
						font-size: 1.2em;
					}
				}
				&.icon {
					color: $color-blue;
					font-size: 1.6em;
					padding: .15em 0 .5em 0;
				}
				&.url {
					display: block;
					margin-bottom: .25em;
					color: darken($color-blue, 15);
					font-size: .8em;
					line-height: 1.4em;
					text-overflow: ellipsis;
					height: 30px;
					overflow: hidden;
				}
			}
		}
		.image-preview {
			> * {
				border: none;
			}
			.thumbnail {
				margin-bottom: 0;
			}
			canvas {
				max-width: 100%;
			}
		}
	}
}
#content .nav-tabs-resource div.tab-content ul.gallery-links,
#content .resource-form ul.gallery-links,
.resource-form ul.gallery-links {
	li {
		width: 50%;
		a {
			border-color: $color-green;
			&:hover {
				border-color: darken($color-green, 15);
				span.icon {
					color: darken($color-green, 15);
				}
			}
		}
		span.icon {
			color: $color-green;
		}
		span.url {
			color: darken($color-green, 15);
		}
	}
}

.admin #content form , .cover-image {
	.thumbnail {
		border-color: transparent;
	}
	.thumbnail-container {
		border: solid 1px $color-light-grey;
		width: 355px;
		height: 196px;
		float: left;
	}
	.inputfile-container {
		float: left;
		width: 280px;
		margin-left: 20px;
		.inputfile, .inputfile + label {
			margin-top: 0;
		}
	}
}


.modal-content {
	h5 {
		font-size: 1.3em;
		font-weight: bold;
		margin-top: .75em;
		color: #878586;
	}
	.inputfile {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
		margin-top: 20px;
	}
	.inputfile + label {
		display: block;
		margin-right: 50px;
		text-align: center;
		margin-top: 20px;
		padding: .75em 1em;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.required {
	color: $color-red;
}

.loader-form {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	margin: 0 auto;
	> span {
		font-weight: bold;
		font-style: italic;
		flex: 1;
		font-size: 1.2em;
		text-align: center;
	}

	&.loader-project {
		> span {
			color: $color-blue
		}
		.sk-folding-cube .sk-cube:before {
			background-color: $color-blue
		}
	}
	&.loader-resource {
		> span {
			color: darken($color-green, 5)
		}
		.sk-folding-cube .sk-cube:before {
			background-color: $color-green
		}
	}
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
