.home-forum {
    section {
        padding: $grid-gutter-width / 2;
        border-bottom: 1px solid #ccc;
    }
}

div.forum-search {
    background-color: $color-bg;
    form {
        position: relative;
        margin: $grid-gutter-width / 2 0;
    }
    input {
        width: 100%;
        padding: 0.5em 1em;
        border: none;
        @include placeholder($color-text);
    }
    button {
        position: absolute;
        top: 0;
        right: 0;
    }
    input, button {
        height: $grid-gutter-width * 1.25;
        line-height: $grid-gutter-width * 1.25;
        padding: 0 0.75em;
    }
}

button.button-forum {
    padding: $grid-gutter-width / 2;
    text-align: center;
    background-color: $color-forum;
}

div.forum-create {
    background-color: #fff;
    button.create-topic {
        margin: $grid-gutter-width * 1.25 0;
        padding: 1.1em 2em;
        font-size: 1.4em;
        color: #fff;
        background: $color-forum url('/img/bg/forum-title.png') 0 %50 no-repeat;
        background-size: cover;
        text-transform: uppercase;
        border: none;
        font-weight: bold;
    }
    ul.nav-tabs {
        border-bottom: none;
        li a {
            padding-right: 2em;
            color: $color-text;
            font-size: 1.1em;
            font-weight: bold;
            border: none;
            @include transition(color .2s ease-in-out);
            span {
                @include transition(background-color .2s ease-in-out);
            }
            &:hover {
                color: $color-forum;
                background-color: #fff;
                span {
                    background-color: $color-forum;
                }
            }
        }
        li.active a {
            border: none;
            color: $color-forum;
            span {
                background-color: $color-forum;
            }
        }
        tab-heading span {
            margin-right: 0.25em;
            margin-bottom: 0.25em;
            padding: 0.5em;
            font-size: 1.5em;
            color: #fff;
            background-color: $color-grey;
            vertical-align: middle;
            @include border-radius(1em);
        }
    }
    textarea.full-width {
        width: 100%;
        padding: $grid-gutter-width / 2;
        background-color: $color-bg;
        border: none;
        @include placeholder($color-text);
    }
}

form.new-topic,
form.forum-answer {
    padding-bottom: $grid-gutter-width;
    input[type="text"] {
        margin-bottom: $grid-gutter-width / 2;
        padding: $grid-gutter-width / 2;
        border: none;
        background-color: $color-bg;
        @include placeholder($color-text);
    }
    div.ta-text {
        height: auto;
        margin: $grid-gutter-width / 2 0;
        padding: 0;
        border: none;
        background-color: $color-bg;
        box-shadow: none;
        div.ta-bind {
            height: 8em;
            padding: $grid-gutter-width / 2;
        }
    }
    .ta-scroll-window > .ta-bind,
    .ta-scroll-window.form-control {
        min-height: 14em;
    }
    button[type="submit"],
    button[type="reset"] {
        padding: $grid-gutter-width / 2 $grid-gutter-width;
        font-weight: bold;
        text-transform: uppercase;
    }
    button[type="submit"] {
        color: #fff;
        background-color: $color-forum;
        &:hover {
            background-color: $color-blue;
        }
    }
    button[type="reset"] {
        color: $color-forum;
        background-color: #fff;
        &:hover {
            color: #fff;
            background-color: $color-forum;
        }
    }
    fieldset.forum-keywords {
        padding: $grid-gutter-width / 2;
        background-color: $color-bg;
        div.tags {
            margin-top: $grid-gutter-width / 2;
            padding: 0.25em 0.5em;
            box-shadow: none;
            li.tag-item {
                background-color: $color-blue;
                @include border-radius(0);
            }
            input.input {
                margin-bottom: 0;
                padding: 0;
                background-color: transparent;
                @include placeholder($color-blue);
            }
            ul.tag-list {
                margin-right: $grid-gutter-width;
            }
        }
    }
    fieldset.forum-linked {
        margin: $grid-gutter-width 0;
        padding: $grid-gutter-width / 2;
        background-color: $color-bg;
        button.button-forum-linked, input#linked-idea_value {
            height: 50px;
            margin-top: $grid-gutter-width / 2;
        }
        button.button-forum-linked {
            overflow: hidden;
            border: none;
            padding: 10px 15px 10px 15px;
	    background-color: $color-forum;
            span {
                top: 0;
                margin-left: 1em;
                margin-right: -6px;
                padding: $grid-gutter-width / 2;
                font-size: 1.5em;
                color: #fff;
                background-color: $color-forum;
                vertical-align: middle;
            }
        }
        input#linked-idea_value {
            float: left;
            width: 955px; /* to align width delete buttons above when they appear */
            padding: $grid-gutter-width / 2;
            @include placeholder($color-blue);
        }
        ul.list-group {
            margin: $grid-gutter-width / 2;
            li {
                margin-bottom: $grid-gutter-width / 2;
            }
            div.col-md-2 {
                text-align: right;
            }
        }
    }
}
form.new-topic {
    fieldset:last-child {
        padding-top: $grid-gutter-width;
    }
}

div.forum-content {
    input[type="search"] {
        width: 100%;
        margin-bottom: $grid-gutter-width / 2;
        padding: 1em;
        border: none;
        @include placeholder($color-blue);
    }
    button.button-forum {
        font-size: 1.25em;
    }
}

section.forum-topic,
#content section.forum-topic {
    overflow: hidden;
    position: relative;
    padding-bottom: 0.25em;
    background-color: #fff;
    ul.members li {
        float: right;
        img {
            width: $forum-home-members;
            margin-left: 3px;
        }
        &.count a {
            display: inline-block;
            height: $forum-home-members - 2px; /* don't ask why -2px */
            width: $forum-home-members;
            color: #fff;
            background-color: $color-forum;
            font-size: 0.8em;
            font-weight: bold;
            text-align: center;
            vertical-align: middle;
            line-height: $forum-home-members - 2px; /* don't ask why -2px */
            @include border-radius(50%);
            &:hover {
                background-color: $color-red;
                text-decoration: none;
            }
        }
    }
    header {
        img.member {
            position: absolute;
            top: $grid-gutter-width / 2;
            left: $grid-gutter-width / 2;
        }
        h3, h4 {
            margin-left: 65px;
        }
        h3 {
            margin-top: 0.25em;
            margin-bottom: 0.25em;
            font-size: 1.15em;
            text-transform: capitalize;
            font-weight: normal;
        }
        h4 {
            font-size: 0.95em;
        }
    }
    p.question {
        position: relative;
        margin: $grid-gutter-width / 2 0;
        padding-left: 2.25em;
        font-size: 1.2em;
        font-weight: bold;
        line-height: 1.25em;
        span {
            position: absolute;
            top: -2px;
            left: 0;
            padding: 0.4em;
            color: #fff;
            background-color: $color-forum;
            font-size: 0.9em;
            font-weight: bold;
            @include border-radius(50%);
        }
        a {
            color: $color-text;
        }
    }
    p.comments-count {
        float: right;
        margin: 0.25em 0 0.75em;
        font-size: 1.15em;
        &.no-tag {
            margin-top: -2.25em;
        }
        span {
            font-size: 1.25em;
            vertical-align: middle;
            &.glyphicon {
                color: $color-forum;
            }
        }
    }
    ul.tags {
        margin-bottom: 0.5em;
        li.more a {
            color: #fff;
            background-color: $color-blue;
            @include border-radius(50%);
        }
    }
}

div.forum-sidebar {
    margin-top: $grid-gutter-width;
    h3 {
        font-size: 1.4em;
        line-height: 1.4em;
        font-weight: bold;
        text-transform: uppercase;
    }
    div.forum-sidebar-dark {
        margin-bottom: $grid-gutter-width;
        background: $color-forum url('../img/bg/shape-right-bg.png') 175px -110px no-repeat;
        h3 {
            padding: $grid-gutter-width / 2 $grid-gutter-width;
            color: #fff;
        }
    }
    div.forum-sidebar-light {
        margin-bottom: $grid-gutter-width;
        background-color: #fff;
        h3 {
            padding: $grid-gutter-width / 2;
            padding-left: $grid-gutter-width - 5px;
            border-left: 5px solid $color-forum;
        }
        div.post {
            padding: $grid-gutter-width;
            border-bottom: 1px solid $color-light-grey;
            div.post-author {
                img,
                div.post-details {
                    float: left;
                }
                div.post-details {
                    margin-left: 1em;
                }
                p.post-author-name {
                    margin-bottom: 0.5em;
                    font-size: 1.3em;
                }
                ul.tags {
                    font-size: 0.9em;
                }
            }
            p.post-topic {
                clear: both;
                padding-top: 1em;
                font-size: 1.1em;
                line-height: 1.7em;
                font-weight: bold;
                a {
                    color: $color-text;
                }
            }
        }
        p.more {
            padding: $grid-gutter-width / 2 $grid-gutter-width;
            background-color: $color-forum;
            a {
                font-size: 1.1em;
                color: #fff;
                &:hover {
                }
            }
        }
        ul.tags-padding {
            padding: $grid-gutter-width;
        }
        form.search-by-tags {
            input {
                width: 100%;
                margin: 0;
                padding-left: $grid-gutter-width * 1.5;
                background: transparent url('/img/icons/search.png') $grid-gutter-width / 2 50% no-repeat;
            }
        }
    }
    ul.forum-top-users {
        a {
            display: block;
            padding-left: $grid-gutter-width;
            line-height: 4.75em;
            font-size: 1.25em;
            color: #fff;
            #border-bottom: 1px solid $color-medium-grey;
            &:hover {
                background-color: rgba(0, 0, 0, 0.25);
                text-decoration: none;
            }
        }
        li:last-child a {
            border-bottom: none;
        }
        img {
            margin-right: $grid-gutter-width / 2;
            vertical-align: middle;
        }
    }
    div.thread-linked-projects,
    div.thread-linked-resources {
        margin-bottom: $grid-gutter-width;
        background-color: #fff;
        h3 {
            margin-bottom: 5px;
            padding: $grid-gutter-width / 2;
            color: #fff;
        }
        .boxes {
            margin: 0;
        }
        .box {
            width: 100%;
            margin-bottom: 5px;
        }
        p.scroll-buttons {
            margin-top: $grid-gutter-width / 2;
            padding-bottom: 0.75em;
            padding-right: 1em;
            text-align: right;
            a {
                margin: 0 0.5em;
            }
        }
    }
    div.thread-linked-projects h3 {
        background-color: $color-project;
    }
    div.thread-linked-resources h3 {
        background-color: $color-resource;
    }
}

div.forum-thread,
div.thread-answers {
    padding: $grid-gutter-width 0;
    background-color: #fff;
    h2 {
        position: relative;
        margin-bottom: 0.75em;
        padding-left: 2em;
        font-size: 1.75em;
        line-height: 1.25em;
        font-weight: bold;
        span {
            position: absolute;
            top: 1px;
            left: 0;
            padding: 0 0.4em;
            color: #fff;
            background-color: $color-forum;
            @include border-radius(50%);
        }
    }
    ul.thread-stats {
        float: right;
        li {
            display: inline-block;
            margin-left: 1.25em;
            span {
                display: block;
                width: 2em;
                margin: 0 auto 0.25em;
                padding: 0 0.25em;
                font-size: 1.5em;
                line-height: 2em;
                color: #fff;
                background-color: $color-forum;
                text-align: center;
                @include border-radius(50%);
            }
        }
    }
    .thread-author {
        margin-top: $grid-gutter-width / 2;
        margin-bottom: $grid-gutter-width;
        font-size: 1.25em;
        img {
            display: inline-block;
            margin-right: 0.5em;
            vertical-align: middle;
        }
        p {
            display: inline-block;
            vertical-align: middle;
            span {
                margin-top: 0.1em;
                font-size: 0.8em;
                color: $color-strong-grey;
            }
            /* Only target the first span, ignore its child */
            & > span {
                display: block;
            }
        }
    }
    .thread-content {
        margin-bottom: $grid-gutter-width;
        font-size: 1.25em;
        line-height: 1.5em;
        p {
            margin-bottom: 1em;
            color: $color-strong-grey;
        }
        ul, ol {
            list-style-position: inside;
        }
    }
    .thread-actions {
        font-size: 1.25em;
        ul {
            text-align: right;
            li {
                display: inline-block;
                margin-left: $grid-gutter-width;
                a {
                    color: $color-forum;
                    span {
                        margin-bottom: 0.2em; /* re-align vertically the glyphs */
                        font-size: 1.75em;
                        vertical-align: middle;
                        &:hover {
                            color: $color-dark-blue;
                        }
                    }
                }
                &.left {
                    float: left;
                    margin-left: 0;
                    margin-top: 0.5em; /* to align and match the padding on the large button */
                    font-size: 0.8em;
                    a {
                        color: $color-strong-grey;
                        font-weight: bold;
                        span {
                            margin-right: 0.25em;
                            padding: 0.5em;
                            font-size: 1.25em;
                            color: #fff;
                            background-color: $color-forum;
                            @include border-radius(50%);
                        }
                    }
                }
            }
        }
    }
}
div.thread-answers {
    background-color: transparent;
    div.thread-answer {
        margin-bottom: $grid-gutter-width;
        padding: $grid-gutter-width / 2;
        background-color: #fff;
        .avatar {
            float: none;
        }
        ul.answer-report {
            float: right;
            margin-top: $grid-gutter-width / 2;
            margin-right: $grid-gutter-width / 2;
            a {
                color: $color-forum;
                font-size: 1.25em;
            }
        }
        .thread-actions {
            font-size: 1em;
            li.left {
                margin-left: 10px;
                font-size: 1.25em;
            }
            a {
                color: $color-strong-grey;
            }
            button {
                padding: 0.5em $grid-gutter-width / 2;
            }
        }
        span.answer-count {
            margin-right: 0.25em;
            padding: 0.25em 0.5em;
            color: #fff;
            background-color: $color-forum;
            @include border-radius(50%);
        }
    }
    div.answer-child {
        position: relative;
        margin-top: -$grid-gutter-width / 2 - 5px;
        background-color: $color-light-blue;
        font-size: 0.9em;
        div.thread-author {
            margin-bottom: $grid-gutter-width / 2;
        }
        img.thread {
            position: absolute;
            top: -23px;
            left: $grid-gutter-width / 2 + 26px; /* add half the image's width */
        }
    }
}

div.forum-answer {
    margin-bottom: $grid-gutter-width;
    padding: $grid-gutter-width / 2;
    padding-bottom: 0;
    background-color: #fff;
    h2 {
        margin-bottom: $grid-gutter-width / 2;
        padding-left: 0;
        color: $color-forum;
        font-size: 1.5em;
        line-height: 2em;
        font-weight: bold;
        text-transform: uppercase;
    }
    form {
        padding-bottom: $grid-gutter-width / 2;
    }
}

div.forum-answer + button {
    font-size: 1.25em;
}

/* Discussion boxes - search results */
#content .boxes .box section.forum-topic {
    height: 100%;
    color: #fff;
    background-color: $color-forum;
    @include transition(background 0.2s ease-in-out);
    &:hover {
        @include opacity(0.9);
    }
    header h3, header h4 {
        display: none;
    }
    header {
        span.avatar {
            float: none;
            margin: 0 auto;
        }
    }
    p.question {
        padding: 0;
        a {
            color: #fff;
            font-weight: normal;
        }
        span {
            display: none;
        }
    }
    p.comments-count {
        position: absolute;
        bottom: 0;
        right: 1em;
        padding: 0.25em;
        span {
            color: $color-light-grey;
        }
    }
    ul.tags {
        display: none;
    }
}
