.admin {

	#content {

		margin-top: 2em;
		margin-bottom: 10em;
		padding: $grid-gutter-width;
		background: $color-content-edit-bg;

		h2, h3 {
			font-size: 1.5em;
			text-transform: uppercase;
		}
		h2 {
			margin-top: -$grid-gutter-width;
			margin-right: -$grid-gutter-width;
			margin-left: -$grid-gutter-width;
			margin-bottom: $grid-gutter-width * 1.5;
			padding: $grid-gutter-width;
			color: #fff;
			font-weight: bold;
		}

		h3 {
			margin: 1em 0;
			color: $color-strong-grey;
		}

		form {

			fieldset {
				margin-bottom: 0.75em;
				padding: 1em;
				background-color: $color-light-grey;
				&.needs-idea, &.needs-select, &.linked-idea, &.fixme {
					height: 15em;
					height: $grid-gutter-width * 6;
					height: auto; /* FIXME */
					margin-top: $grid-gutter-width;
					padding: 1.5em 1.5em 2.5em;
					background-color: $color-light-grey;
					background-position: 1.5em 4em;
					background-repeat: no-repeat;
					h4 {
						font-size: 1.2em;
						font-weight: bold;
						text-transform: uppercase;
					}
					h5 {
						margin-top: 0.5em;
						margin-left: 25%;
						font-size: 1.5em;
						text-transform: uppercase;
					}
					p {
						margin-bottom: 1em;
						&:last-child {
							margin-bottom: 0;
						}
					}
					textarea {
						width: 75%;
						margin-left: 25%;
						padding: 0;
						background-color: transparent;
					}
					button.right {
						float: right;
						padding: 0;
						font-size: 0.85em;
						background-color: transparent;
						border: none;
					}
				}
				&.needs-idea {
					background-image: url('../img/needs/needs-idea.png');
				}
				&.needs {
					&.needs-select, &.needs-save {
						height: auto;
						background-image: none;
					}
					&.needs-select {
						button.dropdown-toggle {
							.caret {
								margin-left: 1em;
							}
						}
						p {
							margin-bottom: 1em;
							&.right {
								margin-top: 1em;
								button {
									display: inline-block;
									padding: 0.5em 1em;
								}
							}
						}
						textarea {
							width: 100%;
							margin: 0;
							padding: 1em;
							background-color: #fff;
							border: 1px solid #ccc;
							@include border-radius(2px);
						}
					}
					&.needs-save {
						padding-bottom: $grid-gutter-width / 2;
						background: $color-light-grey url('../img/needs/needs-idea.png') 5% 50% no-repeat;
						h5 {
							margin-left: 0;
							font-weight: bold;
						}
						textarea {
							display: inline;
							margin: $grid-gutter-width / 2 0;
							padding: 1em;
							font-size: 1.1em;
							background-color: #fff;
							@include border-radius(3px);
						}
						button {
							padding-top: 0.3em;
							padding-bottom: 0.4em;
							font-size: 1.1em;
						}
					}
				}
				&.needs-select, &.linked-idea {
					padding-bottom: 0.25em;
					ul.list-group {
						margin: $grid-gutter-width / 2 0;
						li {
							padding: $grid-gutter-width / 2 0;
							border-bottom: 1px solid $color-medium-grey;
							div div:last-child {
								text-align: right;
							}
							&:last-child {
								border-bottom: none;
							}
						}
						label {
							font-weight: bold;
						}
						button span {
							margin-right: 0.5em;
						}
					}
				}
				&.linked-idea {
					margin-bottom: $grid-gutter-width;
					input {
						background-color: #fff;
					}
					p.right {
						button {
							padding: 0.5em 1em;
						}
					}
				}
				&.addPhotosVideos {
					text-align: right;
					padding: 0;
					label {
						float: left;
						padding: 15px 20px 0;
					}
					button {
						&.addPhotos, &.addVideos {
							display: inline-block;
							margin: 0;
							padding: 10px 15px;
							color: #fff;
							font-size: 2em;
							border: none;
						}
						&.addPhotos {
							background-color: $color-blue;
						}
						&.addVideos {
							background-color: $color-dark-blue;
						}
					}
					input.video-youtube,
					input.video-vimeo {
						margin: 0;
						padding: 20px;
						padding-left: 75px;
						color: #fff;
						font-size: 1.1em;
						@include placeholder($color-light-grey);
						background-repeat: no-repeat;
						background-position: 1% 50%;
					}
					input.video-youtube {
						background-color: $color-youtube;
						background-image: url('../img/icons/buttons/video-youtube.png');
					}
					input.video-vimeo {
						background-color: $color-vimeo;
						background-image: url('../img/icons/buttons/video-vimeo.png');
					}
					& > div {
						text-align: right;
						border-top: 1px solid #fff;
						background-color: $color-medium-grey;
						button {
							margin-top: 0.5em;
						}
					}
				}
				&.compact {
					padding: 0;
					input {
						margin: 0;
					}
				}
				&.phases, &.levels {
					margin-bottom: 1em;
					label {
						display: inline-block;
						padding-top: 50px;
						margin-top: 1em;
						margin-right: 1em;
						text-align: center;
						font-size: 0.9em;
						cursor: pointer;
					}
					label > input {
						display: none;
					}
				}
				&.phases {
					label {
						background: url('../img/icons/project/project-grey.png') top center no-repeat;
						&.phase1 {
							&.selected, &:hover {
								background-image: url('../img/icons/project/project-white.png');
							}
						}
						&.phase2 {
							&.selected, &:hover {
								background-image: url('../img/icons/project/project-red.png');
							}
						}
						&.phase3 {
							&.selected, &:hover {
								background-image: url('../img/icons/project/project-orange.png');
							}
						}
						&.phase4 {
							&.selected, &:hover {
								background-image: url('../img/icons/project/project-green.png');
							}
						}
					}
				}
				&.levels {
					label {
						margin-right: 1em;
						background: url('../img/icons/resource/resource-level-default.png') top center no-repeat;
						&.level1 {
							&.selected, &:hover {
								background-image: url('../img/icons/resource/resource-level-easy.png');
							}
						}
						&.level2 {
							&.selected, &:hover {
								background-image: url('../img/icons/resource/resource-level-medium.png');
							}
						}
						&.level3 {
							&.selected, &:hover {
								background-image: url('../img/icons/resource/resource-level-hard.png');
							}
						}
					}
				}
				&.new-project {
					h4 {
						margin-bottom: 0.5em;
						color: $color-strong-grey;
						font-weight: bold;
					}
					textarea {
						padding: 0;
						margin: 0;
					}
					.ta-scroll-window > .ta-bind {
						padding: 1em;
					}
				}
				&.fake-placeholder {
					input, textarea {
						margin-bottom: 0;
						padding-left: 0;
						padding-bottom: 0;
					}
					h4 {
						margin-bottom: 0.5em;
					}
					input {
						padding: 0.25em !important;
						background-color: #fff !important;
						border: 1px solid $color-medium-grey;
						@include placeholder($color-form-text !important);
					}
				}
			}
			input, textarea {
				width: 100%;
				margin-bottom: 0.75em;
				padding: 1em;
				color: $color-form-text;
				background-color: $color-form-input-bg;
				background-color: #fff;
				border: none;
				@include placeholder($color-form-text);
			}
			textarea {
				display: block;
			}
			ul.phases {
				margin: 1em 0 0;
				li {
					display: inline-block;
				}
				button {
					font-size: 0.9em;
					text-align: center;
					border: none;
					background-color: transparent;
					img {
						display: block;
						margin: 0 auto 1em;
					}
				}
			}
			button.button {
				padding: 1em;
				color: #fff;
				&[type="submit"] {
					padding: 0.7em 1em;
				}
				&.button-geolocalisation, &.button-photo-upload, &.button-add {
					width: 100%;
					margin-bottom: 0.75em;
					color: $color-form-text !important;
					background-color: $color-light-grey !important;
					background-repeat: no-repeat;
					background-position: center left;
					text-align: left;
					border: none !important;
				}
				&.button-geolocalisation {
					padding-left: 65px;
					background-image: url('../img/icons/buttons/icon-geolocalisation.png');
				}
				&.button-photo-upload {
					padding-left: 65px;
					background-image: url('../img/icons/buttons/icon-photo.png');
				}
				&.button-add {
					background-position: 100% 50%;
				}
			}
			button.fullwidth {
				width: 100%;
			}
			p.right button {
				margin-left: 0.75em;
			}

		}

		/* Projects */
		&.new-project {
			h2 {
				margin-bottom: $grid-gutter-width;
				background-color: $color-blue;
			}
			h2 + p {
				margin-bottom: $grid-gutter-width;
			}
			form {
				fieldset.fake-placeholder {
					input, textarea {
						@include placeholder($color-blue);
					}
                    
				}
				button.button {
					background-color: $color-blue;
					border: 2px solid $color-blue;
					border-right: 2px solid $color-dark-blue;
					border-bottom: 2px solid $color-dark-blue;
					&.cancel {
						color: $color-dark-blue;
						background-color: transparent;
						border-color: $color-dark-blue;
					}
					&.button-photo-upload {
						background-image: url('../img/icons/buttons/icon-photo-project.png');
					}
					&.button-add {
						background-image: url('../img/icons/buttons/icon-add-project.png');
					}
				}
			}
		}

		/* Resources */
		&.new-resource {
			h2 {
				background-color: $color-green;
			}
			form {
				fieldset.fake-placeholder {
					input, textarea {
						@include placeholder($color-green);
					}
				}
				button.button {
					background-color: $color-green;
					border: 2px solid $color-green;
					border-right: 2px solid $color-dark-green;
					border-bottom: 2px solid $color-dark-green;
					&.cancel {
						color: $color-dark-green;
						background-color: transparent;
						border-color: $color-dark-green;
					}
					&.button-photo-upload {
						background-image: url('../img/icons/buttons/icon-photo-resource.png');
					}
					&.button-add {
						background-image: url('../img/icons/buttons/icon-add-resource.png');
					}
				}
			}
		}
	}

	tags-input {
		div.tags {
			border: none;
			background-color: transparent;
			box-shadow: none;
			input {
				padding: 0 !important;
				background-color: transparent !important;
			}
			li.tag-item {
				background-color: $color-blue !important;
				@include border-radius(1px);
				a, a.remove-button {
					background-color: $color-blue !important;
				}
			}
		}
	}

}

fieldset.phases {
	p {
		margin-bottom: 0.5em;
	}
	label {
		width: auto;
		margin-bottom: 1em;
		margin-right: 1.5em;
		padding-top: 34px;
		background-repeat: no-repeat;
		background-position: top center;
	}
}

form.login {
	padding: $grid-gutter-width;
	text-align: center;
	background: $color-pink;
	h3, p {
		color: #fff;
	}
	h3 {
		font-size: 1.1em;
	}
	ul {
		margin: 1em 0 0.75em;
		li {
			button {
				width: 49px;
				height: 49px;
				margin: 0 1em;
				background-color: transparent;
				border: none;
				@include transition(all .5s ease);
				&.connect-with-facebook {
					background: transparent url('../img/home/home-share-facebook.png') center center no-repeat;
					&:hover {
						background-image: url('../img/home/home-share-facebook-hover.png');
					}
				}
				&.connect-with-twitter {
					background: transparent url('../img/home/home-share-twitter.png') center center no-repeat;
					&:hover {
						background-image: url('../img/home/home-share-twitter-hover.png');
					}
				}
				&.connect-with-google {
					background: transparent url('../img/home/home-share-google.png') center center no-repeat;
					&:hover {
						background-image: url('../img/home/home-share-google-hover.png');
					}
				}
			}
		}
	}
	p.or {
		margin: $grid-gutter-width 0;
		text-transform: uppercase;
	}
	fieldset {
		margin-top: 1em;
	}
	input {
		width: 100%;
		margin-bottom: 1em;
		padding: 0.5em 0.75em;
		font-size: 0.9em;
		border: none;
	}
	button[type=submit] {
		padding: 0.25em 2.5em;
		font-size: 0.85em;
		color: $color-pink;
		background-color: #fff;
		border: none;
		&:hover {
			color: #fff;
			background-color: $color-blue;
		}
	}
}

button.close-login {
	position: absolute;
	right: $grid-gutter-width;
	height: 24px + 10px;
	width: 24px + 10px;
	margin-top: -15px;
	border: none;
	background-color: transparent;
	opacity: 0.9;
	&:hover {
		opacity: 1;
	}
}

form.mapsearch {
	padding: 1.25em;
	text-align: center;
	background-color: #fff;
	label {
		margin-right: 1em;
		vertical-align: middle;
		font-size: 1.25em;
		font-weight: bold;
		text-transform: uppercase;
	}
	input {
		width: 25% !important; /* override bootstrap's style */
	}
	button {
		color: #fff;
		background-color: $color-pink;
		&:hover {
			color: #fff;
			background-color: $color-blue;
		}
	}
}

section.video form p:first-child {
	margin: $grid-gutter-width / 2 0;
}

div.choices{
    label{
        display: block;
        padding-left: 15px;
        text-indent: -15px;
        }
    input{
        vertical-align: bottom;
        position: relative;
        top: -1px;
        margin: 0;
        width: 13px;
        height: 13px;
    }
    
}