@import "compass/layout/grid-background";
$grid-background-column-color: rgba(100, 100, 225, 0.25);
$grid-background-gutter-color: #10364b;
$grid-background-total-columns: 24;
$grid-background-column-width: 30px;
$grid-background-gutter-width: 30px;
$show-baseline-grid-backgrounds: false;

body {
	@include grid-background;
}
