@import "compass/css3";

#header {

	// position: absolute;
	// top: 0;
	// right: 0;
	// left: 0;

	header {
		margin-bottom: $grid-gutter-width;
		background-color: $color-header-bg;
	}

	/* When scolling down */
	header.affix {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1000;
		@include box-shadow(0 5px 2px rgba(0,0,0,.25));
		p.navbar-tagline {
			display: none;
		}
		#menu {
			margin-top: 0;
			ul.navbar-nav {
				// padding-left: 65px;
			}
			.navbar-header {
				.navbar-brand {
					// top: -4px;
					img {
						// margin-left: 0;
						// width: 30px;
					}
				}
			}
		}
	}

}

.dropdown.dropdown-logged-in {
	button {
		position: absolute;
		// top: -$grid-gutter-width;
        top:8px;
		right: 0;
	}
	.dropdown-menu {
		right: 0;
		left: auto;
	}
}

form.search-full-width {
	position: relative;
	margin: 0 $grid-gutter-width / 2;
	background-color: #fff;
	text-align: justify;
	input, button {
		padding: 0.5em 1em;
		border: none;
	}
	input {
		width: 99%;
		border-left: 1px solid $color-very-light-grey;
		border-bottom: 1px solid $color-very-light-grey;
	}
	button {
		position: absolute;
		top: 0;
		right: 0;
		color: #fff;
		background-color: $color-blue;
	}
}
div.action-bar {
	margin: -$grid-gutter-width 0 $grid-gutter-width;
	&.authenticated {
		background-color: $color-pink;
		.authenticated {
			padding: 10px $grid-gutter-width;
			a {
				color: #fff;
				text-transform: uppercase;
				&:hover {
					text-decoration: none;
					color: $color-dark-grey;
				}
			}
			img {
				vertical-align: middle;
				width: 30px;
				height: 30px;
				margin-right: 0.5em;
			}
			ul.toolbar {
				float: right;
				li {
					float: left;
					margin-left: 1.5em;
					text-align: center;
					font-size: 0.7em;
					span {
						display: block;
						font-size: 1.75em;
					}
					a:hover {
						color: #000;
						text-decoration: none;
					}
				}
			}
		}
	}
	form.login {
		margin: 0 $grid-gutter-width / 2;
		padding: 0.5em ($grid-gutter-width / 2) 0;
		h3, p.or {
			display: none;
		}
		ul {
			position: absolute;
			right: 12em;
			margin: 0;
			padding: 0;
		}
		ul, li, fieldset, input, button {
			display: inline;
		}
		li button {
			width: 30px;
			height: 30px;
			margin: 0 0.25em;
			@include transition(all .5s ease);
			&.connect-with-facebook {
				background: transparent url('../img/icons/social/facebook-small-white.png') center center no-repeat;
				&:hover {
					background-image: url('../img/icons/social/facebook-small.png');
				}
			}
			&.connect-with-twitter {
				background: transparent url('../img/icons/social/twitter-small-white.png') center center no-repeat;
				&:hover {
					background-image: url('../img/icons/social/twitter-small.png');
				}
			}
			&.connect-with-google {
				background: transparent url('../img/icons/social/google-small-white.png') center center no-repeat;
				&:hover {
					background-image: url('../img/icons/social/google-small.png');
				}
			}
		}
		fieldset {
			margin: 0;
			input {
				width: 20em;
				margin-right: 2em;
				padding: 0.25em 0.5em;
				color: #fff;
				background-color: transparent;
				border-bottom: 2px solid #fff;
				@include placeholder(#fff);
			}
			button {
				position: absolute;
				top: 0.75em;
				right: 0;
				color: #fff;
				background-color: transparent;
				border: 2px solid #fff;
				@include transition(all .2s ease);
				&:hover {
					color: $color-pink !important;
					background-color: #fff !important;
					@include border-radius(2px);
				}
			}
		}
	}
}

// Wrap login to make it modal
#wrap-login {
    background:rgba(70,70,70,0.7);
    position:fixed;
    width:100%;
    height:100%;
    min-height:100%;
    top:0;
    left:0;
    z-index:32000;

    #inner-login {
        width:460px;
        height:300px;
        position:absolute;
        top:55%;
        left:50%;
        margin:-150px -230px;

        a.close {
            display:block;
            width:59px;
            height:58px;
            position:absolute;
            top:-70px;
            left:50%;
            margin:0 -29px;
            background: url('../img/icons/close.png') no-repeat top left;
            outline:0;
            text-indent:-9999em;
            opacity: 1;
        }

    }
}


div.crumbs {
	margin-top: -$grid-gutter-width;
	ol {
		margin: 0.5em $grid-gutter-width 0.5em;
		background-color: transparent;
	}
	li {
		display: inline;
	}
	li, a {
		color: $color-crumbs-grey;
	}
	a:hover {
		color: $color-blue;
	}
}

#intro {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	.col-md-4 {
		max-height: 400px;
	}
	h1, h2 {
		text-align: center;
	}
	h1 {
		margin: 1.5em 0 0.5em;
		color: $color-intro-h1;
		font-size: 2.5em;
		font-family: LatoBlack;
		font-weight: bold;
		text-transform: uppercase;
	}
	h2 {
		margin: 0 0 2em 0;
		font-size: 1.5em;
		font-weight: bold;
		color: $color-intro-h2;
	}
	h3 {
		z-index: 200;
		position: absolute;
		top: 8em;
		left: -21px;
		padding: 13px 0 0 0;
		font-size: 1.1em;
		color: $color-intro-h3;
		background-position: top left;
		background-repeat: no-repeat;
		span {
			display: block;
			padding: 0.75em 1.25em;
			text-transform: uppercase;
			border: 3px solid $color-intro-h3-border;
			@include border-radius(3px);
		}
	}
	p.center button {
		padding: 0.75em 1em;
		font-size: 2em;
		color: $color-intro-listing;
		border: 2px solid $color-intro-listing;
		background-color: transparent;
		text-transform: uppercase;
		@include border-radius(3px);
		&:hover {
			color: invert($color-intro-listing);
			background-color: $color-intro-listing;
		}
	}
	div.intro {
		h1, h2 {
			margin: 0;
			background-color: rgba(0, 0, 0, 0.5);
		}
		h1 {
			padding: 1.5em 0 0.5em;
		}
		h2 {
			padding: 0 0 2em 0;
		}
	}
	&.intro-project {
		background-color: black;
		// background-image: url('/img/bg/header-project-bg.jpg');
		h3 {
			background-image: url('/img/fiche-project.png');
			span {
				background-color: $color-intro-h3-project-bg;
			}
		}
	}
	&.intro-project-create {
		background-color: $color-intro-project-bg;
		background-image: url('/img/bg/header-project-create.gif');
	}
	&.intro-resource {
		background-color: $color-intro-resource-bg;
		background-image: url('/img/bg/header-resource-bg.gif');
		h3 {
			background-image: url('/img/fiche-resource.png');
			span {
				background-color: $color-intro-h3-resource-bg;
			}
		}
	}
	&.intro-resource-create {
		background-color: $color-intro-resource-bg;
		//background-image: url('../img/bg/header-resource-bg.png');
		// Changed at Audrey's request #215
		background-image: url('/img/bg/header-project-create.gif');
	}
	&.intro-profiles,
	&.intro-project-create,
	&.intro-resource-create {
		padding: $grid-gutter-width * 2 0;
	}
	&.intro-project-create,
	&.intro-resource-create {
		text-align: center;
		h1, h2 {
			line-height: 1em;
			text-transform: uppercase;
		}
		h2 {
			margin-bottom: 1.25em;
			font-weight: normal;
			em {
				border-bottom: 4px solid $color-intro-listing;
			}
		}
	}
	&.intro-listing {
		padding: 0;
		text-align: center;
		background-color: $color-intro-project-bg;
		background-image: none;
		div.carousel {
			a.carousel-control {
				display: none;
			}
			.item {
				padding: 17em 2em;
				background-color: #000;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
			}
			.carousel-indicators {
				bottom: 4em;
			}
		}
		h1, h2 {
			margin: 0;
			font-size: 3.5em;
			line-height: 1.5em;
			text-transform: uppercase;
		}
		h1 {
			font-weight: normal;
		}
		h2 {
			margin-bottom: 1.25em;
			em {
				border-bottom: 9px solid $color-intro-listing;
			}
		}
	}
	&.intro-profile {
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		background: $color-chocolate url('../img/bg/header-listing-profiles.jpg') center center no-repeat;
		background-size: cover;
		.col-md-4 {
			padding-right: 0; /* remove gutter */
			height: $intro-profile-height;
			max-height: $intro-profile-height;
		}
		.col-md-8 {
			padding-left: 0; /* remove gutter */
			height: $intro-profile-height;
			max-height: $intro-profile-height;
		}
		div.intro {
			margin: 0;
			border: none;
			background-color: rgba(255, 255, 255, 0.85);
			div.side-header {
				background-color: #fff;
			}
			h1, h2 {
				color: $color-text;
				background-color: transparent;
			}
			h1 {
				padding: 0 0 $grid-gutter-width / 2 0;
				font-size: 2em;
			}
			h2 {
				padding-top: 4px; /* to be aligned with the editing buttons */
				font-size: 1.4em;
				line-height: 1.25em;
			}
		}
		img.profile {
			display: block;
			margin: 2em auto;
		}
		h5 {
			margin-bottom: 0.5em;
			font-size: 1.2em;
			font-weight: bold;
			&.bio {
				margin-top: 2em;
			}
			&.skills {
				margin-top: 2em;
			}
		}
		p {
			margin-bottom: 0.25em;
			line-height: 1.5em;
		}
		p.updated, p.location {
			text-align: center;
		}
		div.location {
			position: absolute;
			bottom: 0;
			left: $grid-gutter-width / 2;
			right: 0;
			p.location {
				margin: 0;
				padding: $grid-gutter-width / 2;
				font-size: 2em;
				font-weight: bold;
				color: #fff;
				background-color: black;
				img {
					vertical-align: middle;
				}
			}
			}
		ul.skills {
			margin-bottom: 3em;
		}
	}
	&.intro-tags {
		padding: $grid-gutter-width 0;
		button {
			margin-bottom: $grid-gutter-width;
		}
	}
}

.intro {
	position: relative;
	margin: 4em 15px;
	font-size: 0.8em;
	border: 2px solid $color-intro-border;

	div.side-header {
		position: relative;
		min-height: $home-slide-height;
		margin-right: -1px; /* fix 1px bug from boostrap grid */
		padding: 2em;
		color: $color-intro;
		background-color: $color-intro-project-bg;
		p.location img {
			margin-right: 1em;
			vertical-align: middle;
		}
	}

	ul.phases {
		margin: 1em 0;
		li {
			display: inline-block;
			width: 44px;
			height: 44px;
			margin-right: 0.5em;
			line-height: 44px;
			vertical-align: middle;
			background: url('../img/phase.png') center center no-repeat;
			text-transform: uppercase;
			&.selected {
				color: $color-phase-selected;
				background-image: url('../img/phase-selected.png');
			}
			span {
				display: none;
			}
			&:last-child {
				width: auto;
				margin: 0;
				background-image: none;
			}
		}
	}

	ul.details {
		li {
			position: relative;
			margin-bottom: 1em;
			padding-left: 63px;
			line-height: 48px;
			text-transform: uppercase;
			background-position: center left;
			background-repeat: no-repeat;
			&.level-1, &.level-2, &.level-3 {
				font-weight: bold;
			}
			&.level-1 { background-image: url('../img/icons/resource/resource-level-1.png'); }
			&.level-2 { background-image: url('../img/icons/resource/resource-level-2.png'); }
			&.level-3 { background-image: url('../img/icons/resource/resource-level-3.png'); }
			&.duration { background-image: url('../img/icons/resource/details-duration.png'); }
			&.cost { background-image: url('../img/icons/resource/details-cost.png'); }
			div.edit-buttons button {
				line-height: 1.7em;
			}
		}
	}

}
.intro-project .intro p.location {
	margin: 2em 0;
}

.intro-project, .intro-resource {
	.intro {
		& > .row {
			overflow: hidden;
		}
		.row > div:first-child {
			position: relative;
		}
		.row > div:first-child img {
			position: absolute;
			top: 0;
			left: $grid-gutter-width / 2;
			display: block;
			width: 100%;
			height: $home-slide-height;
		}
	}
}
