form.search-full-width {
	position: relative;
	margin: 0 $grid-gutter-width / 2;
	background-color: #fff;
	text-align: justify;
	input, button {
		padding: 0.6em 1em;
		border: none;
	}
	input {
		width: 99%;
	}
	button {
		position: absolute;
		top: 0;
		right: 0;
		color: #fff;
		background-color: $color-blue;
	}
}
div.action-bar {
	margin-bottom: $grid-gutter-width;
	&.authenticated {
		margin-bottom: 0;
		background-color: $color-pink;
		.authenticated {
			padding: 7px $grid-gutter-width;
			a {
				color: #fff;
				font-size: 0.9em;
				text-transform: uppercase;
			}
			img {
				vertical-align: middle;
				width: 30px;
				height: 30px;
			}
			ul.toolbar {
				float: right;
				li {
					float: left;
					margin-left: 1.5em;
					text-align: center;
					font-size: 0.7em;
					span {
						display: block;
						font-size: 1.75em;
					}
					a:hover {
						color: #000;
						text-decoration: none;
					}
				}
			}
		}
	}
}

#intro {
	padding: 2em 0;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	h1, h2 {
		text-align: center;
	}
	h1 {
		margin: 1.5em 0 0.5em;
		color: $color-intro-h1;
		font-weight: bold;
		font-size: 2em;
		text-transform: uppercase;
	}
	h2 {
		margin: 0 0 2em 0;
		font-size: 1.3em;
		font-weight: bold;
		color: $color-intro-h2;
	}
	h3 {
		z-index: 200;
		position: absolute;
		top: 8em;
		left: -21px;
		padding: 13px 0 0 0;
		font-size: 1.1em;
		color: $color-intro-h3;
		background-position: top left;
		background-repeat: no-repeat;
		span {
			display: block;
			padding: 0.75em 1.25em;
			text-transform: uppercase;
			border: 3px solid $color-intro-h3-border;
			@include border-radius(3px);
		}
	}
	&.intro-project {
		background-color: $color-intro-project-bg;
		background-image: url('../img/bg/header-project-bg.jpg');
		h3 {
			background-image: url('../img/fiche-project.png');
			span {
				background-color: $color-intro-h3-project-bg;
			}
		}
	}
	&.intro-project-create {
		background-color: $color-intro-project-bg;
		background-image: url('../img/bg/header-project-create.gif');
	}
	&.intro-resource {
		background-color: $color-intro-resource-bg;
		background-image: url('../img/bg/header-resource-bg.png');
		h3 {
			background-image: url('../img/fiche-resource.png');
			span {
				background-color: $color-intro-h3-resource-bg;
			}
		}
	}
	&.intro-resource-create {
		background-color: $color-intro-resource-bg;
		background-image: url('../img/bg/header-resource-bg.png');
	}
	&.intro-project-create,
	&.intro-resource-create {
		padding: 8em 0;
		text-align: center;
		h1, h2 {
			font-size: 3em;
			line-height: 1em;
			text-transform: uppercase;
		}
		h2 {
			margin-bottom: 1.25em;
			font-weight: normal;
			em {
				border-bottom: 4px solid $color-intro-listing;
			}
		}
		button {
			padding: 0.75em 1em;
			font-size: 2em;
			color: $color-intro-listing;
			border: 2px solid $color-intro-listing;
			background-color: transparent;
			text-transform: uppercase;
			@include border-radius(3px);
		}
		button {
			padding: 0.75em 1em;
			font-size: 2em;
			color: $color-intro-listing;
			border: 2px solid $color-intro-listing;
			background-color: transparent;
			text-transform: uppercase;
			@include border-radius(3px);
		}
	}
	&.intro-listing {
		padding: 0;
		text-align: center;
		background-color: $color-intro-project-bg;
		background-image: none;
		#carousel-photos {
			.item {
				padding: 17em 2em;
				background-color: #000;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
			}
			.carousel-indicators {
				bottom: 4em;
			}
		}
		h1, h2 {
			margin: 0;
			font-size: 3em;
			line-height: 1.5em;
			text-transform: uppercase;
		}
		h1 {
			font-weight: normal;
		}
		h2 {
			margin-bottom: 1.25em;
			em {
				border-bottom: 4px solid $color-intro-listing;
			}
		}
		button {
			padding: 0.75em 1em;
			font-size: 2em;
			color: $color-intro-listing;
			border: 2px solid $color-intro-listing;
			background-color: transparent;
			text-transform: uppercase;
			@include border-radius(3px);
		}
	}
	&.intro-profil {
		background: $color-chocolate url('../img/bg/header-profil.png') center center no-repeat;
		background-size: cover;
		.col-md-4 {
			padding-right: 0; /* remove gutter */
		}
		.col-md-8 {
			padding-left: 0; /* remove gutter */
		}
		img.profil {
			display: block;
			width: 250px;
			height: 250px;
			margin: 2em auto;
		}
		h2 {
			padding: 0 1em;
			font-size: 1.2em;
			line-height: 1.25em;
		}
		h5 {
			margin-bottom: 0.5em;
			font-size: 1.2em;
			font-weight: bold;
			&.bio {
				margin-top: 2em;
			}
			&.skills {
				margin-top: 2em;
			}
		}
		p {
			margin-bottom: 0.25em;
			line-height: 1.5em;
		}
		p.location {
			text-transform: uppercase;
		}
		ul.skills {
			margin-bottom: 3em;
		}
	}
}

.intro {
	position: relative;
	margin: 4em 15px;
	font-size: 0.8em;
	border: 2px solid $color-intro-border;

	div.sideproject {
		position: relative;
		min-height: $home-slide-height;
		margin-right: -1px; /* fix 1px bug from boostrap grid */
		padding: 2em;
		color: $color-intro;
		background-color: $color-intro-project-bg;
		p.location img {
			margin-right: 1em;
			vertical-align: middle;
		}
	}
	
	ul.phases {
		margin: 1em 0;
		li {
			display: inline-block;
			width: 44px;
			height: 44px;
			margin-right: 0.5em;
			line-height: 44px;
			vertical-align: middle;
			background: url('../img/phase.png') center center no-repeat;
			text-transform: uppercase;
			&.selected {
				color: $color-phase-selected;
				background-image: url('../img/phase-selected.png');
			}
			span {
				display: none;
			}
			&:last-child {
				width: auto;
				margin: 0;
				background-image: none;
			}
		}
	}
	
	ul.details {
		li {
			margin-bottom: 1em;
			padding-left: 63px;
			line-height: 48px;
			text-transform: uppercase;
			background-position: center left;
			background-repeat: no-repeat;
			&.level-average {
				font-weight: bold;
				background-image: url('../img/details/details-level-average.png');
			}
			&.duration {
				background-image: url('../img/details/details-duration.png');
			}
			&.cost {
				background-image: url('../img/details/details-cost.png');
			}
		}
	}
	
}
.intro-project .intro p.location {
	margin: 2em 0;
}

.intro-project, .intro-resource {
	.intro {
		& > .row {
			overflow: hidden;
		}	
		.row > div:first-child {
			position: relative;
		}
		.row > div:first-child img {
			position: absolute;
			top: 0;
			left: $grid-gutter-width / 2;
			display: block;
			width: 100%;
			height: $home-slide-height;
		}	
	}
}
