.row-home {
    margin: 0;
}

.home-slide,
.home-join,
.home-community,
.home-forum,
.home-tags,
.home-twitter {
    h2:first-child {
        font-size: 1.4em;
        font-weight: bold;
        text-transform: uppercase;
    }
}
.home-community,
.home-forum {
    padding: $grid-gutter-width;
}

.home-slide {
    margin: 0 ($grid-gutter-width / 2);
    div.carousel {
        img {
            width: 100%;
            height: $home-slide-height !important;
        }
        .description {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 0.75em 2em 0.5em 3em;
            line-height: 1.6em;
            color: #fff;
            background-color: rgba(50, 50, 50, 0.9);
            text-align: left;
            h3 {
            	font-size: 1.25em;
            	font-weight: bold;
            	text-transform: uppercase;
            }
            h4 {
                font-size: 1.1em;
            }
        }
    }
}
.home-join {
    &>p {
        margin: 0 0 $grid-gutter-width / 2;
    }
    &>div {
        // height: $home-slide-height;
        padding: $grid-gutter-width;
        color: #fff;
        background: $color-pink url('../img/bg/shape-top-bg.png') center -100px no-repeat;
        text-align: center;
        border: 3px solid #fff;
        a.button {
            display: inline;
            margin: 0 1em;
        }
    }
    h2 {
        margin-top: 1em;
        margin-bottom: 2em;
        line-height: 2em;
    }
    ul {
        margin: 3em 0 2em;
        li {
            display: inline-block;
            margin: 0 0.75em;
        }
    }
    p a {
        color: #fff;
        font-size: 1.25em;
        text-decoration: underline;
    }
    a.button {
        display: block;
        position: relative;
        width: 100%;
        margin: 0;
        padding: 1em;
        font-size: 1.1em;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        background: $color-blue url('../img/bg/shape-top-bg.png') center center no-repeat;
        border: 2px solid #fff;
        text-decoration: none;
        @include border-radius(2px);
        @include transition(border-color 0.5s ease);
        img {
            position: absolute;
            top: -12px;
            right: 20px;
        }
        &:hover {
            border-color: $color-blue;
        }
    }
}
.home-links {
    margin: $grid-gutter-width $grid-gutter-width / 2;
    padding: $grid-gutter-width 0;
    background-color: #fff;
    font-size: 1.05em;
	.col-md-4 {
		&:first-child {
    		padding-left: $grid-gutter-width / 2 + 5px;
		}
		padding-left: 0;
		padding-right: 0;
	}
    img {
        display: block;
        margin: 0 auto 0.75em;
    }
    h3 {
        font-size: 0.9em;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.25em;
    }
    ul {
        margin-top: 0.5em;
        a {
            font-size: 0.87em;
            font-weight: bold;
            color: $color-dark-grey;
            @include transition(color 1s ease);
            &:hover {
                text-decoration: none;
                @include transition(color 0.1s ease);
            }
        }
    }
    .projects {
        h3 {
            color: $color-blue;
        }
        ul {
            a:hover {
                color: $color-blue;
            }
        }
    }
    .community {
        h3 {
            color: $color-pink;
        }
        ul {
            a:hover {
                color: $color-pink;
            }
        }
    }
    .resources {
        h3 {
            color: $color-green;
        }
        ul {
            a:hover {
                color: $color-green;
            }
        }
    }
}
.home-fullwidth {
    margin: $grid-gutter-width;
    /* Grid modification to reduce spacing between columns */
    .col-md-4 {
        padding-right: $grid-gutter-width / 2 / 2;
        padding-left: $grid-gutter-width / 2 / 2;
    }
    .col-md-4:first-child {
        padding-right: $grid-gutter-width / 2;
        padding-left: 0;
    }
    .col-md-4:last-child {
        padding-right: 0;
        padding-left: $grid-gutter-width / 2;
    }
    h2 {
        padding: 0.75em;
        color: #fff;
        font-size: 1.25em;
        text-transform: uppercase;
        &.projects {
            background-color: $color-blue;
        }
        &.resources {
            background-color: $color-green;
        }
        &.members {
            background-color: $color-pink
        }
        span {
            margin-right: 0.5em;
        }
    }
    ul {
    	overflow: hidden;
        li {
        	display: inline-block;
        	vertical-align: top;
        }
        li:first-child {
	        background-color: $color-blue;
        }
        li:last-child {
            background-color: $color-green;
        }
        a {
            display: block;
            height: 80px;
            width: 100%;
        	padding: 1.6em 2em 2.4em;
            color: #fff;
            text-transform: uppercase;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .boxes-small-home {
        &.boxes-projects,
        &.boxes-resources {
            h3 {
                display: none;
            }
        }
        &.boxes-projects .box:hover {
            h4, h5 {
                background-color: $color-blue;
            }
        }
        &.boxes-resources .box:hover {
            h4, h5 {
                background-color: $color-green;
            }
        }
        &.boxes.members {
            .box {
                box-shadow: none;
                margin-right: 0 !important;
                &:hover {
                    background-color: $color-pink;
                    h3, h4 {
                        color: #fff;
                    }
                }
            }
            .box:nth-child(odd) {
                float: left;
            }
            .box:nth-child(even) {
                float: right;
            }
            .box-pink {
                div {
                    margin-right: 0 !important;
                    a {
                        color: #fff !important;
                        background-color: $color-pink !important;
                    }
                }
            }
            h3, h4 {
                position: relative;
                margin: 0;
                padding: 0;
                line-height: 1;
                background-color: transparent !important;
            }
            h4 {
                text-transform: none;
            }
            div a gravatar-image img {
                display: block;
                width: 75px !important;
                height: 75px !important;
                margin: 10px auto;
            }
        }
    }
}
.home-projects-resources {
	overflow: hidden; /* prevent horizontal scrollbar */
	position: relative;
	height: $boxes-small-height + $grid-gutter-width * 2;
}
.home-community {
    margin-bottom: $grid-gutter-width;
    padding-right: 0;
    background: $color-pink url('../img/bg/shape-top-bg.png') top center no-repeat;
    div.boxes-profils {
        margin: 0;
        line-height: 1em;
    }
    h2 {
        margin-bottom: 1em;
        color: #fff;
    }
}
.home-forum {
    margin-bottom: $grid-gutter-width;
    background-color: $color-light-grey;
    h2 {
        margin-bottom: $grid-gutter-width;
    }
    h4 {
        margin-top: $grid-gutter-width;
        margin-bottom: $grid-gutter-width / 2;
        font-size: 0.9em;
        font-weight: bold;
        line-height: 1.25em;
        text-transform: uppercase;
    }
    p {
        margin-bottom: 1em;
        font-size: 0.9em;
        line-height: 1.5em;
        word-spacing: 0.01em;
    }
}
.home-tags {
    margin: $grid-gutter-width $grid-gutter-width / 2;
    background-color: #fff;
    h2 {
        margin-bottom: 1em;
    }
}
.home-twitter {
    margin-bottom: $grid-gutter-width;
}
