.row-home {
	margin: 0;
}

.home-slide,
.home-join,
.home-community,
.home-forum,
.home-tags,
.home-twitter {
	h2:first-child {
		font-size: 1.4em;
		font-weight: bold;
		text-transform: uppercase;
	}
}
.home-community {
	padding: $grid-gutter-width;
}

.home-slide {
	margin: 0 ($grid-gutter-width / 2);
	div.carousel {
		img {
			width: 100%;
			height: $home-slide-height !important;
		}
		.description {
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 0.75em 2em 0.5em 3em;
			line-height: 1.6em;
			color: #fff;
			background-color: rgba(50, 50, 50, 0.9);
			text-align: left;
			h3 {
				font-size: 1.25em;
				font-weight: bold;
				text-transform: uppercase;
			}
			h4 {
				font-size: 1.1em;
			}
		}
		.carousel-inner {
			h3.category {
				background-image: none;
			}
			div.caption {
				position: absolute;
				display: table;
				height: $home-slide-height;
				div {
					display: table-cell;
					vertical-align: middle;
					h1, p {
						color: #fff;
					}
					h1 {
						margin-bottom: 1em;
						padding: 0 $grid-gutter-width;
						font-size: 1.75em;
						line-height: 1.5em;
					}
					p {
						font-size: 1.25em;
					}
				}
			}
		}
	}
}
.home-join {
	&>p {
		margin: 0 0 $grid-gutter-width / 2;
	}
	&>div {
		display: table;
		height: $home-slide-height - $grid-gutter-width * 2 - 2*4px;
		padding: $grid-gutter-width;
		color: #fff;
		background: $color-pink url('../img/bg/shape-top-bg.png') center -100px no-repeat;
		text-align: center;
		border: 3px solid #fff;
		vertical-align: top;
		div.join {
			display: table-cell;
			vertical-align: middle;
		}
		p.buttons {
			line-height: 6em;
		}
		a.button {
			display: inline;
			margin: $grid-gutter-width 1em;
		}
	}
	h2 {
		margin-top: 1em;
		margin-bottom: 2em;
		line-height: 2em;
	}
	ul {
		margin: 3em 0 2em;
		li {
			display: inline-block;
			margin: 0 0.75em;
		}
	}
	p a {
		color: #fff;
		font-size: 1.25em;
		text-decoration: underline;
	}
	a.button {
		display: block;
		position: relative;
		width: 100%;
		margin: 0;
		padding: 1em;
		font-size: 1.1em;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		color: #fff;
		background: $color-blue url('../img/bg/shape-top-bg.png') center center no-repeat;
		border: 2px solid #fff;
		text-decoration: none;
		@include border-radius(2px);
		@include transition(border-color 0.5s ease);
		img {
			position: absolute;
			top: -12px;
			right: 20px;
		}
		&:hover {
			border-color: $color-blue;
		}
	}
}
.home-links {
	margin: $grid-gutter-width $grid-gutter-width / 2;
	padding: $grid-gutter-width / 2 0;
	background-color: #fff;
	font-size: 1.05em;
	.col-md-4 {
		&:first-child {
			padding-left: $grid-gutter-width / 2 + 5px;
		}
		padding-left: 0;
		padding-right: 0;
	}
	img {
		display: block;
		margin: 0 auto 0.75em;
	}
	h3 {
		font-size: 0.9em;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		line-height: 1.25em;
	}
	ul {
		margin-top: 0.5em;
		a {
			font-size: 0.87em;
			font-weight: bold;
			color: $color-dark-grey;
			@include transition(color 1s ease);
			&:hover {
				text-decoration: none;
				@include transition(color 0.1s ease);
			}
		}
	}
	.projects {
		h3 {
			color: $color-blue;
		}
		ul {
			a:hover {
				color: $color-blue;
			}
		}
	}
	.community {
		h3 {
			color: $color-pink;
		}
		ul {
			a:hover {
				color: $color-pink;
			}
		}
	}
	.resources {
		h3 {
			color: $color-green;
		}
		ul {
			a:hover {
				color: $color-green;
			}
		}
	}
}
.home-fullwidth {
	margin: $grid-gutter-width;
	margin-bottom: 0;
	/* Grid modification to reduce spacing between columns */
	.col-md-4 {
		padding-right: $grid-gutter-width / 2 / 2;
		padding-left: $grid-gutter-width / 2 / 2;
	}
	.col-md-4:first-child {
		padding-right: $grid-gutter-width / 2;
		padding-left: 0;
	}
	.col-md-4:last-child {
		padding-right: 0;
		padding-left: $grid-gutter-width / 2;
	}
	ul {
		overflow: hidden;
		li {
			display: inline-block;
			vertical-align: top;
		}
		li:first-child {
			background-color: $color-blue;
		}
		li:last-child {
			background-color: $color-green;
		}
		a {
			display: block;
			height: 80px;
			width: 100%;
			padding: 1.6em 2em 2.4em;
			color: #fff;
			text-transform: uppercase;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.boxes-small-home {
		&.boxes-projects,
		&.boxes-resources {
			h3 {
				display: none;
			}
		}
		&.boxes-projects .box:hover {
			h4, h5 {
				background-color: $color-blue;
			}
		}
		&.boxes-resources .box:hover {
			h4, h5 {
				background-color: $color-green;
			}
		}
		&.boxes.members {
			.box {
				box-shadow: none;
				height: $boxes-home-height;
				margin-right: 0 !important;
				&:hover {
					background-color: $color-pink;
					h3, h4 {
						color: #fff;
					}
				}
			}
			.box:nth-child(odd) {
				float: left;
			}
			.box:nth-child(even) {
				float: right;
			}
			.box-pink {
				div {
					margin-right: 0 !important;
					a {
						color: #fff !important;
						background-color: $color-pink !important;
					}
				}
			}
			h3, h4 {
				position: relative;
				margin: 0;
				padding: 0;
				line-height: 1;
				background-color: transparent !important;
			}
			h4 {
				text-transform: none;
			}
			div a gravatar-image img {
				display: block;
				width: 75px !important;
				height: 75px !important;
				margin: 10px auto;
			}
		}
	}
}
.home-projects-resources {
	overflow: hidden; /* prevent horizontal scrollbar */
	position: relative;
	height: $boxes-small-height + $grid-gutter-width * 2;
}
.home-community {
	margin-bottom: $grid-gutter-width;
	padding-right: 0;
	background: $color-pink url('../img/bg/shape-top-bg.png') top center no-repeat;
	div.boxes-profiles {
		margin: 0;
		line-height: 1em;
	}
	h2 {
		margin-bottom: 1em;
		color: #fff;
	}
}
.home-forum {
	margin-bottom: $grid-gutter-width;
	background-color: #fff;
	h2 {
		a {
			float: right;
			padding-right: 0.25em;
			color: #fff;
			font-size: 0.85em;
			font-weight: normal;
			text-transform: none;
		}
	}
	p {
		margin-bottom: 1em;
		font-size: 0.9em;
		line-height: 1.5em;
		word-spacing: 0.01em;
	}
	section {
		position: relative;
		ul.members li {
			float: right;
			img {
				width: $forum-home-members;
				margin-left: 3px;
			}
			&.count a {
				display: inline-block;
				height: $forum-home-members - 2px; /* don't ask why -2px */
				width: $forum-home-members;
				color: #fff;
				background-color: $color-forum;
				font-size: 0.8em;
				font-weight: bold;
				text-align: center;
				vertical-align: middle;
				line-height: $forum-home-members - 2px; /* don't ask why -2px */
				@include border-radius(50%);
				&:hover {
					background-color: $color-red;
					text-decoration: none;
				}
			}
		}
		header {
			img.member {
				position: absolute;
				top: $grid-gutter-width / 2;
				left: $grid-gutter-width / 2;
			}
			h3, h4 {
				margin-left: 65px;
			}
			h3 {
				margin-top: 0.25em;
				margin-bottom: 0.25em;
				font-size: 1.15em;
			}
			h4 {
				font-size: 0.95em;
			}
		}
		p.question {
			position: relative;
			padding-left: 32px;
			font-size: 1.2em;
			font-weight: bold;
			line-height: 1.25em;
			span {
				position: absolute;
				top: 0;
				left: 0;
				margin-right: 0.5em;
				padding: 0 0.5em;
				color: #fff;
				background-color: $color-forum;
				font-size: 0.9em;
				font-weight: bold;
				@include border-radius(50%);
			}
		}
		p.comments-count {
			float: right;
			font-size: 1.15em;
			span {
				font-size: 1.25em;
				vertical-align: middle;
			}
		}
		ul.tags li.more a {
			color: #fff;
			background-color: $color-blue;
			@include border-radius(50%);
		}
	}
}
.home-tags {
	margin: $grid-gutter-width $grid-gutter-width / 2;
	margin-top: 0;
	background-color: #fff;
	h2 {
		margin: $grid-gutter-width 0;
	}
}
.home-twitter {
	margin-bottom: $grid-gutter-width $grid-gutter-width / 2;
}
