/*
	Stylesheet used for the administration of MakerScience
*/

#intro,
#content {
	.editable-buttons {
		button {
			margin-bottom: 0.75em;
			padding: 0.5em 1em;
			@include border-radius(0);
			&.btn-primary {
				color: #fff;
				background-color: $color-dark-grey;
				border-color: $color-dark-grey;
			}
			&.btn-default {
				color: $color-dark-grey;
				background-color: #fff;
			}
			&:hover {
				color: #fff;
				background-color: $color-red;
				border-color: $color-red;
			}
		}
	}
}

#intro .editable-buttons button.btn-primary {
	float: right;
}

#intro.edit {
	div.editable div.edit-buttons {
		right: -2em;
	}
}

#intro {
	div.intro.edit {
		&> div.edit-buttons {
			top: 7.5em;
		}
		div.edit-cover-image {
			margin-right: -$grid-gutter-width;
			font-size: 1.5em;
		}
		form.editable-text {
			width: 100%;
			margin-bottom: 1em;
			div.editable-controls {
				display: block;
				width: 90%;
				margin: 0 auto;
				text-align: center;
				input {
					width: 75%;
					text-align: center;
				}
			}
		}
	}
	div.side-header {
		&.editing {
			padding-right: 4em;
			.edit-buttons {
				right: -4em;
				&.edit-buttons-location {
					right: 0;
				}
			}
			p.location form input[type=text]:first-child {
				width: 5em;
				padding-right: 0.5em;
				padding-left: 0.5em;
			}
		}
		form {
			input, button.btn {
				margin-bottom: 0;
			}
			.editable-controls, .editable-buttons {
				line-height: 1em;
			}
		}
		button.btn {
			padding: 0.5em;
		}
		div.editable {
			min-height: 40px; /* Fix issue when there are no tags by giving it a minimum height */
		}
		div.edit-buttons {
			right: -20px;
		}
		ul.details {
			form.editable-text input.editable-input {
				width: 5em !important;
			}
		}
	}
	div.tags {
		position: relative;
	}
	.intro > form {
		width: 100%;
		text-align: center;
		div {
			width: 100%;
			input {
				width: 50%;
			}
		}
	}
	&.intro-profile {
		div.intro {
			.col-md-4 {
				form {
					width: 100%;
					text-align: center;
					input[type=text] {
						width: 8em;
						padding-right: 0.5em;
						padding-left: 0.5em;
					}
				}
			}
			.col-md-8 {
				.bio {
					.editable-controls {
						width: 100%;
					}
					form {
						text-area {
							width: 100%;
						}
						&.form-inline {
							width: 100%;
							div.editable-input {
								width: 100%;
							}
						}
					}
					.ta-text {
						margin: 0.5em 0 0.75em;
						width: 100%;
						&.ta-scroll-window {
							min-height: 200px;
						}
						div.ta-bind {
							min-height: 200px;
							padding: 1em;
						}
					}
					span.editable-buttons {
						display: block;
						text-align: right;
					}
				}
			}
		}
	}
}

div.edit-buttons {
	position: absolute;
	z-index: 1000;
	top: 0;
	right: 0;
	button {
		float: right;
		margin-left: 0.5em;
		padding: 0.4em 0.6em;
		font-size: 1.25em;
		color: #fff;
		background-color: $color-dark-grey;
		border: none;
		&.add-tag {
			background-color: $color-blue;
		}
		&:hover {
			background-color: $color-red;
		}
	}
}

div.edit-question{
    position:relative!important;
}

div.editable-controls {
	textarea {
		display: block;
		width: 100%;
		padding: 0.75em;
		background-color: transparent;
		border: 2px solid $color-dark-grey;
	}
}

#content {
	section {
		form.editable-wrap {
			width: 100%;
			div.editable-controls {
				width: 100%;
				.editable-buttons {
					display: block;
					button {
						float: right;
					}
				}
				.ta-scroll-window > .ta-bind {
					padding: 1em;
				}
				textarea, div.editable-input {
					display: block;
					width: 100%;
					@include border-radius(0);
					.ta-text {
						margin: 0.5em 0;
						width: 100%;
					}
					&:focus {
						border-color: $color-dark-grey;
						box-shadow: none;
					}
				}
			}
		}
	}
}

#content .edit, .edit {
	button.dark {
		margin-left: 0.25em;
		padding: 0.25em 1em;
		color: #fff;
		background-color: $color-dark-grey;
		border: 2px solid $color-dark-grey;
		&.cancel {
			color: $color-dark-grey;
			background-color: #fff;
		}
		&:hover {
			color: #fff;
			background-color: $color-red;
			border-color: $color-red;
		}
	}
	section {
		padding: 0;
		textarea, button {
			display: block;
		}
		h3 {
			margin: 0;
			padding: 1em 1em 0.5em 1em;
		}
		p {
			padding: 0 1em 1em 1em;
		}
	}
	div.editable {
		position: relative;
	}
	.tab-content p.right {
		margin-top: -0.5em;
		margin-bottom: 1.5em;
	}
	#intro.intro-project h3 span {
		background-color: $color-dark-grey;
	}
	.intro {
		ul.tags {
			margin-top: 2.5em; /* make space for the edit buttons at the top */
			&.tags-edit {
				margin: 0.75em;
				margin-bottom: 4em;
				button {
					font-size: 0.8em;
					background-color: $color-purple;
					border: none;
					span {
						font-size: 0.85em;
					}
					&:hover {
						background-color: $color-red !important;
					}		div.member {
			button.remove {
				position: absolute;
				top: 0;
				left: -10px;
				width: 25px;
				height: 25px;
				font-size: 0.85em;
				color: #fff;
				background-color: $color-dark-grey;
				border: 0;
				@include border-radius(12px);
				&:hover {
					background-color: $color-red;
				}
			}
		}

				}
			}
		}
	}
}

#content {

	.bloc-links {
		height: auto;
		margin-bottom: 0.25em;
		input {
			margin: 0;
			padding: 0 1em;
			background-color: transparent;
		}
		fieldset {
			margin-bottom: 1px;
			input:first-child {
				font-weight: bold;
			}
		}
	}

	/* prevent cursor change on this fake tab */
	ul.nav.nav-tabs li.editable:hover * {
		cursor: pointer !important;
	}

	div.editable-gallery {
		margin-top: 1px;
		padding: $grid-gutter-width * 3 $grid-gutter-width;
		text-align: center;
		background-color: $color-light-grey;
	}

}

#sidebar {

	div.member-edit {
		button.remove {
			position: absolute;
			top: 0;
			left: -10px;
			width: 25px;
			height: 25px;
			font-size: 0.85em;
			color: #fff;
			background-color: $color-dark-grey;
			border: 0;
			@include border-radius(12px);
			&:hover {
				background-color: $color-red;
			}
		}
	}
	div.member-details {
		form {
			margin: 0.5em 0 0.5em 1em;
			input {
				display: block;
				width: 100%;
			}
			.editable-controls {
				display: block;
			}
		}
		.editable-buttons {
			display: block;
			button {
				display: inline-block;
				width: auto;
				margin-top: 0.25em;
				margin-left: 0;
				&:last-child {
					float: right;
				}
			}
		}
	}

	div.comment {
		div.comment-content {
			position: relative;
		}
		div.btn-group {
			position: absolute;
			top: 0;
			right: 0;
			button {
				padding-right: 0.5em;
				padding-left: 0.5em;
				color: $color-dark-grey;
				background-color: $color-medium-grey;
				@include border-radius(0);
			}
			/* Open dropdown menu on the left, instead of right */
			ul.dropdown-menu {
				left: auto;
				right: 0;
			}
		}
	}

}

/* Restore lists in editing */
.ta-editor ul {
	list-style-type: disc;
}
