/* Prevent vertical scrollbar because of the sliding member panel */
body {
	overflow-x: hidden;
	width: 100%;
}

div.map-search {
	background-color: #fff;
	h1 {
		font-size: 1.5em;
    		padding: 20px 0 15px 0px;
    		text-align: center;
	}
}

/* Contains both the map and the sidebar */
.map {
	position: relative;
	/* Sidebar */
	.leaflet-marker-icon {
		@include border-radius(50%);
	}
	.member-info {
		z-index: 100;
		overflow: hidden;
		position: absolute;
		top: 50px;
		bottom: 50px;
		width: $map-sidebar-width;
		padding-left: $map-sidebar-toggle; /* make space for the side toggle */
		background-color: #fff;
		@include transition(right 0.5s ease);
		@include box-shadow(0 0 10px rgba(0,0,0,.5));
		// &:hover,
		&.member-info-hidden {
			right: -($map-sidebar-width - $map-sidebar-toggle);
		}
		&.member-info-visible {
			right: 0;
		}
		a.toggle {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			height: 100%;
			width: $map-sidebar-toggle;
			padding-top: 100%;
			font-size: 1.25em;
			color: $color-text;
			background-color: $color-light-grey;
			text-align: center;
			@include transition(all 0.5s ease);
			span {
				position: absolute;
				top: 50%;
				left: 1px;
				width: 100%;
			}
			&:hover {
				color: white;
				background-color: $color-pink;
			}
		}
		a:hover {
			text-decoration: none;
		}
		.content > h5 {
			padding: $grid-gutter-width / 2 0;
			font-weight: bold;
			text-transform: uppercase;
		}
		img {
			display: block;
		}
		div.member {
			padding: 0.75em $grid-gutter-width / 2;
			color: #fff;
			background-color: $color-pink;
			p:first-child {
				text-transform: uppercase;
			}
			p:last-child {
				font-size: 0.9em;
			}
		}
		div.content {
			height: 100%;
			padding: 0 $grid-gutter-width / 2;
			background-color: #fff;
		}
		div.boxes.boxes-small {
			overflow: scroll;
			height: $boxes-small-height;
		}
		p.scroll-buttons {
			position: absolute;
			right: 0;
			bottom: $grid-gutter-width / 2;
			left: 0;
			text-align: center;
			a {
				margin: 0 $grid-gutter-width / 4;
				img {
					display: inline;
				}
				&:hover {
					opacity: 0.8;
				}
			}
		}
		p.notice {
			margin-top: 100%;
			padding: $grid-gutter-width;
			text-align: center;
		}
		span.avatar {
			overflow: hidden;
			float: none;
			display: block;
			background-color: $color-dark-grey;
			img {
				margin: $grid-gutter-width / 2 auto;
			}
		}
	}
}

#membersmap {

	/* Overwrite Leaflet cluster's colors */
	.marker-cluster-small,
	.marker-cluster-medium,
	.marker-cluster-large {
		span {
			color: #fff;
			font-weight: bold;
		}
	}

	.marker-cluster-small,
	.marker-cluster-small div {
		background-color: rgba(255, 83, 83, 0.6); /* pink */
	}

	.marker-cluster-medium,
	.marker-cluster-medium div {
		background-color: rgba(250,146, 11, 0.6); /* orange */
	}

	.marker-cluster-large,
	.marker-cluster-large div {
		background-color: rgba(204, 51, 0, 0.6); /* red */
	}

}
