header {
	padding-top: 50px;
	background-color: $color-header-bg;
	#menu {
		margin: 50px 0 0 0;
		font-size: 0.95em;
		background-color: $color-very-dark-blue;
		&.navbar {
			@include border-radius(0);
		}
		.navbar-header {
			position: relative; /* to place the logo / brand within */
			.navbar-brand {
				position: absolute;
				top: -75px;
				left: $grid-gutter-width;
			}
		}
		.nav.navbar-nav {
			padding-left: 140px; /* space for the logo */
		}
		ul.navbar-nav:first-child a {
			margin: 1em 0.75em;
			margin: 1em 0.75em 0;
			padding: 0.25em 0 0 0;
			color: $color-menu-a;
			text-transform: uppercase;
			border-bottom: 4px solid transparent;
			&.selected, &:hover {
				background-color: transparent;
				border-color: $color-blue;
			}
		}
	
		form {
			input[type=text], button {
				padding: 0.25em 1em;
				line-height: 2em;
				border: none;
				@include border-radius(0);
			}
			button {
				color: #fff;
			}
			button.user {
				margin-left: 1.5em;
				border: none;
				background-color: transparent;
			}
			button.connect {
				margin-left: 0.5em;
				@include transition(all .2s ease);
				&:hover {
					background-color: $color-pink !important;
					@include border-radius(2px);
				}
			}
		}
	
		.user {
		    margin-left: $grid-gutter-width;
		    a, img {
		      display: inline-block;
			  vertical-align: middle;
		  }
		  img {
		      margin-left: 0.5em;
		      opacity: 0.9;
		  }
		  a:hover {
		      text-decoration: none;
		      img {
		          opacity: 1;
		     }
		  }
	    }
	
	}
	form {
		display: inline;
		padding: 0.75em 0;
		button {
			padding: 0.5em 1em;
			background-color: $color-blue !important;
			border: none;
			&:hover {
				background-color: $color-green !important;
			}
		}
	}
	.navbar-brand {
		z-index: 1000;
		position: absolute;
		bottom: 0;
		left: $grid-gutter-width;
	}
	
}
