header {
	#menu {
		// margin: 115px 0 0 0;
		font-size: 0.95em;
		// background-color: $color-very-dark-blue;
		background-color: black;
		&.navbar {
			@include border-radius(0);
		}
		.navbar-header {
			position: relative; /* to place the logo / brand within */
			.navbar-brand {
				position: absolute;
				top: -8px;
				left: $grid-gutter-width;
				img {
					margin-left: -15px;
				}
			}
		}
		.navbar-tagline {
			margin-top: -70px;
			margin-left: 200px;
			font-size: 1.4em;
			font-family: "LatoLight";
			line-height: 1.25em;
		}
		.nav.navbar-nav {
			padding-left: 170px; /* space for the logo */
		}
		.register-login {
			float: right;
			margin-top: 10px;
            margin-left: 10px;

			button {
				display: inline-block;
				margin-right: $grid-gutter-width / 2;
				padding: 0.5em 0.5em;
				font-size: 0.9em;
				font-weight: bold;
				text-transform: uppercase;
				background: $color-blue url('../img/bg/shape-top-bg.png') center center no-repeat;
				&:hover {
					background-color: $color-pink;
				}
			}
		}
		ul.navbar-nav:first-child a {
			margin: 1em 0.75em 0;
			padding: 0.25em 0 0 0;
			color: $color-menu-a;
			text-transform: uppercase;
			border-bottom: 4px solid transparent;
			&.selected, &:hover {
				background-color: transparent;
				border-color: #fff;
			}
		}

		form {
			input[type=text], button {
				padding: 0.25em 1em;
				line-height: 2em;
				border: none;
				@include border-radius(0);
			}
			button {
				color: #fff;
			}
			button.user {
				margin-left: 1.5em;
				border: none;
				background-color: transparent;
			}
			button.connect {
				margin-left: 0.5em;
				font-weight: bold;
				@include transition(all .2s ease);
				&:hover {
					background-color: $color-pink !important;
					@include border-radius(2px);
				}
			}
		}

		.user {
		    margin-left: $grid-gutter-width;
		    a, img {
		      display: inline-block;
			  vertical-align: middle;
		  }
		  img {
		      margin-left: 0.5em;
		      opacity: 0.9;
		  }
		  a:hover {
		      text-decoration: none;
		      img {
		          opacity: 1;
		     }
		  }
	    }

	}
	form {
		// display: inline;
		padding: 0.75em 0;
        float:left;
        margin-left: 50px;
		button {
			padding: 0.5em 1em;
			background-color: $color-blue !important;
			background-color: $color-dark-blue !important;
			border: none;
			&:hover {
				background-color: $color-green !important;
			}
		}
	}
	.navbar-brand {
		z-index: 1000;
		position: absolute;
		bottom: 0;
		left: $grid-gutter-width;
	}

	/* Override bootstrap style */
	.nav > li > a:focus {
		background-color: transparent;
	}

}
