#menu {
	margin: 3em 1em 4em;
	font-size: 0.95em;
	ul.navbar-nav:first-child a {
		margin: 1em 0.75em;
		padding: 0.25em 0;
		color: $color-menu-a;
		text-transform: uppercase;
		border-bottom: 4px solid transparent;
		&.selected, &:hover {
			background-color: transparent;
			border-color: $color-light-grey;
			&.nav-members {
				border-color: $color-menu-members;
			}
			&.nav-projects {
				border-color: $color-menu-projects;
			}
			&.nav-resources {
				border-color: $color-menu-resources;
			}
		}
	}
	.navbar-brand img {
		margin-top: -2.25em;
		margin-right: 1em;
	}
	
	form {
		input[type=text], button {
			color: $color-menu-form;
		}
		button.user {
			margin-left: 1.5em;
			border: none;
			background-color: transparent;
		}
		button.connect {
			margin-left: 0.5em;
		}
	}
	
	.user {
	    margin-left: $grid-gutter-width;
	    a, img {
            display: inline-block;
	        vertical-align: middle;
        }
        img {
            margin-left: 0.5em;
            opacity: 0.9;
        }
        a:hover {
            text-decoration: none;
            img {
                opacity: 1;
           }
        }
    }
	
}

