ul.pagination {
	margin: 0;
	li:first-child a, li:last-child a {
		@include border-radius(0);
	}
	a {
		margin: 0 0.1em;
		font-size: 1.25em;
		color: $color-profile;
		background-color: transparent;
		font-weight: bold;
		border: 2px solid $color-profile;
	}
	li.active a {
		color: #fff;
		background-color: $color-profile;
		border-color: $color-profile;
	}
	li.disabled a {
		color: $color-medium-grey;
		border-color: $color-medium-grey;
	}
	a:hover {
		color: #fff;
		background-color: $color-profile;
		border-color: $color-profile;
	}
	&.pagination-projects {
		a {
			color: $color-project;
			border-color: $color-project;
			&:hover {
				color: #fff;
				background-color: $color-project;
			}
		}
		li.active a {
			background-color: $color-project;
			border-color: $color-project;
		}
	}
	&.pagination-profiles {
		a {
			color: $color-profile;
			border-color: $color-profile;
			&:hover {
				color: #fff;
				background-color: $color-profile;
			}
		}
		li.active a {
			background-color: $color-profile;
			border-color: $color-profile;
		}
	}
	&.pagination-resources {
		a {
			color: $color-resource;
			border-color: $color-resource;
			&:hover {
				color: #fff;
				background-color: $color-resource;
			}
		}
		li.active a {
			background-color: $color-resource;
			border-color: $color-resource;
		}
	}
	&.pagination-forum {
		a {
			color: $color-forum;
			border-color: $color-forum;
			&:hover {
				color: #fff;
				background-color: $color-forum;
			}
		}
		li.active a {
			background-color: $color-forum;
			border-color: $color-forum;
		}
	}
	/* Overwrite bootstrap's style */
	&.pagination-sm li a {
		padding: 0.2em 0.6em 0.1em;
	}
}

.content-member {
    h2 {
        .pagination {
            float: right;
            li {
                a {
                    font-size: .7em;
                    color: white;
                }
                a:hover {
                    z-index: 3;
                    color: $color-profile;
                    background-color: white;
                    border-color: white;
                    cursor: default;
                }
                &.disabled {
                    a {
                        color: #ddd;
                        cursor : no-drop;
                    }
                }
                &.active {
                    a, a:hover {
                        border-color: white;
                        background-color: white;
                        color: #ddd;
                    }
                }
            }
            li:first-child , li:last-child {
                a {
                    border-color: #d3d7da;
                    background-color: white;
                    color: $color-profile;
                    -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    border-radius: 5px;
                }
            }
        }
    }
}
