.avatar40 {
    img {
        width : 40px;
    }
}

.avatar52 {
    img {
        width : 52px;
    }
}

.avatar75 {
    img {
        width : 75px;
    }
}


div.activity, div.contribution {
    margin-bottom: $grid-gutter-width;
    padding: $grid-gutter-width / 2;
    background-color: white;
    h2 {
        margin-bottom: $grid-gutter-width / 2;
        font-size: 1.7em;
    }
}
div.contribution {
    // #FIXME
    img {
        width: 75px;
        height: 75px;
    }
}

.content-member h2 {
    &.projects,
    &.resources,
    &.members {
        margin-bottom: $grid-gutter-width / 2;
    }
}

ul.activity {
    li {
        padding: $grid-gutter-width / 2;
        padding-left: 75px;
        border-bottom: 1px solid $color-medium-grey;
        &:last-child {
            border-bottom: none;
        }
        &.activity-pink,
        &.activity-green,
        &.activity-blue {
            background-repeat: no-repeat;
            background-position: 2% 50%;
        }
        &.activity-pink {
            background-image: url('../img/icons/community-small.png')
        }
        &.activity-green {
            background-image: url('../img/icons/resource-small.png')
        }
        &.activity-blue {
            background-image: url('../img/icons/project-small.png')
        }
        a {
            color: $color-grey;
            font-weight: bold;
            &:hover {
                color: $color-pink;
            }
        }
    }
    span {
        display: block;
        font-size: 0.9em;
        color: $color-grey;
    }
}
