#sidenav {
	position: fixed;
	z-index: 9999;
	top: 30%;
	left: 0;
	font-size: 0.8em;
	
	a {
		display: block;
		padding: 1em 1em;
		color: $color-nav-a;
		background-color: $color-nav-a-bg;
		text-align: center;
		text-transform: uppercase;
		span {
			display: block;
			font-size: 1.5em;
		}
		&.selected {
			background-color: $color-nav-a-bg-selected;
		}
		&:hover {
			background-color: $color-nav-a-bg-hover;
			text-decoration: none;
		}
	}
	&.project {
		a.selected, a:hover {
			background-color: $color-nav-project-a-bg-selected;
		}
	}
	&.resource {
		a.selected, a:hover {
			background-color: $color-nav-resource-a-bg-selected;
		}
	}
}

