#sidebar {
	font-size: 0.9em;

	section {
		margin-bottom: $grid-gutter-width;
		h3 {
			padding: $grid-gutter-width;
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	section.community {

		position: relative;
		padding-bottom: 2em;
		color: $color-sidebar-community;

		&.community-project {
			background: $color-project url('../img/bg/shape-right-bg.png') 175px -110px no-repeat;
		}
		&.community-resource {
			background: $color-resource url('../img/bg/shape-right-bg.png') 175px -110px no-repeat;
		}

		ul.submenu, ul.nav-tabs {
			clear: both;
			padding: 2em 0;
			border-bottom: none;
			li {
				display: inline-block;
				border-right: 1px solid $color-sidebar-submenu-border;
				background-color: transparent;
				&:last-child {
					border: none;
				}
				&> a {
					display: inline-block;
					margin: 0;
					padding: 1em 0.75em;
					font-size: 0.8em;
					color: $color-sidebar-submenu;
					text-transform: uppercase;
					line-height: 1.2em;
					border: none;
					@include border-radius(0);
					span {
						display: block;
					}
					&.selected {
						background-color: $color-sidebar-submenu-bg;
					}
					&:hover {
						background-color: $color-sidebar-submenu-bg;
						text-decoration: none;
					}

				}

			}
			li.active a {
					background-color: $color-sidebar-submenu-bg;
			}
		}
		div.add-member {
			padding: $grid-gutter-width / 2;
			input, button.btn {
				width : 100%;
				margin-bottom: 0.5em;
			}
			input {
				margin: 0.5em 0;
				padding: 0.5em;
				color : $color-text;
			}
		}
		div.member {
			position: relative;
			margin: 0 5em;
			padding: 0.5em 0;
			border-bottom: 1px solid $color-sidebar-community-member-border;
			&:last-child {
				border: none;
			}
			img {
				display: inline-block;
			}
			p {
				display: inline-block;
				margin-top: 0.75em;
				margin-left: 1em;
				line-height: 1.25em;
				vertical-align: top;
				font-weight: bold;
			}
			em {
				display: block;
				font-style: normal;
				font-weight: normal;
				font-size: 0.8em;
			}
		}

	}

	section.solo {
		color: white;
		background-color: $color-purple;
		h3 {
			padding: 5em 0;
			font-size: 1.6em;
			font-weight: normal;
			text-align: center;
			text-transform: uppercase;
		}
	}

	section.comments {

		position: relative;
		color: $color-sidebar-comments;
		background-color: $color-sidebar-comments-bg;

		div.comment {
			position: relative;
			margin-bottom: 1.5em;
			padding: 2em;
			border-top: 1px solid $color-sidebar-comments-border;
			span.date {
				position: absolute;
				top: 1em;
				right: 4em;
				color: $color-grey;
			}
			div.author {
				margin-bottom: 0.5em;
				font-weight: bold;
				img {
					display: inline-block;
				}
				p {
					display: inline-block;
					margin-top: 0.75em;
					margin-left: 1em;
					line-height: 1.25em;
					vertical-align: top;
				}
				em {
					display: block;
					font-style: normal;
					font-weight: normal;
					font-size: 0.8em;
				}
			}
			> p {
				text-align: justify;
				font-size: 1.1em;
			}
		}
		/* Top paragraph under the heading */
		h3 + p {
			margin: 0 $grid-gutter-width $grid-gutter-width / 2;
			padding-bottom: $grid-gutter-width;
			font-family: "LatoLight";
			font-size: 1.25em;
			line-height: 1.75em;
			text-transform: uppercase;
		}
		/* Voir plus link at the bottom */
		> p:last-child {
			padding: 1em 0 2em;
			text-align: center;
			a {
				font-weight: bold;
				color: $color-sidebar-comments;
				text-decoration: underline;
			}
		}

		&.comments-add {
			.comment {
				border-bottom: none;
			}
			fieldset {
				padding: 0 2em;
			}
			textarea {
				width: 100%;
				height: 15em;
				padding: 1em;
			}
			button {
				margin: $grid-gutter-width / 2 0 $grid-gutter-width;
				width: 100%;
				padding: 0.5em;
				font-size: 1.25em;
				font-weight: bold;
				text-transform: uppercase;
				@include border-radius(1px);
			}
		}

	}

	section.button {
		a {
			display: block;
			padding: $grid-gutter-width * 2 $grid-gutter-width;
			font-family: "LatoLight";
			font-size: 2.25em;
			line-height: 1.7em;
			color: #fff;
			background-color: $color-red;
			text-align: center;
			text-transform: uppercase;
			&:hover {
				background-color: $color-blue;
			}
		}
	}

	section.popularity {

		position: relative;
		padding-bottom: 2em;
		color: $color-sidebar-popularity;

		&.popularity-project {
			background: $color-blue url('../img/bg/sidebar-blue-bg.png') 175px -110px no-repeat;
		}
		&.popularity-resource {
			background: $color-green url('../img/bg/sidebar-green-bg.png') top left no-repeat;
		}

		table {
			margin: 2em 2em;
			width: 85%;
			td {
				line-height: 2em;
				text-transform: uppercase;
				small {
					font-size: 0.65em;
				}
			}
			td.percent {
				width: 50%;
			}
			td.percent span {
				display: block;
				height: 1.25em;
				margin-right: 1em;
				background-color: $color-sidebar-popularity-percent;
				@include border-radius(2px);
				span {
					background-color: $color-sidebar-popularity-percent-bg;
				}
			}
		}

		/* Rating widget */
		label {
			display: inline-block;
			width: 40%;
			margin: 0 0 1em 2em;
			text-transform: uppercase;
		}
		span i {
			font-size: 2em;
			vertical-align: middle;
		}
		button.solo {
			padding: 0.25em 1.25em;
			font-size: 1em;
			font-weight: bold;
		}

	}

}

.sidebar-filters {
	margin: $grid-gutter-width 0;
	h4 {
		margin-bottom: 0.5em;
	}
	.input-group {
		margin-bottom: 1em;
	}
	.panel-body {
		padding: 0;
		ul a {
			display: block;
			padding: 0.5em 1em;
			&:hover {
				color:#fff;
				text-decoration: none;
			}
		}
	}

	&.sidebar-profiles {
		.panel-body ul a:hover {
				background-color: $color-profile;
		}
	}

	&.sidebar-projects {
		.panel-body ul a:hover {
				background-color: $color-project;
		}
	}

}
