#sidebar {
	font-size: 0.9em;

	section {
		margin-bottom: 2em;
		h3 {
			padding: 2em;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
	
	section.community {

		position: relative;
		padding-bottom: 2em;
		color: $color-sidebar-community;
		
		&.community-project {
			background: $color-project url('../img/bg/shape-right-bg.png') 175px -110px no-repeat;
		}
		&.community-resource {
			background: $color-resource url('../img/bg/shape-right-bg..png') 175px -110px no-repeat;
		}

		ul.submenu, ul.nav-tabs {
			clear: both;
			padding: 2em 0;
			border-bottom: none;
			li {
				display: inline-block;
				border-right: 1px solid $color-sidebar-submenu-border;
				background-color: transparent;
				&:last-child {
					border: none;
				}
				&> a {
					display: inline-block;
					margin: 0;
					padding: 1em 0.75em;
					font-size: 0.8em;
					color: $color-sidebar-submenu;
					text-transform: uppercase;
					line-height: 1.2em;
					border: none;
					@include border-radius(0);
					span {
						display: block;
					}
					&.selected {
						background-color: $color-sidebar-submenu-bg;
					}
					&:hover {
						background-color: $color-sidebar-submenu-bg;
						text-decoration: none;
					}
			
				}

			}
			li.active a {
					background-color: $color-sidebar-submenu-bg;
			}
		}
		div.member {
			position: relative;
			margin: 0 5em;
			padding: 0.5em 0;
			border-bottom: 1px solid $color-sidebar-community-member-border;
			&:last-child {
				border: none;
			}
			img {
				display: inline-block;
			}
			p {
				display: inline-block;
				margin-top: 0.75em;
				margin-left: 1em;
				line-height: 1.25em;
				vertical-align: top;
				font-weight: bold;
			}
			em {
				display: block;
				font-style: normal;
				font-weight: normal;
				font-size: 0.8em;
			}
		}
		
	}
	
	section.solo {
		color: white;
		background-color: $color-purple;
		h3 {
			padding: 5em 0;
			font-size: 1.6em;
			font-weight: normal;
			text-align: center;
			text-transform: uppercase;
		}
	}
	
	section.comments {
	
		color: $color-sidebar-comments;
		background-color: $color-sidebar-comments-bg;
		
		div.comment {
			position: relative;
			margin-bottom: 1.5em;
			padding: 1em 2em;
			border-bottom: 1px solid $color-sidebar-comments-border;
			&:last-child {
				border: none;
			}
			span.date {
				position: absolute;
				top: 0;
				right: 2em;
			}
			div.author {
				font-weight: bold;
				img {
					display: inline-block;
				}
				p {
					display: inline-block;
					margin-top: 0.75em;
					margin-left: 1em;
					line-height: 1.25em;
					vertical-align: top;
				}
				em {
					display: block;
					font-style: normal;
					font-weight: normal;
					font-size: 0.8em;
				}
			}
			> p {
				text-align: justify;
			}
		}
		> p {
			padding: 1em 0 2em;
			text-align: center;
			a {
				font-weight: bold;
				color: $color-sidebar-comments;
				text-decoration: underline;
			}
		}
	}
	
	section.popularity {

		position: relative;
		padding-bottom: 2em;
		color: $color-sidebar-popularity;
		
		&.popularity-project {
			background: $color-blue url('../img/bg/sidebar-blue-bg.png') 175px -110px no-repeat;
		}
		&.popularity-resource {
			background: $color-green url('../img/bg/sidebar-green-bg.png') top left no-repeat;
		}

		table {
			margin: 2em 2em;
			width: 85%;
			td {
				line-height: 2em;
				text-transform: uppercase;
				small {
					font-size: 0.65em;
				}
			}
			td.percent {
				width: 50%;
			}
			td.percent span {
				display: block;
				height: 1.25em;
				margin-right: 1em;
				background-color: $color-sidebar-popularity-percent;
				@include border-radius(2px);
				span {
					background-color: $color-sidebar-popularity-percent-bg;
				}
			}
		}
		
		/* Rating widget */
		label {
			display: inline-block;
			width: 40%;
			margin: 0 0 1em 2em;
			text-transform: uppercase;
		}
		span i {
			font-size: 2em;
			vertical-align: middle;
		}
		button.solo {
			padding: 0.25em 1.25em;
			font-size: 1em;
			font-weight: bold;
		}
			
	}
	
}
