.tags.tags-listing {
    margin: $grid-gutter-width 0;
    li {
        display: inline-block;
        width: 15%;
        margin-right: 0;
        span.weight {
            padding-left: 0.5em;
        }
    }
}
