/*
	Stylesheet used for the administration of MakerScience
*/

@import "colors";
@import "compass/css3/border-radius";

div.admin {

	div.edit-buttons {
		position: absolute;
		top: 0;
		right: 0;
		button {
			float: right;
			margin-left: 0.5em;
			padding: 0.5em 0.7em;
			font-size: 1.5em;
			color: #fff;
			background-color: $color-dark-grey;
			border: none;
			&.add-tag {
				background-color: $color-blue;
			}
			&:hover {
				background-color: $color-red;
			}
		}
	}
	
	#intro.intro-project h3 span {
		background-color: $color-dark-grey;
	}

	#content {
	
		&.new-project {
		
			margin-top: 2em;
			margin-bottom: 10em;
			padding: 1.5em;
			background: $color-content-edit-bg url('../img/bg/edit-bg.jpg') 50% 170% no-repeat;
			h2, h3 {
				color: $color-content-edit;
				font-size: 1.5em;
				text-transform: uppercase;
			}
			h2 {
				margin: 1em 0 3em;
				font-weight: bold;
			}
			h3 {
				margin: 1em 0;
			}
	
		}
		
		form {
			button.dark {
				margin-left: 0.25em;
				padding: 0.25em 1em;
				color: #fff;
				background-color: $color-dark-grey;
				border: 2px solid $color-dark-grey;
				&.cancel {
					color: $color-dark-grey;
					background-color: #fff;
				}
				&:hover {
					color: #fff;
					background-color: $color-red;
					border-color: $color-red;
				}
			}
		}
		.tab-content p.right {
			margin-top: -0.5em;
			margin-bottom: 1.5em;
		}

		section {
			padding: 0;
			h3 {
				margin: 0;
				padding: 1em 1em 0.5em 1em;
			}
			p {
				padding: 0 1em 1em 1em;
			}
			textarea {
				display: block;
				width: 100%;
				padding: 0.75em;
				background-color: transparent;
				border: 2px solid $color-dark-grey;
			}
		}
		.bloc-links {
			height: auto;
			margin-bottom: 0.25em;
			input {
				margin: 0;
				padding: 0 1em;
				background-color: transparent;
			}
			fieldset {
				margin-bottom: 1px;
				input:first-child {
					font-weight: bold;
				}
			}
		}
		
	}

	.intro {
		ul.tags {
			margin-top: 2.5em; /* make space for the edit buttons at the top */
			&.tags-edit {
				margin: 0.75em;
				margin-bottom: 4em;
				button {
					font-size: 0.8em;
					background-color: $color-purple;
					border: none;
					span {
						font-size: 0.85em;
					}
					&:hover {
						background-color: $color-red !important;
					}
				}
			}
		}
	}

	#sidebar {

		div.member {
			button.remove {
				position: absolute;
				top: 0;
				left: -10px;
				width: 25px;
				height: 25px;
				font-size: 0.85em;
				color: #fff;
				background-color: $color-dark-grey;
				border: 0;
				@include border-radius(12px);
				&:hover {
					background-color: $color-red;
				}
			}
		}

		div.comment {
			position: relative;
			ul.nav {
				position: absolute;
				top: 0.5em;
				right: 0;
				/* Open dropdown menu on the left, instead of right */
				ul.dropdown-menu {
					left: auto;
					right: 0;
				}
				a[role="button"] {
					color: $color-dark-grey;
					background-color: $color-admin-dropdown-bg;
					@include border-radius(0);
				}
			}
			div.author p {
				margin-top: 0.25em;
			}
		}

	}

}


