@import "bootstrap";
@import "colors";

body {
	padding: 2em;
	color: $color-dark-grey;
	background-color: #fff;
	font: 1.4em/1.7em "Fira Sans Book", sans-serif;
}
h1, h2 {
	font-family: serif;
}
h1 {
	color: $color-purple;
}
h2 {
	margin: 1em 0;
	color: #444;
}
h1 + h2 {
	margin-top: 0;
}
a:link, a:visited {
	color: $color-blue;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
ul span {
	font-size: 0.9em;
	color: $color-blue;
}
ul.colors {
	margin: 0;
	padding: 0;
	li {
		display: block;
		margin: 0 0 1em;
		padding: 2em;
		color: #fff;
		white-space: pre-line;
		text-align: center;
		&.orange {
			background-color: $color-orange;
			&:after {
				content: "$color-orange\a#{$color-orange}";
			}
		}
		&.blue {
			background-color: $color-blue;
			&:after {
				content: "$color-blue\a#{$color-blue}";
			}
		}
		&.dark-grey {
			background-color: $color-dark-grey;
			&:after {
				content: "$color-dark-grey\a#{$color-dark-grey}";
			}
		}
		&.light-grey {
			color: $color-dark-grey;
			background-color: $color-light-grey;
			&:after {
				content: "$color-light-grey\a#{$color-light-grey}";
			}
		}
		&.purple {
			background-color: $color-purple;
			&:after {
				content: "$color-purple\a#{$color-purple}";
			}
		}
		&.green {
			background-color: $color-green;
			&:after {
				content: "$color-green\a#{$color-green}";
			}
		}
	}
}
em {
	color: #666;
	background-color: yellow;
}

footer {
	margin: 2em 0;
	padding: 1em 0;
	border-top: 1px solid #ccc;
	color: #777;
}

