<ul class="gallery-links">
  <li ng-repeat="media in medias">
    <button ng-show="edit" type="button" class="remove-button" ng-click="remove()(media)">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <a class="filename" ng-href="{{media.url ? media.url : config.media_uri + media.file}}" target="_blank">
      <span class="icon" ng-switch on="media.type">
        <i class="glyphicon glyphicon-file" ng-switch-when="document"></i>
        <i class="glyphicon glyphicon-link" ng-switch-when="link"></i>
      </span>
      <span class="title">{{media.title}}</span>
      <span ng-if="media.description" class="description">{{media.description}}</span>
      <span ng-if="media.url" class="url">{{media.url}}</span>
      <span ng-if="media.author" class="author">{{media.author}}</span>
    </a>
  </li>
</ul>
