<ng-form
  novalidate
  name="mediaForm"
  ng-init="submitted=false"
  class="gallery-form"
  ng-class="{ 'has-error' : mediaForm.$invalid || mediaForm.$pristine && submitted }"
  check-form>
    <label>Sélectionner le type de ressource à ajouter <span class="required">*</span></label>
    <tabset>
        <tab select="changeTab('document')">
            <tab-heading>
                <span class="glyphicon glyphicon-file"></span>
                Document
            </tab-heading>
            <div class="row">
                <div class="col-md-4">
                    <inputfile id="file-document" fileread="newMedia.file" label="newMedia.file.name || 'Parcourir...'" set-title="setTitle(newMedia.file.name)"></inputfile>
                </div>
                <div class="col-md-8 file-errors">
                    <p ng-show="mediaForm.$pristine && submitted" class="help-block">Veuillez sélectionner un fichier</p>
                    <p ng-show="mediaForm.$error.documentFileFormat" class="help-block">Format non valide, vérifiez le format du document ou changer de type de média</p>
                </div>
            </div>
            <label for="title-document">Titre <span class="required">*</span></label>
            <input id="title-document" name="mediaTitle" type="text" ng-model="newMedia.title" maxlength="50" ng-required="newMedia.type === 'document'" />
            <p ng-show="mediaForm.mediaTitle.$pristine && submitted && newMedia.type === 'document'" class="help-block">Titre requis</p>

            <label for="description-document">Description</label>
            <textarea
                ng-trim="false"
                name="description-document"
                id="description-document"
                ng-model="newMedia.description"
                e-rows="4">
            </textarea>

            <div class="radio-block">
                <p>Auteur de la ressource {{newMedia.is_author}}<span class="required">*</span></p>
                <div class="row">
                  <div class="col-md-4">
                    <label>
                        <input type="radio" ng-model="newMedia.is_author" ng-value=true ng-change="newMedia.is_author ? newMedia.author = user : newMedia.author = ''" />
                        Vous faite partie des auteurs
                    </label>
                  </div>
                  <div class="col-md-6">
                    <label>
                        <input type="radio" ng-model="newMedia.is_author" ng-value=false ng-change="newMedia.is_author ? newMedia.author = user : newMedia.author = ''" />
                        Vous n'êtes pas auteur et vous recommandez la ressource
                    </label>
                  </div>
                </div>
            </div>

            <label for="author-document">Nom de l'auteur<span class="required">*</span></label>
            <input id="author-document" type="text" ng-model="newMedia.author" ng-disabled="newMedia.is_author" />

            <div ng-hide="newMedia.is_author">
                <label for="review-document">Avis sur la ressource</label>
                <textarea
                  ng-trim="false"
                  name="review-document"
                  id="review-document"
                  ng-model="newMedia.review"
                  e-rows="4">
                </textarea>
            </div>

        </tab>
        <tab select="changeTab('link')">
            <tab-heading>
                <span class="glyphicon glyphicon-link"></span>
                Site web
            </tab-heading>
            <label for="media-url">Ajouter un lien</label>
            <input name="mediaUrl" id="media-url" type="text" ng-model="newMedia.url" placeholder="http://" ng-change="setUrl()" />
            <p ng-show="mediaForm.$pristine && submitted" class="help-block">Veuillez insérer un lien</p>
            <p ng-show="mediaForm.mediaUrl.$error.format" class="help-block">Url non valide, vérifier l'adresse du lien</p>

            <label for="title-document">Titre <span class="required">*</span></label>
            <input id="title-document" name="mediaTitle" type="text" ng-model="newMedia.title" maxlength="50" ng-required="newMedia.type === 'link'" />
            <p ng-show="mediaForm.mediaTitle.$pristine && submitted && newMedia.type === 'link'" class="help-block">Titre requis</p>

            <label for="description-document">Description</label>
            <textarea
                ng-trim="false"
                name="description-document"
                id="description-document"
                ng-model="newMedia.description"
                e-rows="4">
            </textarea>

            <div class="radio-block">
                <p>Auteur de la ressource <span class="required">*</span></p>
                <div class="row">
                  <div class="col-md-4">
                    <label>
                        <input type="radio" ng-model="newMedia.is_author" ng-value="true" ng-change="setUrl()" />
                        Vous faite partie des auteurs
                    </label>
                  </div>
                  <div class="col-md-6">
                    <label>
                        <input type="radio" ng-model="newMedia.is_author" ng-value="false" ng-change="setUrl()" />
                        Vous n'êtes pas auteur et vous recommandez la ressource
                    </label>
                  </div>
                </div>
            </div>

            <label for="author-document">Nom de l'auteur <span class="required">*</span></label>
            <input id="author-document" type="text" ng-model="newMedia.author" disabled />

            <div ng-hide="newMedia.is_author">
                <label for="review-document">Avis sur la ressource</label>
                <textarea
                  ng-trim="false"
                  name="review-document"
                  id="review-document"
                  ng-model="newMedia.review"
                  e-rows="4">
                </textarea>
            </div>
        </tab>
        <tab select="changeTab('experience')">
            <tab-heading>
                <span class="glyphicon glyphicon-list-alt"></span>
                Expérience
            </tab-heading>
            <label for="title-experience">Titre <span class="required">*</span></label>
            <input id="title-experience" name="mediaTitle" type="text" ng-model="newMedia.title" maxlength="50" />
            <p ng-show="mediaForm.mediaTitle.$pristine && submitted" class="help-block">Titre requis</p>

            <label for="date-experience">Date de l'expérience <span class="required">*</span></label>
            <input id="date-experience" name="mediaDate" type="date" ng-model="newMedia.experience.date" placeholder="http://" ng-required="newMedia.type === 'experience'" />
            <p ng-show="mediaForm.mediaDate.$invalid && submitted" class="help-block">Date de l'expérience requise</p>

            <label for="presentation-experience">Présentation de l'expérience <span class="required">*</span></label>
            <textarea
              ng-trim="false"
              name="presentation_experience"
              id="presentation-experience"
              ng-model="newMedia.experience.presentation"
              e-rows="5"
              ng-required="newMedia.type === 'experience'">
            </textarea>
            <p ng-show="mediaForm.presentation_experience.$invalid && submitted" class="help-block">Ce champs est requis</p>

            <label for="success-experience">Les points qui ont fait le succès de l'expérience <span class="required">*</span></label>
            <textarea
              ng-trim="false"
              name="success_experience"
              id="success-experience"
              ng-model="newMedia.experience.success"
              e-rows="5"
              ng-required="newMedia.type === 'experience'">
            </textarea>
            <p ng-show="mediaForm.success_experience.$invalid && submitted" class="help-block">Ce champs est requis</p>

            <label for="difficulties-experience">Les difficultés rencontrées ou points à améliorer <span class="required">*</span></label>
            <textarea
              ng-trim="false"
              name="difficulties_experience"
              id="difficulties-experience"
              ng-model="newMedia.experience.difficulties"
              e-rows="5"
              ng-required="newMedia.type === 'experience'">
            </textarea>
            <p ng-show="mediaForm.difficulties_experience.$invalid && submitted" class="help-block">Ce champs est requis</p>
        </tab>
    </tabset>

    <div class="row">
        <div class="pull-right col-md-2" ng-hide="hideControls">
            <button type="button" class="btn btn-primary item-validate" ng-click="submitted=true;addMedia(newMedia)">Valider</button>
        </div>
    </div>
</ng-form>
<hr>

<div class="resource-form">
    <h5 ng-show="filteredByAuthor.length">Ressources dont je suis l'auteur ({{filteredByAuthor.length}})</h5>
    <gallery-list uri="config.media_uri" medias="filteredByAuthor" edit="true" remove="remove"></gallery-list>

    <h5 ng-show="filteredByNotAuthor.length">Ressources récupérées que je souhaite partager ({{filteredByNotAuthor.length}})</h5>
    <gallery-list uri="config.media_uri" medias="filteredByNotAuthor" edit="true" remove="remove"></gallery-list>

    <h5 ng-show="filteredByExperience.length">Mes expériences  ({{filteredByExperience.length}})</h5>
    <gallery-experiences-list medias="filteredByExperience" edit="true" remove="remove"></gallery-experiences-list>
</div>
