<ul class="experiences">
    <li ng-repeat="media in medias">
        <div class="row">
            <div class="col-md-9">
                <h4 class="title"><i class="glyphicon glyphicon-list-alt"></i> {{media.title}}</h4>
                <p ng-if="media.experience.date" class="date">Date : {{media.experience.date}}</p>
            </div>
            <div class="col-md-3">
                <button ng-show="edit" type="button" class="remove-button" ng-click="remove()(media)">
                    <span class="glyphicon glyphicon-remove"></span> Supprimer
                </button>
            </div>
        </div>
        <h5>Présentation de l'expérience</h5>
        <p ng-if="media.experience.presentation" class="presentation">{{media.experience.presentation}}</p>
        <h5>Les points qui ont fait le succès de l'expérience</h5>
        <p ng-if="media.experience.success" class="success">{{media.experience.success}}</p>
        <h5>Les difficultés rencontrées ou points à améliorer</h5>
        <p ng-if="media.experience.difficulties" class="difficulties">{{media.experience.difficulties}}</p>
    </li>
</ul>
