<div class="modal-header">
    <h3 class="modal-title">Galerie</h3>
</div>
<div class="modal-body modal-gallery">
    <gallery-project></gallery-project>
    <div class="progress" ng-show="hideControls">
      <div class="progress-bar" role="progressbar" style="width: 0%;"></div>
    </div>
</div>


<div class="modal-footer" ng-hide="hideControls">
    <button class="btn btn-warning btn-lg" ng-click="cancel()">Annuler</button>
    <button class="btn btn-primary btn-lg" ng-click="hideControls=true;ok()">Enregistrer</button>
</div>
