<ng-form
  novalidate
  name="mediaForm"
  ng-init="submitted=false"
  class="gallery-form"
  ng-class="{ 'has-error' : mediaForm.$invalid || mediaForm.$pristine && submitted }"
  check-form>
    <label>Sélectionner le type de média à ajouter</label>
    <tabset>
        <tab select="changeTab('image')">
            <tab-heading>
                <span class="glyphicon glyphicon-picture"></span>
                Image
            </tab-heading>
            <div class="row">
                <div class="col-md-4">
                    <inputfile id="file-image" fileread="newMedia.file" label="newMedia.file.name || 'Parcourir...'" set-title="setTitle(newMedia.file.name)"></inputfile>
                    <span class="parcourir">ou</span>
                    <p ng-show="mediaForm.$error.imageFileFormat" class="help-block">Format non valide, vérifiez le format de l'image ou changer de type de média</p>
                </div>
                <div class="col-md-8">
                    <label for="media-image">Ajouter un lien vers une image (.png, .jpg, .gif)</label>
                    <input name="imageUrl" id="media-image" type="text" ng-model="newMedia.url" placeholder="http://" />
                    <p ng-show="mediaForm.imageFile.$error.format" class="help-block">Format non valide, vérifier le format de l'image ou changer de type de média</p>
                </div>
            </div>
        </tab>
        <tab select="changeTab('document')">
            <tab-heading>
                <span class="glyphicon glyphicon-file"></span>
                Document
            </tab-heading>
            <div class="row">
              <div class="col-md-4">
                  <inputfile id="file-document" fileread="newMedia.file" label="newMedia.file.name || 'Parcourir...'" set-title="setTitle(newMedia.file.name)"></inputfile>
                  <span class="parcourir">ou</span>
                  <p ng-show="mediaForm.$error.documentFileFormat" class="help-block">Format non valide, vérifiez le format du document ou changer de type de média</p>
              </div>
                <div class="col-md-8">
                    <label for="media-doc">Ajouter un lien vers un document (.doc, .pdf, odt, xls,...)</label>
                    <input name="documentUrl" id="media-doc" type="text" ng-model="newMedia.url" placeholder="http://" />
                    <p ng-show="mediaForm.documentUrl.$error.format" class="help-block">Format non valide, vérifier le format du document ou changer de type de média</p>
                </div>
            </div>
        </tab>
        <tab select="changeTab('video')">
            <tab-heading>
                <span class="glyphicon glyphicon-facetime-video"></span>
                Vidéo
            </tab-heading>
            <label for="media-video">Ajouter un lien vers une vidéo (lien de partage Youtube ou Dailymotion)</label>
            <input name="videoUrl" id="media-video" type="text" ng-model="newMedia.url" placeholder="http://" />
            <p ng-show="mediaForm.videoUrl.$error.format" class="help-block">Format non valide, vérifier qu'il s'agit bien d'un lien youtube ou dailymotion ou changer de type de média</p>
        </tab>
        <tab select="changeTab('link')">
            <tab-heading>
                <span class="glyphicon glyphicon-link"></span>
                Site web
            </tab-heading>
            <label for="media-url">Ajouter un lien</label>
            <input name="mediaUrl" id="media-url" type="text" ng-model="newMedia.url" placeholder="http://" />
            <p ng-show="mediaForm.mediaUrl.$error.format" class="help-block">Url non valide, vérifier l'adresse du lien</p>
        </tab>
    </tabset>

    <p ng-show="mediaForm.$pristine && submitted" class="help-block">Veuillez sélectionner un fichier ou insérer un lien</p>

    <div class="row">
        <div class="col-md-10">
            <label for="media-title">Titre  <span class="required">*</span></label>
            <input type="text" name="mediaTitle" id="media-title" ng-model="newMedia.title" ng-required="newMedia.link || newMedia.file" maxlength="50" required />
            <p ng-show="mediaForm.mediaTitle.$invalid && submitted" class="help-block">Titre requis</p>
        </div>

        <div class="col-md-2" ng-hide="hideControls">
            <button type="button" class="btn btn-primary item-validate" ng-click="submitted=true;addMedia(newMedia)">Valider</button>
        </div>
    </div>
</ng-form>
<hr>

<gallery-list medias="mediasToShow" edit="true" remove="remove" cover="toggleCoverCandidate" cover-id="coverId"></gallery-list>
