<div class="admin">

    <div id="intro" class="intro-project-create">
        <h1>Créez une page</h1>
        <h2>pour votre projet</h2>
    </div><!-- #intro -->

    <div class="row container">

        <div class="col-md-12">

            <div id="content" class="new-project">

                <h2>Créer un projet</h2>
                <div class="introduction">
                  <p>Ce formulaire vous permet de décrire en détails votre projet. Plus vous détaillerez, plus vous donnerez envie aux membres de s'investir dans votre projet et le relayer.</p>
                  <p>Pour toute question <a href="">contacter l'équipe de Makerscience</a></p>
                </div>

                <form name="newProjectForm"
                      novalidate
                      ng-init="submitted=false"
                      ng-submit="saveMakerscienceProject(newProjectForm.$valid)"
                      ng-class="{ 'has-error' : newProjectForm.$invalid && submitted }">
                    <div class="row">
                        <div class="col-md-12">

                            <accordion close-others="false">
                                <accordion-group is-open="true" is-disabled="true">
                                    <accordion-heading>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <span class="title">Caractéristiques du projet</span>
                                            </div>
                                            <div class="col-md-4 right">
                                                <button class="btn btn-primary">
                                                  <span class="glyphicon glyphicon-cloud-download"></span>
                                                  Ajouter des infos depuis un lien
                                                </button>
                                            </div>
                                        </div>
                                    </accordion-heading>
                                    <fieldset>
                                        <label>Titre du projet <span class="required">*</span></label>
                                        <input type="text"
                                            name="projectName"
                                            ng-model="projectsheet.project.title"
                                            maxlength="50"
                                            required/>
                                        <p ng-show="newProjectForm.projectName.$invalid && submitted" class="help-block">Titre du projet requis</p>

                                        <label>Sous-titre du projet <span class="required">*</span></label>
                                        <input type="text"
                                            name="projectBaseline"
                                            ng-model="projectsheet.project.baseline"
                                            maxlength="100"
                                            required/>
                                        <p ng-show="newProjectForm.projectBaseline.$invalid && submitted" class="help-block">Sous-titre du projet requise</p>
                                        <p class="help"><span class="glyphicon glyphicon-info-sign"></span> Résumez en une courte phrase votre projet</p>

                                        <label>Présentation du projet</label>
                                        <textarea ui-tinymce="tinyMceFullOptions"
                                            ng-trim="false"
                                            name="project-about"
                                            ng-model="projectsheet.project.description"
                                            rows="4">
                                        </textarea>

                                        <label><span class="glyphicon glyphicon-time"></span> Date de fin de projet  <span class="required">*</span></label>
                                        <input type="date" ng-model="projectsheet.project.end_date" />

                                        <label>Localisation <span class="required">*</span></label>
                                        <input type="text"
                                               name="localisation"
                                               ng-model="projectsheet.project.location.address.address_locality"
                                               required/>
                                        <p ng-show="newProjectForm.localisation.$invalid && submitted" class="help-block">Localisation requise</p>

                                        <label>Thématiques <span class="required">*</span></label>
                                        <tags-input ng-model="themesTags" placeholder="Mot-clé">
                                            <auto-complete source="loadTags($query)" template="views/base/tag_autocomplete.html"></auto-complete>
                                        </tags-input>
                                        <p ng-show="newProjectForm.thematiques.$invalid && submitted" class="help-block">Thematiques requise</p>

                                        <label>Publics visés <span class="required">*</span></label>
                                        <tags-input ng-model="targetsTags" placeholder="Mot-clé">
                                            <auto-complete source="loadTags($query)" template="views/base/tag_autocomplete.html"></auto-complete>
                                        </tags-input>
                                        <p ng-show="newProjectForm.target.$invalid && submitted" class="help-block">Publics visés requis</p>

                                        <label>Formats <span class="required">*</span></label>
                                        <tags-input ng-model="formatsTags" placeholder="Mot-clé">
                                        <auto-complete source="loadTags($query)" template="views/base/tag_autocomplete.html"></auto-complete>
                                        </tags-input>
                                        <p ng-show="newProjectForm.formats.$invalid && submitted" class="help-block">Formats requis</p>
                                   </fieldset>
                                </accordion-group>

                                <accordion-group is-open="status1.open">
                                    <accordion-heading>
                                        <div class="row">
                                            <div class="col-md-9">
                                                <span class="title">Médias</span>
                                            </div>
                                            <div class="col-md-3 right">
                                                <button class="btn btn-primary toggle-button" ng-class="{'disabled': status1.open}"><span class="glyphicon glyphicon-plus"></span> Ajouter un média</button>
                                            </div>
                                        </div>
                                    </accordion-heading>
                                    <fieldset class="addPhotosVideos">
                                        <h5>Nouveau média</h5>
                                        <gallery-form
                                            cancel-action="status1.open = !status1.open"
                                            uploader="uploader"
                                            projectsheet="projectsheet"
                                            cover-index="coverIndex"></gallery-form>

                                        <ul class="thumbnails">
                                            <li ng-repeat="file in projectsheet.bucket.files" style="float: left;text-align: center;">
                                                <img ng-src="{{config.media_uri}}{{file.thumbnail_url}}?height=100" height="100px"/>
                                                <div></div>
                                                <button type="button" class="btn btn-xs" ng-click="toggleCover(file)">
                                                    <span ng-hide="isCover(file)" class="glyphicon glyphicon-star"></span>
                                                    <span ng-show="isCover(file)" class="glyphicon glyphicon-star" style="color:orange"></span>
                                                    Couverture
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xs" ng-click="removePicture(file)">
                                                    <span class="glyphicon glyphicon-trash"></span> Supprimer
                                                </button>
                                            </li>
                                            <li ng-repeat="file in uploader.queue" style="float: left;text-align: center;">
                                                <div ng-show="uploader.isHTML5" ng-thumb="{ file: file._file, height: 100 }"></div>
                                                <div></div>
                                                <button type="button" class="btn btn-xs" ng-click="toggleCoverCandidate(file)">
                                                    <span ng-hide="isCoverCandidate(file)" class="glyphicon glyphicon-star"></span>
                                                    <span ng-show="isCoverCandidate(file)" class="glyphicon glyphicon-star" style="color:orange"></span>
                                                    Couverture
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xs" ng-click="file.remove()">
                                                    <span class="glyphicon glyphicon-trash"></span> Supprimer
                                                </button>
                                            </li>
                                        </ul>
                                    </fieldset>
                                </accordion-group>

                                <accordion-group is-open="status2.open">
                                    <accordion-heading>
                                        <p>Contacts <i class="pull-right glyphicon glyphicon-chevron-down" ng-class="{'right': !status2.open}"></i></p>
                                    </accordion-heading>
                                    <fieldset class="fake-placeholder">
                                      <label><span class="glyphicon glyphicon-globe"></span> Site web</label>
                                      <input type="text" ng-model="projectsheet.project.website" />

                                        <label>Pour en savoir plus</label>
                                        <textarea ui-tinymce="tinyMceFullOptions"
                                          ng-trim="false"
                                          name="question_{{$index}}"
                                          ng-model="item.answer"
                                          e-rows="4">
                                        </textarea>
                                    </fieldset>
                                </accordion-group>

                                <accordion-group is-open="status3.open">
                                    <accordion-heading>
                                      <div class="row">
                                          <div class="col-md-9">
                                              <span class="title">Besoins</span>
                                              <p class="small subtitle">Créez une discussion précisant vos besoins (idées, matériel, financement, testeurs, relais…). Elle sera affichée sur votre projet et sur le forum de discussions.</p>
                                          </div>
                                          <div class="col-md-3 right">
                                              <button class="btn btn-primary toggle-button" ng-class="{'disabled': status3.open}"><span class="glyphicon glyphicon-plus"></span> Ajouter un besoin</button>
                                          </div>
                                      </div>
                                    </accordion-heading>
                                    <fieldset class="needs needs-select">
                                        <h5>Créer une discussion pour votre besoin</h5>

                                        <label for="new-need">Titre du besoin <span class="required">*</span></label>
                                        <input type="text" id="new-need" ng-model="newNeed.title" />
                                        <p ng-show="newNeed.title.$invalid && submitted" class="help-block">Titre du besoin requis</p>
                                        <p class="help"><span class="glyphicon glyphicon-info-sign"></span> Ce titre apparaitra comme titre de discussion sur le forum</p>

                                        <label for="">Précisions sur le besoin</label>
                                        <textarea ui-tinymce="tinyMceFullOptions"
                                          ng-trim="false"
                                          ng-model="newNeed.text"
                                          name="project-need"
                                          placeholder="Décrivez votre besoin le plus précisement possible."
                                          rows="3">
                                        </textarea>

                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="need-keywords">
                                                  <div ng-controller="TagAutoCompleteCtrl">
                                                    <label>Mots-clés</label>
                                                    <tags-input ng-model="questionTags"
                                                    placeholder="Nouveau mot-clé">
                                                    <auto-complete source="loadTags($query)" template="views/base/tag_autocomplete.html"></auto-complete>
                                                  </tags-input>
                                                </div>
                                              </div>
                                            </div>

                                            <div class="col-md-4">
                                                <p class="item-validate" ng-hide="hideControls">
                                                  <button type="button" class="btn btn-warning cancel" ng-click="status3.open = !status3.open">Annuler</button>
                                                  <button type="button" class="btn btn-primary" ng-click="addNeed(newNeed);questionTags=null">Valider</button>
                                                </p>
                                            </div>
                                        </div>

                                        <ul class="list-group">
                                            <li ng-repeat="(index, need) in needs">
                                                <div class="row">
                                                  <div class="col-md-10">
                                                    <p ng-bind-html="need.title"></p>
                                                    <!-- <p ng-bind-html="need.description"></p> -->
                                                  </div>
                                                  <div class="col-md-2">
                                                    <button type="button" class="btn btn-danger" ng-click="delNeed(index)"><span class="glyphicon glyphicon-trash"></span> Supprimer</button>
                                                  </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </fieldset>
                                </accordion-group>
                            </accordion>
                        </div>
                    </div><!-- .row -->

                    <p class="right">
                        <button type="button" class="btn btn-warning btn-lg cancel" ui-sref="project.list">Annuler</button>
                        <!-- FIXME : set up ctrler to allow 'save as draft'  -->
                        <!-- <button type="button" class="button">Enregistrer en brouillon</button>
                        <button type="button" class="button" ng-click="submitted=true">Publier</button>
                         -->
                        <button type="submit" class="btn btn-primary btn-lg" ng-click="submitted=true;hideControls=true">Enregistrer</button>
                    </p>
                </form>

            </div><!-- #content -->

        </div><!-- .row -->

    </div><!-- .row .container -->
</div>
