<section class="bloc-presentation" ng-repeat="item in projectsheet.base_projectsheet.question_answers track by $index" ng-if="$index === 0">
    <h4>{{item.question.text}}</h4>
    <div class="edit-buttons" ng-click="AnswerBtnForm.$show()" ng-hide="AnswerBtnForm.$visible || !editable" ng-show="editable">
        <button><span class="glyphicon glyphicon-pencil"></span></button>
    </div>
    <p editable-tiny-angular="item.answer"
        blur="ignore"
         e-form="AnswerBtnForm"
         e-rows="4"
         onbeforesave="updateProjectSheet('ProjectSheetQuestionAnswer', item.id , 'answer', $data)"
         ng-bind-html="trustAsHtml(item.answer)">
    </p>
    <a ng-if="projectsheet.parent.website.length" href="{{projectsheet.parent.website}}" target="_blank" class="btn btn-primary">Visitez notre site web</a>
</section>

<h3>Contacts</h3>
<section ng-repeat="item in projectsheet.base_projectsheet.question_answers track by $index" ng-if="$index !== 0">
    <h4>{{item.question.text}}</h4>
    <div class="edit-buttons" ng-click="AnswerBtnForm.$show()" ng-hide="AnswerBtnForm.$visible || !editable" ng-show="editable">
        <button><span class="glyphicon glyphicon-pencil"></span></button>
    </div>
    <p editable-tiny-angular="item.answer"
        blur="ignore"
         e-form="AnswerBtnForm"
         e-rows="4"
         onbeforesave="updateProjectSheet('ProjectSheetQuestionAnswer', item.id , 'answer', $data)"
         ng-bind-html="trustAsHtml(item.answer)">
    </p>
</section>
