    <ul id="sidenav" class="project">
        <li><a href="" class="selected"><span class="glyphicon glyphicon-pencil"></span>Editer</a></li>
        <li><a href=""><span class="glyphicon glyphicon-share-alt"></span>Partager</a></li>
        <li><a href=""><span class="glyphicon glyphicon-envelope"></span>Contact</a></li>
    </ul><!-- #nav -->

    <div id="intro" class="intro-profile">
        <div class="container">
            <div class="intro">
                <div class="row">

                    <div class="col-md-4">
                        <gravatar-image data-gravatar-email="profile.parent.user.email"
                                        data-gravatar-size="200"
                                        data-gravatar-rating="pg"
                                        data-gravatar-default="mm"
                                        data-gravatar-secure="true"
                                        data-gravatar-css-class="profile img-circle">
                        </gravatar-image>
                        <h1>{{profile.parent.user.first_name}} {{profile.parent.user.last_name}}</h1>
                        <h2>{{profile.activity}}</h2>
                    </div>

                    <div class="col-md-8">
                        <div class="sideproject">

                            <h5>Intérêts</h5>
                            <ul class="tags">
                                <li><a href="">Créativité</a></li>
                                <li><a href="">Workshop</a></li>
                                <li><a href="">Géologie</a></li>
                                <li><a href="">Hydrologie</a></li>
                                <li><a href="">Numérique</a></li>
                                <li><a href="">Réalité augmentée</a></li>
                            </ul><!-- .tag -->

                            <h5 class="bio">Présentation</h5>
                            <p>{{profile.bio}}</p>

                            <h5 class="skills">Compétences</h5>
                            <ul class="tags skills">
                                <li><a href="">Hydrologie</a></li>
                                <li><a href="">Réalité augmentée</a></li>
                                <li><a href="">Workshop</a></li>
                                <li><a href="">Créativité</a></li>
                                <li><a href="">Numérique</a></li>
                            </ul><!-- .tag -->

                            <div class="row">

                                <div class="col-md-6" >
                                    <p class="location"><img src="./img/location.png" alt="Location" /> {{profile.location.address_locality}}</p>
                                </div>

                                <div class="col-md-6">
                                    <form method="post" action="" class="share">
                                        <button class="share-facebook"></button>
                                        <button class="share-twitter"></button>
                                        <button class="share-google"></button>
                                        <button class="share-email"></button>
                                    </form>
                                    <p class="right">Mise à jour <span am-time-ago="profile.modified"></span></p>
                                </div>

                            </div><!-- .row -->
                        </div><!-- .sideproject -->
                    </div><!-- .col-md-4 -->
                </div><!-- .row -->
            </div><!-- .intro -->
        </div><!-- .container -->
    </div><!-- #intro -->

    <div class="row container">

        <div class="col-md-12">

            <div id="content" class="content-member">

                <div class="boxes boxes-small">
                    <div class="box box-solo box-blue">
                        <div><a href="">Mes projets <span class="glyphicon glyphicon-chevron-right"></span></a></div>
                    </div>
                    <div class="box" ng-repeat="project in member_projects">
                        <ng-include src="'views/catalog/block/project_thumb.html'" onload="project=project"></ng-include>
                    </div><!-- .box -->
                </div><!-- .boxes -->

                <div class="boxes boxes-small" ng-controller="MakerScienceProjectListCtrl">
                    <div class="box box-solo box-red">
                        <div><a href="">Les projets que je suis <span class="glyphicon glyphicon-chevron-right"></span></a></div>
                    </div>
                    <div class="box">
                        <!-- <ng-include src="'views/catalog/block/project_thumb.html'" ng-init="project=project"></ng-include> -->
                    </div><!-- .box -->
                </div><!-- .boxes -->

                <div class="boxes boxes-small" ng-controller="MakerScienceProjectListCtrl">
                    <div class="box box-solo box-green">
                        <div><a href="">Mes expériences <span class="glyphicon glyphicon-chevron-right"></span></a></div>
                    </div>
                    <div class="box" ng-repeat="resource in member_resources">
                        <ng-include src="'views/catalog/block/resource_thumb.html'" ng-init="resource=resource"></ng-include>
                    </div><!-- .box -->
                </div><!-- .boxes -->

                <div class="boxes boxes-small" ng-controller="MakerScienceProjectListCtrl">
                    <div class="box box-solo box-purple">
                        <div><a href="">Les expériences qui m'intéressent <span class="glyphicon glyphicon-chevron-right"></span></a></div>
                    </div>
                    <div class="box">
                        <!-- <ng-include src="'views/catalog/block/resource_thumb.html'" ng-init="resource=resource"></ng-include> -->
                    </div><!-- .box -->
                </div><!-- .boxes -->

            </div><!-- .content-member -->

        </div><!-- .col-md-12 -->

    </div><!-- .row .container -->

    <!-- <div class="row container">
        <div class="col-md-8">
            <div class="badges">
                <h3>Mes Badges</h3>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bloc bloc-solo">
            </div>
        </div>
    </div> -->
