<div id="intro" class="intro-profiles" style="background-image: url('./img/bg/header-listing-profiles.jpg')">

    <h1>Découvrez d’autres personnes investies</h1>
    <h2>- ou le souhaitant - dans la culture scientifique et technique</h2>

</div>

<div class="row container" ng-controller="MakerScienceProfileListCtrl" ng-init="init()">

    <div class="col-md-9">

        <div id="content" >

            <tabset class="nav-tabs-profile">
                <tab heading="Nouveaux membres" select="fetchRecentProfiles()"></tab>
                <tab heading="Les plus actifs" select="fetchTopProfiles()"></tab>
                <tab heading="Aléatoire" select="fetchRandomProfiles()"></tab>
            </tabset>
            <div class="boxes boxes-profiles">
                <div class="box" ng-repeat="profile in profiles">
                    <ng-include src="'/views/profile/block/profile_thumb_light.html'"></ng-include>
                </div><!-- .box -->
            </div><!-- .boxes -->
            <pagination total-items="totalItems"
                        items-per-page='limit'
                        ng-model="currentPage"
                        max-size="10"
                        class="pagination-sm pagination-profiles"
                        rotate="false"
                        num-pages="numPages"
                        ng-change="pageChanged(currentPage)"
                        previous-text="<<"
                        next-text=">>">
            </pagination>
            <a class="large large-pink" ui-sref="map">Cartographie de la communauté</a>

        </div><!-- #content -->

    </div>

    <div class="col-md-3">
        <ng-include src="'/views/profile/block/filters_profile.html'"></ng-include>
    </div>

</div><!-- .row .container -->
