<link href="js/vendor/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
<link rel="stylesheet" href="js/vendor/ng-tags-input/ng-tags-input.min.css">
<link rel="stylesheet" href="js/vendor/ng-tags-input/ng-tags-input.bootstrap.min.css">
<link rel='stylesheet' href='css/textAngular.css'>

<ul id="sidenav" class="project">
    <li><a ng-click="editable = ! editable" ng-init="editable=false" ng-class="{selected: editable}"><span class="glyphicon glyphicon-pencil"></span>Editer</a></li>
    <li><a href=""><span class="glyphicon glyphicon-share-alt"></span>Partager</a></li>
    <li><a href=""><span class="glyphicon glyphicon-envelope"></span>Contact</a></li>
</ul><!-- #nav -->

<div id="intro" class="intro-profile">
    <div class="container">
        <div class="intro">
            <div class="row">

                <div class="col-md-12">
                    <gravatar-image data-gravatar-email="profile.parent.user.email"
                                    data-gravatar-size="200"
                                    data-gravatar-rating="pg"
                                    data-gravatar-default="mm"
                                    data-gravatar-secure="true"
                                    data-gravatar-css-class="profile img-circle">
                    </gravatar-image>

                    <h1>{{profile.full_name}}</h1>
                    <div class="relative">
                        <div class="edit-buttons" ng-show="editable">
                            <button ng-click="ActivityBtnForm.$show()" ng-hide="ActivityBtnForm.$visible">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </div>
                        <h2 editable-text="profile.activity"
                            e-form="ActivityBtnForm"
                            onbeforesave="updateMakerScienceProfile('MakerScienceProfile', profile.id , 'activity', $data)"
                            ng-bind-html="profile.activity">{{ profile.activity }}
                        </h2>
                    </div>
                </div>
            </div><!-- .row -->
        </div><!-- .intro -->
    </div><!-- .container -->
</div><!-- #intro -->

<div class="row container">

    <div class="col-md-12">

        <div id="content" class="content-member">

            DASHBOARD
        </div><!-- .content-member -->

    </div><!-- .col-md-12 -->

</div><!-- .row .container -->

<!-- <div class="row container">
    <div class="col-md-8">
        <div class="badges">
            <h3>Mes Badges</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="bloc bloc-solo">
        </div>
    </div>
</div> -->
