<div id="intro" class="intro-project-create" style="background-image: url('./img/bg/header-listing-profiles.jpg')">

    <h1>Découvrez d’autres personnes investies</h1>
    <h2>- ou le souhaitant - dans la culture scientifique et technique</h2>

</div><!-- #intro -->

<div class="toolbar toolbar-profile">
    <div class="row container">
        <form method="post" action="">
            <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
        </form>
    </div><!-- .container.row -->
</div><!-- .toolbar -->

<div class="row container">

    <div class="col-md-12">

        <div id="content">

            <tabset class="nav-tabs-profile">
                <tab heading="Communauté">
                    <div class="boxes boxes-profiles" ng-controller="MakerScienceProfileListCtrl"  ng-init="init()">
                        <div class="box" ng-repeat="profile in profiles">
                            <ng-include src="'views/profile/block/profile_thumb.html'" ng-init="profile=profile"></ng-include>
                        </div><!-- .box -->
                    </div><!-- .boxes -->
                </tab>
                <tab heading="Autre">
                    Autre...
                </tab>
            </tabset>

            <a class="large large-pink" ui-sref="map">Cartographie de la communauté</a>

        </div><!-- #content -->

    </div>

</div><!-- .row .container -->
