<!DOCTYPE HTML>
<html>
<head>
	<title>Listing Profils | MakeScience</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link href="css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="css/admin.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="css/print.css" media="print" rel="stylesheet" type="text/css" />
<body>
<div class="container-fluid">

	<ng-include src="'views/base/header.html'"></ng-include>
	
	<div id="intro" class="intro-project-create" style="background-image: url('./img/bg/header-listing-profils.jpg')">

		<h1>La communauté</h1>
		<h2>Tous ensemble pour <em>l'innovation</em></h2>

	</div><!-- #intro -->

	<div class="toolbar toolbar-profils">
		<div class="row container">
			<form method="post" action="">
				<button type="submit"><span class="glyphicon glyphicon-search"></span></button>
			</form>
		</div><!-- .container.row -->
	</div><!-- .toolbar -->

	<div class="row container">
	
		<div class="col-md-12">

			<div id="content">
			
				<!-- Nav tabs -->
				<ul class="nav nav-tabs nav-tabs-profils" role="tablist">
					<li class="active"><a href="#community" role="tab" data-toggle="tab">Communauté</a></li>
					<li><a href="#other" role="tab" data-toggle="tab">Autre</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content tab-content-profils">
			
					<div class="tab-pane active" id="community">
						<div class="boxes boxes-profils">

							<div class="row">
								<div class="col-md-3">
									<div class="member">	
										<form method="post" action="">
											<button><span class="glyphicon glyphicon-plus-sign"></span></button>
										</form>
										<img src="./img/uploads/profil-gaetan-priour.jpg" alt="Photo of Gaëtan PRIOUR" class="img-circle" />
										<h3>Gaëtan <strong>PRIOUR</strong></h3>
										<h4>Intégrateur Web & Mobile</h4>
										<h5><span class="glyphicon glyphicon-map-marker"></span> Montpellier</h5>
									</div>
								</div>
								<div class="col-md-3">
									<div class="member">	
										<form method="post" action="">
											<button><span class="glyphicon glyphicon-plus-sign"></span></button>
										</form>
										<img src="./img/uploads/profil-audrey-bardon.jpg" alt="Photo of Audrey Bardon" class="img-circle" />
										<h3>Audrey <strong>Bardon</strong></h3>
										<h4>Chargée de projets innovation & communauté</h4>
										<h5><span class="glyphicon glyphicon-map-marker"></span> Montpellier</h5>
									</div>
								</div>
								<div class="col-md-3">
									<div class="member member-added">	
										<img src="./img/uploads/profil-gaetan-priour.jpg" alt="Photo of Gaëtan PRIOUR" class="img-circle" />
										<h3>Gaëtan <strong>PRIOUR</strong></h3>
										<h4>Intégrateur Web & Mobile</h4>
										<h5><span class="glyphicon glyphicon-map-marker"></span> Montpellier</h5>
									</div>
								</div>
								<div class="col-md-3">
									<div class="member">	
										<form method="post" action="">
											<button><span class="glyphicon glyphicon-plus-sign"></span></button>
										</form>
										<img src="./img/uploads/profil-gaetan-priour.jpg" alt="Photo of Gaëtan PRIOUR" class="img-circle" />
										<h3>Gaëtan <strong>PRIOUR</strong></h3>
										<h4>Intégrateur Web & Mobile</h4>
										<h5><span class="glyphicon glyphicon-map-marker"></span> Montpellier</h5>
									</div>
								</div>
							</div><!-- .row -->
							
							<div class="right">
								<ul class="pagination">
									<li><a href="#">1</a></li>
									<li class="active"><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
								</ul>
							</div>
							
						</div><!-- .boxes -->
					</div><!-- #community -->
				
					<div class="tab-pane" id="other">
					</div><!-- #bestrated -->
					
				</div><!-- .tab-content -->
				
				<form method="post" action="">
					<button class="large large-orange">Carthographie de la communauté</button>
				</form>
				
			</div><!-- #content -->

		</div>
		
	</div><!-- .row .container -->

	<footer>
		<ul>
			<li><a href=""><img src="./img/footer/social-twitter.gif" alt="Twitter" /></a></li>
			<li><a href=""><img src="./img/footer/social-facebook.gif" alt="Facebook" /></a></li>
			<li><a href=""><img src="./img/footer/social-google.gif" alt="Google+" /></a></li>
		</ul>
	</footer>

</div><!-- .container-fluid -->

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>
