<div id="intro" class="intro-profile">
    <div class="container">
        <div class="intro">
            <div class="row">
                <ng-include src="'/views/profile/block/social_share.html'"></ng-include>
                <div class="col-md-4">
                    <div class="edit-buttons" ng-show="editable">
                        <button ng-click="showAvatarPopup()">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </div>
                    <ng-include src="'/views/profile/block/avatar.html'" ng-init="avatar=profile.parent.avatar"></ng-include>

                    <h1>{{profile.full_name}}</h1>
                    <div class="relative">
                        <div class="edit-buttons" ng-show="editable">
                            <button ng-click="ActivityBtnForm.$show()" ng-hide="ActivityBtnForm.$visible">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </div>
                        <h2 editable-text="profile.activity"
                            e-form="ActivityBtnForm"
                            e-maxlength="30"
                            onbeforesave="updateMakerScienceProfile('MakerScienceProfile', profile.slug , 'activity', $data)"
                            >{{ profile.activity|limitTo:30 || "Titre/Accroche" }}
                        </h2>
                    </div>

                    <div class="relative">
                        <p style="text-align:center">
                            Créé le {{profile.parent.user.date_joined | date:'dd/MM/yyyy'}}
                        </p>
                    </div>
                    <div class="location editable">
                        <div class="edit-buttons" ng-show="editable">
                            <button ng-click="LocationBtnForm.$show()" ng-hide="LocationBtnForm.$visible">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </div>
                        <p editable-text="profile.location.address.address_locality"
                            e-form="LocationBtnForm"
                            e-maxlength="30"
                            onbeforesave="updateMakerScienceProfile('Place', profile.location.id , 'address', {'address_locality' : $data})"
                            class="location">
                            <span class="glyphicon glyphicon-map-marker"></span>
                            <span ng-if="profile.location.address.address_locality">{{profile.location.address.address_locality|limitTo:30}}</span>
                            <span ng-if="!profile.location.address.address_locality">Localisation non renseignée</span>
                        </p>
                    </div>

                </div>

                <div class="col-md-8">
                    <div class="side-header" ng-class="{ 'editing' : editable }">
                        <div class="relative bio">
                            <h5 class="bio">Présentation</h5>
                            <div class="edit-buttons" ng-show="editable">
                                <button ng-click="openBioPopup(true)"><span class="glyphicon glyphicon-pencil"></span></button>
                            </div>
                            <p>
                                 {{profile.bio|limitTo:445}}<a ng-if="profile.bio.length > 445" href="" ng-click="openBioPopup(false)">... (voir plus)</a>
                            </p>

                        </div><!-- .relative -->

                        <div class="relative">
                            <h5 class="skills">Compétences</h5>
                            <div class="editable">
                                <div class="edit-buttons" ng-show="editable">
                                    <button ng-click="openTagPopup(preparedSkillTags, 'sk', editable, addTagToProfile, removeTagFromProfile)"><span class="glyphicon glyphicon-pencil"></span></button>
                                </div>
                                <ul class="tags skills">
                                    <li ng-repeat="tag in preparedSkillTags | limitTo : 12">
                                        <a ui-sref="tag({slug:tag.slug})">{{tag.text}}</a>
                                    </li>
                                    <li ng-show="preparedSkillTags.length > 12" >
                                        <a tooltip="Voir toutes les compétences" ng-click="openTagPopup(preparedSkillTags, 'sk', editable, addTagToProfile, removeTagFromProfile)">+</a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- .relative -->

                        <div class="relative">
                            <h5 class="interests">Intérêts</h5>
                            <div class="editable">
                                <div class="edit-buttons" ng-show="editable">
                                    <button ng-click="openTagPopup(preparedInterestTags, 'in', editable, addTagToProfile, removeTagFromProfile)"><span class="glyphicon glyphicon-pencil"></span></button>
                                </div>

                                <ul class="tags tags-project">
                                    <li ng-repeat="tag in preparedInterestTags | limitTo : 12">
                                        <a ui-sref="tag({slug:tag.slug})">{{tag.text}}</a>
                                    </li>
                                    <li ng-show="preparedInterestTags.length > 12">
                                        <a  tooltip="Voir tous les centres d'intérêt" ng-click="openTagPopup(preparedInterestTags, 'in', editable, addTagToProfile, removeTagFromProfile)">+</a>
                                    </li>
                                </ul>
                            </div><!-- .editable -->
                        </div><!-- .relative -->

                        <div class="relative">
                            <div class="edit-buttons" ng-show="editable" >
                                <button ng-click="openSocialsEditPopup()"> <span class="glyphicon glyphicon-pencil"></span></button>
                            </div>
                            <h4 ng-show="!profile.facebook && !profile.twitter && !profile.linkedin && !profile.contact_email && !profile.contact_email && !profile.website && !socialEdit">
                                Aucun site n’a été renseigné
                            </h4>
                            <div class="socials">
                                <a ng-show="profile.facebook" href="{{profile.facebook}}" target="_blank" class="share-facebook"><img src="/img/icons/social/facebook-small.png" alt="Facebook" /></a>
                                <a ng-show="profile.twitter" href="{{profile.twitter}}" target="_blank" class="share-twitter"><img src="/img/icons/social/twitter-small.png" alt="Twitter" /></a>
                                <a ng-show="profile.linkedin" href="{{profile.linkedin}}" target="_blank" class="share-linkedin"><img src="/img/icons/social/linkedin_small.jpg" alt="Linkedin" /></a>

                                <label><a ng-show="profile.website" href="{{profile.website}}" target="_blank" >
                                    <span ng-show="profile.website" class="glyphicon glyphicon-globe"></span>
                                    <span>{{profile.website | limitTo:40}}<span ng-if="profile.website.length > 40">...</span></span></a></label>
                            </div>
                        </div><!-- .relative -->
                    </div><!-- .side-header -->
                </div><!-- .col-md-4 -->
                <div class="friendship" ng-show="authVars.isAuthenticated && currentMakerScienceProfile != null" ng-controller="FriendshipCtrl">
                    <ul>
                        <li ng-if="currentMakerScienceProfile.id != profile.id" ng-init="checkFriend(profile.id)">
                            <a ng-show="!isFriend" ng-click="addFriend(profile.id)" title="Suivre"><span class="fa fa-user-plus"></span></a>
                            <a ng-show="isFriend" ng-click="removeFriend(profile.id)" title="Ne plus suivre"><span class="fa fa-user-times"></span></a>
                        </li>
                        <li ng-if="currentMakerScienceProfile.id != profile.id">
                            <a title="Contacter" ng-click="showContactPopup(profile)"><span class="fa fa-envelope-o"></span></a>
                        </li>
                    </ul>
                </div>
            </div><!-- .row -->
        </div><!-- .intro -->
    </div><!-- .container -->
</div><!-- #intro -->

<div class="row container">

    <div class="col-md-12">

        <div id="content" class="content-member">

            <tabset class="nav-tabs-profile">
                <tab heading="Activités">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="activity">
                                <h2>Activités</h2>
                                <ul class="activity" infinite-scroll="addMoreActivities()" >
                                    <!-- ALBAN 3 classes for the activity:
                                        activity-member
                                        activity-project
                                        activity-experience
                                    -->
                                    <li class="activity-member" ng-repeat="activity in infiniteScrollActivities | orderBy : '-created_on'">
                                        <p ng-bind-html="activity.description"></p>
                                        <span am-time-ago="activity.created_on"></span>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- .col-md-7 -->
                        <div class="col-md-5">
                            <div class="contribution">
                                <h2>Mes tags préférés</h2>
                                <ul class="tags">
                                    <li ng-repeat="(tag,count) in favoriteTags">
                                        <a tooltip="{{tag}}" ui-sref="tag({slug:tag})">{{tag| characters:10}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="contribution">
                                <h2>Les tags suivis</h2>
                                <ul class="tags">
                                    <li ng-repeat="tag in followedTags">
                                        <a tooltip="{{tag.slug}}" ui-sref="tag({slug:tag.slug})">{{tag.slug| characters:10}}</a>
                                    </li>
                                </ul>
                            </div>
                            <!--<div class="contribution">
                                <h2>Contribution</h2>
                                <img src="/img/needs/needs-financing.png" alt="FIXEME" />
                                <img src="/img/needs/needs-hardware.png" alt="FIXEME" />
                                <img src="/img/needs/needs-financing.png" alt="FIXEME" />
                                <img src="/img/needs/needs-hardware.png" alt="FIXEME" />
                                <img src="/img/needs/needs-hardware.png" alt="FIXEME" />
                                <img src="/img/needs/needs-financing.png" alt="FIXEME" />
                                <img src="/img/needs/needs-hardware.png" alt="FIXEME" />
                                <img src="/img/needs/needs-financing.png" alt="FIXEME" />
                                <img src="/img/needs/needs-hardware.png" alt="FIXEME" />
                                <img src="/img/needs/needs-financing.png" alt="FIXEME" />
                                <img src="/img/needs/needs-hardware.png" alt="FIXEME" />
                            </div>-->
                        </div><!-- .col-md-5 -->
                    </div><!-- .row -->
                </tab>
                <tab heading="Projets ({{member_projects.length + fan_projects.length}})">
                    <h2 class="projects">Mes projets</h2>
                    <div class="boxes boxes-listing">
                        <div class="box" ng-repeat="project in member_projects">
                            <ng-include src="'/views/catalog/block/project_thumb_light.html'"></ng-include>
                        </div>
                    </div>
                    <h2 class="projects">Ces projets m'intéressent</h2>
                    <div class="boxes boxes-listing">
                        <div class="box" ng-repeat="project in fan_projects">
                            <ng-include src="'/views/catalog/block/project_thumb_light.html'"></ng-include>
                        </div>
                    </div>
                </tab>
                <tab heading="Expériences ({{member_resources.length + fan_resources.length}})">
                    <h2 class="resources">Mes Expériences</h2>
                    <div class="boxes boxes-listing">
                        <div class="box" ng-repeat="resource in member_resources">
                            <ng-include src="'/views/catalog/block/resource_thumb_light.html'"></ng-include>
                        </div>
                    </div>
                    <h2 class="resources">Ces expériences m'intéressent</h2>
                    <div class="boxes boxes-listing">
                        <div class="box" ng-repeat="resource in fan_resources">
                            <ng-include src="'/views/catalog/block/resource_thumb_light.html'"></ng-include>
                        </div>
                    </div>
                </tab>
                <tab heading="Discussions ({{authored_post.length + contributed_post.length + liked_post.length + followed_post.length}})">
                    <h2 class="members">Mes discussions</h2>
                    <div ng-repeat="post in authored_post">
                        <ng-include ng-if="post.id" src="'/views/forum/block/thread_light.html'"></ng-include>
                    </div>
                    <h2 class="members">Les discussions auxquelles j'ai contribué</h2>
                    <div ng-repeat="post in contributed_post">
                        <ng-include ng-if="post.id" src="'/views/forum/block/thread_light.html'"></ng-include>
                    </div>
                    <h2 class="members">Ces discussions m’intéressent</h2>
                    <div ng-repeat="post in followed_post">
                        <ng-include ng-if="post.id" src="'/views/forum/block/thread_light.html'"></ng-include>
                    </div>
                </tab>
                <tab heading="Membres suivis ({{friends.length}})">
                    <h2 class="members">Suivis</h2>
                    <div class="boxes boxes-profiles">
                        <div class="box" ng-repeat="profile in friends">
                            <ng-include src="'/views/profile/block/profile_thumb_light.html'"></ng-include>
                        </div>
                    </div>
                    <h2 class="members">Contacts similaires</h2>
                    <div class="boxes boxes-profiles">
                        <div class="box" ng-repeat="profile in similars">
                            <ng-include src="'/views/profile/block/profile_thumb_light.html'"></ng-include>
                        </div>
                    </div>
                </tab>
            </tabset>

        </div><!-- .content-member -->

    </div><!-- .col-md-12 -->

</div><!-- .row .container -->

<!-- <div class="row container">
    <div class="col-md-8">
        <div class="badges">
            <h3>Mes Badges</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="bloc bloc-solo">
        </div>
    </div>
</div> -->
