<div id="intro" class="intro-dashboard">
    <div class="container">
        <div class="intro">
            <div class="row">

                <div class="col-md-4 col-md-offset-4">
                    <div class="user">
                        <ng-include src="'/views/profile/block/avatar.html'"></ng-include>
                        <h4>{{profile.full_name}}</h4>
                        <p><span class="glyphicon glyphicon-lock"></span> Espace personel</p>

                    </div>

                </div>
            </div><!-- .row -->
        </div><!-- .intro -->
    </div><!-- .container -->
</div><!-- #intro -->

<div class="row container">

    <div class="col-md-12">

        <div id="content" class="content-dashboard">

            <tabset class="nav-tabs-project">
                <tab heading="Mes notifications">
                    <ul class="activity">
                        <li class="list-group-item"><button ng-click="markAllAsRead()"><span class="glyphicon glyphicon-tasks" ></span></button></li>
                        <li ng-class="{'notification-new': notif.unread == true}" ng-repeat="notif in notifications ">
                            <p ng-bind-html="trustAsHtml(notif.description)"></p>
                            <span am-time-ago="notif.created_on"></span>
                            <button class="mark non-closing" ng-show="notif.unread == true" ng-click="markAsRead(notif)"><span class="glyphicon glyphicon-eye-open" ></span></button>
                        </li>
                    </ul>
                </tab>
                <tab heading="Activités de mon réseau">
                    <ul class="activity">
                        <li class="activity-member" ng-repeat="activity in activities | orderBy:'-created_on'">
                            <p ng-bind-html="trustAsHtml(activity.description)"></p>
                            <span am-time-ago="activity.created_on"></span>
                        </li>
                    </ul>
                </tab>
                <tab heading="Mes paramètres">

                    <h2>Mon compte</h2>
                    <div class="row">
                        <div class="col-md-6">

                            <label for="name">Nom</label>
                            <input type="text" name="fullname" id="name" ng-model="profileToUpdate.parent.user.last_name" value="{{profileToUpdate.parent.user.last_name}}"/>

                            <label for="name">Prénom</label>
                            <input type="text" name="fullname" id="name" ng-model="profileToUpdate.parent.user.first_name" value="{{profileToUpdate.parent.user.first_name}}"/>

                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" ng-model="profileToUpdate.parent.user.email" value="{{profileToUpdate.parent.user.email}}"/>

                            <button class="button delete-account" ng-click="fullUpdateMakerScienceProfile(profileToUpdate)">Enregistrer</button>
                        </div>
                        <div class="col-md-6">
                            <fieldset class="delete-account">
                                <h3><i class="fa fa-exclamation-circle"></i> La suppression du compte est irréversible</h3>
                                <button class="button delete-account" ng-click="deleteProfile(profile.slug)">Supprimer mon compte</button>
                            </fieldset>
                            <fieldset class="change-password">
                                <h3>Changement de mot de passe</h3>
                                <label for="password">Votre mot de passe</label>
                                <input type="password" name="password" id="password" />

                                <label for="passwordconfirmation">Confirmation de votre mot de passe</label>
                                <input type="password" name="passwordconfirmation" id="passwordconfirmation" />

                                <button class="button delete-account" >Enregistrer le nouveau mot de passe</button>
                            </fieldset>

                            <!-- <fieldset>
                                <h3>Liens réseaux sociaux et sites web</h3>
                                <button class="add-link"><span class="glyphicon glyphicon-plus"></span></button>

                                <input type="text" name="link1" value="http://www.google.com" />
                                <input type="text" name="link2" value="http://www.something.com" />
                                <input type="text" name="link3" value="http://www.foobar.com" />

                            </fieldset> -->

                            <h3 class="confidentiality">Confidentialité</h3>
                            <ul class="confidentiality">
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                <li>Mauris vel semper nisi, ullamcorper condimentum metus.</li>
                                <li>Ut sagittis fermentum tellus in consectetur.</li>
                            </ul>
                        </div>
                    </div>
                </tab>
            </tabset>

        </div><!-- .content-member -->

    </div><!-- .col-md-12 -->

</div><!-- .row .container -->

<!-- <div class="row container">
    <div class="col-md-8">
        <div class="badges">
            <h3>Mes Badges</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="bloc bloc-solo">
        </div>
    </div>
</div> -->
