<div id="intro" class="intro-project-create" style="background-image: url('./img/bg/header-listing-profils.jpg')">

    <h1>La communauté</h1>
    <h2>Tous ensemble pour <em>l'innovation</em></h2>

</div><!-- #intro -->

<div class="toolbar toolbar-profils">
    <div class="row container">
        <form method="post" action="">
            <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
        </form>
    </div><!-- .container.row -->
</div><!-- .toolbar -->

<div class="row container">

    <div class="col-md-12">

        <div id="content">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-tabs-profils" role="tablist">
                <li class="active"><a href="#community" role="tab" data-toggle="tab">Communauté</a></li>
                <li><a href="#other" role="tab" data-toggle="tab">Autre</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content tab-content-profils" ng-controller="MakerScienceProfileListCtrl">

                <div class="tab-pane active" id="community">

                    <div class="boxes boxes-profils">
                        <ul class="members">
                            <li ng-repeat="baseProfile in profiles" ng-controller="MakerScienceProfileCtrl" ng-init="init(baseProfile.id)">
                                <ng-include src="'views/profile/block/profile_thumb.html'" ng-init="profile=baseProfile"></ng-include>
                            </li>
                        </ul><!-- .members -->
                    </div><!-- .boxes -->

                    <!--
                    <div class="right">
                        <ul class="pagination">
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>
                    </div>
                    -->

                </div><!-- #community -->

                <div class="tab-pane" id="other">
                </div><!-- #bestrated -->

            </div><!-- .tab-content -->

            <a class="large large-orange" ui-sref="map">Cartographie de la communauté</a>

        </div><!-- #content -->

    </div>

</div><!-- .row .container -->
