<div id="intro" class="intro-profile"  ng-init="editable = currentMakerScienceProfile === profile">
    <div class="container">
        <div class="intro">
            <div class="row">

                <div class="col-md-4">
                    <gravatar-image data-gravatar-email="profile.parent.user.email"
                                    data-gravatar-size="125"
                                    data-gravatar-rating="pg"
                                    data-gravatar-default="mm"
                                    data-gravatar-secure="true"
                                    data-gravatar-css-class="profile img-circle">
                    </gravatar-image>

                    <h1>{{profile.full_name}}</h1>
                    <div class="relative">
                        <div class="edit-buttons" ng-show="editable">
                            <button ng-click="ActivityBtnForm.$show()" ng-hide="ActivityBtnForm.$visible">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </div>
                        <h2 editable-text="profile.activity"
                            e-form="ActivityBtnForm"
                            onbeforesave="updateMakerScienceProfile('MakerScienceProfile', profile.slug , 'activity', $data)"
                            ng-bind-html="profile.activity">{{ profile.activity }}
                        </h2>
                    </div>
                    <div class="relative" ng-show="authVars.isAuthenticated && currentMakerScienceProfile != null" ng-controller="FriendshipCtrl" ng-init="checkFriend(profile.id)">
                        <ul>
                            <li>
                                <a ng-show="!isFriend" ng-click="addFriend(profile.id)">Ajouter à mes contacts</a>
                                <a ng-show="isFriend" ng-click="removeFriend(profile.id)">Retirer de mes contacts</a>
                            </li>
                            <li><a>Contacter</a></li>
                        </ul>
                    </div>

                </div>

                <div class="col-md-8">
                    <div class="side-header" ng-class="{ 'editing' : editable }">
                        <div class="relative bio">
                            <h5 class="bio">Présentation</h5>
                            <div class="edit-buttons" ng-click="BioBtnForm.$show()" ng-hide="BioBtnForm.$visible || !editable" ng-show="editable">
                                <button><span class="glyphicon glyphicon-pencil"></span></button>
                            </div>
                            <p editable-text-angular="profile.bio"
                                 e-form="BioBtnForm"
                                 e-rows="4"
                                 e-ta-toolbar="[['bold','italics', 'underline'], ['ul', 'ol'], ['insertLink']]"
                                 onbeforesave="updateMakerScienceProfile('MakerScienceProfile', profile.slug , 'bio', $data)"
                                 ng-bind-html="profile.bio">
                            </p>
                        </div><!-- .relative -->

                        <div class="relative">
                            <h5 class="skills">Compétences</h5>
                            <div class="editable">
                                <div class="edit-buttons" ng-show="editable" ng-init="addSkill=false">
                                    <button ng-click="addSkill = ! addSkill"><span class="glyphicon glyphicon-pencil"></span></button>
                                </div>

                                <div ng-show="addSkill==true" ng-controller="TagAutoCompleteCtrl">
                                    <tags-input ng-model="$parent.preparedSkillTags"
                                                placeholder="> Mot-clé"
                                                on-tag-added="$parent.addTagToProfile('sk', $tag)"
                                                on-tag-removed="$parent.removeTagFromProfile($tag)">
                                                <auto-complete source="loadTags($query)"></auto-complete>
                                    </tags-input>
                                </div>

                                <div ng-show="addSkill==false">
                                    <ul class="tags skills">
                                        <li ng-repeat="tag in preparedSkillTags"><a href="">{{tag.text}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- .relative -->

                        <div class="relative">
                            <h5>Intérêts</h5>
                            <div class="editable">
                                <div class="edit-buttons" ng-show="editable" ng-init="addInterest=false">
                                    <button ng-click="addInterest = ! addInterest"><span class="glyphicon glyphicon-pencil"></span></button>
                                </div>

                                <div ng-show="addInterest==true" ng-controller="TagAutoCompleteCtrl">
                                    <tags-input ng-model="$parent.preparedInterestTags"
                                                placeholder="> Mot-clé"
                                                on-tag-added="$parent.addTagToProfile('in', $tag)"
                                                on-tag-removed="$parent.removeTagFromProfile($tag)">
                                                <auto-complete source="loadTags($query)"></auto-complete>
                                    </tags-input>
                                </div>

                                <div ng-show="addInterest==false">
                                    <ul class="tags tags-project">
                                        <li ng-repeat="tag in preparedInterestTags"><a href="">{{tag.text}}</a></li>
                                    </ul>
                                </div>
                            </div><!-- .editable -->
                        </div><!-- .relative -->

                        <div class="relative editable">
                            <div class="edit-buttons" ng-show="editable">
                                <button ng-click="LocationBtnForm.$show()" ng-hide="LocationBtnForm.$visible">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </div>
                            <p editable-text="profile.location.address.address_locality"
                                e-form="LocationBtnForm"
                                onbeforesave="updateMakerScienceProfile('Place', profile.location.id , 'address', {'address_locality' : $data})">
                                <span class="glyphicon glyphicon-map-marker"></span>
                                <span ng-if="profile.location.address.address_locality">{{profile.location.address.address_locality}}</span>
                                <span ng-if="!profile.location.address.address_locality">Localisation non renseignée</span>
                            </p>
                        </div>

                        <div class="relative">

                            <div class="edit-buttons" ng-click="socialEdit=!socialEdit" ng-show="editable" ng-init="socialEdit=False">
                                <button> <span class="glyphicon glyphicon-pencil"></span></button>
                            </div>
                            <h4 ng-show="!profile.facebook && !profile.twitter && !profile.linkedin && !profile.contact_email && !profile.contact_email && !profile.website && !socialEdit">Aucun réseaux sociaux ni contacts n'ont été renseignés</h4>
                            <div ng-show="!socialEdit" class="socials">
                                <a ng-show="profile.facebook" href="{{profile.facebook}}" target="_blank" class="share-facebook"><img src="./img/icons/social/facebook-small.png" alt="Facebook" /></a>
                                <a ng-show="profile.twitter" href="{{profile.twitter}}" target="_blank" class="share-twitter"><img src="./img/icons/social/twitter-small.png" alt="Twitter" /></a>
                                <a ng-show="profile.linkedin" href="{{profile.linkedin}}" target="_blank" class="share-linkedin"><img src="./img/icons/social/linkedin_small.jpg" alt="Linkedin" /></a>
                                <a ng-show="profile.contact_email" href="{{profile.contact_email}}" target="_blank" class="share-email"><span class="glyphicon glyphicon-envelope"></span></a>

                                <label><a ng-show="profile.website" href="{{profile.website}}" target="_blank" ><span ng-show="profile.website" class="glyphicon glyphicon-globe"></span></a></label>
                            </div>

                            <div ng-show="socialEdit" >
                                <h5>Liens réseaux sociaux et contacts</h5>
                                <div style="width: 50%;float:left">
                                    <input style="width: 75%;" type="text" ng-model="socials.facebook" placeholder="Lien profil Facebook"/></br>
                                    <input style="width: 75%;" type="text" ng-model="socials.twitter" placeholder="Lien profil Twitter"/></br>
                                    <input style="width: 75%;" type="text" ng-model="socials.linkedin" placeholder="Lien profil LinkedIn"/></br>
                                </div>
                                <div>
                                    <input style="width: 40%;" type="text" ng-model="socials.contact_email" placeholder="Courriel de contact"/></br>
                                    <input style="width: 40%;" type="text" ng-model="socials.website" placeholder="Site web"/>
                                </div>
                                <span class="editable-buttons">
                                    <button class="btn btn-primary" ng-click="updateSocialNetworks(profile.slug, socials);socialEdit=False" >Enregistrer</button>
                                </span>
                            </div>

                            <p>Créé <span am-time-ago="profile.parent.user.date_joined"></span> / Mise à jour <span am-time-ago="profile.modified"></span></p>
                        </div><!-- .relative -->

                    </div><!-- .side-header -->
                </div><!-- .col-md-4 -->
            </div><!-- .row -->
        </div><!-- .intro -->
    </div><!-- .container -->
</div><!-- #intro -->

<div class="row container">

    <div class="col-md-12">

        <div id="content" class="content-member">

            <tabset class="nav-tabs-profile">
                <tab heading="Activités">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="activity">
                                <h2>Activités</h2>
                                <ul class="activity">
                                    <li class="activity-pink" ng-repeat="activity in activities | orderBy : '-created_on'" ng-if="activity.content_object">
                                        <span ng-if="activity.level == 0">
                                            {{profile.parent.user.first_name}} a créé le projet <a ui-sref="project.detail({slug:activity.content_object.parent.slug})">{{activity.content_object.parent.title}}</a>
                                        </span>
                                        <span ng-if="activity.level == 1">
                                            {{profile.parent.user.first_name}} a proposé son aide au projet <a ui-sref="project.detail({slug:activity.content_object.parent.slug})">{{activity.content_object.parent.title}}</a>
                                        </span>
                                        <span ng-if="activity.level == 2">
                                            {{profile.parent.user.first_name}} s'est abonné au projet <a ui-sref="project.detail({slug:activity.content_object.parent.slug})">{{activity.content_object.parent.title}}</a>
                                        </span>
                                        <span ng-if="activity.level == 3">
                                            {{profile.parent.user.first_name}} a commenté le projet <a ui-sref="project.detail({slug:activity.content_object.parent.slug})">{{activity.content_object.parent.title}}</a>
                                        </span>
                                        <span ng-if="activity.level == 4">
                                            {{profile.parent.user.first_name}} a noté le critère «{{activity.content_object.vote_type_label}}» du projet <a ui-sref="project.detail({slug:activity.content_object.votedObj.parent.slug})">{{activity.content_object.votedObj.parent.title}}</a>
                                        </span>
                                        <span ng-if="activity.level == 10">
                                            {{profile.parent.user.first_name}} a créé l'expérience <a ui-sref="resource.detail({slug:activity.content_object.parent.slug})">{{activity.content_object.parent.title}}</a>
                                        </span>
                                        <span ng-if="activity.level == 11">
                                            {{profile.parent.user.first_name}} a une expérience similaire à <a ui-sref="resource.detail({slug:activity.content_object.parent.slug})">{{activity.content_object.parent.title}}</a>
                                        </span>
                                        <span ng-if="activity.level == 12">
                                            {{profile.parent.user.first_name}} s'est abonné à l'expérience <a ui-sref="resource.detail({slug:activity.content_object.parent.slug})">{{activity.content_object.parent.title}}</a>
                                        </span>
                                        <span ng-if="activity.level == 13">
                                            {{profile.parent.user.first_name}} a commenté l'expérience <a ui-sref="resource.detail({slug:activity.content_object.parent.slug})">{{activity.content_object.parent.title}}</a>
                                        </span>
                                        <span ng-if="activity.level == 14">
                                            {{profile.parent.user.first_name}} a noté le critère «» de l'expérience <a ui-sref="resource.detail({slug:activity.content_object.parent.slug})">{{activity.content_object.parent.title}}</a>
                                        </span>
                                        <span ng-if="activity.level == 30">
                                            {{profile.parent.user.first_name}} a créé la discussion <a ui-sref="question({slug:activity.content_object.parent.slug})">{{activity.content_object.parent.title}}</a>
                                        </span>
                                        <span ng-if="activity.level == 31">
                                            {{profile.parent.user.first_name}} a répondu à la discussion <a ui-sref="question({slug:activity.content_object.parent.slug})">{{activity.content_object.parent.title}}</a>
                                        </span>
                                        <span ng-if="activity.level == 32">
                                            {{profile.parent.user.first_name}} s'est abonnée à la discussion <a ui-sref="question({slug:activity.content_object.parent.slug})">{{activity.content_object.parent.title}}</a>
                                        </span>
                                        <span ng-if="activity.level == 33">
                                            {{profile.parent.user.first_name}} aime la discussion <a ui-sref="question({slug:activity.content_object.parent.slug})">{{activity.content_object.parent.title}}</a>
                                        </span>
                                        <span ng-if="activity.level == 34">
                                            {{profile.parent.user.first_name}} aime une réponse de la discussion <a ui-sref="question({slug:activity.content_object.parent.slug})">{{activity.content_object.parent.title}}</a>
                                        </span>
                                        <span ng-if="activity.level == 40">
                                            {{profile.parent.user.first_name}} est maintenant en contact avec <a ui-sref="profile.detail({slug:activity.content_object.slug})">{{activity.content_object.full_name}}</a>
                                        </span>
                                        <span am-time-ago="activity.created_on">
                                    </li>
                                </ul>
                            </div>
                        </div><!-- .col-md-7 -->
                        <div class="col-md-5">
                            <div class="contribution">
                                <h2>Mes tags préférés</h2>
                                <ul class="tags tags-listing">
                                    <li ng-repeat="(tag,count) in favoriteTags">
                                        <a tooltip="{{tag}}" ui-sref="tag({slug:tag})">{{tag| characters:10}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="contribution">
                                <h2>Les tags que je suis</h2>
                                <ul class="tags tags-listing">
                                    <li ng-repeat="tag in followedTags">
                                        <a tooltip="{{tag.slug}}" ui-sref="tag({slug:tag.slug})">{{tag.slug| characters:10}}</a>
                                    </li>
                                </ul>
                            </div>
                            <!--<div class="contribution">
                                <h2>Contribution</h2>
                                <img src="/img/needs/needs-financing.png" alt="FIXEME" />
                                <img src="/img/needs/needs-hardware.png" alt="FIXEME" />
                                <img src="/img/needs/needs-financing.png" alt="FIXEME" />
                                <img src="/img/needs/needs-hardware.png" alt="FIXEME" />
                                <img src="/img/needs/needs-hardware.png" alt="FIXEME" />
                                <img src="/img/needs/needs-financing.png" alt="FIXEME" />
                                <img src="/img/needs/needs-hardware.png" alt="FIXEME" />
                                <img src="/img/needs/needs-financing.png" alt="FIXEME" />
                                <img src="/img/needs/needs-hardware.png" alt="FIXEME" />
                                <img src="/img/needs/needs-financing.png" alt="FIXEME" />
                                <img src="/img/needs/needs-hardware.png" alt="FIXEME" />
                            </div>-->
                        </div><!-- .col-md-5 -->
                    </div><!-- .row -->
                </tab>
                <tab heading="Projets ({{member_projects.length + fan_projects.length}})">
                    <h2 class="projects">Mes projets</h2>
                    <div class="boxes boxes-listing">
                        <div class="box" ng-repeat="project in member_projects">
                            <ng-include src="'/views/catalog/block/project_thumb.html'" ng-init="project=project"></ng-include>
                        </div>
                    </div>
                    <h2 class="projects">Ces projets m'intéressent</h2>
                    <div class="boxes boxes-listing">
                        <div class="box" ng-repeat="project in fan_projects">
                            <ng-include src="'/views/catalog/block/project_thumb.html'" ng-init="project=project"></ng-include>
                        </div>
                    </div>
                </tab>
                <tab heading="Expériences ({{member_resources.length + fan_resources.length}})">
                    <h2 class="resources">Mes Expériences</h2>
                    <div class="boxes boxes-listing">
                        <div class="box" ng-repeat="resource in member_resources">
                            <ng-include src="'/views/catalog/block/resource_thumb.html'" ng-init="resource=resource"></ng-include>
                        </div>
                    </div>
                    <h2 class="resources">Ces expériences m'intéressent</h2>
                    <div class="boxes boxes-listing">
                        <div class="box" ng-repeat="resource in fan_resources">
                            <ng-include src="'/views/catalog/block/resource_thumb.html'" ng-init="resource=resource"></ng-include>
                        </div>
                    </div>
                </tab>
                <tab heading="Discussions ({{authored_post.length + contributed_post.length + liked_post.length + followed_post.length}})">
                    <h2 class="members">Mes discussions</h2>
                    <div ng-repeat="linked_post in authored_post">
                        <div ng-controller="MakerSciencePostEmbedCtrl" ng-init="init(linked_post.id)">
                            <ng-include ng-if="post.id" src="'/views/forum/block/thread.html'"></ng-include>
                        </div>
                    </div>
                    <h2 class="members">Les discussions auxquelles j'ai contribué</h2>
                    <div ng-repeat="linked_post in contributed_post">
                        <div ng-controller="MakerSciencePostEmbedCtrl" ng-init="init(linked_post.id)">
                            <ng-include ng-if="post.id" src="'/views/forum/block/thread.html'"></ng-include>
                        </div>
                    </div>
                    <!--
                    <h2 class="members">Les discussions que j'aime</h2>
                    <div ng-repeat="linked_post in liked_post">
                        <div ng-controller="MakerSciencePostEmbedCtrl" ng-init="init(linked_post.id)">
                            <ng-include ng-if="post.id" src="'/views/forum/block/thread.html'"></ng-include>
                        </div>
                    </div>
                    -->
                    <h2 class="members">Les discussions que je suis</h2>
                    <div ng-repeat="linked_post in followed_post">
                        <div ng-controller="MakerSciencePostEmbedCtrl" ng-init="init(linked_post.id)">
                            <ng-include ng-if="post.id" src="'/views/forum/block/thread.html'"></ng-include>
                        </div>
                    </div>
                </tab>
                <tab heading="Contacts ({{friends.length}})">
                    <h2 class="members">Mes contacts</h2>
                    <div class="boxes boxes-profiles">
                        <div class="box" ng-repeat="profile in friends">
                            <ng-include src="'/views/profile/block/profile_thumb.html'" ng-init="profile=profile"></ng-include>
                        </div>
                    </div>
                    <h2 class="members">Contacts similaires</h2>
                    <div class="boxes boxes-profiles>
                        <div class="box" ng-repeat="profile in similars">
                            <ng-include src="'/views/profile/block/profile_thumb.html'" ng-init="profile=profile"></ng-include>
                        </div>
                    </div>
                </tab>
            </tabset>

        </div><!-- .content-member -->

    </div><!-- .col-md-12 -->

</div><!-- .row .container -->

<!-- <div class="row container">
    <div class="col-md-8">
        <div class="badges">
            <h3>Mes Badges</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="bloc bloc-solo">
        </div>
    </div>
</div> -->
