/css/*.css
/js/*.js
/js/commons/
/js/makerscience/
/js/vendor/
.DS_Store
/node_modules/
/bower_components/
/.sass-cache/
/css_imports.css
/js_imports.css
/js/src/config_prod.coffee
/js/src/config_staging.coffee
