<section class="community community-resource" ng-init="manageCommunity=false">
    <ul class="actions" ng-show="currentMakerScienceProfile != null">
        <li><a href="" ng-click="manageCommunity=!manageCommunity"><span class="glyphicon glyphicon-user"></span>Rejoindre</a></li>
    </ul>
    <h3>La communauté</h3>
    <!-- Formulaire pour permettre a l'usager connecté de s'ajouter comme membre équipe ou ressource -->
    <div class="add-member" ng-show="manageCommunity">
        <button type="button"
                class="btn btn-primary"
                ng-show="!teamCandidate && !resourceCandidate && !isAlreadyMember(currentMakerScienceProfile.parent, 10)"
                ng-click="teamCandidate=currentMakerScienceProfile.parent">J’aimerais devenir co-rédacteur</button>

        <button type="button"
                class="btn btn-primary"
                ng-show="!teamCandidate && !resourceCandidate && !isAlreadyMember(currentMakerScienceProfile.parent, 11)"
                ng-click="resourceCandidate=currentMakerScienceProfile.parent">Je possède une expérience similaire</button>

        <button type="button"
                class="btn btn-primary"
                ng-show="!teamCandidate && !resourceCandidate && !isAlreadyMember(currentMakerScienceProfile.parent, 12)"
                ng-click="addMember(currentMakerScienceProfile.parent, 12, '', true); manageCommunity=false">Je veux mettre en favoris cette expérience</button>

        <input type="text" ng-show="teamCandidate || resourceCandidate" name="role" ng-model="role" placeholder="Saisissez votre rôle ..." />

        <button type="button" ng-show="teamCandidate" class="btn btn-primary" ng-click="addMember(teamCandidate, 10, role, false); manageCommunity=false; teamCandidate=null;">S'ajouter comme membre d'équipe</button>
        <button type="button" ng-show="resourceCandidate" class="btn btn-primary" ng-click="addMember(resourceCandidate, 11, role, true); manageCommunity=false; resourceCandidate=null;">S'ajouter comme membre resource</button>
        <button type="button" class="btn btn-default" ng-click="manageCommunity=false; teamCandidate=null; resourceCandidate=null">Annuler</button>

    </div>
    <tabset ng-show="!manageCommunity">
        <!-- Co-autheurs -->
        <tab ng-init="addTeamMember=false">
            <tab-heading>
                <span>{{(community | filter: {level:10, isValidated: true}).length }}</span>Auteurs
            </tab-heading>
            <!-- Author can invite others members to join authoring -->
            <div class="add-member" ng-show="editable">
                <button id="addTeamMember" type="button" class="btn btn-default" ng-click="addTeamMember=!addTeamMember" ng-show="!teamCandidate">Ajouter un co-auteurs</button>
                <div ng-show="addTeamMember && !teamCandidate">
                    <angucomplete-alt id="team-member"
                                    placeholder="Nom du membre ..."
                                    pause="100"
                                    selected-object="teamCandidate"
                                    local-data="profiles"
                                    search-fields="user.first_name,user.last_name"
                                    text-no-results="Aucun membre trouvé"
                                    template-url="/views/block/community_profile_autocomplete.html"
                                    minlength="2"/>

                </div>
                <div ng-show="teamCandidate">
                    <button type="button"
                            class="btn btn-primary"
                            ng-click="addMember(teamCandidate.originalObject, 15, currentMakerScienceProfile.slug, false); addTeamMember=false; teamCandidate=null">
                            Inviter {{teamCandidate.originalObject.user.first_name}} {{teamCandidate.originalObject.user.last_name}} à devenir co-autheur ?
                    </button>
                    <button type="button" class="btn btn-default" ng-click="addTeamMember=false; teamCandidate=null">Annuler</button>
                </div>
            </div>
            <!-- ###################################################### -->

            <div class="member" ng-class="{'member-edit': editable}" ng-repeat="member in coAuthorMembers=(community|filter:{level:10, isValidated:true}|orderBy:'created_on')">
                <ng-include src="'/views/block/community_profile_thumb.html'"></ng-include>
                <button ng-show="editable && coAuthorMembers.length > 1" class="remove" ng-click="removeMember(member)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
            <div class="member" ng-class="{'member-edit': editable}" ng-repeat="member in coAuthorRequestingMembers=(community|filter:{level:10, isValidated:false}|orderBy:'created_on')">
                <div ng-show="editable && currentMakerScienceProfile.parent.id != member.profile.id">
                    <ng-include src="'/views/block/community_profile_thumb.html'"></ng-include>
                    <button class="remove" ng-click="removeMember(member)"><span class="glyphicon glyphicon-remove"></span></button>
                    <button class="btn btn-primary valid-button" ng-click="validateMember(member, true)">Valider ce membre</button>
                </div>
                <div ng-show="currentMakerScienceProfile.parent.id == member.profile.id">
                    Votre demande pour devenir co-autheur est en attente de validation
                    <a class="remove" ng-click="removeMember(member)"><span class="fa fa-trash" tooltip="Annuler votre demande"></span></a>
                </div>
            </div>
            <div class="member" ng-class="{'member-edit': editable}" ng-repeat="member in coAuthorInvitedMembers=(community|filter:{level:15, isValidated:false}|orderBy:'created_on')">
                <div ng-show="editable && currentMakerScienceProfile.parent.id != member.profile.id">
                    Invitation envoyée à <a ui-sref="profile.detail({slug:member.profile.id})">{{member.profile.user.first_name}} {{member.profile.user.last_name}}</a>
                    <a ng-click="removeMember(member)"><span class="fa fa-trash" tooltip="Annuler l'invitation"></span></a>
                </div>
                <div ng-show="currentMakerScienceProfile.parent.id == member.profile.id">
                    <label>Vous avez été invité à devenir co-autheur</label>
                    <button class="btn btn-primary" ng-click="validateMember(member, true)">Accepter</button>
                    <button class="btn btn-default" ng-click="removeMember(member)">Refuser</button>
                </div>
            </div>
        </tab>

        <!-- Membres resources  -->
        <tab ng-init="addResourceMember=false">
            <tab-heading>
                <span>{{(community|filter:{level:11, isValidated: true}).length }}</span>
                <ng-pluralize count="(community | filter: {level:11, isValidated: true}).length"
                             when="{'0': 'Expérience similaire',
                                 'one': 'Expérience similaire',
                                 'other': 'Expériences similaires'}">
                 </ng-pluralize>
            </tab-heading>

            <div class="member" ng-class="{'member-edit': editable || currentMakerScienceProfile.parent.id == member.profile.id}" ng-repeat="member in helperMembers=community|filter:{level:11, isValidated:true}|orderBy:'created_on'">
                <ng-include src="'/views/block/community_profile_thumb.html'"></ng-include>
                <button ng-show="editable || currentMakerScienceProfile.parent.id == member.profile.id" class="remove" ng-click="removeMember(member)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </tab>
        <tab>
            <tab-heading>
                <span>{{(community | filter: {level:12}).length }}</span>
                <ng-pluralize count="(community | filter: {level:12}).length"
                            when="{'0': 'Abonné',
                            'one': 'Abonné',
                            'other': 'Abonnés'}">
            </ng-pluralize>
            </tab-heading>
            <div class="member" ng-class="{'member-edit': editable}" ng-repeat="member in community | filter: {level:12}">
                <button class="remove" ng-click="removeMember(member)" ng-show="editable"><span class="glyphicon glyphicon-remove" ></span></button>
                <ng-include src="'/views/block/community_profile_thumb.html'"></ng-include>
            </div><!-- .member -->
        </tab>
    </tabset>
</section><!-- .community -->
