<div class="container">

    <div class="home-slide">
        <div class="row">
            <div class="col-md-7" ng-controller="MakerScienceProjectListCtrl">
                <carousel class="carousel-no-indicators">
                        <slide ng-repeat="project in projects | filter:{featured:true}">
                            <h3 class="category"><span>Fiche projet</span></h3>
                            <img ng-if="project.base_projectsheet.cover" ng-src="{{config.media_uri}}{{project.base_projectsheet.cover.thumbnail_url}}?height=393" alt="Loading slide one..." />
                            <img ng-if="!project.base_projectsheet.cover" src="./img/uploads/home-slide-one.jpg" alt="Loading slide one..." />
                            <div class="description">
                                <h3>{{project.parent.title}}</h3>
                                <h4>Par <strong>{{project.parent.team[0].members[0].user.first_name}} {{project.parent.team[0].members[0].user.last_name}}</strong></h4>
                            </div>
                        </slide>
                </carousel>
            </div>
            <div class="col-md-5" ng-init="showLoginPanel=false">
                <div class="home-join">
                    <p><a ui-sref="about" class="button">MakerScience c'est quoi?<img src="./img/smiley.png" alt="Smiley" /></a></p>
                    <div ng-show="!showLoginPanel">
                        <div class="join">
                            <h2>Rejoindre la communauté MakerScience!</h2>
                            <p class="buttons" ng-show="!authVars.isAuthenticated">
                                <a class="button" ng-click="showLoginPanel=true">S'inscrire</a>
                                <a class="button" ng-init="showLoginPanel=false" ng-click="showLoginPanel=true">Se connecter</a>
                            </p>
                        </div><!-- .join -->
                    </div>
                    <div ng-show="showLoginPanel" >
                       <p class="right">
                           <button class="close-login" ng-click="showLoginPanel=false"><img src="./img/icons/buttons/close-white-24.png" alt="Fermer" /></button>
                       </p>
                       <ng-include src="'./views/base/login.html'"></ng-include>
                    </div>
                </div><!-- .home-join -->
            </div>
        </div><!-- .row -->
    </div><!-- .home-slide -->

    <div class="home-links">
        <div class="row">
            <div class="col-md-4">
                <div class="row projects">
                    <div class="col-md-4">
                        <img src="./img/home/home-links-projects.png" alt="Stimulez des idées et des projets" />
                        <h3>Stimulez des idées et des projets</h3>
                    </div>
                    <div class="col-md-8">
                        <ul>
                            <li><a ui-sref="project.list">Parcourez les projets</a></li>
                            <li><a ui-sref="project.new">Ajoutez votre projet</a></li>
                            <li><a href="">Exprimez vos idées</a></li>
                        </ul>
                    </div>
                </div><!-- .row -->
            </div>
            <div class="col-md-4">
                <div class="row community">
                    <div class="col-md-4">
                        <img src="./img/home/home-links-community.png" alt="Echangez et rencontrez" />
                        <h3>Echangez et rencontrez</h3>
                    </div>
                    <div class="col-md-8">
                        <ul>
                            <li><a ui-sref="profile.list">Participez à la communauté</a></li>
                            <li><a ui-sref="profile.list">Trouvez des contacts</a></li>
                            <li><a href="">Discutez sur le forum</a></li>
                        </ul>
                    </div>
                </div><!-- .row -->
            </div>
            <div class="col-md-4">
                <div class="row resources">
                    <div class="col-md-4">
                        <img src="./img/home/home-links-resources.png" alt="Trouvez des méthodes, des outils, des réponses" />
                        <h3>Trouvez des méthodes, des outils, des réponses</h3>
                    </div>
                    <div class="col-md-8">
                        <ul>
                            <li><a ui-sref="resource.list">Parcourez les fiches ressources</a></li>
                            <li><a ui-sref="resource.new">Partagez votre expérience</a></li>
                            <li><a href="">Posez vos questions</a></li>
                        </ul>
                    </div>
                </div><!-- .row -->
            </div>
        </div><!-- row -->
    </div><!-- .home-links -->

    <div class="home-fullwidth">
        <div class="row">
            <div class="col-md-4">
                <h2 class="projects"><span class="glyphicon glyphicon-tasks"></span> Projets</h2>
                <div class="boxes boxes-small boxes-small-home boxes-projects" ng-controller="MakerScienceProjectListCtrl">
                    <!-- boxes tag need to be attached to each other // any space will show up in the rendered html -->
                    <div class="box" ng-repeat="project in projects | limitTo:3" >
                        <ng-include src="'views/catalog/block/project_thumb.html'" ng-init="project=project"></ng-include>
                    </div
                    ><div class="box box-solo box-blue">
                        <div><a ui-sref="project.list">Voir tous les <br />projets <span class="glyphicon glyphicon-chevron-right"></span></a></div>
                    </div>
                </div><!-- .boxes -->
            </div><!-- .col-md-4 -->
            <div class="col-md-4">
                <h2 class="resources"><span class="glyphicon glyphicon-book"></span> Experiences</h2>
                <div class="boxes boxes-small boxes-small-home boxes-resources" ng-controller="MakerScienceResourceListCtrl">
                    <!-- boxes tag need to be attached to each other // any space will show up in the rendered html -->
                    <div class="box" ng-repeat="resource in resources | limitTo:3">
                        <ng-include src="'views/catalog/block/resource_thumb.html'" ng-init="resource=resource"></ng-include>
                    </div
                    ><div class="box box-solo box-green">
                        <div><a ui-sref="resource.list">Voir toutes les expériences <span class="glyphicon glyphicon-chevron-right"></span></a></div>
                    </div>
                </div><!-- .boxes -->
            </div><!-- .col-md-4 -->
            <div class="col-md-4">
                <h2 class="members"><span class="glyphicon glyphicon-user"></span> Membres</h2>
                <div class="boxes boxes-small boxes-small-home members" ng-controller="MakerScienceProfileListCtrl">
                    <!-- boxes tag need to be attached to each other // any space will show up in the rendered html -->
                    <div class="box" ng-controller="MakerScienceProfileCtrl" ng-init="init(baseProfile.id)" ng-repeat="baseProfile in profiles | limitTo:3">
                        <ng-include src="'views/profile/block/profile_thumb.html'" ng-init="profile=baseProfile"></ng-include>
                    </div
                    ><div class="box box-solo box-pink">
                        <div><a ui-sref="profile.list">Voir tous les membres <span class="glyphicon glyphicon-chevron-right"></span></a></div>
                    </div>
                </div><!-- .boxes -->
            </div><!-- .col-md-4 -->
        </div><!-- .row -->
    </div><!-- .home-fullwidth -->

    <div class="row home-tags">
        <div class="col-md-12">
            <div class="home-tags" ng-controller="TagListCtrl">
                <h2>Tags</h2>
                <ul class="tags">
                    <li ng-repeat="tag in tags"><a href="">{{tag.name}}</a></li>
                </ul>
            </div><!-- .home-tags -->
        </div>
    </div><!-- .row -->

    <div class="row row-home">
        <div class="col-md-7">

            <div class="home-forum">
                <h2>Discussion // Forum //</h2>
                <h4>Sujet: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar lectus ut nibh consectetur feugiat.</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar lectus ut nibh consectetur feugiat. Donec euismod, metus vel varius finibus, arcu risus consequat nisl, vitae rhoncus sapien arcu vel nibh. In hac habitasse platea dictumst. Morbi a lectus a purus dapibus tempus. Donec at felis quam. Etiam bibendum odio risus, eu bibendum mauris condimentum et. Aenean est enim, venenatis non arcu sed, imperdiet pretium enim. Proin at venenatis elit, nec auctor erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                <h4>Sujet: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar lectus ut nibh consectetur feugiat.</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar lectus ut nibh consectetur feugiat. Donec euismod, metus vel varius finibus, arcu risus consequat nisl, vitae rhoncus sapien arcu vel nibh. In hac habitasse platea dictumst. Morbi a lectus a purus dapibus tempus. Donec at felis quam. Etiam bibendum odio risus, eu bibendum mauris condimentum et. Aenean est enim, venenatis non arcu sed, imperdiet pretium enim. Proin at venenatis elit, nec auctor erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                <p>Donec euismod, metus vel varius finibus, arcu risus consequat nisl, vitae rhoncus sapien arcu vel nibh. In hac habitasse platea dictumst. Morbi a lectus a purus dapibus tempus. Donec at felis quam. Etiam bibendum odio risus, eu bibendum mauris condimentum et. Aenean est enim, venenatis non arcu sed, imperdiet pretium enim. Proin at venenatis elit, nec auctor erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                <h4>Sujet: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar lectus ut nibh consectetur feugiat.</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar lectus ut nibh consectetur feugiat. Donec euismod, metus vel varius finibus, arcu risus consequat nisl, vitae rhoncus sapien arcu vel nibh. In hac habitasse platea dictumst. Morbi a lectus a purus dapibus tempus. Donec at felis quam. Etiam bibendum odio risus, eu bibendum mauris condimentum et. Aenean est enim, venenatis non arcu sed, imperdiet pretium enim. Proin at venenatis elit, nec auctor erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </div><!-- .home-forum -->

        </div>

        <div class="col-md-5">

            <div class="home-twitter">
                <a class="twitter-timeline"
                href="https://twitter.com/atiberghien"
                data-widget-id="527467059685257216"></a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div><!-- .home-tweeter -->

        </div>

    </div><!-- .row -->

</div><!-- .container -->
