<div class="row container">

        <div class="col-md-6">

            <fieldset class="change-password">

                <span class="input-group-addon" id="basic-addon1">@</span>
                <label>{{email}}</label>

                <label for="password">Votre nouveau mot de passe</label>
                <input type="password"  ng-model="passwordReset"/>

                <label for="passwordconfirmation">Confirmation de votre nouveau mot de passe</label>
                <input type="password" ng-model="passwordReset2"/>

                <span ng-show="passwordResetSuccess">Votre mot de passe a bien été ré-initialisé. Vous allez maintenant être rediriger vers l'acceuil et pouvoir
                    vous connecter à Makerscience avec votre nouveau mot de passe.</span>
                <span ng-show="passwordResetFail">Les deux mots de passe doivent être identiques.</span>
                <span ng-show="notMatchingEmailError">Le lien de ré-initialisation et l'email du profil ne correspondent pas.</span>


                <button class="button delete-account" ng-click="finalizeResetPassword()">Enregistrer le nouveau mot de passe</button>
            </fieldset>
        </div>
    </div>

</div><!-- .container -->
