<link href="css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
<link href="css/print.css" media="print" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="js/vendor/ng-tags-input/ng-tags-input.min.css">
<link rel="stylesheet" href="js/vendor/ng-tags-input/ng-tags-input.bootstrap.min.css">
<div class="admin container-fluid">

    <ng-include src="'views/base/header.html'"></ng-include>

    <div id="intro" class="intro-resource-create">

        <h1>Le numérique et l'innovation</h1>
        <h2>Au coeur de tous <em>les projets</em></h2>
        <button>A vous de jouer!</button>

    </div><!-- #intro -->

    <ng-include src="'views/catalog/block/popular_tags.html'"></ng-include>

    <div class="row container">

        <div class="col-md-12">

            <div id="content" class="new-project">

                <h2>Créer une ressource</h2>
                <h3>Nouvelle ressource</h3>

                <form ng-controller="MakerscienceProjectSheetCreateCtrl" ng-init="init('projet-makerscience')">

                    <div class="row">

                        <div class="col-md-8">

                            <input type="text"
                                   name="resource-name"
                                   placeholder="Nom de la ressource"
                                   ng-model="projectsheet.resource.title"/>

                            <textarea name="resource-tagline"
                                      placeholder="Résumez la ressource en une courte phrase"
                                      rows="4"
                                      ng-model="projectsheet.resource.baseline">
                            </textarea>
                            <div ng-controller="TagAutoCompleteCtrl">
                            <h3>Quels sont les mots-clés associés à votre ressource ? (thématiques, type de projet, outils...)</h3>
                            <tags-input ng-model="tags"
                                        placeholder="Ajouter un mot-clé">
                              <auto-complete source="loadTags($query)"></auto-complete>
                            </tags-input>
                            </div>

                        </div>

                        <div class="col-md-4">

                            <button class="button button-photo-upload">Photo de couverture</button>
                            <fieldset class="compact">
                                <input type="text" name="address" placeholder="Adresse" />
                                <input type="text" name="city" placeholder="Ville" />
                                <input type="text" name="postalcode" placeholder="Code Postal" />
                            </fieldset>
                            <fieldset class="phases">
                                <p>Niveau</p>
                                <label for="level1" class="selected">
                                    <input id="level1" type="radio" name="level" value="1" />
                                    <img src="./img/level.png" alt="Niveau 1" />
                                    Facile
                                </label>
                                <label for="level2">
                                    <input id="level2" type="radio" name="level" value="2" />
                                    <img src="./img/level.png" alt="Niveau 2" />
                                    Moyen
                                </label>
                                <label for="level3">
                                    <input id="level3" type="radio" name="level" value="3" />
                                    <img src="./img/level.png" alt="Niveau 3" />
                                    Difficile
                                </label>
                            </fieldset>

                        </div>

                    </div><!-- .row -->

                    <textarea name="project-about"
                              placeholder="Résumez votre projet en quelques lignes"
                              rows="4"
                              ng-model="projectsheet.project.description"></textarea>

                    <textarea ng-model="projectsheet.answers[$index]" name="question_{{$index}}" placeholder="{{question}} "rows="4" ng-repeat="question in template.questions"></textarea>


                    <div class="row">

                        <div class="col-md-6">
                            <fieldset class="needs-idea">
                                <h4>Vos besoins?</h4>
                                <h5>Idée</h5>
                                <textarea name="project-idea" placeholder="Champ de texte..." rows="4"></textarea>
                                <button class="right">Suivant</button>
                            </fieldset>
                            <button class="button button-add">Gallerie photo et vidéo</button>
                        </div>

                        <div class="col-md-6">
                            <fieldset class="fixme">
                                <h4><span class="fixme">#FIXME</span><br />Lien vers une fiche ressource<br />(voir design)</h4>
                            </fieldset>
                        </div>

                    </div><!-- .row -->

                    <p class="right">
                        <button class="button cancel" type="submit">Annuler</button>
                        <button class="button" ng-click="saveMakerscienceProject(projectsheet)" >Enregistrer</button>
                    </p>

                </form>

            </div><!-- #content -->

        </div><!-- .row -->

    </div><!-- .row .container -->

    <ng-include src="'views/base/footer.html'"></ng-include>
</div><!-- .container-fluid -->
