<link href="js/vendor/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
<link rel="stylesheet" href="js/vendor/ng-tags-input/ng-tags-input.min.css">
<link rel="stylesheet" href="js/vendor/ng-tags-input/ng-tags-input.bootstrap.min.css">
<link rel='stylesheet' href='css/textAngular.css'>
<div ng-controller="MakerScienceProjectSheetCtrl">

    <ul id="sidenav" class="project">
        <li><a ng-click="editable = ! editable" ng-init="editable=false" ng-class="{selected: editable}"><span class="glyphicon glyphicon-pencil"></span>Editer</a></li>
        <li><a href=""><span class="glyphicon glyphicon-share-alt"></span>Partager</a></li>
        <li><a href=""><span class="glyphicon glyphicon-envelope"></span>Contact</a></li>
    </ul><!-- #nav -->

    <div id="intro" class="intro-project" >

        <div class="container">

            <div class="intro edit">

                <div class="edit-buttons" ng-show="editable">
                    <button ng-click="BaselineBtnForm.$show()" ng-hide="BaselineBtnForm.$visible">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </div>

                <h1>{{projectsheet.parent.title}}</h1>

                <h2 editable-text="projectsheet.parent.baseline"
                    e-form="BaselineBtnForm"
                    onbeforesave="updateProjectSheet('Project', projectsheet.parent.id , 'baseline', $data)"
                    ng-bind-html="projectsheet.parent.baseline">{{ projectsheet.parent.baseline }}
                </h2>
                <h3><span>Fiche Projet</span></h3>

                <div class="row">

                    <div class="col-md-8" >
                        <img ng-if="projectsheet.base_projectsheet.cover" ng-src="{{ config.media_uri }}{{ projectsheet.base_projectsheet.cover.thumbnail_url+'?height=393'}}" alt="Project Image" />
                        <img ng-if="!projectsheet.base_projectsheet.cover" src="img/bacasable.jpg" alt="Project Image" />
                        <div class="editable" ng-show="editable" style="padding-top:inherit">
                        	<div class="edit-buttons edit-cover-image">
                        	    <button ng-click="openGallery(projectsheet.base_projectsheet)"><span class="glyphicon glyphicon-camera"></span></button>
                    	    </div>
                        </div>
                    </div>

                    <div class="col-md-4">

                        <div class="sideproject">
                            <div class="editable">
                                <div class="edit-buttons" ng-show="editable" ng-init="addTag=false">
                                    <button ng-click="addTag = ! addTag"><span class="glyphicon glyphicon-pencil"></span></button>
                                </div>

                                <div ng-show="addTag==true" ng-controller="TagAutoCompleteCtrl">
                                    <tags-input ng-model="$parent.preparedTags"
                                                placeholder="Ajouter un mot-clé"
                                                on-tag-added="$parent.addTagFromProject($tag)"
                                                on-tag-removed="$parent.removeTagFromProject($tag)">
                                                <auto-complete source="loadTags($query)"></auto-complete>
                                    </tags-input>
                                </div>

                                <div ng-show="addTag==false">
                                    <ul class="tags tags-project">
                                        <li ng-repeat="tag in preparedTags"><a href="">{{tag.text}}</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="editable">
                                <div class="edit-buttons" ng-show="editable" ng-init="editWIP=false">
                                    <button ng-click="editWIP = ! editWIP"><span class="glyphicon glyphicon-pencil"></span></button>
                                </div>
                                <fieldset class="phases" ng-controller="ProjectProgressCtrl" ng-init="init('makerscience')">
                                    <p>État d'avancement</p>
                                    <div ng-repeat="progress in progressRange|orderBy:'order'">
                                        <label ng-if="progress.id!=projectsheet.parent.progress.id"
                                               style="background-image: url('../img/icons/project/project-grey.png');float:left"
                                               tooltip="{{progress.label}} + Explication?">
                                            <span ng-if="!editWIP">{{progress.label}}</span>
                                            <a ng-if="editWIP"
                                               ng-click="updateProjectSheet('Project', projectsheet.parent.id, 'progress', progress.resource_uri);projectsheet.parent.progress=progress">{{progress.label}}</a>
                                        </label>
                                        <label ng-if="progress.id==projectsheet.parent.progress.id"
                                               style="background-image: url('{{$root.config.media_uri}}{{progress.icon}}');float:left"
                                               tooltip="{{progress.label}} + Explication?">
                                            <span ng-if="!editWIP">{{progress.label}}</span>
                                            <a ng-if="editWIP"
                                               ng-click="updateProjectSheet('Project', projectsheet.parent.id, 'progress', progress.resource_uri);projectsheet.parent.progress=progress">{{progress.label}}</a>
                                        </label>
                                    </div>
                                    </fieldset>

                                </fieldset>
                            </div>

                            <div class="editable">
                                <div class="edit-buttons" ng-show="editable">
                                    <button ng-click="EndDateBtnForm.$show()" ng-hide="EndDateBtnForm.$visible">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </div>
                                <p editable-bsdate="projectsheet.parent.end_date"
                                    e-form="EndDateBtnForm"
                                    onbeforesave="updateProjectSheet('Project', projectsheet.parent.id , 'end_date', $data)"
                                    e-datepicker-popup="dd/MM/yyyy">Fin de projet: {{projectsheet.parent.end_date|date:"dd/MM/yyyy" || "N/C" }}
                                </p>
                            </div>
                            <div class="editable">
                                <p>Mise à jour <span am-time-ago="projectsheet.modified"></span></p>
                            </div>

                        </div><!-- .sideproject -->

                    </div><!-- .col-md-4 -->

                </div><!-- .row -->

            </div><!-- .intro -->

        </div><!-- .container -->

    </div><!-- #intro -->

    <div class="row container">

        <div class="col-md-8">
            <div id="content">

                <tabset class="nav-tabs-project">
                    <tab heading="Projet">
                        <section>
                            <div class="edit-buttons" ng-click="DescBtnForm.$show()" ng-hide="DescBtnForm.$visible || !editable" ng-show="editable">
                                <button> <span class="glyphicon glyphicon-pencil"></span></button>
                            </div>
                            <h3>A propos du projet</h3>

                            <p editable-text-angular="projectsheet.parent.description"
                                 e-form="DescBtnForm"
                                 e-rows="4"
                                 e-ta-toolbar="[['bold','italics', 'underline'], ['ul', 'ol']]"
                                 onbeforesave="updateProjectSheet('Project', projectsheet.parent.id , 'description', $data)"
                                 ng-bind-html="projectsheet.parent.description">
                            </p>

                        </section>
                        <section ng-repeat="item in projectsheet.base_projectsheet.items">
                            <h3>{{item.question.text}}</h3>
                            <div class="edit-buttons" ng-click="AnswerBtnForm.$show()" ng-hide="AnswerBtnForm.$visible || !editable" ng-show="editable">
                                <button><span class="glyphicon glyphicon-pencil"></span></button>
                            </div>
                            <p editable-text-angular="item.answer"
                                 e-form="AnswerBtnForm"
                                 e-rows="4"
                                 e-ta-toolbar="[['bold','italics', 'underline'], ['ul', 'ol']]"
                                 onbeforesave="updateProjectSheet('ProjectSheetItem', item.id , 'answer', $data)"
                                 ng-bind-html="item.answer">
                            </p>
                        </section>
                    </tab>
                    <tab heading="Actus">
                        <section>
                            <h3>Actus</h3>
                            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimididunt ut labore et dolore magna aliqua. Ut enim ad minimididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </section>
                    </tab>
                    <tab heading="Discussions">
                        <section>
                            <h3>Discussions</h3>
                            <p>Ced do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </section>
                    </tab>
                </tabset>

                <div class="row">
                    <div class="col-md-12">
                        <div class="needs">
                            <ul class="actions">
                                <li><a href=""><span class="glyphicon glyphicon-comment"></span>Répondre</a></li>
                            </ul>
                            <h3>Besoins</h3>
                            <carousel id="carousel-needs" class="carousel-no-indicators carousel-text-links">
                                <slide class="needs-idea">
                                    <h4>Idée</h4>
                                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </slide>
                                <slide class="needs-skills">
                                    <h4>Compétence</h4>
                                    <p>Ccaecat cupidatat nxcepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </slide>
                                <slide class="needs-hardware">
                                    <h4>Matériel</h4>
                                    <p>Rur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </slide>
                                <slide class="needs-financing">
                                    <h4>Financement</h4>
                                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </slide>
                            </carousel>
                        </div><!-- .needs -->
                    </div>
                </div><!-- .row -->

                <div class="editable" ng-show="editable" style="padding-top:inherit">
                    <a ng-click="openGallery(projectsheet.base_projectsheet)">Gérer la gallerie</a>
                </div>
                <tabset class="nav-tabs-slide nav-tabs-slide-project">
                    <tab>
                        <tab-heading>
                            <span class="glyphicon glyphicon-picture"></span>
                        </tab-heading>
                        <carousel class="carousel-no-indicators">
                                <slide ng-if="projectsheet.base_projectsheet.bucket.files.length" ng-repeat="img in projectsheet.base_projectsheet.bucket.files">
                                    <img ng-src="{{ config.media_uri }}{{ img.thumbnail_url+'?height=683' }}" alt="Slide">
                                </slide>
                                <slide ng-if="!projectsheet.base_projectsheet.bucket.files.length">
                                    <img src="img/slides/slide_one.png" alt="Slide One">
                                </slide>
                        </carousel>
                    </tab>
                    <tab>
                        <tab-heading>
                            <span class="glyphicon glyphicon-facetime-video"></span>
                        </tab-heading>
                        <carousel>
                            <slide ng-if="projectsheet.base_projectsheet.videos" ng-repeat="(url, comment) in projectsheet.base_projectsheet.videos">
                                <embed-video ng-href="{{url}}" width="683" height="342" style="height:342px; margin:0 auto;">
                                    <a href="{{url}}">Watch</a>
                                </embed-video>
                            </slide>
                            <slide ng-if="!projectsheet.base_projectsheet.videos">
                                <img src="img/slides/slide_one.png" alt="Slide One">
                            </slide>
                        </carousel>
                    </tab>
                </tabset>


                <section class="linked linked-project" ng-init="linkResources=True">
                    <div class="edit-buttons" ng-hide="!editable" ng-show="editable">
                        <button ng-click="linkResources=!linkResources" ><span class="glyphicon glyphicon-pencil"></span></button>
                        <div ng-show="linkResources">
                            <angucomplete-alt id="linked-idea"
                                            placeholder="Nom de la ressource"
                                            pause="100"
                                            selected-object="newLinkedResource"
                                            local-data="allAvailableResources"
                                            search-fields="title"
                                            title-field="title"
                                            text-no-results="Aucune ressource trouvée"
                                            minlength="3"/>
                        </div>
                        <div ng-show="linkResources">
                            <button class="button" ng-click="addLinkedResource(newLinkedResource)">Lier la ressource</button>
                        </div>
                    </div>
                    <carousel class="carousel-no-indicators carousel-text-links" >
                        <slide class="left-aligned" ng-repeat="resource in linkedResources">
                            <h3><a href="">Ressources associées</a></h3>
                            <h4><a href="">{{resource.parent.title}}</a></h4>
                            <h5><a href="">{{resource.parent.baseline}}</a></h5>
                            <img src="./img/bacasable.jpg" alt="Image background" />
                        </slide>
                    </carousel>
                </section>

            </div><!-- #content -->

        </div><!-- .col-md-8 -->

        <div class="col-md-4">
            <div id="sidebar">
                <ng-include onload="parentColor='project';projectsheet=projectsheet" src="'views/catalog/block/community.html'"></ng-include>
                <ng-include src="'views/catalog/block/comments.html'"></ng-include>
                <ng-include onload="parentColor='project'" src="'views/catalog/block/popularity.html'"></ng-include>

            </div><!-- #sidebar -->

        </div><!-- .col-md-4 -->

    </div><!-- .row -->

    <div class="row container">

        <div class="col-md-12">

            <h2 class="boxed boxed-project"><span class="glyphicon glyphicon-tasks"></span> Projets</h2>

            <ul class="boxes boxes-medium boxes-spaced">
                <!-- #WARNING No space between a closing </li> and the following opening one or the browser will add extra space -->
                <li class="box" ng-repeat="project in similars">
                    <a ui-sref="project.detail({ slug: project.parent.slug })">
                        <h3>{{project.parent.begin_date|date : format : shortdate}}<img src="./img/icons/project/project-orange.png" alt="Orange project" /></h3>
                        <h4>{{project.parent.baseline}}</h4>
                        <h5>{{project.parent.title}}</h5>
                        <img src="./img/bacasable.jpg" alt="Image background" />
                    </a>
                </li
                ><li class="box box-solo box-blue">
                    <div>
                        <a ui-sref="project-list">Plus de projets <span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </li>
            </ul>

            <a ui-sref="project.new" class="large large-red">Créer un projet</a>

        </div>

    </div><!-- .row .container -->

</div>
