
<div class="row container">

    <div id="content" class="listing" ng-controller="ProjectSheetListCtrl"  ng-init="init(12)">

        <div class="col-md-12">

            <div class="row">
                <div class="col-md-9">

                    <tabset class="nav-tabs-listing">
                        <tab heading="Les plus récents">
                            <div class="boxes boxes-small boxes-projects" >
                                <div class="box" ng-repeat="projectsheet in projectsheets">
                                    <ng-include src="'views/catalog/block/project_thumb.html'" ng-init="project=projectsheet.project"></ng-include>
                                </div><!-- .box -->
                            </div><!-- .boxes -->
                        </tab>
                        <tab heading="Les plus populaires">
                            Les plus populaires ... coming soon
                        </tab>
                        <tab heading="Sélection thématique">
                            Sélection thématique
                        </tab>
                        <tab heading="Au hasard">
                            Au hasard ... coming soon
                        </tab>
                    </tabset>

                    <a ui-sref="project.new" class="large large-red">Créer un projet</a>

                </div>
                <div class="col-md-3">
                    <ng-include onload="objectType='project'" src="'views/catalog/block/filters.html'"></ng-include>
                </div>

        </div><!-- .col-md-12 -->

    </div><!-- #content -->

</div><!-- .row .container -->
