<div id="intro" class="intro-listing">

    <carousel interval="5000">
        <slide  style="background-image: url('./img/slides/slide-project-one.jpg')">
            <h1>Coup de projecteur sur</h1>
            <h2><em>La fête des sciences à Toulouse</em></h2>
        </slide>
        <slide style="background-image: url('./img/slides/slide-project-two.jpg')">
            <h1>Coup de  sur</h1>
            <h2>La fête des sciences à <em>Toulouse</em></h2>
        </slide>
        <slide style="background-image: url('./img/slides/slide-project-three.jpg')">
            <h1>Coup de projecteur sur</h1>
            <h2><em>La fête des  à Toulouse</em></h2>
        </slide>
    </carousel>

</div><!-- #intro -->

<ng-include src="'views/catalog/block/popular_tags.html'" ng-init="type='project'"></ng-include>

<div class="row container">

    <div id="content" class="listing">

        <div class="col-md-12">

            <section class="title">
                <h3>Sélection thématique de la semaine!</h3>
                <h4>"Spécial Fablab"</h4>
            </section>

            <carousel id="carousel-weekly">
                <slide>
                    <div class="boxes boxes-listing" ng-controller="MakerScienceProjectListCtrl">
                        <div class="box" ng-repeat="project in projects | limitTo:4">
                            <ng-include src="'views/catalog/block/project_thumb.html'" ng-init="project=project"></ng-include>
                        </div><!-- .box -->
                    </div><!-- .boxes -->
                </slide>
                <slide>
                    <div class="boxes boxes-listing" ng-controller="MakerScienceProjectListCtrl">
                        <div class="box" ng-repeat="project in projects | limitTo:4">
                            <ng-include src="'views/catalog/block/project_thumb.html'" ng-init="project=project"></ng-include>
                        </div><!-- .box -->
                    </div><!-- .boxes -->
                </slide>
                <slide>
                    <div class="boxes boxes-listing" ng-controller="MakerScienceProjectListCtrl">
                        <div class="box" ng-repeat="project in projects | limitTo:4">
                            <ng-include src="'views/catalog/block/project_thumb.html'" ng-init="project=project"></ng-include>
                        </div><!-- .box -->
                    </div><!-- .boxes -->
                </slide>
            </carousel>

            <tabset class="nav-tabs-listing">
                <tab heading="Nouveautés">
                    <div class="boxes boxes-listing" ng-controller="MakerScienceProjectListCtrl">
                        <div class="box" ng-repeat="project in projects">
                            <ng-include src="'views/catalog/block/project_thumb.html'" ng-init="project=project"></ng-include>
                        </div><!-- .box -->
                    </div><!-- .boxes -->
                </tab>
                <tab heading="Les mieux notés">
                    Les mieux notés
                </tab>
                <tab heading="Les plus vus">
                    Les plus vus
                </tab>
            </tabset>

            <a ui-sref="project.new" class="large large-red">Créer un projet</a>

        </div><!-- .col-md-12 -->

    </div><!-- #content -->

</div><!-- .row .container -->
