<link rel="stylesheet" href="js/vendor/ng-tags-input/ng-tags-input.min.css">
<link rel="stylesheet" href="js/vendor/ng-tags-input/ng-tags-input.bootstrap.min.css">
<link rel='stylesheet' href='css/textAngular.css'>
<div class="admin">

    <div id="intro" class="intro-project-create">

        <h1>Le numérique et l'innovation</h1>
        <h2>Au coeur de tous <em>les projets</em></h2>
        <button>A vous de jouer!</button>

    </div><!-- #intro -->

    <ng-include src="'views/catalog/block/popular_tags.html'" ng-init="type='project'"></ng-include>

    <div class="row container">

        <div class="col-md-12">

            <div id="content" class="new-project">

                <h2>Créer un projet</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <h3>Nouveau projet</h3>

                <form ng-controller="MakerScienceProjectSheetCreateCtrl" ng-init="init('projet-makerscience')">

                    <div class="row">

                        <div class="col-md-8">

                            <fieldset class="fake-placeholder">
                                <h4>Nom du projet</h4>
                                <input type="text"
                                       name="project-name"
                                       placeholder=">"
                                       ng-model="projectsheet.project.title"/>
                           </fieldset>

                            <fieldset class="fake-placeholder">
                                <h4>Résumez votre projet en une courte phrase</h4>
                                <input type="text"
                                           name="project-baseline"
                                           placeholder=">"
                                           ng-model="projectsheet.project.baseline"/>
                           </fieldset>

                            <fieldset class="fake-placeholder">
                                <div ng-controller="TagAutoCompleteCtrl">
                                    <h4>Quels sont les mots-clés associés à votre projet ? (thématiques, type de projet, outils...)</h4>
                                    <tags-input ng-model="tags"
                                                placeholder="Ajouter un mot-clé">
                                      <auto-complete source="loadTags($query)"></auto-complete>
                                    </tags-input>
                                </div>
                            </fieldset>

                        </div>

                        <div class="col-md-4">

                            <fieldset class="addPhotosVideos" ng-controller="GalleryCtrl">
                                <label ng-click="open()">Ajouter des médias</label>
                                <button class="addPhotos" ng-click="open()">
                                    <span class="glyphicon glyphicon-camera"></span>
                                </button>
                                <button class="addVideos" ng-click="open()">
                                    <span class="glyphicon glyphicon-facetime-video"></span>
                                </button>
                            </fieldset>
                            <fieldset class="phases" ng-controller="ProjectProgressCtrl" ng-init="init('makerscience')">
                                <p>État d'avancement</p>
                                <label class="phase{{progress.order+1}} {{selectedClasses[progress.id]}}"
                                       ng-repeat="progress in progressRange"
                                       ng-click="updateProgressChoice(progress);$parent.projectsheet.project.progress=progress.resource_uri">
                                    {{progress.label}}
                                </label>
                            </fieldset>


                        </div>

                    </div><!-- .row -->

                    <fieldset class="new-project">
                        <h4>Résumez votre projet en quelques lignes</h4>
                        <text-angular name="project-about"
                                      ta-toolbar="[['bold','italics', 'underline'], ['ul', 'ol']]"
                                      ng-model="projectsheet.project.description"
                                      e-rows="4">
                        </text-angular>
                    </fieldset>

                    <fieldset class="new-project" ng-repeat="question in template.questions">
                        <h4>{{question}}</h4>
                        <text-angular ng-model="projectsheet.answers[$index]"
                                      ta-toolbar="[['bold','italics', 'underline'], ['ul', 'ol']]"
                                      name="question_{{$index}}"
                                      e-rows="4">
                        </text-angular>
                    </fieldset>

                    <fieldset class="needs needs-select">
                        <h4>Vos besoins</h4>
                        <p class="right">
                            <textarea name="project-idea" placeholder="Vous avez besoin d'idées fraîches pour votre projet? Précisez ici vos besoins du moment ..." rows="4"></textarea>
                        </p>
                        <button ng-click="showNeedsMenu=!showNeedsMenu">Nouvelles idées <span class="glyphicon glyphicon-chevron-down"></span></button>
                        <ul ng-show="showNeedsMenu">
                            <li ng-click="showNeedsMenu=!showNeedsMenu">Nouvelles idées</li>
                            <li ng-click="showNeedsMenu=!showNeedsMenu">Compétences</li>
                            <li ng-click="showNeedsMenu=!showNeedsMenu">Matériel</li>
                            <li ng-click="showNeedsMenu=!showNeedsMenu">Financement</li>
                            <li ng-click="showNeedsMenu=!showNeedsMenu">Conseils</li>
                            <li ng-click="showNeedsMenu=!showNeedsMenu">Avis</li>
                        </ul>
                        <p class="right">
                            <textarea name="project-idea" placeholder="Descrivez votre besoin" rows="4"></textarea>
                        </p>
                        <p>
                            <button class="button cancel">Supprimer</button>
                            <button class="button">Ajouter</button>
                        </p>
                    </fieldset>
                    <fieldset class="linked-idea">
                        <h4>Ressources</h4>
                        <p>Voulez-vous associer votre projet à des pages ressources ?</p>
                        <p class="center">
                            <button class="button">Ajouter une ressource</button>
                        </p>
                    </fieldset>

                    <p class="right">
                        <button class="button cancel">Annuler</button>
                        <button class="button" ng-click="saveMakerscienceProject(projectsheet)" >Enregistrer</button>
                    </p>
                    <div class="progress" style="">
                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }" style="width: 0%;"></div>
                    </div>
                </form>

            </div><!-- #content -->

        </div><!-- .row -->

    </div><!-- .row .container -->

</div><!-- .container-fluid -->
