<div>

    <!-- <ul id="sidenav" class="project">
        <li ng-show="currentUserHasEditRights"><a ng-click="editable = ! editable" ng-init="editable=false" ng-class="{selected: editable}"><span class="glyphicon glyphicon-pencil"></span>Editer</a></li>
        <li><a href=""><span class="glyphicon glyphicon-share-alt"></span>Partager</a></li>
        <li><a href=""><span class="glyphicon glyphicon-envelope"></span>Contact</a></li>
    </ul> -->

    <div id="intro" class="intro-project">

        <div class="container">

            <div class="intro edit">
                <ng-include src="'/views/catalog/block/social_share.html'"></ng-include>
                <div class="edit-buttons" ng-show="editable">
                    <button ng-click="BaselineBtnForm.$show()" ng-hide="BaselineBtnForm.$visible">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </div>
                <h1>{{projectsheet.parent.title}}</h1>

                <h2 editable-text="projectsheet.parent.baseline"
                    e-form="BaselineBtnForm"
                    onbeforesave="updateProjectSheet('Project', projectsheet.parent.id , 'baseline', $data)"
                    ng-bind-html="projectsheet.parent.baseline">{{ projectsheet.parent.baseline }}
                </h2>

                <h3><span>Projet</span></h3>

                <div class="row">
                    <div class="col-md-8" >
                        <img ng-if="projectsheet.base_projectsheet.cover" ng-src="{{ config.media_uri }}{{ projectsheet.base_projectsheet.cover.thumbnail_url+'?width=700'}}" alt="Project Image" />
                        <img ng-if="!projectsheet.base_projectsheet.cover" src="/img/bacasable.jpg" alt="Project Image" />
                        <div class="editable" ng-show="editable" style="padding-top:inherit">
                            <div class="edit-buttons edit-cover-image">
                                <button ng-click="openGallery(projectsheet.base_projectsheet)"><span class="glyphicon glyphicon-camera"></span></button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">

                        <div class="side-header">
                            <ng-include src="'/views/catalog/block/project_tags_widget.html'"></ng-include>

                            <div class="editable">
                                <div class="edit-buttons" ng-show="editable">
                                    <button ng-click="WIPBtnForm.$show()" ng-hide="WIPBtnForm.$visible">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </div>
                                <p editable-select="projectsheet.parent.progress.resource_uri"
                                e-ng-options="progress.value as progress.text for progress in progressRange"
                                    e-form="WIPBtnForm"
                                    onbeforesave="updateProjectSheet('Project', projectsheet.parent.id , 'progress', $data);">
                                    <span ng-if="projectsheet.parent.progress">État d'avancement : {{showProjectProgress()}}</a>
                                    <span ng-if="!projectsheet.parent.progress">État d'avancement {{showProjectProgress()}}</span>
                                </p>
                            </div>

                            <div class="editable">
                                <div class="edit-buttons" ng-show="editable">
                                    <button ng-click="EndDateBtnForm.$show()" ng-hide="EndDateBtnForm.$visible">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </div>
                                <p editable-bsdate="projectsheet.parent.end_date"
                                    e-form="EndDateBtnForm"
                                    onbeforesave="updateProjectSheet('Project', projectsheet.parent.id , 'end_date', $data)"
                                    e-datepicker-popup="dd/MM/yyyy">
                                    <span class="glyphicon glyphicon glyphicon-time"></span>
                                    <span ng-if="projectsheet.parent.end_date">Fin de projet: {{projectsheet.parent.end_date|date:"dd/MM/yyyy"}}</span>
                                    <span ng-if="!projectsheet.parent.end_date">Fin de projet non renseigné</span>
                                </p>
                            </div>

                            <div class="editable">
                                <div class="edit-buttons" ng-show="editable">
                                    <button ng-click="LocationBtnForm.$show()" ng-hide="LocationBtnForm.$visible">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </div>
                                <p editable-text="projectsheet.parent.location.address.address_locality"
                                    e-form="LocationBtnForm"
                                    onbeforesave="updateProjectSheet('Place', projectsheet.parent.location.id , 'address', {'address_locality' : $data})">
                                    <span class="glyphicon glyphicon-map-marker"></span>
                                    <span ng-if="projectsheet.parent.location.address.address_locality">{{projectsheet.parent.location.address.address_locality}}</span>
                                    <span ng-if="!projectsheet.parent.location.address.address_locality">Localisation non renseignée</span>
                                </p>
                            </div>

                            <div class="editable">
                                <div class="edit-buttons" ng-show="editable">
                                    <button ng-click="WebsiteBtnForm.$show()" ng-hide="WebsiteBtnForm.$visible">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </div>
                                <p editable-text="projectsheet.parent.website"
                                    e-form="WebsiteBtnForm"
                                    onbeforesave="updateProjectSheet('Project', projectsheet.parent.id , 'website', $data)">
                                    <span class="glyphicon glyphicon-globe"></span>
                                    <a ng-if="projectsheet.parent.website" href="{{projectsheet.parent.website}}" target="_blank">{{projectsheet.parent.website}}</a>
                                    <span ng-if="!projectsheet.parent.website">Site web non renseignée</span>
                                </p>
                            </div>
                            <p>
                                <span>Crée le <span am-time-ago="projectsheet.parent.created_on"></span><span> /
                                <span>Mis à jour le <span am-time-ago="projectsheet.modified"></span><span>
                            </p>

                        </div><!-- .side-header -->

                    </div><!-- .col-md-4 -->

                </div><!-- .row -->

            </div><!-- .intro -->

        </div><!-- .container -->

    </div><!-- #intro -->

    <div class="row container">

        <div class="col-md-8">
            <div id="content">

                <tabset class="nav-tabs-project">
                    <tab heading="Projet">
                        <section>
                            <div class="edit-buttons" ng-click="DescBtnForm.$show()" ng-hide="DescBtnForm.$visible || !editable" ng-show="editable">
                                <button> <span class="glyphicon glyphicon-pencil"></span></button>
                            </div>
                            <h3>A propos du projet</h3>

                            <p editable-text-angular="projectsheet.parent.description"
                                 e-form="DescBtnForm"
                                 e-rows="4"
                                 e-ta-toolbar="[['bold','italics', 'underline'], ['ul', 'ol'], ['insertLink']]"
                                 onbeforesave="updateProjectSheet('Project', projectsheet.parent.id , 'description', $data)"
                                 ng-bind-html="projectsheet.parent.description">
                            </p>

                        </section>
                        <section ng-repeat="item in projectsheet.base_projectsheet.question_answers">
                            <h3>{{item.question.text}}</h3>
                            <div class="edit-buttons" ng-click="AnswerBtnForm.$show()" ng-hide="AnswerBtnForm.$visible || !editable" ng-show="editable">
                                <button><span class="glyphicon glyphicon-pencil"></span></button>
                            </div>
                            <p editable-text-angular="item.answer"
                                 e-form="AnswerBtnForm"
                                 e-rows="4"
                                 e-ta-toolbar="[['bold','italics', 'underline'], ['ul', 'ol'], ['insertLink']]"
                                 onbeforesave="updateProjectSheet('ProjectSheetQuestionAnswer', item.id , 'answer', $data)"
                                 ng-bind-html="item.answer">
                            </p>
                        </section>
                    </tab>
                    <tab heading="Actus">
                        <section>
                            <h3>Actus</h3>
                            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimididunt ut labore et dolore magna aliqua. Ut enim ad minimididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </section>
                    </tab>
                    <tab heading="Discussions">
                        <section>
                            <div ng-repeat="postID in projectsheet.linked_post">
                                <div ng-controller="MakerSciencePostEmbedCtrl" ng-init="init(postID)">
                                    <ng-include ng-if="post.id" src="'/views/forum/block/thread.html'"></ng-include>
                                </div>
                            </div>
                        </section>
                    </tab>
                </tabset>

                <div class="row">
                    <div class="col-md-12">
                        <div class="needs">
                            <ul class="actions">
                                <li><a href=""><span class="glyphicon glyphicon-comment"></span>Répondre</a></li>
                            </ul>
                            <h3>Besoins</h3>
                            <carousel id="carousel-needs" class="carousel-no-indicators carousel-text-links">
                                <slide class="needs-idea">
                                    <h4>Idée</h4>
                                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </slide>
                                <slide class="needs-skills">
                                    <h4>Compétence</h4>
                                    <p>Ccaecat cupidatat nxcepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </slide>
                                <slide class="needs-hardware">
                                    <h4>Matériel</h4>
                                    <p>Rur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </slide>
                                <slide class="needs-financing">
                                    <h4>Financement</h4>
                                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </slide>
                            </carousel>
                        </div><!-- .needs -->
                    </div>
                </div><!-- .row -->

                <!-- Angular UI Tabs -->
                <tabset class="nav-tabs-slide nav-tabs-slide-project">
                    <tab ng-init="currentImg=0">
                        <tab-heading>
                            <span class="glyphicon glyphicon-picture"></span>
                        </tab-heading>
                        <div ng-if="projectsheet.base_projectsheet.bucket.files.length" ng-repeat="img in projectsheet.base_projectsheet.bucket.files" ng-show="$index==currentImg">
                            <img ng-src="{{ config.media_uri }}{{ img.thumbnail_url }}?width=683x300" alt="Slide">
                        </div>
                        <button ng-click="currentImg = Math.abs((currentImg - 1) % projectsheet.base_projectsheet.bucket.files.length)"><span class="glyphicon glyphicon-circle-arrow-left"></span></button>
                        <button ng-click="currentImg = (currentImg + 1) % projectsheet.base_projectsheet.bucket.files.length"><span class="glyphicon glyphicon-circle-arrow-right"></span></button>
                        <div ng-if="!projectsheet.base_projectsheet.bucket.files.length">
                            <img src="/img/slides/slide_one.png" alt="Slide One">
                        </div>
                    </tab>
                    <tab ng-init="currentVid=0">
                        <tab-heading>
                            <span class="glyphicon glyphicon-facetime-video"></span>
                        </tab-heading>
                        <div ng-if="projectsheet.base_projectsheet.videos" ng-repeat="(url, comment) in projectsheet.base_projectsheet.videos" ng-show="$index==currentImg">
                            <embed-video ng-href="{{url}}" width="683" height="342" style="height:342px; margin:0 auto;">
                                <a href="{{url}}">Watch</a>
                            </embed-video>
                        </div>
                        <button ng-click="currentImg = Math.abs((currentImg - 1) % projectsheet.base_projectsheet.videos.length)"><span class="glyphicon glyphicon-circle-arrow-left"></span></button>
                        <button ng-click="currentImg = (currentImg + 1) % projectsheet.base_projectsheet.videos.length"><span class="glyphicon glyphicon-circle-arrow-right"></span></button>
                        <div ng-if="!projectsheet.base_projectsheet.videos">
                            <img src="/img/slides/slide_one.png" alt="Slide One">
                        </div>
                    </tab>
                    <tab ng-show="editable" disabled="true" class="editable">
                        <tab-heading>
                            <span ng-click="openGallery(projectsheet.base_projectsheet)" class="glyphicon glyphicon-pencil"></span>
                        </tab-heading>
                    </tab>
                </tabset>

                <section class="linked linked-project" ng-init="linkResources=true" ng-show="linkResources && (linkedResources.length || editable)">
                    <ng-include src="'/views/catalog/block/linked_resources.html'"></ng-include>
                </section>

            </div><!-- #content -->

        </div><!-- .col-md-8 -->

        <div class="col-md-4">
            <div id="sidebar" ng-init="parentColor='project';cummunityObjectTypeName='project';objectTypeName='makerscienceproject';commentType=3">
                <ng-include src="'/views/catalog/block/community_project.html'"></ng-include>
                <ng-include src="'/views/catalog/block/comments.html'"></ng-include>
                <ng-include src="'/views/catalog/block/popularity.html'"></ng-include>

            </div><!-- #sidebar -->

        </div><!-- .col-md-4 -->

    </div><!-- .row -->

    <div class="row container">

        <div class="col-md-12">

            <h2 class="boxed boxed-project"><span class="glyphicon glyphicon-tasks"></span> Projets similaires</h2>

            <ul class="boxes boxes-medium boxes-spaced">
                <!-- #WARNING No space between a closing </li> and the following opening one or the browser will add extra space -->
                <li class="box" ng-repeat="project in similars">
                    <a ui-sref="project.detail({ slug: project.parent.slug })">
                        <h3>{{project.parent.begin_date|date : format : shortdate}}<img src="/img/icons/project/project-orange.png" alt="Orange project" /></h3>
                        <h4>{{project.parent.baseline}}</h4>
                        <h5>{{project.parent.title}}</h5>
                        <img src="/img/bacasable.jpg" alt="Image background" />
                    </a>
                </li
                ><li class="box box-solo box-blue">
                    <div>
                        <a ui-sref="project.list">Plus de projets <span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </li>
            </ul>

            <a ui-sref="project.new" class="large large-red">Créer un projet <img src="/img/smiley.png" class="smiley" alt="Smiley" /></a>

        </div>

    </div><!-- .row .container -->

</div>
