<link rel="stylesheet" href="js/vendor/ng-tags-input/ng-tags-input.min.css">
<link rel="stylesheet" href="js/vendor/ng-tags-input/ng-tags-input.bootstrap.min.css">
<link rel='stylesheet' href='css/textAngular.css'>
<div class="admin">

    <div id="intro" class="intro-project-create">

        <h1>Le numérique et l'innovation</h1>
        <h2>Au coeur de tous <em>les projets</em></h2>
        <button>A vous de jouer!</button>

    </div><!-- #intro -->

    <ng-include src="'views/catalog/block/popular_tags.html'" ng-init="type='project'"></ng-include>

    <div class="row container">

        <div class="col-md-12">

            <div id="content" class="new-project">

                <h2>Créer un projet</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                
                <h3>Nouveau projet</h3>

                <form ng-controller="MakerScienceProjectSheetCreateCtrl" ng-init="init('projet-makerscience')">

                    <div class="row">

                        <div class="col-md-8">

                            <fieldset class="fake-placeholder">
                                <h4>Nom du projet</h4>
                                <input type="text"
                                       name="project-name"
                                       placeholder=">"
                                       ng-model="projectsheet.project.title"/>
                           </fieldset>

                            <fieldset class="fake-placeholder">
                                <h4>Résumez votre projet en une courte phrase</h4>
                                <input type="text"
                                           name="project-baseline"
                                           placeholder=">"
                                           ng-model="projectsheet.project.baseline"/>
                           </fieldset>

                            <fieldset class="new-project">
                                <div ng-controller="TagAutoCompleteCtrl">
                                    <h4>Quels sont les mots-clés associés à votre projet ? (thématiques, type de projet, outils...)</h4>
                                    <tags-input ng-model="tags"
                                                placeholder="Ajouter un mot-clé">
                                      <auto-complete source="loadTags($query)"></auto-complete>
                                    </tags-input>
                                </div>
                            </fieldset>

                        </div>

                        <div class="col-md-4">

                            <button class="button button-photo-upload">Photo de couverture</button>
                            <fieldset class="compact">
                                <input type="text" name="address" placeholder="Adresse" ng-model="projectsheet.project.location.street_address"/>
                                <input type="text" name="postalcode" placeholder="Code Postal" ng-model="projectsheet.project.location.postal_code" />
                                <input type="text" name="city" placeholder="Ville" ng-model="projectsheet.project.location.address_locality"/>
                            </fieldset>

                            <fieldset class="phases" ng-controller="ProjectProgressCtrl" ng-init="init('makerscience')">
                                <p>État d'avancement</p>
                                <label class="phase{{progress.order+1}} {{selectedClasses[progress.id]}}"
                                       ng-repeat="progress in progressRange"
                                       ng-click="updateProgressChoice(progress);$parent.projectsheet.project.progress=progress.resource_uri">
                                    {{progress.label}}
                                </label>
                            </fieldset>


                        </div>

                    </div><!-- .row -->

                    <fieldset class="new-project">
                        <h4>Résumez votre projet en quelques lignes</h4>
                        <text-angular name="project-about"
                                      ta-toolbar="[['bold','italics', 'underline'], ['ul', 'ol']]"
                                      ng-model="projectsheet.project.description"
                                      e-rows="4">
                        </text-angular>
                    </fieldset>

                    <fieldset class="new-project" ng-repeat="question in template.questions">
                        <h4>{{question}}</h4>
                        <text-angular ng-model="projectsheet.answers[$index]"
                                      ta-toolbar="[['bold','italics', 'underline'], ['ul', 'ol']]"
                                      name="question_{{$index}}"
                                      e-rows=4
                                      >
                        </text-angular>
                    </fieldset>

                    <div class="row">

                        <div class="col-md-6">
                            <fieldset class="needs-idea">
                                <h4>Vos besoins?</h4>
                                <h5>Idée</h5>
                                <textarea name="project-idea" placeholder="Champ de texte..." rows="4"></textarea>
                                <button class="right">Suivant</button>
                            </fieldset>
                            <button class="button button-add">Gallerie photo et vidéo</button>
                        </div>

                        <div class="col-md-6">
                            <fieldset class="fixme">
                                <h4><span class="fixme">#FIXME</span><br />Lien vers une fiche ressource<br />(voir design)</h4>
                            </fieldset>
                        </div>

                    </div><!-- .row -->

                    <p class="right">
                        <button class="button cancel">Annuler</button>
                        <button class="button" ng-click="saveMakerscienceProject(projectsheet)" >Enregistrer</button>
                    </p>

                </form>

            </div><!-- #content -->

        </div><!-- .row -->

    </div><!-- .row .container -->

</div><!-- .container-fluid -->
