<link href="css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
<link href="css/print.css" media="print" rel="stylesheet" type="text/css" />
<div class="container-fluid">

	<ng-include src="'views/base/sidebar.html'"></ng-include>

	<ng-include src="'views/base/header.html'"></ng-include>
	
	<div id="intro" class="intro-project" >

		<div class="container">

			<div class="intro edit">
				
				<h1>{{projectsheet.project.title}}#REMOVE_ME</h1>
				<h2>{{projectsheet.project.baseline}}#REMOVE_ME</h2>
				<h3><span>Fiche Projet</span></h3>

				<div class="row">

					<div class="col-md-8">
						<img src="img/bacasable.jpg" alt="Project Image" />
					</div>
					
					<div class="col-md-4">
		
						<div class="sideproject">

							<div class="edit-buttons">
								<button><span class="glyphicon glyphicon-pencil"></span></button>
								<button class="add-tag">+</button>
							</div>
							<ul class="tags tags-project">
								<li><a href="">Créativité <span class="glyphicon glyphicon-remove"></span></a></li>
								<li><a href="">Workshop <span class="glyphicon glyphicon-remove"></span></a></li>
								<li><a href="">Géologie <span class="glyphicon glyphicon-remove"></span></a></li>
								<li><a href="">Hydrologie <span class="glyphicon glyphicon-remove"></span></a></li>
								<li><a href="">Numérique <span class="glyphicon glyphicon-remove"></span></a></li>
								<li><a href="">Réalité augmentée <span class="glyphicon glyphicon-remove"></span></a></li>
							</ul><!-- .tag -->

							<ul class="tags tags-project">
								<li><a href="">Créativité</a></li>
								<li><a href="">Workshop</a></li>
								<li><a href="">Géologie</a></li>
								<li><a href="">Hydrologie</a></li>
								<li><a href="">Numérique</a></li>
								<li><a href="">Réalité augmentée</a></li>
							</ul><!-- .tag -->
	
							<p class="location"><img src="./img/location.png" alt="Location" />
							<span ng-if="projectsheet.project.location">{{projectsheet.project.location.street_address}}, {{projectsheet.project.location.country}}</span>
							<span ng-if="! projectsheet.project.location">N/C</span>
                            
							</p>
	
							<ul class="phases">
								<li><span>Phase 1</span></li>
								<li><span>Phase 2</span></li>
								<li class="selected"><span>Phase 3</span></li>
								<li><span>Phase 4</span></li>
								<li>Phase 2</li>
							</ul><!-- .phase -->
	
							<p>Fin de projet: {{projectsheet.project.end_date || "N/C" }}<br />Mise à jour il y a 2 jours</p>
					
						</div><!-- .sideproject -->
	
					</div><!-- .col-md-4 -->

				</div><!-- .row -->

			</div><!-- .intro -->

		</div><!-- .container -->

	</div><!-- #intro -->
	
	<div class="row container">

		<div class="col-md-8">		
			<div id="content">

				<tabset class="nav-tabs-project">
					<tab heading="Projet">
						<section>
							<h3>A propos du projet</h3>
							<p>{{projectsheet.project.description}}</p>
						</section> 
						<form method="post" action="" class="edit">
							<section>
								<div class="edit-buttons">
									<button <span class="glyphicon glyphicon-pencil"></span></button>
								</div>
								<h3>A propos du projet</h3>
								<textarea rows="4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</textarea>
							</section>
							<p class="right">
								<button class="dark cancel">Annuler</button>
								<button class="dark">Valider</button>
							</p>
						</form>
						<section>
							<div class="edit-buttons">
								<button><span class="glyphicon glyphicon-pencil"></span></button>
							</div>
							<h3>Public Cible</h3>
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</section>
						<section ng-repeat="q_a in projectsheet.q_a">
							<h3>{{q_a.question}}</h3>
							<p>{{q_a.answer}}</p>
						</section>
					</tab>
					<tab heading="Actus">
						<section>
							<h3>Actus</h3>
							<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimididunt ut labore et dolore magna aliqua. Ut enim ad minimididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</section>
					</tab>
					<tab heading="Discussions">
						<section>
							<h3>Discussions</h3>
							<p>Ced do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</section>
					</tab>
				</tabset>
				
				<div class="row">
					<div class="col-md-8">
						<div class="needs">
							<ul class="actions">
								<li><a href=""><span class="glyphicon glyphicon-comment"></span>Répondre</a></li>
							</ul>
							<h3>Besoins</h3>
							<carousel id="carousel-needs" class="carousel-no-indicators carousel-text-links">
								<slide class="needs-idea">
									<h4>Idée</h4>
									<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								</slide>
								<slide class="needs-skills">
									<h4>Compétence</h4>
									<p>Ccaecat cupidatat nxcepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								</slide>
								<slide class="needs-hardware">
									<h4>Matériel</h4>
									<p>Rur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								</slide>
								<slide class="needs-financing">
									<h4>Financement</h4>
									<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								</slide>
							</carousel>
						</div><!-- .needs -->
					</div>
					<div class="col-md-4">
						<div class="interested">
							<h3><a href="">Intéressé?</a></h3>
						</div><!-- .interested -->
					</div>
				</div><!-- .row -->
				
				<tabset class="nav-tabs-slide">
					<tab>
						<tab-heading>
							<span class="glyphicon glyphicon-picture"></span>
						</tab-heading>
						<carousel class="carousel-no-indicators">
							<slide>
								<img src="img/slides/slide_one.png" alt="Slide One">
							</slide>
							<slide>
								<img src="img/slides/slide_two.png" alt="Slide Two">
							</slide>
							<slide>
								<img src="img/slides/slide_three.png" alt="Slide Three">
							</slide>
						</carousel>
					</tab>
					<tab>
						<tab-heading>
							<span class="glyphicon glyphicon-facetime-video"></span>
						</tab-heading>
						<carousel>
							<slide>
								<img src="img/slides/slide_two.png" alt="Slide Two">
							</slide>
							<slide>
								<img src="img/slides/slide_three.png" alt="Slide Three">
							</slide>
						</carousel>
					</tab>
				</tabset>
				
				<section class="linked linked-project" >
					<carousel class="carousel-no-indicators carousel-text-links">
						<slide class="left-aligned">
							<h3><a href="">Fiche ressources-projets réutilisables!</a></h3>
							<h4><a href="">Le bac à sable à réalité augmentée:</a></h4>
							<h5><a href="">Tournée nationale 2014</a></h5>
							<img src="./img/bacasable.jpg" alt="Image background" />
						</slide>
						<slide class="left-aligned">
							<h3><a href="">Fiche ressources-projets réutilisables!</a></h3>
							<h4><a href="">bkfjei oifjeoiw jfe:</a></h4>
							<h5><a href="">fwoi jfiwj  foiwj firwj  fiwjr</a></h5>
							<img src="./img/bacasable.jpg" alt="Image background" />
						</slide>
					</carousel>
				</section>						

			</div><!-- #content -->
			
		</div><!-- .col-md-8 -->
		
		<div class="col-md-4">

			<div id="sidebar">
				<section class="community community-project">
					<ul class="actions">
						<li><a href=""><span class="glyphicon glyphicon-user"></span>Rejoindre</a></li>
						<li><a href=""><span class="glyphicon glyphicon-thumbs-up"></span>S'abonner</a></li>
					</ul>
					<h3>La communauté</h3>
					<!-- #WARNING <li> tags mustn't have any space or extra space will appear in the browser -->
					<ul class="submenu"
						><li><a class="selected" href=""><span>06</span>L'équipe projet</a></li
						><li><a href=""><span>500</span>Personnes ressources</a></li
						><li><a href=""><span>300</span>Abonnés</a></li
					></ul>
					<div class="member">
						<img src="./img/users/user-mathieu.png" alt="User Mathieu Corain" />
						<p>Mathieu Corain <em>Chef de projet</em></p>
					</div><!-- .member -->
					<div class="member member-edit">
						<form>
							<button class="remove"><span class="glyphicon glyphicon-remove"></span></button>
							<img src="./img/users/user-mathieu.png" alt="User Mathieu Corain" />
							<p>Mathieu Corain <em>Chef de projet</em></p>
						</form>
					</div><!-- .member -->
				</section><!-- .community -->
	
				<section class="comments">

					<h3>Commentaires</h3>

					<div class="comment">
						<div class="btn-group" dropdown is-open="status.isopen">
							<button type="button" class="btn dropdown-toggle" ng-disabled="disabled"><span class="glyphicon glyphicon-chevron-down"></span></button>
							<ul class="dropdown-menu" role="menu">
								<li><a href="">Modifier</a></li>
								<li><a href="">Supprimer</a></li>
								<li><a href="">Signaler un abus</a></li>
							</ul>
						</div>
   						<div class="author">
							<img src="./img/users/user-mathieu.png" alt="User Mathieu Corain" />
							<p>Mathieu Corain <em>Chef de projet</em><em>Il y a 40m</em></p>
						</div>
						<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
					</div><!-- .comment -->

					<div class="comment">
						<span class="date">50mn</span>
						<div class="author">
							<img src="./img/users/user-default.png" alt="User Unknown" />
							<p>Anonymous user <em>Fan</em></p>
						</div>
						<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
					</div><!-- .comment -->

					<div class="comment">
						<span class="date">50mn</span>
						<div class="author">
							<img src="./img/users/user-mathieu.png" alt="User Mathieu Corain" />
							<p>Mathieu Corain <em>Chef de projet</em></p>
						</div>
						<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
					</div><!-- .comment -->
					
					<p><a href="">Voir plus</a></p>

				</section><!-- .comments -->
				
				<section class="popularity popularity-blue">
					<ul class="actions">
						<li><a href=""><span class="glyphicon glyphicon-star-empty"></span>Vote</a></li>
					</ul>
					<h3>Popularité</h3>
					<table>
						<tbody>
							<tr>
								<td>Original</td>
								<td class="percent"><span><span style="width: 90%"></span></span></td>
								<td>40 <small>pt</small></td>
							</tr>
							<tr>
								<td>Fun</td>
								<td class="percent"><span><span style="width: 31%"></span></span></td>
								<td>26 <small>pt</small></td>
							</tr>
							<tr>
								<td>Prometteur</td>
								<td class="percent"><span><span style="width: 49%"></span></span></td>
								<td>15 <small>pt</small></td>
							</tr>
						</tbody>
					</table>
				</section>
	
				<section class="popularity popularity-blue">
					<ul class="actions">
						<li><button class="solo">OK</button></li>
					</ul>
					<h3>Voter le projet</h3>
					<label for="rating-original">Original</label>
					<rating id="rating-original" ng-model="ratingOriginal" max="5" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
					<label for="rating-fun">Fun</label>
					<rating id="rating-fun" ng-model="ratingFun" max="5" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
					<label for="rating-prometteur">Prometteur</label>
					<rating id="rating-prometteur" ng-model="ratingPrometteur" max="5" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
				</section>

			</div><!-- #sidebar -->
			
		</div><!-- .col-md-4 -->

	</div><!-- .row -->

	<div class="row container">

		<div class="boxes">

			<div class="row">
		
				<div class="col-md-4">
					<div class="box box-solo box-red">
						<a href="">Projet similaires <span class="glyphicon glyphicon-chevron-right"></span></a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box">
						<h3>28 Avril, 2014<img src="./img/icons/project/project-red.png" alt="Red project" /></h3>
						<h4><a href="">Il était une fois...</a></h4>
						<h5><a href="">Le Tyrannosaurus Rex</a></h5>
						<img src="./img/bacasable.jpg" alt="Image background" />
					</div>
				</div>
				<div class="col-md-4">
					<div class="box">
						<h3>28 Avril, 2014<img src="./img/icons/project/project-orange.png" alt="Orange project" /></h3>
						<h4><a href="">Il était une fois...</a></h4>
						<h5><a href="">Le Tyrannosaurus Rex</a></h5>
						<img src="./img/bacasable.jpg" alt="Image background" />
					</div>
				</div>
				
			</div><!-- .row -->

			<div class="row">

				<div class="col-md-4">
					<div class="box">
						<h3>28 Avril, 2014<img src="./img/icons/project/project-green.png" alt="Green project" /></h3>
						<h4><a href="">Il était une fois...</a></h4>
						<h5><a href="">Le Tyrannosaurus Rex</a></h5>
						<img src="./img/bacasable.jpg" alt="Image background" />
					</div>
				</div>
				<div class="col-md-4">
					<div class="box">
						<h3>28 Avril, 2014<img src="./img/icons/project/project-red.png" alt="Red project" /></h3>
						<h4><a href="">Il était une fois...</a></h4>
						<h5><a href="">Le Tyrannosaurus Rex</a></h5>
						<img src="./img/bacasable.jpg" alt="Image background" />
					</div>
				</div>
				<div class="col-md-4">
					<div class="box box-solo box-red">
						<a href="">Plus de projets <span class="glyphicon glyphicon-chevron-right"></span></a>
					</div>
				</div>

			</div><!-- .row -->

		</div><!-- .boxes -->
	
	</div><!-- .row .container -->

	<footer>
		<ul>
			<li><a href=""><img src="./img/footer/social-twitter.gif" alt="Twitter" /></a></li>
			<li><a href=""><img src="./img/footer/social-facebook.gif" alt="Facebook" /></a></li>
			<li><a href=""><img src="./img/footer/social-google.gif" alt="Google+" /></a></li>
		</ul>
	</footer>

</div><!-- .container-fluid -->
