<link href="css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
<link href="css/print.css" media="print" rel="stylesheet" type="text/css" />
<div class="container-fluid">

	<ul id="sidenav" class="project">
		<li><a href=""><span class="glyphicon glyphicon-th-large"></span>Projet</a></li>
		<li><a href="" class="selected"><span class="glyphicon glyphicon-pencil"></span>Editer</a></li>
		<li><a href=""><span class="glyphicon glyphicon-share-alt"></span>Partager</a></li>
		<li><a href=""><span class="glyphicon glyphicon-envelope"></span>Contact</a></li>
	</ul><!-- #nav -->

	<header>
		<div class="container">

			<nav id="menu" class="navbar" role="navigation">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#"><img src="./img/logo.jpg" alt="Logo MakerScience" /></a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a href="" class="nav-home">Home</a></li>
							<li><a href="fiche_profil.html" class="nav-members">Membres</a></li>
							<li><a href="fiche_projet.html" class="nav-projects selected">Projets</a></li>
							<li><a href="fiche_ressource.html" class="nav-resources">Ressources</a></li>
							<li><a href="" class="nav-forum">Forum</a></li>
						</ul>
						<button class="user pull-right"><img src="./img/users/user-default.png" alt="User" /></button>
						<form class="navbar-form navbar-right" role="search">
							<div class="input-group">
								<input type="text" name="search-term" class="form-control" placeholder="Search" />
								<span class="input-group-btn">
									<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
								</span>
							</div><!-- /input-group -->
						</form>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav><!-- #menu -->
	
		</div><!-- .container -->
	
	</header>
	
	<div id="intro" class="intro-project" >

		<div class="container">

			<div class="intro">
				
				<h1>{{projectsheet.project.title}}</h1>
				<h2>{{projectsheet.project.baseline}}</h2>
				<h3><span>Fiche Projet</span></h3>

				<div class="row">

					<div class="col-md-8">
						<img src="img/bacasable.jpg" alt="Project Image" />
					</div>
					
					<div class="col-md-4">
		
						<div class="sideproject">

							<ul class="tags tags-project">
								<li><a href="">Créativité</a></li>
								<li><a href="">Workshop</a></li>
								<li><a href="">Géologie</a></li>
								<li><a href="">Hydrologie</a></li>
								<li><a href="">Numérique</a></li>
								<li><a href="">Réalité augmentée</a></li>
							</ul><!-- .tag -->
	
							<p class="location"><img src="./img/location.png" alt="Location" />{{projectsheet.project.location.street_address}}, {{projectsheet.project.location.country}}</p>
	
							<ul class="phases">
								<li><span>Phase 1</span></li>
								<li><span>Phase 2</span></li>
								<li class="selected"><span>Phase 3</span></li>
								<li><span>Phase 4</span></li>
								<li>Phase 2</li>
							</ul><!-- .phase -->
	
							<p>Fin de projet: {{projectsheet.project.end_date || "N/C" }}<br />Mise à jour il y a 2 jours</p>
					
						</div><!-- .sideproject -->
	
					</div><!-- .col-md-4 -->

				</div><!-- .row -->

			</div><!-- .intro -->

		</div><!-- .container -->

	</div><!-- #intro -->
	
	<div class="row container">

		<div class="col-md-8">		
			<div id="content">

				<!-- Nav tabs -->
				<ul class="nav nav-tabs nav-tabs-project" role="tablist">
					<li class="active"><a href="#project" role="tab" data-toggle="tab">Projet</a></li>
					<li><a href="#actus" role="tab" data-toggle="tab">Actus</a></li>
					<li><a href="#discussions" role="tab" data-toggle="tab">Discussions</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="project">
						<section>
							<h3>A propos du projet</h3>
							<p>{{projectsheet.project.description}}</p>
						</section> 
						<section ng-repeat="q_a in projectsheet.q_a">
							<h3>{{q_a.question}}</h3>
							<p>{{q_a.answer}}</p>
						</section>
					</div><!-- #project -->
					<div class="tab-pane" id="actus">
						<section>
							<h3>Actus</h3>
							<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimididunt ut labore et dolore magna aliqua. Ut enim ad minimididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</section>
					</div><!-- #actus -->
					<div class="tab-pane" id="discussions">
						<section>
							<h3>Discussions</h3>
							<p>Ced do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</section>
					</div><!-- #discussions -->
				</div>

				<div class="row">
					<div class="col-md-8">
						<div class="needs">
							<ul class="actions">
								<li><a href=""><span class="glyphicon glyphicon-comment"></span>Répondre</a></li>
							</ul>
							<h3>Besoins</h3>
							<div id="carousel-needs" class="carousel slide" data-ride="carousel-needs">
				
								<!-- Wrapper for slides -->
								<div class="carousel-inner">
									<div class="item active needs-idea">
										<h4>Idée</h4>
										<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									</div>
									<div class="item needs-competence">
										<h4>Compétence</h4>
										<p>Ccaecat cupidatat nxcepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									</div>
									<div class="item needs-equipment">
										<h4>Matériel</h4>
										<p>Rur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									</div>
									<div class="item needs-funding">
										<h4>Financement</h4>
										<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									</div>
								</div>

								<!-- Controls -->
								<a class="left carousel-control" href="#carousel-needs" role="button" data-slide="prev">Précédent</a>
								<a class="right carousel-control" href="#carousel-needs" role="button" data-slide="next">Suivant</a>
							</div><!-- .carousel -->
						</div><!-- .needs -->
					</div>
					<div class="col-md-4">
						<div class="interested">
							<h3><a href="">Intéressé?</a></h3>
						</div><!-- .interested -->
					</div>
				</div><!-- .row -->
				
				<ul class="nav nav-tabs nav-tabs-slide" role="tablist">
					<li class="active"><a href="#photos" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-picture"></span></a></li>
					<li><a href="#videos" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-facetime-video"></span></a></li>
				</ul>
				
				<div class="tab-content">
					<div class="tab-pane active" id="photos">
						<div id="carousel-photos" class="carousel slide" data-ride="carousel-photos">
				
							<!-- Indicators -->
							<ol class="carousel-indicators">
								<li data-target="#carousel-photos" data-slide-to="0" class="active"></li>
								<li data-target="#carousel-photos" data-slide-to="1"></li>
								<li data-target="#carousel-photos" data-slide-to="2"></li>
							</ol>

							<!-- Wrapper for slides -->
							<div class="carousel-inner">
								<div class="item active">
									<img src="img/slides/slide_one.png" alt="Slide One">
									<div class="carousel-caption">Slide One</div>
								</div>
								<div class="item">
									<img src="img/slides/slide_two.png" alt="Slide Two">
									<div class="carousel-caption">Slide Two</div>
								</div>
								<div class="item">
									<img src="img/slides/slide_three.png" alt="Slide Three">
									<div class="carousel-caption">Slide Three</div>
								</div>
							</div>

							<!-- Controls -->
							<a class="left carousel-control" href="#carousel-photos" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
							<a class="right carousel-control" href="#carousel-photos" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
						</div><!-- .carousel -->
					</div><!-- #photos -->
					<div class="tab-pane" id="videos">
						Videos
					</div>
				</div><!-- .tab-content -->
				
				<section class="linked linked-project" >
					<h3><a href="">Fiche ressources-projets réutilisables!</a></h3>
					<h4><a href="">Le bac à sable à réalité augmentée:</a></h4>
					<h5><a href="">Tournée nationale 2014</a></h5>
					<img src="./img/bacasable.jpg" alt="Image background" />
					<ul class="nav">
						<li><a href="">Précédent</a></li>
						<li><a href="">Suivant</a></li>
					</ul><!-- .links -->
				</section>

			</div><!-- #content -->
			
		</div><!-- .col-md-8 -->
		
		<div class="col-md-4">

			<div id="sidebar">
				<section class="community community-project">
					<ul class="actions">
						<li><a href=""><span class="glyphicon glyphicon-user"></span>Rejoindre</a></li>
						<li><a href=""><span class="glyphicon glyphicon-thumbs-up"></span>S'abonner</a></li>
					</ul>
					<h3>La communauté</h3>
					<!-- #WARNING <li> tags mustn't have any space or extra space will appear in the browser -->
					<ul class="submenu"
						><li><a class="selected" href=""><span>06</span>L'équipe projet</a></li
						><li><a href=""><span>500</span>Personnes ressources</a></li
						><li><a href=""><span>300</span>Abonnés</a></li
					></ul>
					<div class="member">
						<img src="./img/users/user-mathieu.png" alt="User Mathieu Corain" />
						<p>Mathieu Corain <em>Chef de projet</em></p>
					</div><!-- .member -->
					<div class="member">
						<img src="./img/users/user-mathieu.png" alt="User Mathieu Corain" />
						<p>Mathieu Corain <em>Chef de projet</em></p>
					</div><!-- .member -->
					<div class="member">
						<img src="./img/users/user-mathieu.png" alt="User Mathieu Corain" />
						<p>Mathieu Corain <em>Chef de projet</em></p>
					</div><!-- .member -->
				</section><!-- .community -->
	
				<section class="comments">

					<h3>Commentaires</h3>

					<div class="comment">
						<span class="date">50mn</span>
						<div class="author">
							<img src="./img/users/user-mathieu.png" alt="User Mathieu Corain" />
							<p>Mathieu Corain <em>Chef de projet</em></p>
						</div>
						<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
					</div><!-- .comment -->

					<div class="comment">
						<span class="date">50mn</span>
						<div class="author">
							<img src="./img/users/user-default.png" alt="User Unknown" />
							<p>Anonymous user <em>Fan</em></p>
						</div>
						<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
					</div><!-- .comment -->

					<div class="comment">
						<span class="date">50mn</span>
						<div class="author">
							<img src="./img/users/user-mathieu.png" alt="User Mathieu Corain" />
							<p>Mathieu Corain <em>Chef de projet</em></p>
						</div>
						<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
					</div><!-- .comment -->
					
					<p><a href="">Voir plus</a></p>

				</section><!-- .comments -->
				
				<section class="popularity popularity-blue">
					<ul class="actions">
						<li><a href=""><span class="glyphicon glyphicon-star-empty"></span>Vote</a></li>
					</ul>
					<h3>Popularité</h3>
					<table>
						<tbody>
							<tr>
								<td>Original</td>
								<td class="percent"><span><span style="width: 90%"></span></span></td>
								<td>40 <small>pt</small></td>
							</tr>
							<tr>
								<td>Fun</td>
								<td class="percent"><span><span style="width: 31%"></span></span></td>
								<td>26 <small>pt</small></td>
							</tr>
							<tr>
								<td>Prometteur</td>
								<td class="percent"><span><span style="width: 49%"></span></span></td>
								<td>15 <small>pt</small></td>
							</tr>
						</tbody>
					</table>
				</section>
	
			</div><!-- #sidebar -->
			
		</div><!-- .col-md-4 -->

	</div><!-- .row -->

	<div class="row container">

		<div class="boxes">

			<div class="row">
		
				<div class="col-md-4">
					<div class="box box-solo box-red">
						<a href="">Projet similaires <span class="glyphicon glyphicon-chevron-right"></span></a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box">
						<h3>28 Avril, 2014<img src="./img/icons/project/project-red.png" alt="Red project" /></h3>
						<h4><a href="">Il était une fois...</a></h4>
						<h5><a href="">Le Tyrannosaurus Rex</a></h5>
						<img src="./img/bacasable.jpg" alt="Image background" />
					</div>
				</div>
				<div class="col-md-4">
					<div class="box">
						<h3>28 Avril, 2014<img src="./img/icons/project/project-orange.png" alt="Orange project" /></h3>
						<h4><a href="">Il était une fois...</a></h4>
						<h5><a href="">Le Tyrannosaurus Rex</a></h5>
						<img src="./img/bacasable.jpg" alt="Image background" />
					</div>
				</div>
				
			</div><!-- .row -->

			<div class="row">

				<div class="col-md-4">
					<div class="box">
						<h3>28 Avril, 2014<img src="./img/icons/project/project-green.png" alt="Green project" /></h3>
						<h4><a href="">Il était une fois...</a></h4>
						<h5><a href="">Le Tyrannosaurus Rex</a></h5>
						<img src="./img/bacasable.jpg" alt="Image background" />
					</div>
				</div>
				<div class="col-md-4">
					<div class="box">
						<h3>28 Avril, 2014<img src="./img/icons/project/project-red.png" alt="Red project" /></h3>
						<h4><a href="">Il était une fois...</a></h4>
						<h5><a href="">Le Tyrannosaurus Rex</a></h5>
						<img src="./img/bacasable.jpg" alt="Image background" />
					</div>
				</div>
				<div class="col-md-4">
					<div class="box box-solo box-red">
						<a href="">Plus de projets <span class="glyphicon glyphicon-chevron-right"></span></a>
					</div>
				</div>

			</div><!-- .row -->

		</div><!-- .boxes -->
	
	</div><!-- .row .container -->

	<footer>
		<ul>
			<li><a href=""><img src="./img/footer/social-twitter.gif" alt="Twitter" /></a></li>
			<li><a href=""><img src="./img/footer/social-facebook.gif" alt="Facebook" /></a></li>
			<li><a href=""><img src="./img/footer/social-google.gif" alt="Google+" /></a></li>
		</ul>
	</footer>

</div><!-- .container-fluid -->
