<link href="css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
<link href="css/print.css" media="print" rel="stylesheet" type="text/css" />
<div class="container-fluid">

	<ng-include src="views/base/header.html"></ng-include>
	
	<div id="intro" class="intro-listing">

		<div id="carousel-photos" class="carousel slide" data-ride="carousel-photos">
				
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-photos" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-photos" data-slide-to="1"></li>
				<li data-target="#carousel-photos" data-slide-to="2"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item active" style="background-image: url('./img/slides/slide-project-one.jpg')">
					<h1>Coup de projecteur sur</h1>
					<h2><em>La fête des sciences à Toulouse</em></h2>
				</div>
				<div class="item" style="background-image: url('./img/slides/slide-project-two.jpg')">
					<h1>Coup de  sur</h1>
					<h2>La fête des sciences à <em>Toulouse</em></h2>
				</div>
				<div class="item" style="background-image: url('./img/slides/slide-project-three.jpg')">
					<h1>Coup de projecteur sur</h1>
					<h2><em>La fête des  à Toulouse</em></h2>
				</div>
			</div>

		</div><!-- .carousel -->

	</div><!-- #intro -->

	<div class="toolbar">
		<div class="row container">
			<div class="container-xs-height">
				<div class="row-xs-height">
					<div class="col-md-2 col-xs-height col-middle blue">
						<h3>Les tags populaires <span class="glyphicon glyphicon-chevron-right"></span></h3>
					</div>
					<div class="col-md-8 col-xs-height col-middle">
						<ul class="tags tags-listing">
							<li><a href="">Réseaux sociaux</a></li>
							<li><a href="">Journalisme</a></li>
							<li><a href="">Ecriture</a></li>
							<li><a href="">Community management</a></li>
							<li><a href="">Transmedia</a></li>
							<li><a href="">3D</a></li>
							<li><a href="">Gamification</a></li>
							<li><a href="">Numerique</a></li>
							<li><a href="">Robotique</a></li>
							<li><a href="">Créativité</a></li>
						</ul>
					</div>
					<div class="col-md-2 col-xs-height col-middle blue">
						<form method="post" action="">
							<button type="submit"><span class="glyphicon glyphicon-search"></span></button>
						</form>
					</div>
				</div><!-- .row-xs-height -->
			</div><!-- .container-xs-height -->
		</div><!-- .container.row -->
	</div><!-- .toolbar -->
	
	<div class="row container">
	
		<div id="content" class="listing">

			<div class="col-md-12">
		
				<section class="title">
					<h3>Sélection thématique de la semaine!</h3>
					<h4>"Spécial Fablab"</h4>
				</section>

				<div id="carousel-weekly" class="carousel slide" data-ride="carousel-weekly">
				
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#carousel-weekly" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-weekly" data-slide-to="1"></li>
						<li data-target="#carousel-weekly" data-slide-to="2"></li>
						<li data-target="#carousel-weekly" data-slide-to="3"></li>
					</ol>

					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						<div class="item active">
							<div class="boxes boxes-listing">
								<div class="row">
									<div class="col-md-3">
										<div class="box">
											<h3>28 Avril, 2014<img src="./img/icons/project/project-red.png" alt="Red project" /></h3>
											<img src="./img/bacasable.jpg" alt="Image background" />
										</div>
										<h4><a href="">Il était une fois...</a></h4>
										<h5><a href="">Contributeur: Alain Duvert</a></h5>
									</div>
									<div class="col-md-3">
										<div class="box">
											<h3>28 Avril, 2014<img src="./img/icons/project/project-red.png" alt="Red project" /></h3>
											<img src="./img/bacasable.jpg" alt="Image background" />
										</div>
										<h4><a href="">Il était une fois...</a></h4>
										<h5><a href="">Contributeur: Alain Duvert</a></h5>
									</div>
									<div class="col-md-3">
										<div class="box">
											<h3>28 Avril, 2014<img src="./img/icons/project/project-red.png" alt="Red project" /></h3>
											<img src="./img/bacasable.jpg" alt="Image background" />
										</div>
										<h4><a href="">Il était une fois...</a></h4>
										<h5><a href="">Contributeur: Alain Duvert</a></h5>
									</div>
									<div class="col-md-3">
										<div class="box">
											<h3>28 Avril, 2014<img src="./img/icons/project/project-orange.png" alt="Orange project" /></h3>
											<img src="./img/bacasable.jpg" alt="Image background" />
										</div>
										<h4><a href="">Il était une fois...</a></h4>
										<h5><a href="">Contributeur: Alain Duvert</a></h5>
									</div>
								</div><!-- .row -->
							</div><!-- .boxes -->
						</div><!-- item -->
						<div class="item">
							<div class="boxes boxes-listing">
								<div class="row">
									<div class="col-md-3">
										<div class="box">
											<h3>28 Avril, 2014<img src="./img/icons/project/project-red.png" alt="Red project" /></h3>
											<img src="./img/bacasable.jpg" alt="Image background" />
										</div>
										<h4><a href="">Il était une fois...</a></h4>
										<h5><a href="">Contributeur: Alain Duvert</a></h5>
									</div>
									<div class="col-md-3">
										<div class="box">
											<h3>28 Avril, 2014<img src="./img/icons/project/project-red.png" alt="Red project" /></h3>
											<img src="./img/bacasable.jpg" alt="Image background" />
										</div>
										<h4><a href="">Il était une fois...</a></h4>
										<h5><a href="">Contributeur: Alain Duvert</a></h5>
									</div>
									<div class="col-md-3">
										<div class="box">
											<h3>28 Avril, 2014<img src="./img/icons/project/project-green.png" alt="Green project" /></h3>
											<img src="./img/bacasable.jpg" alt="Image background" />
										</div>
										<h4><a href="">Il était une fois...</a></h4>
										<h5><a href="">Contributeur: Alain Duvert</a></h5>
									</div>
									<div class="col-md-3">
										<div class="box">
											<h3>28 Avril, 2014<img src="./img/icons/project/project-red.png" alt="Red project" /></h3>
											<img src="./img/bacasable.jpg" alt="Image background" />
										</div>
										<h4><a href="">Il était une fois...</a></h4>
										<h5><a href="">Contributeur: Alain Duvert</a></h5>
									</div>
								</div><!-- .row -->
							</div><!-- .boxes -->
						</div><!-- item -->
						<div class="item">
							<div class="boxes boxes-listing">
								<div class="row">
									<div class="col-md-3">
										<div class="box">
											<h3>28 Avril, 2014<img src="./img/icons/project/project-red.png" alt="Red project" /></h3>
											<img src="./img/bacasable.jpg" alt="Image background" />
										</div>
										<h4><a href="">Il était une fois...</a></h4>
										<h5><a href="">Contributeur: Alain Duvert</a></h5>
									</div>
									<div class="col-md-3">
										<div class="box">
											<h3>28 Avril, 2014<img src="./img/icons/project/project-red.png" alt="Red project" /></h3>
											<img src="./img/bacasable.jpg" alt="Image background" />
										</div>
										<h4><a href="">Il était une fois...</a></h4>
										<h5><a href="">Contributeur: Alain Duvert</a></h5>
									</div>
									<div class="col-md-3">
										<div class="box">
											<h3>28 Avril, 2014<img src="./img/icons/project/project-green.png" alt="Green project" /></h3>
											<img src="./img/bacasable.jpg" alt="Image background" />
										</div>
										<h4><a href="">Il était une fois...</a></h4>
										<h5><a href="">Contributeur: Alain Duvert</a></h5>
									</div>
									<div class="col-md-3">
										<div class="box">
											<h3>28 Avril, 2014<img src="./img/icons/project/project-red.png" alt="Red project" /></h3>
											<img src="./img/bacasable.jpg" alt="Image background" />
										</div>
										<h4><a href="">Il était une fois...</a></h4>
										<h5><a href="">Contributeur: Alain Duvert</a></h5>
									</div>
								</div><!-- .row -->
							</div><!-- .boxes -->
						</div><!-- item -->
						<div class="item">
							<div class="boxes boxes-listing">						
								<div class="row">
									<div class="col-md-3">
										<div class="box">
											<h3>28 Avril, 2014<img src="./img/icons/project/project-green.png" alt="Green project" /></h3>
											<img src="./img/bacasable.jpg" alt="Image background" />
										</div>
										<h4><a href="">Il était une fois...</a></h4>
										<h5><a href="">Contributeur: Alain Duvert</a></h5>
									</div>
									<div class="col-md-3">
										<div class="box">
											<h3>28 Avril, 2014<img src="./img/icons/project/project-red.png" alt="Red project" /></h3>
											<img src="./img/bacasable.jpg" alt="Image background" />
										</div>
										<h4><a href="">Il était une fois...</a></h4>
										<h5><a href="">Contributeur: Alain Duvert</a></h5>
									</div>
									<div class="col-md-3">
										<div class="box">
											<h3>28 Avril, 2014<img src="./img/icons/project/project-red.png" alt="Red project" /></h3>
											<img src="./img/bacasable.jpg" alt="Image background" />
										</div>
										<h4><a href="">Il était une fois...</a></h4>
										<h5><a href="">Contributeur: Alain Duvert</a></h5>
									</div>
									<div class="col-md-3">
										<div class="box">
											<h3>28 Avril, 2014<img src="./img/icons/project/project-red.png" alt="Red project" /></h3>
											<img src="./img/bacasable.jpg" alt="Image background" />
										</div>
										<h4><a href="">Il était une fois...</a></h4>
										<h5><a href="">Contributeur: Alain Duvert</a></h5>
									</div>
								</div><!-- .row -->
						
							</div><!-- .boxes -->
						</div>
						<div class="item" style="background-image: url('./img/slides/slide-project-two.jpg')">
							<h1>Coup de  sur</h1>
							<h2>La fête des sciences à <em>Toulouse</em></h2>
						</div>
						<div class="item" style="background-image: url('./img/slides/slide-project-three.jpg')">
							<h1>Coup de projecteur sur</h1>
							<h2><em>La fête des  à Toulouse</em></h2>
						</div>
					</div>

				</div><!-- .carousel -->
				
				<tabset>
					<tab heading="Nouveautés">
						<div class="boxes boxes-listing" ng-controller="ProjectListCtrl">
							<div class="row">
								<div class="col-md-3" ng-repeat="project in projects">
									<div class="box">
										<h3>{{project.begin_date|date : format : shortdate}}<img src="./img/icons/project/project-red.png" alt="Red project" /></h3>
										<img src="./img/bacasable.jpg" alt="Image background" />
									</div>
									<h4>><a ui-sref="projectsheet({ slug: project.slug })">{{project.title}}</a></h4>
									<h5><a href="">Contributeur: Alain Duvert</a></h5>
								</div>
							</div><!-- .row -->
						</div><!-- .boxes -->
					</tab>
					<tab heading="Les mieux notés">
						Les mieux notés
					</tab>
					<tab heading="Les plus vus">
						Les plus vus
					</tab>
				</tabset>
							
				<a ui-sref="new-projectsheet" class="large large-red">Créer un projet</a>
			
			</div><!-- .col-md-12 -->

		</div><!-- #content -->
		
	</div><!-- .row .container -->

	<footer>
		<ul>
			<li><a href=""><img src="./img/footer/social-twitter.gif" alt="Twitter" /></a></li>
			<li><a href=""><img src="./img/footer/social-facebook.gif" alt="Facebook" /></a></li>
			<li><a href=""><img src="./img/footer/social-google.gif" alt="Google+" /></a></li>
		</ul>
	</footer>

</div><!-- .container-fluid -->
