<link href="js/vendor/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
<link rel="stylesheet" href="js/vendor/ng-tags-input/ng-tags-input.min.css">
<link rel="stylesheet" href="js/vendor/ng-tags-input/ng-tags-input.bootstrap.min.css">
<link rel='stylesheet' href='css/textAngular.css'>

<div ng-controller="MakerScienceResourceSheetCtrl">

    <ul id="sidenav" class="resource">
        <li><a ng-click="editable = ! editable" ng-init="editable=false" ng-class="{selected: editable}"><span class="glyphicon glyphicon-pencil"></span>Editer</a></li>
        <li><a href=""><span class="glyphicon glyphicon-share-alt"></span>Partager</a></li>
        <li><a href=""><span class="glyphicon glyphicon-envelope"></span>Contact</a></li>
    </ul><!-- #nav -->

    <div id="intro" class="intro-resource">

        <div class="container">

            <div class="intro">

                <div class="edit-buttons edit-resource-baseline" ng-show="editable">
                    <button ng-click="BaselineBtnForm.$show()" ng-hide="BaselineBtnForm.$visible">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </div>

                <h1>{{resourcesheet.parent.title}}</h1>
                <h2 editable-text="resourcesheet.parent.baseline"
                    e-form="BaselineBtnForm"
                    onbeforesave="updateProjectSheet('Project', resourcesheet.parent.id , 'baseline', $data)"
                    ng-bind-html="resourcesheet.parent.baseline">{{ resourcesheet.parent.baseline }}
                </h2>
                <h3><span>Fiche Resource</span></h3>

                <div class="row">

                    <div class="col-md-8" >
                        <img ng-if="resourcesheet.base_resourcesheet.cover" ng-src="{{ config.media_uri }}{{ resourcesheet.base_resourcesheet.cover.thumbnail_url+'?height=393'}}" alt="Resource Image" />
                        <img ng-if="!resourcesheet.base_resourcesheet.cover" src="img/bacasable.jpg" alt="Resource Image" />
                    </div>

                    <div class="col-md-4">

                        <div class="sideproject">

                            <div class="tags">
                                <div class="editable">
                                    <div class="edit-buttons" ng-show="editable" ng-init="addTag=false">
                                        <button ng-click="addTag = ! addTag"><span class="glyphicon glyphicon-pencil"></span></button>
                                    </div>
                                    <div ng-show="addTag==true" ng-controller="TagAutoCompleteCtrl">
                                        <tags-input ng-model="$parent.preparedTags"
                                                    placeholder="Ajouter un mot-clé"
                                                    on-tag-added="$parent.addTagFromResource($tag)"
                                                    on-tag-removed="$parent.removeTagFromResource($tag)">
                                                    <auto-complete source="loadTags($query)"></auto-complete>
                                        </tags-input>
                                    </div>

                                    <div ng-show="addTag==false">
                                        <ul class="tags tags-project">
                                            <li ng-repeat="tag in preparedTags"><a href="">{{tag.text}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- .tags -->

                            <ul class="details">
                                <li class="level-{{ resourcesheet.level }}">
                                    <div class="edit-buttons" ng-show="editable">
                                        <button ng-click="LevelBtnForm.$show()" ng-hide="LevelBtnForm.$visible">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                    </div>

                                    Niveau <span editable-text="resourcesheet.level"
                                                 e-form="LevelBtnForm"
                                                 onbeforesave="updateResourceSheet(resourcesheet.id , 'level', $data)"
                                                 ng-bind-html="resourcesheet.level">{{ resourcesheet.level }}
                                            </span>
                                </li>
                                <li class="duration">
                                    <div class="edit-buttons" ng-show="editable">
                                        <button ng-click="DurationBtnForm.$show()" ng-hide="DurationBtnForm.$visible">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                    </div>

                                    <span editable-text="resourcesheet.duration"
                                            e-form="DurationBtnForm"
                                            onbeforesave="updateResourceSheet(resourcesheet.id , 'duration', $data)"
                                            ng-bind-html="resourcesheet.duration">{{ resourcesheet.duration }}
                                    </span>
                                </li>
                                <li class="cost">
                                    <div class="edit-buttons" ng-show="editable">
                                        <button ng-click="CostBtnForm.$show()" ng-hide="CostBtnForm.$visible">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                    </div>

                                    <span editable-text="resourcesheet.cost"
                                        e-form="CostBtnForm"
                                        onbeforesave="updateResourceSheet(resourcesheet.id , 'cost', $data)"
                                        ng-bind-html="resourcesheet.cost">{{ resourcesheet.cost }}
                                    </span> euros
                                </li>
                            </ul><!-- .details -->

                            <p>Mise à jour <span am-time-ago="resourcesheet.modified"></span></p>

                        </div><!-- .sideproject -->

                    </div><!-- .col-md-4 -->

                </div><!-- .row -->

            </div><!-- .intro -->

        </div><!-- .container -->

    </div><!-- #intro -->

    <div class="row container">

        <div class="col-md-8">
            <div id="content">

                <tabset class="nav-tabs-resource">
                    <tab heading="Ressource">
                        <section>
                            <div class="edit-buttons" ng-click="DescBtnForm.$show()" ng-hide="DescBtnForm.$visible || !editable" ng-show="editable">
                                <button> <span class="glyphicon glyphicon-pencil"></span></button>
                            </div>
                            <h3>A propos de la ressource</h3>

                            <p editable-text-angular="resourcesheet.parent.description"
                            e-form="DescBtnForm"
                            e-rows="4"
                            e-ta-toolbar="[['bold','italics', 'underline'], ['ul', 'ol']]"
                            onbeforesave="updateProjectSheet('Project', projectsheet.parent.id , 'description', $data)"
                            ng-bind-html="resourcesheet.parent.description">
                        </p>
                        </section>
                        <section ng-repeat="item in resourcesheet.base_resourcesheet.items">
                            <h3>{{item.question.text}}</h3>
                            <div class="edit-buttons" ng-click="AnswerBtnForm.$show()" ng-hide="AnswerBtnForm.$visible || !editable" ng-show="editable">
                                <button><span class="glyphicon glyphicon-pencil"></span></button>
                            </div>
                            <p editable-text-angular="item.answer"
                                 e-form="AnswerBtnForm"
                                 e-rows="4"
                                 e-ta-toolbar="[['bold','italics', 'underline'], ['ul', 'ol']]"
                                 onbeforesave="updateProjectSheet('ProjectSheetItem', item.id , 'answer', $data)"
                                 ng-bind-html="item.answer">
                            </p>
                        </section>
                    </tab>
                    <tab heading="Actus">
                        <section>
                            <h3>Actus</h3>
                            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimididunt ut labore et dolore magna aliqua. Ut enim ad minimididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </section>
                    </tab>
                    <tab heading="Discussions">
                        <section>
                            <h3>Discussions</h3>
                            <p>Ced do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </section>
                    </tab>
                </tabset>

                <tabset class="nav-tabs-slide nav-tabs-slide-resource">
                    <tab>
                        <tab-heading>
                            <span class="glyphicon glyphicon-picture"></span>
                        </tab-heading>
                        <carousel class="carousel-no-indicators">
                                <slide ng-if="resourcesheet.base_resourcesheet.bucket.files.length" ng-repeat="img in resourcesheet.base_resourcesheet.bucket.files">
                                    <img ng-src="{{ config.media_uri }}{{ img.thumbnail_url+'?height=683' }}" alt="Slide">
                                </slide>
                                <slide ng-if="!resourcesheet.base_resourcesheet.bucket.files.length">
                                    <img src="img/slides/slide_one.png" alt="Slide One">
                                </slide>
                        </carousel>
                    </tab>
                    <tab>
                        <tab-heading>
                            <span class="glyphicon glyphicon-facetime-video"></span>
                        </tab-heading>
                        <carousel>
                            <slide ng-if="resourcesheet.base_resourcesheet.videos" ng-repeat="(url, comment) in resourcesheet.base_resourcesheet.videos">
                                <embed-video ng-href="{{url}}" width="683" height="342" style="height:342px; margin:0 auto;">
                                    <a href="{{url}}">Watch</a>
                                </embed-video>
                            </slide>
                            <slide ng-if="!resourcesheet.base_resourcesheet.videos">
                                <img src="img/slides/slide_one.png" alt="Slide One">
                            </slide>
                        </carousel>
                    </tab>
                </tabset>

                <div class="row">
                    <div class="col-md-6">
                        <div class="bloc bloc-methodology">
                            <h3>Methodologie</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="bloc bloc-warning">
                            <h3>Attention avant de se lancer</h3>
                            <ul>
                                <li>Bepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.la bla bla</li>
                                <li>Aon proident, sunt in culpa qui officiai</li>
                                <li>Mnt occaecat cupidatat non proident, sunt in culpau</li>
                            </ul>
                        </div>
                    </div>
                </div><!-- .row -->

                <tabset class="nav-tabs-seance">
                    <tab>
                        <tab-heading>Séances 1 et 2</tab-heading>
                        <section>
                            <h3>Séances 1 et 2</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </section>
                        <section>
                            <h3>Questionnement</h3>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </section>
                    </tab>
                    <tab>
                        <tab-heading>Séances 3 et 4</tab-heading>
                        <section>
                            <h3>Séances 3 et 4</h3>
                            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimididunt ut labore et dolore magna aliqua. Ut enim ad minimididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </section>
                    </tab>
                    <tab>
                        <tab-heading>Séances 5 et 6</tab-heading>
                        <section>
                            <h3>Séances 5 et 6</h3>
                            <p>Ced do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </section>
                    </tab>
                </tabset>

                <div class="row">
                    <div class="col-md-6">
                        <div class="bloc bloc-links">
                            <h3>Liens et ressources</h3>
                            <ul>
                                <li><a href="">Science-animation: Voir le lien</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="bloc bloc-about">
                            <h3>A propos<br /> des créateurs de la fiche</h3>
                            <img src="./img/users/user-large-audrey.png" alt="Audrey Bardon" />
                            <p class="author">Audrey Bardon<em>utilise régulièrement le livetweet</em></p>
                        </div>
                    </div>
                </div><!-- .row -->

                <section class="linked linked-resource" >
                    <carousel class="carousel-no-indicators carousel-text-links">
                        <slide class="left-aligned">
                            <h3><a href="">Fiche ressources-projets réutilisables!</a></h3>
                            <h4><a href="">Le bac à sable à réalité augmentée:</a></h4>
                            <h5><a href="">Tournée nationale 2014</a></h5>
                            <img src="./img/bacasable.jpg" alt="Image background" />
                        </slide>
                        <slide class="left-aligned">
                            <h3><a href="">Fiche ressources-projets réutilisables!</a></h3>
                            <h4><a href="">bkfjei oifjeoiw jfe:</a></h4>
                            <h5><a href="">fwoi jfiwj  foiwj firwj  fiwjr</a></h5>
                            <img src="./img/bacasable.jpg" alt="Image background" />
                        </slide>
                    </carousel>
                </section>

            </div><!-- #content -->

        </div><!-- .col-md-8 -->

        <div class="col-md-4">

            <div id="sidebar">
                <ng-include onload="parentColor='resource'" src="'views/catalog/block/community.html'"></ng-include>

                <section class="solo">
                    <h3>J'aimerais bien tester!</h3>
                </section>

                <ng-include src="'views/catalog/block/comments.html'"></ng-include>

                <ng-include onload="parentColor='resource'" src="'views/catalog/block/popularity.html'"></ng-include>

            </div><!-- #sidebar -->

        </div><!-- .col-md-4 -->

    </div><!-- .row .container -->

    <div class="row container">

        <div class="col-md-12">

            <ul class="boxes boxes-medium boxes-spaced">
                <!-- #WARNING No space between a closing </li> and the following opening one or the browser will add extra space -->
                <li class="box box-solo box-green">
                    <div>
                        <a href="">Ressources Similaires <span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </li
                ><li class="box" ng-repeat="resource in similars">
                    <a ui-sref="resource.detail({ slug: resource.parent.slug })">
                        <h3>{{resource.parent.begin_date|date : format : shortdate}}<img src="./img/icons/project/project-orange.png" alt="Orange project" /></h3>
                        <h4>{{resource.parent.baseline}}</h4>
                        <h5>{{resource.parent.title}}</h5>
                        <img src="./img/bacasable.jpg" alt="Image background" />
                    </a>
                </li
                ><li class="box box-solo box-green">
                    <div>
                        <a ui-sref="resource-list">Plus de ressource <span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </li>
            </ul>

            <a ui-sref="resource.new" class="large large-purple">Créer une ressource</a>

        </div>

    </div><!-- .row .container -->

</div><!-- ng-controller -->
