<div id="intro" class="intro-project-create" style="background-image: url('./img/bg/header-listing-resources.jpg')">
    <h1>Inspirez-vous des expériences</h1>
    <h2>partagées par la communauté</h2>
</div>

<ng-include src="'views/catalog/block/popular_tags.html'" ng-init="type='resource'"></ng-include>

<div class="row container">

    <div id="content" class="listing resource">

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-9">
                    <tabset class="nav-tabs-resource">
                        <tab heading="Nouveautés">
                            <div class="boxes boxes-listing" ng-controller="MakerScienceResourceListCtrl" ng-init="init()">
                                <div class="box" ng-repeat="resource in resources">
                                    <ng-include src="'views/catalog/block/resource_thumb.html'" ng-init="resource=resource"></ng-include>
                                </div>
                            </div>
                        </tab>
                        <tab heading="Les mieux notés">
                            Les mieux notés
                        </tab>
                        <tab heading="Les plus vus">
                            Les plus vus
                        </tab>
                    </tabset>

                    <a ui-sref="resource.new" class="large large-purple">Partager une expérience</a>
                </div>
                <div class="col-md-3">
                    <ng-include src="'views/catalog/block/filters.html'"></ng-include>
                </div>
            </div>

        </div><!-- .col-md-12 -->

    </div><!-- #content -->

</div><!-- .row .container -->
