<div id="intro" class="intro-listing">

    <carousel interval="5000">
        <slide  style="background-image: url('./img/slides/slide-project-one.jpg')">
            <h1>Coup de projecteur sur</h1>
            <h2><em>La fête des sciences à Toulouse</em></h2>
        </slide>
        <slide style="background-image: url('./img/slides/slide-project-two.jpg')">
            <h1>Coup de  sur</h1>
            <h2>La fête des sciences à <em>Toulouse</em></h2>
        </slide>
        <slide style="background-image: url('./img/slides/slide-project-three.jpg')">
            <h1>Coup de projecteur sur</h1>
            <h2><em>La fête des  à Toulouse</em></h2>
        </slide>
    </carousel>

</div><!-- #intro -->

<ng-include src="'views/catalog/block/popular_tags.html'" ng-init="type='resource'"></ng-include>

<div class="row container">

    <div id="content" class="listing resource">

        <div class="col-md-12">

            <section class="title">
                <h3>Sélection thématique</h3>
                <h4>"Spécial Fablab"</h4>
            </section>

            <div id="carousel-weekly" class="carousel slide" data-ride="carousel-weekly">

                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-weekly" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-weekly" data-slide-to="1"></li>
                    <li data-target="#carousel-weekly" data-slide-to="2"></li>
                    <li data-target="#carousel-weekly" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="boxes boxes-listing" ng-controller="MakerScienceResourceListCtrl" ng-init="init()">
                            <div class="box" ng-repeat="resource in resources">
                                <ng-include src="'views/catalog/block/resource_thumb.html'" ng-init="resource=resource"></ng-include>
                            </div><!-- .box -->
                        </div><!-- .boxes -->
                    </div><!-- item -->
                </div><!-- .carousel-inner -->

            </div><!-- #caroussel-weekly -->

            <tabset class="nav-tabs-resource">
                <tab heading="Nouveautés">
                    <div class="boxes boxes-listing" ng-controller="MakerScienceResourceListCtrl" ng-init="init()">
                        <div class="box" ng-repeat="resource in resources">
                            <ng-include src="'views/catalog/block/resource_thumb.html'" ng-init="resource=resource"></ng-include>
                        </div>
                    </div><!-- .boxes -->
                </tab>
                <tab heading="Les mieux notés">
                    Les mieux notés
                </tab>
                <tab heading="Les plus vus">
                    Les plus vus
                </tab>
            </tabset>

            <a ui-sref="resource.new" class="large large-purple">Créer une ressource</a>

        </div><!-- .col-md-12 -->

    </div><!-- #content -->

</div><!-- .row .container -->
