<div id="intro" class="intro-project-create" style="background-image: url('/img/bg/header-listing-resources.jpg')">
    <h1>Inspirez-vous des expériences</h1>
    <h2>partagées par la communauté</h2>
</div>

<div class="row container">

    <div id="content" class="listing resource"  ng-controller="MakerScienceResourceListCtrl" ng-init="init()">

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-9">
                    <tabset class="nav-tabs-listing">
                        <tab heading="Les plus récents" select="fetchRecentResources()"></tab>
                        <tab heading="Les plus populaires" select="fetchTopResources()"></tab>
                        <tab heading="Sélection thématique" >
                            En cours
                        </tab>
                        <tab heading="Au hasard" select="fetchRandomResources()"></tab>
                    </tabset>
                    <div class="boxes boxes-listing">
                        <div class="box" ng-repeat="resource in resources">
                            <ng-include src="'/views/catalog/block/resource_thumb.html'" ng-init="resource=resource"></ng-include>
                        </div>
                    </div>
                    <pagination total-items="totalItems"
                                items-per-page='limit'
                                ng-model="currentPage"
                                max-size="10"
                                class="pagination-sm pagination-resources"
                                rotate="false"
                                num-pages="numPages"
                                ng-change="pageChanged(currentPage)"
                                previous-text="<<"
                                next-text=">>">
                    </pagination>
                    <a ui-sref="resource.new" class="large large-purple">Partager une expérience <img src="/img/smiley.png" class="smiley" alt="Smiley" /></a>
                </div>
                <div class="col-md-3">
                    <ng-include src="'/views/catalog/block/filters_resource.html'" ng-init="objectType='makerscienceresource'" ></ng-include>
                </div>
            </div>
        </div><!-- .col-md-12 -->

    </div><!-- #content -->

</div><!-- .row .container -->
