<link rel="stylesheet" href="js/vendor/ng-tags-input/ng-tags-input.min.css">
<link rel="stylesheet" href="js/vendor/ng-tags-input/ng-tags-input.bootstrap.min.css">
<div class="admin">
    <div id="intro" class="intro-resource-create">

        <h1>Le numérique et l'innovation</h1>
        <h2>Au coeur de tous <em>les projets</em></h2>
        <button>A vous de jouer!</button>

    </div><!-- #intro -->

    <ng-include src="'views/catalog/block/popular_tags.html'" ng-init="type='resource'"></ng-include>

    <div class="row container">

        <div class="col-md-12">

            <div id="content" class="new-resource">

                <h2>Créer une ressource</h2>
                <h3>Nouvelle ressource</h3>

                <form ng-controller="MakerScienceResourceSheetCreateCtrl" ng-init="init('projet-makerscience')">

                    <div class="row">

                        <div class="col-md-8">

                            <fieldset class="fake-placeholder">
                                <h4>Nom de la ressource</h4>
                                <input type="text"
                                       name="resource-name"
                                       placeholder=">"
                                       ng-model="projectsheet.resource.title"/>
                           </fieldset>

                            <fieldset class="fake-placeholder">
                                <h4>Résumez la ressource en une courte phrase</h4>
                                <textarea name="resource-tagline"
                                          placeholder=">"
                                          rows="4"
                                          ng-model="projectsheet.resource.baseline">
                                </textarea>
                           </fieldset>

                            <fieldset class="fake-placeholder">
                                <div ng-controller="TagAutoCompleteCtrl">
                                <h4>Quels sont les mots-clés associés à votre ressource ? (thématiques, type de projet, outils...)</h4>
                                <tags-input ng-model="tags"
                                            placeholder="Ajouter un mot-clé">
                                  <auto-complete source="loadTags($query)"></auto-complete>
                                </tags-input>
                                </div>
                            </fieldset>

                        </div>

                        <div class="col-md-4">

                            <button class="button button-photo-upload">Photo de couverture</button>
                            <fieldset class="levels">
                                <p>Niveau</p>
                                <label for="level1" class="level1 selected">
                                    <input id="level1" type="radio" name="level" value="1" />
                                    Facile
                                </label>
                                <label for="level2" class="level2">
                                    <input id="level2" type="radio" name="level" value="2" />
                                    Moyen
                                </label>
                                <label for="level3" class="level3">
                                    <input id="level3" type="radio" name="level" value="3" />
                                    Difficile
                                </label>
                            </fieldset>
                            <fieldset class="compact">
                                <input type="text" name="duration" placeholder="Durée" />
                                <input type="text" name="cost" placeholder="Coût" />
                            </fieldset>

                        </div>

                    </div><!-- .row -->

                    <textarea name="project-about"
                              placeholder="Résumez votre projet en quelques lignes"
                              rows="4"
                              ng-model="projectsheet.project.description"></textarea>

                    <textarea ng-model="projectsheet.answers[$index]" name="question_{{$index}}" placeholder="{{question}} "rows="4" ng-repeat="question in template.questions"></textarea>


                    <div class="row">

                        <div class="col-md-6">
                            <fieldset class="needs-idea">
                                <h4>Vos besoins?</h4>
                                <h5>Idée</h5>
                                <textarea name="project-idea" placeholder="Champ de texte..." rows="4"></textarea>
                                <button class="right">Suivant</button>
                            </fieldset>
                            <button class="button button-add">Gallerie photo et vidéo</button>
                        </div>

                        <div class="col-md-6">
                            <fieldset class="fixme">
                                <h4><span class="fixme">#FIXME</span><br />Lien vers une fiche ressource<br />(voir design)</h4>
                            </fieldset>
                        </div>

                    </div><!-- .row -->

                    <p class="right">
                        <button class="button cancel">Annuler</button>
                        <button class="button" ng-click="saveMakerscienceProject(projectsheet)" >Enregistrer</button>
                    </p>

                </form>

            </div><!-- #content -->

        </div><!-- .row -->

    </div><!-- .row .container -->
</div>
