<div class="admin">

    <div id="intro" class="intro-resource-create">
        <h1>Créez une page</h1>
        <h2>partageant une expérience</h2>
    </div><!-- #intro -->

    <div class="row container">

        <div class="col-md-12">

            <div id="content" class="new-resource">

                <h2>Créer une expérience</h2>
                <p>Ce formulaire vous permet de décrire en détails une expérience que vous avez eu afin que d'autres puissent les tester à leur tour. Tous les champs ne sont pas obligatoires et peuvent être modifiés par la suite si vous n'avez pas beaucoup de temps.<br />
                <p>Mais plus vous détaillerez, plus vous aiderez d'autres membres à reproduire votre initiative et la disséminer au plus grand nombre.</p>
                <p>Pour toute question ou besoin d'accompagnement dans la création de cette page, n'hésitez pas à contacter l'équipe de Makerscience ! ;-)</p>

                <h3>Nouvelle expérience</h3>

                <form name="newResourceForm" novalidate ng-controller="MakerScienceResourceSheetCreateCtrl"
                    ng-init="init('projet-makerscience'); submitted=false" ng-submit="saveMakerscienceResource(newResourceForm.$valid)"
                    ng-class="{ 'has-error' : newResourceForm.$invalid && submitted }">
                    <div class="row">
                        <div class="col-md-8">

                            <fieldset class="fake-placeholder">
                                <h4>Nom de l'expérience</h4>
                                <input type="text"
                                       name="resourceName"
                                       placeholder=">"
                                       ng-model="projectsheet.project.title"
                                       required/>
                                <p ng-show="newResourceForm.resourceName.$invalid && submitted" class="help-block">
                                    Nom de l'expérience requis</p>

                           </fieldset>

                            <fieldset class="fake-placeholder">
                                <h4>Résumez l'expérience en une courte phrase</h4>
                                <input type="text"
                                            name="resourceBaseline"
                                            placeholder=">"
                                            ng-model="projectsheet.project.baseline"
                                            required/>
                                <p ng-show="newResourceForm.resourceBaseline.$invalid && submitted" class="help-block">
                                    Court résumé de l'expérience requis</p>
                           </fieldset>

                            <fieldset class="fake-placeholder">
                                <div ng-controller="TagAutoCompleteCtrl">
                                    <h4>Quels sont les mots-clés associés à votre expérience ? (thématiques, type de projet, outils...)</h4>
                                    <tags-input ng-model="tags"
                                                placeholder="> Mot-clé">
                                      <auto-complete source="loadTags($query)"></auto-complete>
                                    </tags-input>
                                </div>
                            </fieldset>

                        </div>

                        <div class="col-md-4">

                            <fieldset class="addPhotosVideos">
                                <label ng-click="openGallery()">Ajouter des médias</label>
                                <button type="button" class="addPhotos" ng-click="openGallery()">
                                    <span class="glyphicon glyphicon-camera"></span>
                                </button>
                                <button type="button" class="addVideos" ng-click="openGallery()">
                                    <span class="glyphicon glyphicon-facetime-video"></span>
                                </button>
                            </fieldset>
                        </div>

                    </div><!-- .row -->

                    <fieldset class="new-resource">
                        <h4>Résumez votre expérience en quelques lignes</h4>
                        <text-angular name="resource-about"
                                      ta-toolbar="[['bold','italics', 'underline'], ['ul', 'ol'], ['insertLink']]"
                                      ng-model="projectsheet.project.description"
                                      e-rows="4">
                        </text-angular>
                    </fieldset>

                    <fieldset class="new-resource" ng-repeat="item in QAItems">
                        <h4>{{item.questionLabel}}</h4>
                        <text-angular ng-model="item.answer"
                                      ta-toolbar="[['bold','italics', 'underline'], ['ul', 'ol'], ['insertLink']]"
                                      name="question_{{$index}}"
                                      e-rows="4">
                        </text-angular>
                    </fieldset>
                    <!-- Besoins : désactivés pour l'instant -->
                    <!-- <fieldset class="needs needs-select">
                        <h4>Vos besoins</h4>
                        <p>Vous avez besoin d'idées fraîches pour votre expérience? Précisez ici vos besoins du moment ...</p>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="btn-group" dropdown is-open="status.isopen">
                                    <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">{{newNeed.type}}<span class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="needType in needTypes"><a ng-click="newNeed.type=needType">{{needType}}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <text-angular name="project-need"
                                              ta-toolbar="[['bold','italics', 'underline'], ['ul', 'ol'], ['insertLink']]"
                                              e-placeholder="Descrivez votre besoin"
                                              ng-model="newNeed.description"
                                              e-rows="3">
                                </text-angular>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="button" ng-click="addNeed(newNeed)">Ajouter le besoin</button>
                            </div>
                        </div>
                        <div class="row">
                            <ul class="list-group">
                                <li ng-repeat="(index, need) in needs">
                                    <label>{{need.type}}</label>
                                    <span ng-bind-html="need.description"></span>
                                    <button type="button" class="transparent" ng-click="delNeed(index)"><span class="glyphicon glyphicon-trash"></span></button>
                                </li>
                            </ul>
                        </div>
                    </fieldset> -->
                    <!-- Experiences associées  -->
                    <fieldset class="linked-idea">
                        <h4>Projets associés</h4>
                        <p>Voulez-vous associer cette expérience à des pages de projets ?</p>
                        <div class="row">
                            <div class="col-md-9">
                                <angucomplete-alt id="linked-idea"
                                                placeholder="Nom de l'expérience"
                                                pause="100"
                                                selected-object="newLinkedResource"
                                                local-data="allAvailableResources"
                                                search-fields="title"
                                                title-field="title"
                                                text-no-results="Aucune expérience trouvée"
                                                minlength="3"/>
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="button" ng-click="addLinkedResource(newLinkedResource)">Lier à l'éxpérience</button>
                            </div>
                        </div>
                        <ul class="list-group">
                            <li ng-repeat="resource in linkedResources">
                                <div class="row">
                                    <div class="col-md-10">
                                        <label>{{resource.parent.title}}</label>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-danger" ng-click="delLinkedResource(resource)"><span class="glyphicon glyphicon-trash"></span> Supprimer</button>
                                     </div>
                                </div>
                            </li>
                        </ul>
                    </fieldset>

                    <p class="right">
                        <button type="button" class="button cancel" ui-sref="resource.list">Annuler</button>
                        <!-- FIXME : set up ctrler to allow 'save as draft'  -->
                        <!-- <button type="button" class="button">Enregistrer en brouillon</button>
                        <button type="button" class="button" ng-click="submitted=true">Publier</button>
                         -->
                        <button type="submit" class="button" ng-click="submitted=true">Enregistrer</button>
                    </p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }" style="width: 0%;"></div>
                    </div>
                </form>

            </div><!-- #content -->

        </div><!-- .row -->

    </div><!-- .row .container -->
</div>
