<section class="community community-project">
    <ul class="actions">
        <li><a href=""><span class="glyphicon glyphicon-user"></span>Rejoindre</a></li>
        <li><a href=""><span class="glyphicon glyphicon-thumbs-up"></span>S'abonner</a></li>
    </ul>
    <h3>La communauté</h3>
    <tabset>
        <tab>
            <tab-heading>
                <span>06</span>L'équipe projet
            </tab-heading>
            <div class="member">
                <img src="./img/users/user-mathieu.png" alt="User Mathieu Corain" />
                <p>Mathieu Corain <em>Chef de projet</em></p>
            </div><!-- .member -->
            <div class="member member-edit">
                <form>
                    <button class="remove"><span class="glyphicon glyphicon-remove"></span></button>
                    <img src="./img/users/user-mathieu.png" alt="User Mathieu Corain" />
                    <p>Mathieu Corain <em>Chef de projet</em></p>
                </form>
            </div><!-- .member -->
        </tab>
        <tab>
            <tab-heading>
                <span>500</span>Personnes ressources
            </tab-heading>
            <div class="member">
                <img src="./img/users/user-default.png" alt="User #firstname #lastname" />
                <p>#username <em>#role</em></p>
            </div><!-- .member -->
        </tab>
        <tab>
            <tab-heading>
                <span>300</span>Abonnés
            </tab-heading>
            <div class="member">
                <img src="./img/users/user-default.png" alt="User #firstname #lastname" />
                <p>#username <em>#role</em></p>
            </div><!-- .member -->
        </tab>
    </tabset>
</section><!-- .community -->