<section class="community community-project" ng-init="manageCommunity=false">
    <ul class="actions" ng-show="currentMakerScienceProfile != null">
        <li><a href="" ng-click="manageCommunity=!manageCommunity"><span class="glyphicon glyphicon-user"></span>Rejoindre</a></li>
    </ul>
    <h3>La communauté</h3>
    <!-- Formulaire pour permettre a l'usager connecté de s'ajouter comme membre équipe ou ressource -->
    <div class="add-member" ng-show="manageCommunity">
        <button type="button"
                class="btn btn-primary"
                ng-show="!teamCandidate && !resourceCandidate && !isAlreadyMember(currentMakerScienceProfile.parent, 0)"
                ng-click="teamCandidate=currentMakerScienceProfile.parent">Vous êtes membre de l'équipe</button>

        <button type="button"
                class="btn btn-primary"
                ng-show="!teamCandidate && !resourceCandidate && !isAlreadyMember(currentMakerScienceProfile.parent, 1)"
                ng-click="resourceCandidate=currentMakerScienceProfile.parent">Vous voulez aider ce projet</button>

        <button type="button"
                class="btn btn-primary"
                ng-show="!teamCandidate && !resourceCandidate && !isAlreadyMember(currentMakerScienceProfile.parent, 2)"
                ng-click="addMember(currentMakerScienceProfile.parent, 2, '', true); manageCommunity=false">Vous voulez juste suivre ce projet</button>

        <input type="text" ng-show="teamCandidate || resourceCandidate" name="role" ng-model="role" placeholder="Saisissez votre rôle ..." />

        <button type="button" ng-show="teamCandidate" class="btn btn-primary" ng-click="addMember(teamCandidate, 0, role, false); manageCommunity=false; teamCandidate=null;">S'ajouter comme membre d'équipe</button>
        <button type="button" ng-show="resourceCandidate" class="btn btn-primary" ng-click="addMember(resourceCandidate, 1, role, true); manageCommunity=false; resourceCandidate=null;">S'ajouter comme membre resource</button>
        <button type="button" class="btn btn-default" ng-click="manageCommunity=false; teamCandidate=null; resourceCandidate=null">Annuler</button>

    </div>
    <tabset ng-show="!manageCommunity">
        <!-- Membres de l'équipe -->
        <tab ng-init="addTeamMember=false">
            <tab-heading>
                <span>{{(community | filter: {level:0, isValidated: true}).length }}</span>L'équipe projet
            </tab-heading>
            <!-- Team member can invite others members to join the tean -->
            <div class="add-member" ng-show="editable">
                <button id="addTeamMember" type="button" class="btn btn-default" ng-click="addTeamMember=!addTeamMember" ng-show="!teamCandidate">Ajouter un membre à l'équipe</button>
                <div ng-show="addTeamMember && !teamCandidate">
                    <angucomplete-alt id="team-member"
                                    placeholder="Nom du membre ..."
                                    pause="100"
                                    selected-object="teamCandidate"
                                    local-data="profiles"
                                    search-fields="user.first_name,user.last_name"
                                    text-no-results="Aucun membre trouvé"
                                    template-url="/views/catalog/block/community_profile_autocomplete.html"
                                    minlength="2"/>

                </div>
                <div ng-show="teamCandidate">
                    <button type="button"
                            class="btn btn-primary"
                            ng-click="addMember(teamCandidate.originalObject, 5, currentMakerScienceProfile.slug, false); addTeamMember=false; teamCandidate=null">
                            Inviter {{teamCandidate.originalObject.user.first_name}} {{teamCandidate.originalObject.user.last_name}} à rejoindre l'équipe du projet ?
                    </button>
                    <button type="button" class="btn btn-default" ng-click="addTeamMember=false; teamCandidate=null">Annuler</button>
                </div>
            </div>
            <!-- ###################################################### -->

            <div class="member" ng-class="{'member-edit': editable}" ng-repeat="member in team = community | filter: showTeamMembersFilter">
                <ng-include ng-if="member.isValidated || editable" src="'/views/catalog/block/community_profile_thumb.html'"></ng-include>
                <div ng-show="editable">
                    <button ng-show="team.length > 1" class="remove" ng-click="removeMember(member)"><span class="glyphicon glyphicon-remove" ></span></button>
                    <span ng-show="member.level==0 && !member.isValidated">
                        <button class="btn btn-default" ng-click="validateMember(member, true)">Valider ce membre</button>
                    </span>
                    <label ng-show="member.level==5">En attente de la validation de {{member.profile.user.first_name}} {{member.profile.user.last_name}}</label>
                </div>
                <div ng-show="!editable && member.isValidated == false && member.profile.id == currentMakerScienceProfile.parent.id">
                    <label ng-show="member.level == 0">Votre ajout à ce projet est en attente de validation par un membre de l'équipe</label>
                    <span ng-show="member.level == 5">
                        Vous avez été invité à rejoindre l'équipe du projet
                        <button class="btn btn-default" ng-click="validateMember(member, true)">Accepter</button>
                        <button class="btn btn-default" ng-click="removeMember(member)">Refuser</button>
                    </label>
                </div>
            </div><!-- .member -->
        </tab>

        <!-- Membres resources  -->
        <tab ng-init="addResourceMember=false">
            <tab-heading>
                <span>{{(community | filter: {level:1, isValidated: true}).length }}</span>
                <ng-pluralize count="(community | filter: {level:1, isValidated: true}).length"
                             when="{'0': 'Personne ressource',
                                 'one': 'Personne ressource',
                                 'other': 'Personnes ressources'}">
                 </ng-pluralize>
            </tab-heading>
            <div class="add-member" ng-show="editable">
                <button id="addResourceMember" type="button" class="btn btn-default" ng-click="addResourceMember=!addResourceMember" ng-show="!resourceCandidate">Ajouter un membre ressource</button>
                <div ng-show="addResourceMember && !resourceCandidate">
                    <angucomplete-alt id="resource-member"
                                    placeholder="Nom du membre ..."
                                    pause="100"
                                    selected-object="resourceCandidate"
                                    local-data="profiles"
                                    search-fields="user.first_name,user.last_name"
                                    text-no-results="Aucun membre trouvé"
                                    template-url="/views/catalog/block/community_profile_autocomplete.html"
                                    minlength="2"/>
                </div>
                <div ng-show="resourceCandidate">
                    <button type="button"
                            class="btn btn-primary"
                            ng-click="addMember(resourceCandidate.originalObject, 6, currentMakerScienceProfile.slug, false); addResourceMember=false; resourceCandidate=null">
                            Inviter {{resourceCandidate.originalObject.user.first_name}} {{resourceCandidate.originalObject.user.last_name}} à aider le projet ?
                    </button>
                    <button type="button" class="btn btn-default" ng-click="addResourceMember=false; resourceCandidate=null">Annuler</button>
                </div>
            </div>
            <!-- ###################################################### -->

            <div class="member" ng-class="{'member-edit': editable}" ng-repeat="member in team = community | filter: showHelpersFilter">
                <ng-include ng-if="member.isValidated || editable" src="'/views/catalog/block/community_profile_thumb.html'"></ng-include>
                <div ng-show="editable">
                    <button ng-show="team.length > 1" class="remove" ng-click="removeMember(member)"><span class="glyphicon glyphicon-remove" ></span></button>
                    <label ng-show="member.level==6 && member.isValidated == false">En attente de la validation de {{member.profile.user.first_name}} {{member.profile.user.last_name}}</label>
                </div>
                <div ng-show="!editable && member.isValidated == false && member.profile.id == currentMakerScienceProfile.parent.id">
                    <span ng-show="member.level == 6">
                        Vous avez été invité à apporter votre aide au projet
                        <button class="btn btn-default" ng-click="validateMember(member, true)">Accepter</button>
                        <button class="btn btn-default" ng-click="removeMember(member)">Refuser</button>
                    </label>
                </div>
            </div><!-- .member -->
        </tab>
        <tab>
            <tab-heading>
                <span>{{(community | filter: {level:2}).length }}</span>
                <ng-pluralize count="(community | filter: {level:2}).length"
                            when="{'0': 'Abonné',
                            'one': 'Abonné',
                            'other': 'Abonnés'}">
            </ng-pluralize>
            </tab-heading>
            <div class="member" ng-class="{'member-edit': editable}" ng-repeat="member in community | filter: {level:2}">
                <button class="remove" ng-click="removeMember(member)" ng-show="editable"><span class="glyphicon glyphicon-remove" ></span></button>
                <ng-include src="'/views/catalog/block/community_profile_thumb.html'"></ng-include>
            </div><!-- .member -->
        </tab>
    </tabset>
</section><!-- .community -->
