<section class="comments">

    <ul class="actions">
        <li><a href=""><span class="glyphicon glyphicon-comment"></span>Commenter</a></li>
    </ul>
    <h3>Commentaires</h3>

    <div class="comment">
        <div class="btn-group" dropdown is-open="status.isopen">
            <button type="button" class="btn dropdown-toggle" ng-disabled="disabled"><span class="glyphicon glyphicon-chevron-down"></span></button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="">Modifier</a></li>
                <li><a href="">Supprimer</a></li>
                <li><a href="">Signaler un abus</a></li>
            </ul>
        </div>
        <div class="author">
            <img src="./img/users/user-mathieu.png" alt="User Mathieu Corain" />
            <p>Mathieu Corain <em>Chef de projet</em><em>Il y a 40m</em></p>
        </div>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    </div><!-- .comment -->

    <div class="comment">
        <span class="date">50mn</span>
        <div class="author">
            <img src="./img/users/user-default.png" alt="User Unknown" />
            <p>Anonymous user <em>Fan</em></p>
        </div>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    </div><!-- .comment -->

    <div class="comment">
        <span class="date">50mn</span>
        <div class="author">
            <img src="./img/users/user-mathieu.png" alt="User Mathieu Corain" />
            <p>Mathieu Corain <em>Chef de projet</em></p>
        </div>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    </div><!-- .comment -->
    
    <p><a href="">Voir plus</a></p>

</section><!-- .comments -->

<!-- When adding a comment -->
<section class="comments comments-add">

    <h3>Commentaires</h3>

    <div class="comment">
        <div class="author">
            <img src="./img/users/user-default.png" alt="User Unknown" />
            <p>{username} <em>{role}</em></p>
        </div>
    </div><!-- .comment -->
    
    <fieldset>
		<textarea name="comment" placeholder="Commentaire..."></textarea>
		<button class="button" type="submit">Poster</button>
	</fieldset>

</section><!-- .comments -->
