<div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
    <input ng-model="searchStr"
        ng-disabled="disableInput"
        type="text"
        placeholder="{{placeholder}}"
        ng-focus="onFocusHandler()"
        class="{{inputClass}}"
        ng-focus="resetHideResults()"
        ng-blur="hideResults($event)"
        autocapitalize="off"
        autocorrect="off"
        autocomplete="off"
        ng-change="inputChangeHandler(searchStr)"/>

    <div class="angucomplete-dropdown" ng-show="showDropdown">
        <div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
        <div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>
        <div class="angucomplete-row visibleResult"
            ng-repeat="result in results"
            ng-click="selectResult(result)"
            ng-mouseenter="hoverRow($index)"
            ng-class="{'angucomplete-selected-row': $index == currentIndex}">
            <ng-include src="'/views/profile/block/avatar.html'" class="avatar avatar52"></ng-include>
            <p>{{result.originalObject.user.first_name}} {{result.originalObject.user.last_name}}</p>
        </div>
    </div>
</div>
