<ng-include src="'/views/profile/block/avatar.html'"></ng-include>
<p>{{member.profile.user.first_name}} {{member.profile.user.last_name}}</p>
<div class="member-details relative">
    <div ng-if="member.detail" class="edit-buttons" ng-show="editable">
        <button ng-click="DetailBtnForm.$show()" ng-hide="DetailBtnForm.$visible">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
    </div>
    <p  ng-if="member.detail" editable-text="member.detail"
        e-form="DetailBtnForm"
        onbeforesave="updateMemberDetail($data, member)"
        ng-bind-html="member.detail">{{member.detail}}</p>
</div>
