<section class="community community-{{parentColor}}">
    <ul class="actions">
        <li><a href=""><span class="glyphicon glyphicon-thumbs-up"></span>J'aime</a></li>
        <li><a href=""><span class="glyphicon glyphicon-user"></span>Contribuer</a></li>
    </ul>
    <h3>La communauté</h3>
    <tabset>
        <tab>
            <tab-heading>
                <span>{{(community | filter: {level:0}).length }}</span>L'équipe projet
            </tab-heading>
            <div class="member" ng-repeat="member in community | filter: {level:0}">
                 <ng-include src="'views/catalog/block/community_profile_thumb.html'" scope="" onload="member = member"></ng-include>
            </div><!-- .member -->
            <!-- <div class="member member-edit">
                <form>
                    <button class="remove"><span class="glyphicon glyphicon-remove"></span></button>
                    <img src="./img/users/user-mathieu.png" alt="User Mathieu Corain" />
                    <p>Mathieu Corain <em>Chef de projet</em></p>
                </form>
            </div> -->
        </tab>
        <tab>
            <tab-heading>
                <span>{{(community | filter: {level:1}).length }}</span>
                <ng-pluralize count="0"
                             when="{'0': 'Personne ressource',
                                 'one': 'Personne ressource',
                                 'other': 'Personnes ressources'}">
                 </ng-pluralize>

            </tab-heading>
            <div class="member" ng-repeat="member in community | filter: {level:1}">
                <ng-include src="'views/catalog/block/community_profile_thumb.html'" scope="" onload="member = member"></ng-include>
            </div><!-- .member -->
        </tab>
        <tab>
            <tab-heading>
                <span>{{(community | filter: {level:2}).length }}</span>
                <ng-pluralize count="0"
                            when="{'0': 'Abonné',
                            'one': 'Abonné',
                            'other': 'Abonnés'}">
            </ng-pluralize>
            </tab-heading>
            <div class="member" ng-repeat="member in community | filter: {level:2}">
                <ng-include src="'views/catalog/block/community_profile_thumb.html'" scope="" onload="member = member"></ng-include>
            </div><!-- .member -->
        </tab>
    </tabset>
</section><!-- .community -->
