<div class="modal-header">
    <h3 class="modal-title">Galerie</h3>
</div>
<div class="modal-body modal-gallery">
    <tabset class="nav-tabs-project">
        <tab heading="Photos">
            <section>
                <input type="file" nv-file-select="" uploader="uploader" multiple />
                <ul class="thumbnails">
                    <li ng-repeat="item in uploader.queue" style="float: left;text-align: center;">
                        <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                        <div>{{ item.file.name }} ({{ item.file.size/1024/1024|number:2 }} Mb)</div>
                        <button type="button" class="btn btn-xs" ng-click="setFavorite(item)">
                            <span class="glyphicon glyphicon-star"></span> Couverture
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Supprimer
                        </button>
                    </li>
                </ul>
                <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Supprimer tout
                </button>
            </section>
        </tab>
        <tab heading="Vidéos">
            <section class="video">
                <form class="form-inline"><!-- Alban: Keep this form (needed for styling) -->
                    <p>
                        Uniquement les vidéos de Youtube, Dailymotion et Vimeo sont prises en charge.
                    </p>
                    <input type="text" name="newlink" class="form-control" placeholder="Lien vers la video" ng-model="newVideo"/>
                    <button class="btn btn-primary" ng-click="addVideo(newVideo);newVideo=null">Ajouter</button>
                </form>
                <ul class="list-group links">
                    <li class="list-group-item" ng-repeat="(videoURL, nop) in videos">
                        {{videoURL}}
                        <button class="transparent" ng-click="delVideo(videoURL)"><span class="glyphicon glyphicon-trash"></span></button>
                    </li>
                </ul>
            </section>
        </tab>
    </tabset>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
