<div class="modal-header">
    <h3 class="modal-title">Galerie</h3>
</div>
<div class="modal-body modal-gallery">
    <tabset class="nav-tabs-project">
        <tab heading="Photos">
            <section>
                <input type="file" nv-file-select="" uploader="uploader" multiple />
                <!-- Couverture : {{ projectsheet.cover.filename || 'Aucune image'}} -->
                <ul class="thumbnails">
                    <li ng-repeat="file in projectsheet.bucket.files" style="float: left;text-align: center;">
                        <img ng-src="{{config.media_uri}}{{file.thumbnail_url}}?height=100" height="100px"/>
                        <div></div>
                        <button type="button" class="btn btn-xs" ng-click="toggleCover(file)">
                            <span ng-hide="isCover(file)" class="glyphicon glyphicon-star"></span>
                            <span ng-show="isCover(file)" class="glyphicon glyphicon-star" style="color:orange"></span>
                            Couverture
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="removePicture(file)">
                            <span class="glyphicon glyphicon-trash"></span> Supprimer
                        </button>
                    </li>
                    <li ng-repeat="file in uploader.queue" style="float: left;text-align: center;">
                        <div ng-show="uploader.isHTML5" ng-thumb="{ file: file._file, height: 100 }"></div>
                        <div></div>
                        <button type="button" class="btn btn-xs" ng-click="toggleCoverCandidate(file)">
                            <span ng-hide="isCoverCandidate(file)" class="glyphicon glyphicon-star"></span>
                            <span ng-show="isCoverCandidate(file)" class="glyphicon glyphicon-star" style="color:orange"></span>
                            Couverture
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="file.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Supprimer
                        </button>
                    </li>
                </ul>
                <!-- <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Supprimer tout
                </button> -->
            </section>
        </tab>
        <tab heading="Vidéos">
            <section class="video">
                <form class="form-inline"><!-- Alban: Keep this form (needed for styling) -->
                    <p>
                        Uniquement les vidéos de Youtube, Dailymotion et Vimeo sont prises en charge.
                    </p>
                    <input type="text" name="newlink" class="form-control" placeholder="Lien vers la video" ng-model="newVideo"/>
                    <button class="btn btn-primary" ng-click="addVideo(newVideo);newVideo=null">Ajouter</button>
                </form>
                <ul class="list-group links">
                    <li class="list-group-item" ng-repeat="(videoURL, nop) in videos">
                        {{videoURL}}
                        <button class="transparent" ng-click="delVideo(videoURL)"><span class="glyphicon glyphicon-trash"></span></button>
                    </li>
                </ul>
            </section>
        </tab>
    </tabset>
</div>

<div class="progress" ng-show="hideControls">
    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }" style="width: 0%;"></div>
</div>

<div class="modal-footer" ng-hide="hideControls">
    <button class="btn btn-primary" ng-click="hideControls=true;ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
