<div class="modal-header">
    <h3 class="modal-title">Tous les tags</h3>
</div>
<div class="modal-body modal-gallery">
    <div ng-show="editTag==true" ng-controller="TagAutoCompleteCtrl">
        <tags-input ng-model="preparedTags"
                    placeholder="> Mot-clé"
                    on-tag-added="addTag(objectTypeName, taggedObject.id, $tag)"
                    on-tag-removed="removeTag($tag)">
                    <auto-complete source="loadTags($query)"></auto-complete>
        </tags-input>
    </div>
    <div ng-show="editTag==false">
        <ul class="tags tags-project">
            <li ng-repeat="tag in preparedTags"><a href="">{{tag.text}}</a></li>
        </ul>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
