<div class="modal-header">
    <h3 class="modal-title">Créez une discussion précisant vos besoins (idées, matériel, financement, testeurs, relais…). Elle sera affichée sur votre projet et sur le forum de discussions.</h3>
</div>
<div class="modal-body">
    <fieldset class="needs needs-select">
        <input type="text" ng-model="newNeed.title" placeholder="Intitulé du besoin"/>
        <text-angular name="project-need"
                      ta-toolbar="[['bold','italics', 'underline'], ['ul', 'ol'], ['insertLink']]"
                      e-placeholder="J’ai besoin de ... pour le projet ... "
                      ng-model="newNeed.text"
                      e-rows="3">
        </text-angular>
        <br />
        <div class="need-keywords">
            <div ng-controller="TagAutoCompleteCtrl">
                <p>Précisez votre besoin grâce à des mots-clés :</p>
                <tags-input ng-model="questionTags"
                            placeholder="> Mot-clé">
                  <auto-complete source="loadTags($query)" template="views/base/tag_autocomplete.html"></auto-complete>
                </tags-input>
            </div>
        </div>
    </fieldset>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
