<div class="modal-header">
    <h3 class="modal-title">Créez une discussion précisant vos besoins (idées, matériel, financement, testeurs, relais…). Elle sera affichée sur votre projet et sur le forum de discussions.</h3>
</div>
<div class="modal-body">
    <fieldset class="needs needs-select">
        <input type="text" ng-model="newNeed.title" placeholder="J’ai besoin de ... pour le projet ... "/>
        <textarea ui-tinymce="tinyMceFullOptions"
                    ng-trim="false"
                    name="project-need"
                    placeholder="Descrivez votre besoin le plus précisement possible."
                    ng-model="newNeed.text"
                    rows="3">
        </textarea>
        <div class="need-keywords">
            <div ng-controller="TagAutoCompleteCtrl">
                <p>Précisez votre besoin grâce à des mots-clés :</p>
                <tags-input ng-model="questionTags"
                            placeholder="> Mot-clé (ne pas utiliser de #, séparer par des virgules)">
                  <auto-complete source="loadTags($query)" template="views/base/tag_autocomplete.html"></auto-complete>
                </tags-input>
            </div>
        </div>
    </fieldset>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
