<section class="popularity popularity-{{parentColor}}" ng-controller="PopularityCtrl">
    <h3 ng-show="!votePopularity">Popularité</h3>
    <h3 ng-show="votePopularity">Voter le projet</h3>
    
    <ul class="actions" ">
        <li><a href="" ng-click="votePopularity=!votePopularity" ng-show="!votePopularity"><span class="glyphicon glyphicon-star-empty"></span>Vote</a></li>
        <li><button class="solo" ng-click="saveUserRating()" ng-show="votePopularity">OK</button></li>
    </ul>
    
    <table ng-show="!votePopularity" >
        <tbody>
            <tr ng-repeat="(label, values) in popularityItems">
                <td>{{label}}</td>
                <td class="percent"><span><span style="width: {{(values.objectPopularityScore/values.maxPopularityScore)*100}}%"></span></span></td>
                <td>{{values.objectPopularityScore}} <small>pt</small></td>
            </tr>
        </tbody>
    </table>
    
    <div ng-show="votePopularity">
        <div ng-repeat="(label, value) in popularityItems">
        <label for="rating-original">{{label}}</label>
        <rating id="rating-original" ng-model="userRatings[label]" max="5" on-hover="hoveringOver(userRatings[label])" on-leave="overStar = null"></rating>
        </div>
    </div>
</section>
