<div class="toolbar">
    <div class="row container">
        <div class="container-xs-height">
            <div class="row-xs-height">
                <div class="col-md-2 col-xs-height col-middle {{type}}">
                    <h3>Les tags populaires <span class="glyphicon glyphicon-chevron-right"></span></h3>
                </div>
                <div class="col-md-8 col-xs-height col-middle" ng-controller="TagListCtrl">
                    <ul class="tags tags-{{type}}">
                        <li ng-repeat="tag in tags | limitTo:25"><a ui-sref="tag({slug:tag.slug})">{{tag.name}}</a></li>
                        <li><a ng-show="tags.length > 25" ui-sref="tags" tooltip="Voir tous les tags">...</a></li>

                    </ul>
                </div>
                <div class="col-md-2 col-xs-height col-middle {{type}}">
                    <form method="post" action="">
                        <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </form>
                </div>
            </div><!-- .row-xs-height -->
        </div><!-- .container-xs-height -->
    </div><!-- .container.row -->
</div><!-- .toolbar -->
