<h3>{{project.parent.begin_date|date : format : shortdate}}
    <img ng-src="{{ config.media_uri }}{{ project.parent.progress.icon }}" alt="{{project.parent.progress.label}}">
</h3>
<img src="./img/bacasable.jpg" alt="Image background" />
<div class="description">
    <h4><a ui-sref="project.detail({ slug: project.parent.slug })">{{project.parent.title}}</a></h4>
    <h5>Contributeur:
        <a ui-sref="profile.detail({id:project.parent.team[0].members[0].id})">
            {{project.parent.team[0].members[0].user.first_name}} {{project.parent.team[0].members[0].user.last_name}}
        </a>
    </h5>
</div>
