<div class="tags">
    <div class="editable">
        <h5>Thématiques</h5>
        <div class="edit-buttons" ng-show="editable" ng-init="addTheme=false">
            <button ng-click="addTheme = ! addTheme"><span class="glyphicon glyphicon-pencil"></span></button>
        </div>

        <div ng-show="addTheme==true" ng-controller="TagAutoCompleteCtrl">
            <tags-input ng-model="$parent.preparedThemeTags"
                        placeholder="> Mot-clé"
                        on-tag-added="$parent.addTagToProjectSheet('th', $tag)"
                        on-tag-removed="$parent.removeTagFromProjectSheet($tag)">
                        <auto-complete source="loadTags($query)"></auto-complete>
            </tags-input>
        </div>

        <div ng-show="addTheme==false">
            <ul class="tags skills">
                <li ng-repeat="tag in preparedThemeTags"><a href="">{{tag.text}}</a></li>
            </ul>
        </div>
    </div>
</div><!-- .relative -->

<div class="tags">
    <div class="editable">
        <h5>Cibles visées</h5>
        <div class="edit-buttons" ng-show="editable" ng-init="addTarget=false">
            <button ng-click="addTarget = ! addTarget"><span class="glyphicon glyphicon-pencil"></span></button>
        </div>

        <div ng-show="addTarget==true" ng-controller="TagAutoCompleteCtrl">
            <tags-input ng-model="$parent.preparedTargetTags"
                        placeholder="> Mot-clé"
                        on-tag-added="$parent.addTagToProjectSheet('tg', $tag)"
                        on-tag-removed="$parent.removeTagFromProjectSheet($tag)">
                        <auto-complete source="loadTags($query)"></auto-complete>
            </tags-input>
        </div>

        <div ng-show="addTarget==false">
            <ul class="tags tags-project">
                <li ng-repeat="tag in preparedTargetTags"><a href="">{{tag.text}}</a></li>
            </ul>
        </div>
    </div><!-- .editable -->
</div><!-- .relative -->

<div class="tags">
    <div class="editable">
        <h5>Formats</h5>
        <div class="edit-buttons" ng-show="editable" ng-init="addFormats=false">
            <button ng-click="addFormats = ! addFormats"><span class="glyphicon glyphicon-pencil"></span></button>
        </div>

        <div ng-show="addFormats==true" ng-controller="TagAutoCompleteCtrl">
            <tags-input ng-model="$parent.preparedFormatsTags"
                        placeholder="> Mot-clé"
                        on-tag-added="$parent.addTagToProjectSheet('fm', $tag)"
                        on-tag-removed="$parent.removeTagFromProjectSheet($tag)">
                        <auto-complete source="loadTags($query)"></auto-complete>
            </tags-input>
        </div>

        <div ng-show="addFormats==false">
            <ul class="tags tags-project">
                <li ng-repeat="tag in preparedFormatsTags"><a href="">{{tag.text}}</a></li>
            </ul>
        </div>
    </div><!-- .editable -->
</div><!-- .relative -->
