<h3>{{resource.begin_date|date : format : shortdate}}</h3>
<a ui-sref="resource.detail({ slug: resource.slug })">
    <img class="background" ng-if="resource.cover" ng-src="{{ config.media_uri }}{{ resource.cover+'?dim=200x200&border=true'}}" alt="resource Image" />
    <img class="background" ng-if="!resource.cover" src="/img/bacasable.jpg" alt="resource Image" />
</a>
<div class="description">
    <h4><a ui-sref="resource.detail({ slug: resource.slug })">{{resource.title}}</a></h4>
    <h5 ng-if="resource.by">Par
        <a ui-sref="profile.detail({slug:resource.by.profile_slug})">
            {{resource.by.full_name}}
        </a>
    </h5>
</div>
<p class="baseline"><a ui-sref="resource.detail({ slug: resource.slug })">{{resource.baseline}}</a></p>
