<div id="socialshare" sticky offset="260" style="top:56%; left: 18%; position:fixed; font-size:3em">

    <ul>
        <li style="background-color: white; border-radius: 11px;margin-bottom: 8px;padding: 5px 0 3px;text-align: center; width: 40px;">
            <a href=""
                socialshare
                socialshare-provider="facebook"
                socialshare-text="{{projectsheet.parent.title}}"
                socialshare-url="{{location.protocol()}}://{{location.host()}}{{location.path()}}">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li style="background-color: white; border-radius: 11px;margin-bottom: 8px;padding: 5px 0 3px;text-align: center; width: 40px;">
            <a href=""
                socialshare
                socialshare-provider="twitter"
                socialshare-text="{{projectsheet.parent.title}}"
                socialshare-url="{{location.protocol()}}://{{location.host()}}{{location.path()}}">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li style="background-color: white; border-radius: 11px;margin-bottom: 8px;padding: 5px 0 3px;text-align: center; width: 40px;" >
            <a href=""
                socialshare
                socialshare-provider="google+"
                socialshare-text="{{projectsheet.parent.title}}"
                socialshare-url="{{location.protocol()}}://{{location.host()}}{{location.path()}}">
                <i class="fa fa-google-plus"></i>
            </a>
        </li>
        <li style="width: 80px;">
            <a facebook class="facebookShare" data-url='{{location.protocol()}}://{{location.host()}}{{location.path()}}' data-picture="{{location.protocol()}}://{{location.host()}}/img/bacasable.jpg" data-shares='shares'>{{ shares }}</a>
        </li>
        <li style="width: 80px;">
            <a twitter  data-lang="en" data-count='horizontal' data-url='{{location.protocol()}}://{{location.host()}}{{location.path()}}' data-via='makerscience' data-size="medium" data-text='{{projectsheet.parent.title}}' ></a>
        </li>
        <li style="width: 80px;">
            <div gplus class="g-plus" data-size="tall" data-annotation="bubble" data-href='{{location.protocol()}}://{{location.host()}}{{location.path()}}' data-action='share'></div>
        </li>
    </ul>
</div>
