<div id="socialshare" sticky offset="260" style="top:56%; left: 18%; position:fixed; font-size:3em">
    <ul>
        <li style="background-color: white; border-radius: 11px;margin-bottom: 8px;padding: 5px 0 3px;text-align: center; width: 40px;">
            <a href=""
                socialshare
                socialshare-provider="facebook"
                socialshare-text="{{projectsheet.parent.title}}"
                socialshare-url="http://makerscience.nonetype.net/#/p/test-projet">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li style="background-color: white; border-radius: 11px;margin-bottom: 8px;padding: 5px 0 3px;text-align: center; width: 40px;">
            <a href=""
                socialshare
                socialshare-provider="twitter"
                socialshare-text="{{projectsheet.parent.title}}"
                socialshare-url="{{location.url()}}">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li style="background-color: white; border-radius: 11px;margin-bottom: 8px;padding: 5px 0 3px;text-align: center; width: 40px;" >
            <a href=""
                socialshare
                socialshare-provider="google+"
                socialshare-text="{{projectsheet.parent.title}}"
                socialshare-url="{{location.url()}}">
                <i class="fa fa-google-plus"></i>
            </a>
        </li>
    </ul>
</div>
