<div class="thread-answer">
    <ul class="answer-report">
        <li><a href="">Signaler un abus</a></li>
    </ul>
    <div class="thread-author">
        <img src="/img/users/user-mathieu.png" alt="Stéphanie Martines" />
        <p>Eric <strong>Streal</strong> <span>Il y a 12 J</span></p>
    </div>
    <div class="thread-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p><span class="fixme">#FIXEME Pour styles les images j'attends de voir ce que l'éditeur va me sortir comme HTML</span></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="thread-actions">
        <ul>
            <li class="left"><span class="answer-count">02</span> Réponses</li>
            <li><a href=""><span class="glyphicon glyphicon-star"></span></a></li>
            <li><a href=""><span class="glyphicon glyphicon-share-alt"></span></a></li>
            <li><a href=""><span class="glyphicon glyphicon-thumbs-up"></span></a></li>
            <li><button class="button button-forum">Répondre</button></li>
    </div>
</div>
