<section class="community community-forum">
    <ul class="actions">
        <li>
            <a href="" ng-if="!isAlreadyMember(currentMakerScienceProfile.parent, 32)"
                    ng-click="addMember(currentMakerScienceProfile.parent, 32, '', true)"><span class="glyphicon glyphicon-star"></span>Suivre</a>
            <a href="" ng-if="isAlreadyMember(currentMakerScienceProfile.parent, 32)"
                    ng-click="deleteMember(currentMakerScienceProfile.parent, 32)" style="background-color:black"><span class="glyphicon glyphicon-star"></span>Annuler</a>
        </li>
    </ul>
    <h3>La communauté</h3>
    <tabset>
        <tab>
            <tab-heading>
                <span>{{(community | filter: {level:31}|unique:'profile_id').length}}</span>
                <ng-pluralize count="(community | filter: {level:31}|unique:'profile_id').length"
                            when="{'0': 'Contributeur',
                            'one': 'Contributeur',
                            'other': 'Contributeurs'}">
                </ng-pluralize>
            </tab-heading>
            <div class="member" ng-repeat="member in community | filter: {level:31}|unique:'profile_id'">
                <span class="avatar avatar52">
                    <img ng-show="member.profile.avatar" src="{{member.profile.avatar}}" class="profile img-circle">
                    <img ng-hide="member.profile.avatar" src="/img/avatar.png" class="profile img-circle">
                </span>
                <div class="member-details relative">
                    <p><a ui-sref="profile.detail({slug : member.profile.id})"> {{member.profile.user.first_name}} {{member.profile.user.last_name}}</a></p>
                </div>
            </div>
        </tab>
        <tab>
            <tab-heading>
                <span>{{(community | filter: {level:32} |unique:'profile_id' ).length}}</span>
                <ng-pluralize count="(community | filter: {level:32} |unique:'profile_id').length"
                            when="{'0': 'Abonné',
                            'one': 'Abonné',
                            'other': 'Abonnés'}">
                </ng-pluralize>
            </tab-heading>
            <div class="member" ng-class="{'member-edit': editable}" ng-repeat="member in community | filter: {level:32}|unique:'profile_id' ">
                <span class="avatar avatar52">
                    <img ng-show="member.profile.avatar" src="{{member.profile.avatar}}" class="profile img-circle">
                    <img ng-hide="member.profile.avatar" src="/img/avatar.png" class="profile img-circle">
                </span>
                <div class="member-details relative">
                    <p>{{member.profile.user.first_name}} {{member.profile.user.last_name}}</p>
                </div>
            </div><!-- .member -->
        </tab>
    </tabset>
</section><!-- .community -->
