<style>
    .community ul.nav-tabs {
        padding : 0 !important;
    }
</style>
<section class="community community-{{parentColor}}" ng-controller="CommunityCtrl" ng-init="init(cummunityObjectTypeName)">
    <ul class="actions">
        <li><a href="" ng-click="addMember(currentMakerScienceProfile.parent, 2, '', true)"><span class="glyphicon glyphicon-star"></span>Suivre</a></li>
    </ul>
    <h3>La communauté</h3>
    <!-- Formulaire pour permettre a l'usager connecté de s'ajouter comme membre équipe ou ressource -->
    <div class="add-member" ng-show="currentUserCandidate">
        <button type="button" ng-show="!teamCandidate && !resourceCandidate" class="btn btn-primary" ng-click="teamCandidate=currentMakerScienceProfile.parent">Vous êtes membre de l'équipe</button>
        <button type="button" ng-show="!teamCandidate && !resourceCandidate" class="btn btn-primary" ng-click="resourceCandidate=currentMakerScienceProfile.parent">Vous voulez aider ce projet</button>
        <input type="text" ng-show="teamCandidate || resourceCandidate" name="role" ng-model="role" placeholder="Saisissez votre rôle ..." />
        <button type="button" ng-show="teamCandidate" class="btn btn-primary" ng-click="addMember(teamCandidate, 0, role, false); currentUserCandidate=false; teamCandidate=null;">S'ajouter comme membre d'équipe</button>
        <button type="button" ng-show="resourceCandidate" class="btn btn-primary" ng-click="addMember(resourceCandidate, 1, role, false); currentUserCandidate=false; resourceCandidate=null;">S'ajouter comme membre resource</button>
        <button type="button" class="btn btn-default" ng-click="currentUserCandidate=false; teamCandidate=null; resourceCandidate=null">Annuler</button>

    </div>
    <tabset ng-show="!currentUserCandidate">
        <tab ng-init="addTeamMember=false">
            <tab-heading>
                <span>{{(community | filter: {level:0, isValidated: true}).length }}</span>
                <ng-pluralize count="0"
                            when="{'0': 'Contributeur',
                            'one': 'Contributeur',
                            'other': 'Contributeurs'}">
            </ng-pluralize>
            </tab-heading>
            <div class="member" ng-class="{'member-edit': editable}" ng-repeat="member in community | filter: {level:0}">
                <ng-include ng-if="member.isValidated || editable" src="'views/catalog/block/community_profile_thumb.html'"></ng-include>
            </div><!-- .member -->
        </tab>
        <tab>
            <tab-heading>
                <span>{{(community | filter: {level:2}).length }}</span>
                <ng-pluralize count="0"
                            when="{'0': 'Abonné',
                            'one': 'Abonné',
                            'other': 'Abonnés'}">
                </ng-pluralize>
            </tab-heading>
            <div class="member" ng-class="{'member-edit': editable}" ng-repeat="member in community | filter: {level:2}">
                <button class="remove" ng-click="removeMember(member)" ng-show="editable"><span class="glyphicon glyphicon-remove" ></span></button>
                <ng-include src="'views/catalog/block/community_profile_thumb.html'"></ng-include>
            </div><!-- .member -->
        </tab>
    </tabset>
</section><!-- .community -->
