<div class="post-author" ng-controller="PostCtrl" ng-init="initFromID(post.id)">
    <ng-include src="'/views/profile/block/avatar.html'" class="avatar avatar52"></ng-include>
    <div class="post-details">
        <p class="post-author-name">{{author.user.first_name}} <strong>{{author.user.last_name}}</strong></p>
        <ul class="tags">
            <li ng-repeat="tag in post.tags"><a href="">{{tag.tag.name}}</a></li>
        </ul>
    </div>
</div>
<p class="post-topic"><a ui-sref="question({slug : post.slug})">{{post.title}}</a></p>
