<section class="forum-topic">
    <header>
        <ul class="members">
            <li><a href=""><img src="./img/users/user-default.png" alt="User's avatar" /></a></li>
            <li><a href=""><img src="./img/users/user-default.png" alt="User's avatar" /></a></li>
            <li><a href=""><img src="./img/users/user-default.png" alt="User's avatar" /></a></li>
            <li><a href=""><img src="./img/users/user-default.png" alt="User's avatar" /></a></li>
            <li class="count"><a href="">+30</a></li>
        </ul><!-- .members -->
        <img class="member" src="./img/users/user-default.png" alt="User's avatar" />
        <h3>Stéphanie <strong>Martines</strong></h3>
        <h4>Mise à jour: <strong>1H</strong></h4>
    </header>
    <p class="question"><span>?</span><a ui-sref="thread()">Quels leviers et méthodes utiliseriez-vous pour promouvoir une conférence avec &euro;500 de budget?</a></p>
    <p class="comments-count"><span class="glyphicon glyphicon-comment"></span> 120</p>
    <ul class="tags">
        <li><a href="">marketing</a></li>
        <li><a href="">conference</a></li>
        <li><a href="">autre</a></li>
        <li class="more"><a href="">+04</a></li>
    </ul><!-- .tags -->
</section>
