<section class="forum-topic">
    <header>
        <ul class="members">
            <li ng-repeat="profile in post.contributors|limitTo : 4">
                <div>
                    <ng-include src="'/views/profile/block/avatar.html'" class="avatar avatar40"></ng-include>
                </div>
            </li>
            <li class="count" ng-if="post.contributors.length > 0"><a href="">+{{post.contributors.length}}</a></li>
        </ul><!-- .members -->
        <div>
            <span class="avatar avatar40">
                <img ng-show="post.author.avatar" src="{{$root.config.media_uri}}{{post.author.avatar}}" class="profile img-circle">
                <img ng-hide="post.author.avatar" src="/img/avatar.png" class="profile img-circle">
            </span>
            <h3>{{post.author.user.first_name}} <strong>{{post.author.user.last_name}}</strong></h3>
        </div>
        <h4>Mise à jour: <strong><span am-time-ago="post.parent.updated_on"></span></strong></h4>
    </header>
    <p class="question">
        <span ng-if="post.post_type == 'message'" class="glyphicon glyphicon-comment"></span>
        <span ng-if="post.post_type == 'question'" class="glyphicon glyphicon-question-sign"></span>
        <span ng-if="post.post_type == 'idea'" class="glyphicon glyphicon-flash"></span>
        <span ng-if="post.post_type == 'need'" class="glyphicon glyphicon-hand-up"></span>
        <span ng-if="post.post_type == 'resource'" class="glyphicon glyphicon-book"></span>
        <span ng-if="post.post_type == 'event'" class="glyphicon glyphicon-calendar"></span>

        <a ui-sref="question({slug : post.parent.slug})">{{post.parent.title}}</a>
    </p>
    <p class="comments-count" ng-class="{'no-tag': post.parent.tags.length == 0}"><span class="glyphicon glyphicon-comment"></span> {{post.parent.answers_count}}</p>
    <ul class="tags" >
        <li ng-repeat="tag in post.parent.tags|limitTo : 4"><a ui-sref="tag({slug:tag.tag.slug})">{{tag.tag.name}}</a></li>
        <li class="more" ng-if="post.parent.tags.length > 4"><a href="">+{{post.parent.tags.length-4}}</a></li>
    </ul><!-- .tags -->
</section>
