<section class="forum-topic" ng-controller="PostCtrl" ng-init="initFromID(post.id)">
    <header>
        <ul class="members">
            <li ng-repeat="contributor in contributors|limitTo : 4">
                <div>
                    <gravatar-image data-gravatar-email="contributor.user.email"
                        data-gravatar-size="28"
                        data-gravatar-rating="pg"
                        data-gravatar-default="mm"
                        data-gravatar-secure="true"
                        data-gravatar-css-class="img-circle">
                    </gravatar-image>
                </div>
            </li>
            <li class="count" ng-if="contributors.length > 0"><a href="">+{{contributors.length}}</a></li>
        </ul><!-- .members -->
        <div>
            <gravatar-image data-gravatar-email="author.user.email"
                data-gravatar-size="52"
                data-gravatar-rating="pg"
                data-gravatar-default="mm"
                data-gravatar-secure="true"
                data-gravatar-css-class="member img-circle">
            </gravatar-image>
            <h3>{{author.user.first_name}} <strong>{{author.user.last_name}}</strong></h3>
        </div>
        <h4>Mise à jour: <strong><span am-time-ago="post.updated_on"></span></strong></h4>
    </header>
    <p class="question">
        <span class="glyphicon glyphicon-question-sign"></span>
        <a ui-sref="question({slug : post.slug})">{{post.title}}</a>
    </p>
    <p class="comments-count" ng-class="{'no-tag': post.tags.length == 0}"><span class="glyphicon glyphicon-comment"></span> {{post.answers_count}}</p>
    <ul class="tags" >
        <li ng-repeat="tag in post.tags|limitTo : 4"><a ui-sref="tag({slug:tag.tag.slug})">{{tag.tag.name}}</a></li>
        <li class="more" ng-if="post.tags.length > 4"><a href="">+{{post.tags.length-4}}</a></li>
    </ul><!-- .tags -->
</section>
