<div class="forum-answer">
    <h2>Espace réponse</h2>
    <form method="post" action="" class="forum-answer">
        <text-angular name="post-topic"
                      ta-toolbar="[['bold','italics', 'underline'], ['ul', 'ol'], ['insertLink']]"
                      ng-model="projectsheet.project.description"
                      e-rows="8"
                      placeholder="Saisissez votre réponse ici.">
        </text-angular>
        <fieldset class="right">
            <button type="submit" class="button">Envoyer</button>
            <button type="reset" class="button">Annuler</button>
        </fieldset>
    </form>
</div>
