<div class="modal-header">
    <h3 class="modal-title">Galerie</h3>
</div>
<div class="modal-body modal-gallery">
    <gallery-form
        cancel-action="status1.open = !status1.open"
        uploader="uploader"
        projectsheet="projectsheet"
        cover-index="coverIndex"></gallery-form>
</div>

<div class="progress" ng-show="hideControls">
    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }" style="width: 0%;"></div>
</div>

<div class="modal-footer" ng-hide="hideControls">
    <button class="btn btn-primary" ng-click="hideControls=true;ok()">Valider</button>
    <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
</div>
