<div id="intro" class="intro-forum">
    <h1>Forum</h1>
    <h2>MakerScience</h2>
</div>

<div class="forum-search">
    <div class="row container">
        <div class="col-md-12">
            <form method="post" action="">
                <input type="search" name="forum-search" placeholder="Rechercher" />
                <button class="button button-forum">OK</button>
            </form>
        </div>
    </div><!-- .container -->
</div><!-- .forum-search -->

<div class="forum-create">
    <div class="row container">
        <div class="col-md-12" ng-Controller="MakerSciencePostCreateCtrl" ng-init="showCreateButton = true">
            <button class="create-topic" ng-click="showCreateButton = !showCreateButton">Créez votre sujet ici</button>
            <form method="post" action="" collapse="showCreateButton" class="new-topic">
                <tabset>
                    <tab select="newPost.type='message'">
                        <tab-heading><span class="glyphicon glyphicon-comment"></span> Message</tab-heading>
                        <input type="text" name="title" ng-model="newPost.title" placeholder="Passez votre message..." class="full-width" />
                    </tab>
                    <tab select="newPost.type='question'">
                        <tab-heading><span class="glyphicon glyphicon-question-sign"></span> Question</tab-heading>
                        <input type="text" name="title" ng-model="newPost.title" placeholder="Posez votre question..." class="full-width" />
                    </tab>
                    <tab select="newPost.type='idea'">
                        <tab-heading><span class="glyphicon glyphicon-flash"></span> Idée</tab-heading>
                        <input type="text" name="title" ng-model="newPost.title" placeholder="Partagez votre idée..." class="full-width" />
                    </tab>
                    <tab select="newPost.type='need'">
                        <tab-heading><span class="glyphicon glyphicon-hand-up"></span> Besoin</tab-heading>
                        <input type="text" name="title" ng-model="newPost.title" placeholder="Exprimez votre besoin..." class="full-width" />
                    </tab>
                    <tab select="newPost.type='resource'">
                        <tab-heading><span class="glyphicon glyphicon-book"></span> Ressources</tab-heading>
                        <input type="text" name="title" ng-model="newPost.title" placeholder="Proposez votre ressource..." class="full-width" />
                    </tab>
                    <tab select="newPost.type='event'">
                        <tab-heading><span class="glyphicon glyphicon-calendar"></span> Evènements</tab-heading>
                        <input type="text" name="title" ng-model="newPost.title" placeholder="Publiez votre évènement..." class="full-width" />
                    </tab>
                </tabset>

                <!-- <input type="text" name="title" ng-model="newPost.title" placeholder="Quel est votre sujet?" class="full-width" /> -->
                <text-angular name="text"
                              ta-toolbar="[['bold','italics', 'underline'], ['ul', 'ol'], ['insertLink']]"
                              ng-model="newPost.text"
                              e-rows="8"
                              placeholder="Saisissez votre réponse ici.">
                </text-angular>

                <fieldset class="forum-keywords">
                    <div ng-controller="TagAutoCompleteCtrl">
                        <h4>Quels sont les mots-clés associés à votre projet ?</h4>
                        <tags-input ng-model="questionTags"
                                    placeholder="> Mot-clé">
                          <auto-complete source="loadTags($query)"></auto-complete>
                        </tags-input>
                    </div>
                </fieldset>

                <fieldset class="forum-linked">
                    <p>Ajouter des projets ou des expériences associés <span class="glyphicon glyphicon-link"></span></p>
                    <div class="row">
                        <div class="col-md-10">
                            <angucomplete-alt id="linked-idea"
                                            placeholder="Titre du projet ou de la ressource"
                                            pause="100"
                                            selected-object="newLinkedItem"
                                            local-data="allAvailableItems"
                                            search-fields="title"
                                            title-field="title"
                                            text-no-results="Aucun élément trouvé"
                                            minlength="3"/>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="button" ng-click="addLinkedItem(newLinkedItem)">Lier</button>
                        </div>
                    </div>
                    <ul class="list-group">
                        <li ng-repeat="item in linkedItems">
                            <div class="row">
                                <div class="col-md-10">
                                    <label>[{{item.type}}] : {{item.fullObject.parent.title}}</label>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-danger">
                                        <span class="glyphicon glyphicon-trash" ng-click="delLinkedItem(item)"></span></button>
                                 </div>
                            </div>
                        </li>
                    </ul>
                </fieldset>

                <fieldset class="right">
                    <button type="submit" class="button" ng-click="showCreateButton = saveMakersciencePost(newPost, null, currentMakerScienceProfile.parent)">Créer</button>
                    <button type="reset" class="button">Annuler</button>
                </fieldset>
            </form>



        </div>
    </div><!-- .container -->
</div><!-- .forum-create -->

<div class="forum-content">
    <div class="row container">
        <div class="col-md-8">
            <div id="content" class="content-forum" >
                <tabset class="nav-tabs-forum">
                    <tab heading="Récent" ng-controller="MakerSciencePostListCtrl" ng-init="init()">
                        <div ng-controller="FilterCtrl">
                            <ng-include src="'views/base/tag_input.html'"></ng-include>
                        </div>
                        <div ng-repeat="post in threads">
                            <ng-include src="'views/forum/block/thread.html'"></ng-include>
                        </div>
                        <pagination total-items="totalItems"
                                    items-per-page='limit'
                                    ng-model="currentPage"
                                    max-size="10"
                                    class="pagination-sm"
                                    rotate="false"
                                    num-pages="numPages"
                                    ng-change="pageChanged(currentPage)"
                                    previous-text="<<"
                                    next-text=">>">
                        </pagination>
                        <!-- <button class="button button-forum full-width">Charger les autres réponses</button> -->
                    </tab>
                    <tab heading="Top" ng-controller="MakerSciencePostListCtrl" ng-init="init()">
                        <div ng-controller="FilterCtrl">
                            <ng-include src="'views/base/tag_input.html'"></ng-include>
                        </div>
                        <div ng-repeat="post in threads">
                            <ng-include src="'views/forum/block/thread.html'"></ng-include>
                        </div>
                        <!-- <button class="button button-forum full-width">Charger les autres réponses</button> -->
                    </tab
                </tabset>
            </div><!-- #content -->
        </div>
        <div class="col-md-4">
            <div class="forum-sidebar">
                <div class="forum-sidebar-dark" ng-controller="ThreadListCtrl" ng-init="getBestContributors()">
                    <h3>Les 5 utilisateurs<br />les plus actifs</h3>
                    <ul class="forum-top-users" >
                        <li ng-repeat="contributor in bestContributors">
                            <div>
                                <a>
                                    <gravatar-image data-gravatar-email="contributor.user.email"
                                        data-gravatar-size="52"
                                        data-gravatar-rating="pg"
                                        data-gravatar-default="mm"
                                        data-gravatar-secure="true"
                                        data-gravatar-css-class="member img-circle">
                                    </gravatar-image>
                                    {{contributor.user.first_name}} <strong>{{contributor.user.last_name}}</strong>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="forum-sidebar-light" ng-controller="MakerSciencePostListCtrl" ng-init="init({answers_count: 0})">
                    <h3>Les derniers posts sans réponses</h3>
                    <div class="post" ng-repeat="post in threads| limitTo : 2">
                        <ng-include src="'views/forum/block/small_thread_thumb.html'" ng-init="post=post.parent"></ng-include>
                    </div><!-- .post -->
                    <!-- <p class="more"><a href="">Tout afficher</a><p> -->
                </div><!-- .forum-sidebar-light -->

                <div class="forum-sidebar-light"  ng-controller="TagListCtrl">
                    <h3>Suggestion de tags</h3>
                    <ul class="tags tags-padding">
                        <li ng-repeat="tag in tags">
                            <a ng-if="tag.name.length > 10" tooltip="{{tag.name}}" ui-sref="tag({slug:tag.slug})">{{tag.name| characters:10}}</a>
                            <a ng-if="tag.name.length <= 10" ui-sref="tag({slug:tag.slug})">{{tag.name}}</a>
                        </li>
                    </ul>
                </div>

                <!-- <div class="forum-sidebar-light">
                    <form method="post" action="" class="search-by-tags">
                        <input type="search" name="search-by-tags" placeholder="Rechercher par tags..." />
                    </form>
                </div> -->

            </div>
        </div>
    </div>
</div><!-- .forum-content -->
