<div id="intro" class="intro-forum">
    <h1>Forum</h1>
    <h2>MakerScience</h2>
</div>

<div class="forum-search">
    <div class="row container">
        <div class="col-md-12">
            <form method="post" action="">
                <input type="search" name="forum-search" placeholder="Rechercher" />
                <button class="button button-forum">OK</button>
            </form>
        </div>
    </div><!-- .container -->
</div><!-- .forum-search -->

<div class="forum-create">
    <div class="row container">
        <div class="col-md-12" ng-Controller="PostCtrl" ng-init="showCreateButton = true">
            <button class="create-topic" ng-click="showCreateButton = !showCreateButton">Créez votre sujet ici</button>
            <form method="post" action="" collapse="showCreateButton" class="new-topic">
                <input type="text" name="title" ng-model="newPost.title" placeholder="Quel est votre sujet?" class="full-width" />
                <text-angular name="text"
                              ta-toolbar="[['bold','italics', 'underline'], ['ul', 'ol'], ['insertLink']]"
                              ng-model="newPost.text"
                              e-rows="8"
                              placeholder="Saisissez votre réponse ici.">
                </text-angular>

                <fieldset class="forum-keywords">
                    <div ng-controller="TagAutoCompleteCtrl">
                        <h4>Quels sont les mots-clés associés à votre projet ?</h4>
                        <tags-input ng-model="newPost.tags"
                                    placeholder="> Mot-clé">
                          <auto-complete source="loadTags($query)"></auto-complete>
                        </tags-input>
                    </div>
                </fieldset>

                <!-- <fieldset class="forum-linked">
                    <button>Ajouter projets ou expériences associés <span class="glyphicon glyphicon-link"></span></button>
                </fieldset> -->

                <fieldset class="right">
                    <button type="submit" class="button" ng-click="save(newPost, currentMakerScienceProfile.parent)">Créer</button>
                    <button type="reset" class="button">Annuler</button>
                </fieldset>
            </form>

            <!-- <tabset>
                <tab>
                    <tab-heading><span class="glyphicon glyphicon-comment"></span> Messages</tab-heading>
                    <form method="post" action="">
                        <textarea class="full-width" placeholder="Rédigez votre message..."></textarea>
                    </form>
                </tab>
                <tab>
                    <tab-heading><span class="glyphicon glyphicon-question-sign"></span> Question</tab-heading>
                    <form method="post" action="">
                        <textarea class="full-width" placeholder="Rédigez votre question..."></textarea>
                    </form>
                </tab>
                <tab>
                    <tab-heading><span class="glyphicon glyphicon-flash"></span> Idée</tab-heading>
                    <form method="post" action="">
                        <textarea class="full-width" placeholder="Rédigez votre idée..."></textarea>
                    </form>
                </tab>
                <tab>
                    <tab-heading><span class="glyphicon glyphicon-hand-up"></span> Besoin</tab-heading>
                    <form method="post" action="">
                        <textarea class="full-width" placeholder="Rédigez votre besoin..."></textarea>
                    </form>
                </tab>
                <tab>
                    <tab-heading><span class="glyphicon glyphicon-book"></span> Ressources</tab-heading>
                    <form method="post" action="">
                        <textarea class="full-width" placeholder="Rédigez votre ressource..."></textarea>
                    </form>
                </tab>
                <tab>
                    <tab-heading><span class="glyphicon glyphicon-calendar"></span> Evènements</tab-heading>
                    <form method="post" action="">
                        <textarea class="full-width" placeholder="Rédigez votre évènement..."></textarea>
                    </form>
                </tab>
            </tabset> -->

        </div>
    </div><!-- .container -->
</div><!-- .forum-create -->

<div class="forum-content">
    <div class="row container">
        <div class="col-md-8">
            <div id="content" class="content-forum" >
                <tabset class="nav-tabs-forum">
                    <tab heading="Récent" ng-controller="QuestionListCtrl" ng-init="init({order_by : '-updated_on'})">
                        <form method="post" action="">
                            <input type="search" name="search-by-tags" placeholder="Rechercher par tags..." />
                        </form>
                        <div ng-repeat="question in questions">
                            <ng-include src="'views/forum/block/thread.html'" onload="question=question"></ng-include>
                        </div>
                        <button class="button button-forum full-width">Charger les autres réponses</button>
                    </tab>
                    <tab heading="Top" ng-controller="QuestionListCtrl" ng-init="init({order_by : '-answers_count'})">
                        <div ng-repeat="question in questions">
                            <ng-include src="'views/forum/block/thread.html'" onload="question=question"></ng-include>
                        </div>
                        <button class="button button-forum full-width">Charger les autres réponses</button>
                    </tab>
                    <!-- <tab heading="Catégories">
                    </tab> -->
                </tabset>
            </div><!-- #content -->
        </div>
        <div class="col-md-4">
            <div class="forum-sidebar">

                <div class="forum-sidebar-dark">
                    <h3>Les 5 utilisateurs<br />les plus actifs</h3>
                    <ul class="forum-top-users">
                        <li><a href=""><img src="/img/users/user-mathieu.png" alt="Mathieu Corain" /> Mathieu <strong>Corain</strong></a></li>
                        <li><a href=""><img src="/img/users/user-mathieu.png" alt="Mathieu Corain" /> Mathieu <strong>Corain</strong></a></li>
                        <li><a href=""><img src="/img/users/user-mathieu.png" alt="Mathieu Corain" /> Mathieu <strong>Corain</strong></a></li>
                        <li><a href=""><img src="/img/users/user-mathieu.png" alt="Mathieu Corain" /> Mathieu <strong>Corain</strong></a></li>
                        <li><a href=""><img src="/img/users/user-mathieu.png" alt="Mathieu Corain" /> Mathieu <strong>Corain</strong></a></li>
                    </ul>
                </div>

                <div class="forum-sidebar-light" ng-controller="QuestionListCtrl" ng-init="init({answers_count: 0, order_by : '-updated_on'})">
                    <h3>Les derniers posts sans réponses</h3>
                    <div class="post" ng-repeat="question in questions| limitTo : 2">
                        <div class="post-author" ng-controller="MakerScienceObjectGetter" ng-init="getMakerscienceProfileFromGenericProfile(question.author.id)">
                            <gravatar-image data-gravatar-email="makerscienceProfile.parent.user.email"
                                data-gravatar-size="52"
                                data-gravatar-rating="pg"
                                data-gravatar-default="mm"
                                data-gravatar-secure="true"
                                data-gravatar-css-class="member img-circle">
                            </gravatar-image>
                            <div class="post-details">
                                <p class="post-author-name">{{makerscienceProfile.parent.user.first_name}} <strong>{{makerscienceProfile.parent.user.last_name}}</strong></p>
                                <ul class="tags">
                                    <li ng-repeat="tag in question.tags"><a href="">{{tag.tag.name}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <p class="post-topic"><a href="">{{question.title}}</a></p>
                    </div><!-- .post -->
                    <p class="more"><a href="">Tout afficher</a><p>
                </div><!-- .forum-sidebar-light -->

                <div class="forum-sidebar-light"  ng-controller="TagListCtrl">
                    <h3>Suggestion de tags</h3>
                    <ul class="tags tags-padding">
                        <li ng-repeat="tag in tags">
                            <a ng-if="tag.name.length > 10" tooltip="{{tag.name}}" ui-sref="tag({slug:tag.slug})">{{tag.name| characters:10}}</a>
                            <a ng-if="tag.name.length <= 10" ui-sref="tag({slug:tag.slug})">{{tag.name}}</a>
                        </li>
                    </ul>
                </div>

                <!-- <div class="forum-sidebar-light">
                    <form method="post" action="" class="search-by-tags">
                        <input type="search" name="search-by-tags" placeholder="Rechercher par tags..." />
                    </form>
                </div> -->

            </div>
        </div>
    </div>
</div><!-- .forum-content -->
