<div id="intro" class="intro-forum">
    <h1>Forum</h1>
    <h2>MakerScience</h2>
</div>

<div class="forum-create">
    <div class="row container">
        <div class="col-md-12">
            <button class="create-topic"
                    ng-click="authVars.loginrequired=true"
                    ng-show="!authVars.isAuthenticated">Créez votre sujet ici <i class="fa fa-lock"></i>
            </button>
            <button class="create-topic"
                    ng-click="showCreateButton = !showCreateButton"
                    ng-show="authVars.isAuthenticated">Créez votre sujet ici
            </button>

            <form method="post" action="" ng-show="showCreateButton" class="new-topic" ng-init="initMention('iframeQuestionTextArea')" ng-controller="MentionCtrl">

                <fieldset class="forum-category">
                    <h4>Choisissez une catégorie pour votre discussion</h4>
                    <tabset>
                        <tab select="newPost.type='message'">
                            <tab-heading>
                                <span class="glyphicon glyphicon-comment"
                                      tooltip="Choisissez cette catégorie pour poster un message ne rentrant pas dans les autres catégories.">
                                </span>
                                Message
                            </tab-heading>
                        </tab>
                        <tab select="newPost.type='question'">
                            <tab-heading>
                                <span class="glyphicon glyphicon-question-sign"
                                      tooltip="Choisissez cette catégorie pour poser une question aux membres. Exemples : « Savez-vous comment... ? », « Qui puis-je contacter pour... ? »">
                                </span>
                                Question
                            </tab-heading>
                        </tab>
                        <tab select="newPost.type='idea'">
                            <tab-heading>
                                <span class="glyphicon glyphicon-flash"
                                      tooltip="Choisissez cette catégorie lorsqu’une idée vous trotte dans la tête et que vous avez envie de la partager. Exemples : « Qui est partant pour... », « J’aimerais lancer un super truc... ».">
                                </span>
                                Idée
                            </tab-heading>
                        </tab>
                        <tab select="newPost.type='need'">
                            <tab-heading>
                                <span class="glyphicon glyphicon-hand-up"
                                      tooltip="Choisissez cette catégorie pour indiquer un besoin pour accomplir un projet. Exemples : « Je cherche une imprimante 3D pour... », « Quelqu’un pourrait m’aider pour... ».">
                                </span>
                                Besoin
                            </tab-heading>
                        </tab>
                        <tab select="newPost.type='resource'">
                            <tab-heading>
                                <span class="glyphicon glyphicon-book"
                                      tooltip="Choisissez cette catégorie pour partager une ressource, un document, une vidéo... Exemples : « J’ai trouve ce super guide pour monter une exposition... », « A voir : une vidéo bien faite pour expliquer le changement climatique... ».">
                                </span>
                                Ressources
                            </tab-heading>
                        </tab>
                        <tab select="newPost.type='event'">
                            <tab-heading>
                                <span class="glyphicon glyphicon-calendar"
                                      tooltip="Choisissez cette catégorie pour annoncer un évènement. Exemples : « On organise... », « Rendez-vous le... pour le congrès de l’Amcsti ! ».">
                                </span>
                                Evènements
                            </tab-heading>
                        </tab>
                    </tabset>
                </fieldset>

                <input type="text" name="title" ng-model="newPost.title" placeholder="Titre de la discussion ..." class="full-width" />
                <div class="alert alert-danger" ng-show="errors.indexOf('title') > -1"> Titre obligatoire </div>

                <textarea  ui-tinymce="tinyMceOptions" mentio
                    mentio-iframe-element="iframeQuestionTextArea"
                    mentio-trigger-char="'@'"
                    mentio-items="people"
                    mentio-template-url="/people-mentions.tpl"
                    mentio-typed-term="mentionTerms"
                    mentio-search="searchPeople(term)"
                    mentio-select="getPeopleTextRaw(item)"
                    mentio-id="'questionTextArea'"
                    ng-model="newPost.text"
                    ng-trim="false"
                    placeholder="Saisissez votre réponse ici."
                    rows="8">
                </textarea>
                <div class="alert alert-danger" ng-show="errors.indexOf('text') > -1"> Titre obligatoire </div>

                <script type="text/ng-template" id="/people-mentions.tpl">
                    <ul class="list-group user-search">
                        <li mentio-menu-item="profile" ng-repeat="profile in items" class="list-group-item">
                            <ng-include src="'/views/profile/block/avatar.html'" class="avatar avatar40"></ng-include>
                            {{profile.full_name}}
                        </li>
                    </ul>
                </script>

                <fieldset class="forum-keywords">
                    <div ng-controller="TagAutoCompleteCtrl">
                        <h4>Quels sont les mots-clés associés à votre discussion ?</h4>
                        <tags-input ng-model="questionTags"
                                    placeholder="> Mot-clé (ne pas utiliser de #, séparer par des virgules)">
                          <auto-complete source="loadTags($query)" template="views/base/tag_autocomplete.html"></auto-complete>
                        </tags-input>
                    </div>
                </fieldset>

                <fieldset class="forum-linked">
                    <p>Ajouter des projets ou des expériences associés</p>
                    <div><!-- necessary container or angularcomplete-alt will "eat" the following button -->
                        <angucomplete-alt id="linked-idea"
                                        placeholder="Titre du projet ou de l'expérience"
                                        pause="100"
                                        selected-object="newLinkedItem"
                                        local-data="allAvailableItems"
                                        search-fields="title"
                                        title-field="title"
                                        text-no-results="Aucun élément trouvé"
                                        minlength="3"/>
                    </div>
                    <button type="button" class="button button-forum-linked" ng-click="addLinkedItem(newLinkedItem)">Lier</button>
                    <ul class="list-group">
                        <li ng-repeat="item in linkedItems">
                            <div class="row">
                                <div class="col-md-10">
                                    <label>{{item.title}}</label>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-danger">
                                        <span class="glyphicon glyphicon-trash" ng-click="delLinkedItem(item)"></span></button>
                                 </div>
                            </div>
                        </li>
                    </ul>
                </fieldset>

                <fieldset class="right">
                    <button type="submit" class="button" ng-click="inlineSaveMakersciencePost(newPost)">Créer</button>
                    <button type="reset" class="button" ng-click="$parent.showCreateButton = false">Annuler</button>
                </fieldset>
            </form>



        </div>
    </div><!-- .container -->
</div><!-- .forum-create -->

<div class="forum-content">
    <div class="row container">
        <div class="col-md-8" >
            <div id="content" class="content-forum" >
                <tabset class="nav-tabs-forum">
                    <tab heading="Récent" select="fetchRecentPosts()"></tab>
                    <tab heading="Top" select="fetchTopPosts()"></tab>
                </tabset>
                <div ng-controller="FilterCtrl" class="forum-tag-search">
                    <ng-include src="'/views/base/tag_input.html'"></ng-include>
                </div>
                <div ng-repeat="post in threads">
                    <ng-include src="'/views/forum/block/thread_light.html'"></ng-include>
                </div>
                <pagination total-items="totalItems"
                            items-per-page='limit'
                            ng-model="currentPage"
                            max-size="10"
                            class="pagination-sm pagination-forum"
                            rotate="false"
                            num-pages="numPages"
                            ng-change="pageChanged(currentPage)"
                            previous-text="<<"
                            next-text=">>">
                </pagination>
            </div><!-- #content -->
        </div>
        <div class="col-md-4">
            <div class="forum-sidebar">
                <div class="forum-sidebar-dark">
                    <h3>Les membres les plus actifs</h3>
                    <ul class="forum-top-users" >
                        <li ng-repeat="profile in bestContributors| orderBy: '-score' | limitTo : 5">
                            <div>
                                <a ui-sref="profile.detail({slug:profile.slug})">
                                    <ng-include src="'/views/profile/block/avatar.html'" class="avatar avatar52"></ng-include>
                                    {{profile.parent.user.first_name}} <strong>{{profile.parent.user.last_name}}</strong>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- <div class="forum-sidebar-light" >
                    <h3>Suggestion de tags</h3>
                    <ul class="tags tags-padding" ng-controller="TagListCtrl">
                        <li ng-repeat="tag in tags | orderBy : '-weight' | limitTo : 25 ">
                            <a ng-if="tag.name.length > 10" tooltip="{{tag.name}}" ui-sref="tag({slug:tag.slug})">{{tag.name| characters:10}}</a>
                            <a ng-if="tag.name.length <= 10" ui-sref="tag({slug:tag.slug})">{{tag.name}}</a>
                        </li>
                        <li><a ng-show="tags.length > 25" ui-sref="tags" tooltip="Cherchez d’autres tags">Cherchez d’autres tags</a></li>
                    </ul>
                </div> -->

                <!-- <div class="forum-sidebar-light">
                    <form method="post" action="" class="search-by-tags">
                        <input type="search" name="search-by-tags" placeholder="Rechercher par tags..." />
                    </form>
                </div> -->

            </div>
        </div>
    </div>
</div><!-- .forum-content -->
