<div>
    <div id="intro" class="intro-forum">
        <h1>Forum</h1>
        <h2>MakerScience</h2>
    </div>

    <div class="forum-search">
        <div class="row container">
            <div class="col-md-12">
                <form method="post" action="">
                    <input type="search" name="forum-search" placeholder="Rechercher" />
                    <button class="button button-forum">OK</button>
                </form>
            </div>
        </div><!-- .container -->
    </div><!-- .forum-search -->

    <div ng-init="showAnswerForm=false">

        <div class="forum-thread">
            <div class="row container">
                <div class="col-md-12">
                    <ul class="thread-stats">
                        <li><span class="glyphicon glyphicon-eye-open"></span> 130 vues</li>
                        <li>
                            <span class="glyphicon glyphicon-comment"></span> {{post.parent.answers_count}}
                            <ng-pluralize count="post.parent.answers_count"
                                        when="{'0': 'Réponse',
                                        'one': 'Réponse',
                                        'other': 'Réponses'}">
                            </ng-pluralize>
                        </li>
                        <li><span class="glyphicon glyphicon-thumbs-up"></span> 1120 J'aime</li>
                    </ul>
                    <h2>
                        <span ng-if="post.post_type == 'message'" class="glyphicon glyphicon-comment"></span>
                        <span ng-if="post.post_type == 'question'" class="glyphicon glyphicon-question-sign"></span>
                        <span ng-if="post.post_type == 'idea'" class="glyphicon glyphicon-flash"></span>
                        <span ng-if="post.post_type == 'need'" class="glyphicon glyphicon-hand-up"></span>
                        <span ng-if="post.post_type == 'resource'" class="glyphicon glyphicon-book"></span>
                        <span ng-if="post.post_type == 'event'" class="glyphicon glyphicon-calendar"></span>
                        {{post.parent.title}}
                    </h2>
                    <ul class="tags">
                        <li ng-repeat="tag in post.parent.tags"><a href="">{{tag.tag.name}}</a></li>
                    </ul>
                    <div class="thread-author" >
                        <gravatar-image data-gravatar-email="author.user.email"
                            data-gravatar-size="52"
                            data-gravatar-rating="pg"
                            data-gravatar-default="mm"
                            data-gravatar-secure="true"
                            data-gravatar-css-class="member img-circle">
                        </gravatar-image>
                        <p>{{author.user.first_name}} <strong>{{author.user.last_name}}</strong>
                        <span>Mise en ligne <span am-time-ago="post.parent.updated_on"></span></span></p>
                    </div>
                    <div class="thread-content">
                        <p ng-bind-html="post.text"></p>
                    </div>
                    <div class="thread-actions">
                        <ul>
                            <!-- <li class="left"><a href=""><span class="glyphicon glyphicon-link"></span> Voir les 12 liens</a></li>
                            <li><a href="">Signaler un abus</a></li> -->
                            <li><a href=""><span class="glyphicon glyphicon-star"></span></a></li>
                            <li><a href=""><span class="glyphicon glyphicon-share-alt"></span></a></li>
                            <li><a href=""><span class="glyphicon glyphicon-thumbs-up"></span></a></li>
                            <li><button class="button button-forum" ng-click="showAnswerForm=!showAnswerForm">Répondre</button></li>
                    </div>
                </div>
            </div>
        </div><!-- .forum-thread -->

        <div class="forum-content">
            <div class="row container">
                <div class="col-md-8" >
                    <div id="content" class="thread-answers">
                        <div class="forum-answer" ng-controller="PostCreateCtrl" ng-show="showAnswerForm" >
                            <h2>Espace réponse</h2>
                            <form method="post" action="" class="forum-answer">
                                <text-angular name="answer.text"
                                              ta-toolbar="[['bold','italics', 'underline'], ['ul', 'ol'], ['insertLink']]"
                                              ng-model="answer.text"
                                              e-rows="8"
                                              placeholder="Saisissez votre réponse ici.">
                                </text-angular>
                                <fieldset class="right">
                                    <button type="submit" class="button" ng-click="savePost(answer, post.parent, currentMakerScienceProfile.parent);showAnswerForm=false">Envoyer</button>
                                    <button type="reset" class="button">Annuler</button>
                                </fieldset>
                            </form>
                        </div>
                        <div ng-repeat="answer in answers">
                            <ng-include src="'views/forum/block/answer.parent.html'"></ng-include>
                        </div>

                    </div><!-- #content -->
                </div>
                 <div class="col-md-4">
                    <div class="forum-sidebar">
                        <ng-include src="'views/forum/block/community.html'"></ng-include>
                        <div ng-if="similars.length > 0" class="forum-sidebar-light">
                            <h3>Discussions similaires</h3>
                            <div class="post" ng-repeat="post in similars">
                                <ng-include src="'views/forum/block/small_thread_thumb.html'"></ng-include>
                            </div>
                        </div>
                        <div class="thread-linked-projects" ng-if="post.linked_projects">
                            <h3>Projets associés</h3>
                            <div class="boxes boxes-sidebar">
                                <div class="box" ng-repeat="project in post.linked_projects">
                                    <ng-include src="'views/catalog/block/project_thumb.html'" ng-init="project=project"></ng-include>
                                </div>
                            </div>
                            <p class="scroll-buttons">
                                <a href=""><img ng-click="gotoAnchor(3)" src="/img/icons/scroll-down-blue.png" alt="Scroll Down" /></a>
                                <a href=""><img ng-click="gotoAnchor(0)" src="/img/icons/scroll-up-blue.png" alt="Scroll Up" /></a>
                            </p>
                        </div>
                        <div class="thread-linked-resources" ng-if="post.linked_resources">
                            <h3>Experiences associées</h3>
                            <div class="boxes boxes-sidebar">
                                <div class="box" ng-repeat="resource in post.linked_resources">
                                    <ng-include src="'views/catalog/block/resource_thumb.html'" ng-init="resource=resource"></ng-include>
                                </div>
                            </div>
                            <p class="scroll-buttons">
                                <a href=""><img ng-click="gotoAnchor(3)" src="/img/icons/scroll-down-green.png" alt="Scroll Down" /></a>
                                <a href=""><img ng-click="gotoAnchor(0)" src="/img/icons/scroll-up-green.png" alt="Scroll Up" /></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .forum-content -->

        <div class="row container">
            <div class="col-md-12">
                <!-- <button class="button button-forum full-width">Charger les autres réponses</button> -->
                <a href="" class="large large-purple">Créer votre sujet ici <img src="/img/smiley-large.png" class="smiley" alt="Smiley" /></a>
            </div>
        </div>
    </div>
</div>
