<div id="intro" class="intro-forum">
    <h1>Forum</h1>
    <h2>MakerScience</h2>
</div>

<div class="forum-search">
    <div class="row container">
        <div class="col-md-12">
            <form method="post" action="">
                <input type="search" name="forum-search" placeholder="Rechercher" />
                <button class="button button-forum">OK</button>
            </form>
        </div>
    </div><!-- .container -->
</div><!-- .forum-search -->

<div ng-controller="PostCtrl" ng-init="init()">

    <div class="forum-thread">
        <div class="row container">
            <div class="col-md-12">
                <ul class="thread-stats">
                    <li><span class="glyphicon glyphicon-eye-open"></span> 130 vues</li>
                    <li><span class="glyphicon glyphicon-comment"></span> {{question.answers_count}} réponses</li>
                    <li><span class="glyphicon glyphicon-thumbs-up"></span> 1120 J'aime</li>
                </ul>
                <h2><span>?</span> {{question.title}}</h2>
                <ul class="tags">
                    <li ng-repeat="tag in question.tags"><a href="">{{tag.tag.name}}</a></li>
                </ul>
                <div class="thread-author" ng-controller="MakerScienceObjectGetter" ng-init="getMakerscienceProfileFromGenericProfile(question.author.id)">
                    <gravatar-image data-gravatar-email="makerscienceProfile.parent.user.email"
                        data-gravatar-size="52"
                        data-gravatar-rating="pg"
                        data-gravatar-default="mm"
                        data-gravatar-secure="true"
                        data-gravatar-css-class="member img-circle">
                    </gravatar-image>
                    <p>{{makerscienceProfile.parent.user.first_name}} <strong>{{makerscienceProfile.parent.user.last_name}}</strong> <span>Mise en ligne <span am-time-ago="question.posted_on"></span></span></p>
                </div>
                <div class="thread-content">
                    <p>{{question.text}}</p>
                </div>
                <div class="thread-actions">
                    <ul>
                        <!-- <li class="left"><a href=""><span class="glyphicon glyphicon-link"></span> Voir les 12 liens</a></li>
                        <li><a href="">Signaler un abus</a></li> -->
                        <li><a href=""><span class="glyphicon glyphicon-star"></span></a></li>
                        <li><a href=""><span class="glyphicon glyphicon-share-alt"></span></a></li>
                        <li><a href=""><span class="glyphicon glyphicon-thumbs-up"></span></a></li>
                        <li><button class="button button-forum">Répondre</button></li>
                </div>
                <ng-include src="'views/forum/block/thread.reply.html'"></ng-include>
            </div>
        </div>
    </div><!-- .forum-thread -->

    <div class="forum-content">
        <div class="row container">
            <div class="col-md-8" >
                <div id="content" class="thread-answers">
                    <div ng-repeat="answer in answers">
                        <ng-include src="'views/forum/block/answer.parent.html'"></ng-include>
                        <ng-include src="'views/forum/block/thread.reply.html'"></ng-include>
                    </div>
                </div><!-- #content -->
            </div>
            <div class="col-md-4">
                <div class="forum-sidebar" ng-init="parentColor='forum';cummunityObjectTypeName='project';commentedObjectTypeName='makerscienceproject'">
                    <span class="fixme">#FIXME Need to decide how to use different versions of this block (top right buttons and tabs)</span>
                    <ng-include src="'views/catalog/block/community.html'"></ng-include>
                    <div class="forum-sidebar-light">
                        <h3>Discussions similaires</h3>
                        <div class="post">
                            <div class="post-author">
                                <img src="/img/users/user-mathieu.png" alt="Post author" />
                                <div class="post-details">
                                    <p class="post-author-name">Eric <strong>Luigi</strong></p>
                                    <ul class="tags">
                                        <li><a href="">Marketing</a></li>
                                        <li><a href="">Conference</a></li>
                                    </ul>
                                </div>
                            </div>
                            <p class="post-topic"><a href="">Animation avec des enfants, comment s'y prendre pour garder leur attention?</a></p>
                        </div><!-- .post -->
                        <div class="post">
                            <div class="post-author">
                                <img src="/img/users/user-mathieu.png" alt="Post author" />
                                <div class="post-details">
                                    <p class="post-author-name">Eric <strong>Luigi</strong></p>
                                    <ul class="tags">
                                        <li><a href="">Marketing</a></li>
                                        <li><a href="">Conference</a></li>
                                    </ul>
                                </div>
                            </div>
                            <p class="post-topic"><a href="">Animation avec des enfants, comment s'y prendre pour garder leur attention?</a></p>
                        </div><!-- .post -->
                    </div><!-- .forum-sidebar-light -->
                    <div class="thread-linked-projects">
                        <h3>Projets associés</h3>
                        <div class="boxes boxes-sidebar" ng-controller="MakerScienceProjectListCtrl" ng-init="init(2)">
                            <div class="box" ng-repeat="project in projects">
                                <ng-include src="'views/catalog/block/project_thumb.html'" ng-init="project=project"></ng-include>
                            </div>
                        </div>
                        <p class="scroll-buttons">
                            <a href=""><img ng-click="gotoAnchor(3)" src="/img/icons/scroll-down-blue.png" alt="Scroll Down" /></a>
                            <a href=""><img ng-click="gotoAnchor(0)" src="/img/icons/scroll-up-blue.png" alt="Scroll Up" /></a>
                        </p>
                    </div>
                    <div class="thread-linked-resources">
                        <h3>Experiences associées</h3>
                        <div class="boxes boxes-sidebar" ng-controller="MakerScienceResourceListCtrl" ng-init="init(2)">
                            <div class="box" ng-repeat="resource in resources">
                                <ng-include src="'views/catalog/block/resource_thumb.html'" ng-init="resource=resource"></ng-include>
                            </div>
                        </div>
                        <p class="scroll-buttons">
                            <a href=""><img ng-click="gotoAnchor(3)" src="/img/icons/scroll-down-green.png" alt="Scroll Down" /></a>
                            <a href=""><img ng-click="gotoAnchor(0)" src="/img/icons/scroll-up-green.png" alt="Scroll Up" /></a>
                        </p>
                    </div>
                </div><!-- #sidebar -->
            </div>
        </div>
    </div><!-- .forum-content -->

    <div class="row container">
        <div class="col-md-12">
            <button class="button button-forum full-width">Charger les autres réponses</button>
            <a ui-sref="project.new" class="large large-purple">Créer votre sujet ici <img src="/img/smiley-large.png" class="smiley" alt="Smiley" /></a>
        </div>
    </div>
</div>
