<div>
    <div id="intro" class="intro-forum">
        <h1>Forum</h1>
        <h2>MakerScience</h2>
    </div>

    <!-- <div class="forum-search">
        <div class="row container">
            <div class="col-md-12">
                <form method="post" action="">
                    <input type="search" name="forum-search" placeholder="Rechercher" />
                    <button class="button button-forum">OK</button>
                </form>
            </div>
        </div>
    </div> -->
    
    <ng-include src="'/views/forum/block/social_share.html'"></ng-include>
    <div ng-init="showAnswerForm=false">
        <div class="forum-thread">
            <div class="row container">
                <div class="col-md-12">
                    <ul class="thread-stats">
                        <li><span class="glyphicon glyphicon-eye-open"></span> {{post.pageviews_counter}}
                            <ng-pluralize count="post.pageviews_counter" when="{'0': 'Vue', 'one': 'Vue', 'other': 'Vues'}">
                            </ng-pluralize>
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-comment"></span> {{post.parent.answers_count}}
                            <ng-pluralize count="post.parent.answers_count" when="{'0': 'Réponse', 'one': 'Réponse', 'other': 'Réponses'}">
                            </ng-pluralize>
                        </li>
                        <li><span class="glyphicon glyphicon-thumbs-up"></span> {{post.parent.likes.length}} J'aime</li>
                    </ul>
                    <h2>
                        <span ng-if="post.post_type == 'message'" class="glyphicon glyphicon-comment"></span>
                        <span ng-if="post.post_type == 'question'" class="glyphicon glyphicon-question-sign"></span>
                        <span ng-if="post.post_type == 'idea'" class="glyphicon glyphicon-flash"></span>
                        <span ng-if="post.post_type == 'need'" class="glyphicon glyphicon-hand-up"></span>
                        <span ng-if="post.post_type == 'resource'" class="glyphicon glyphicon-book"></span>
                        <span ng-if="post.post_type == 'event'" class="glyphicon glyphicon-calendar"></span>
                        {{post.parent.title}}
                    </h2>
                    <ul class="tags">
                        <li ng-repeat="tag in post.parent.tags"><a ui-sref="tag({slug:tag.tag.slug})">{{tag.tag.name}}</a></li>
                    </ul>
                    <div class="thread-author" >
                        <span class="avatar avatar52">
                            <img ng-show="post.parent.author.avatar" src="{{post.parent.author.avatar}}" class="profile img-circle">
                            <img ng-hide="post.parent.author.avatar" src="/img/avatar.png" class="profile img-circle">
                        </span>
                        <p>
                            <a ui-sref="profile.detail({slug:post.parent.author.id})" style="color: inherit;">{{post.parent.author.user.first_name}} <strong>{{post.parent.author.user.last_name}}</strong></a>
                            <span>Mis à jour le {{post.parent.updated_on | date:'dd/MM/yyyy'}}</span>
                        </p>
                    </div>
                    <div class="thread-content">
                        <p ng-bind-html="trustAsHtml(post.parent.text)"></p>
                    </div>
                    <div class="thread-actions">
                        <ul>
                            <li>
                                <a href="" ng-show="post.parent.currentProfileLike == null"
                                           ng-click="likePost(post.parent)">
                                           <span class="glyphicon glyphicon-thumbs-up"></span>
                                </a>
                                <a href="" ng-show="post.parent.currentProfileLike != null"
                                           ng-click="unlikePost(post.parent)">
                                           <span class="glyphicon glyphicon-thumbs-down"></span>
                                </a>
                            </li>


                            <li><button class="button button-forum" ng-click="showAnswerForm=true">Répondre</button></li>
                    </div>
                </div>
            </div>
        </div><!-- .forum-thread -->

        <div class="forum-content">
            <div class="row container">
                <div class="col-md-8" >
                    <div id="content" class="thread-answers">
                        <div class="forum-answer" ng-show="showAnswerForm" >
                            <h2>Espace réponse</h2>
                            <form method="post" action="" class="forum-answer" ng-controller="MentionCtrl" ng-init="initMention('iframeAnswerTextArea')">
                                <textarea  ui-tinymce="tinyMceOptions" mentio
                                    mentio-iframe-element="iframeAnswerTextArea"
                                    mentio-trigger-char="'@'"
                                    mentio-items="people"
                                    mentio-template-url="/answer-mentions.tpl"
                                    mentio-typed-term="mentionTerms"
                                    mentio-search="searchPeople(term)"
                                    mentio-select="getPeopleTextRaw(item)"
                                    mentio-id="'answerTextArea'"
                                    ng-model="answer.text"
                                    ng-trim="false"
                                    placeholder="Saisissez votre réponse ici."
                                    rows="8">
                                </textarea>

                                <script type="text/ng-template" id="/answer-mentions.tpl">
                                    <ul class="list-group user-search">
                                        <li mentio-menu-item="profile" ng-repeat="profile in items" class="list-group-item">
                                            <ng-include src="'/views/profile/block/avatar.html'" class="avatar avatar40"></ng-include>
                                            {{profile.full_name}}
                                        </li>
                                    </ul>
                                </script>

                                <fieldset class="right" style="margin-top: 15px;">
                                    <button type="submit" class="button" ng-click="$parent.showAnswerForm=false;saveMakersciencePostAnswer(answer, post.parent, currentMakerScienceProfile.parent)">Envoyer</button>
                                    <button type="reset" class="button" ng-click="$parent.showAnswerForm=false">Annuler</button>
                                </fieldset>
                            </form>
                        </div>
                        <ng-include src="'/views/forum/block/answer.parent.html'" ng-repeat="answer in post.parent.answers|orderBy:'posted_on'"></ng-include>

                    </div>
                </div>
                 <div class="col-md-4">
                    <div class="forum-sidebar">
                        <ng-include src="'/views/forum/block/community.html'"></ng-include>
                        <div ng-if="similars.length > 0" class="forum-sidebar-light">
                            <h3>Discussions similaires</h3>
                            <div class="post" ng-repeat="post in similars">
                                <ng-include src="'/views/forum/block/small_thread_thumb.html'"></ng-include>
                            </div>
                        </div>
                        <div class="thread-linked-projects" ng-if="post.linked_projects">
                            <h3>Projets associés</h3>
                            <div class="boxes boxes-sidebar">
                                <div class="box" ng-repeat="project in post.linked_projects">
                                    <ng-include src="'/views/catalog/block/project_thumb_light.html'" ng-init="project=project"></ng-include>
                                </div>
                            </div>
                            <p class="scroll-buttons" ng-show="post.linked_projects.length > 1">
                                <a href=""><img ng-click="gotoAnchor(3)" src="/img/icons/scroll-down-blue.png" alt="Scroll Down" /></a>
                                <a href=""><img ng-click="gotoAnchor(0)" src="/img/icons/scroll-up-blue.png" alt="Scroll Up" /></a>
                            </p>
                        </div>
                        <div class="thread-linked-resources" ng-if="post.linked_resources">
                            <h3>Expériences associées</h3>
                            <div class="boxes boxes-sidebar">
                                <div class="box" ng-repeat="resource in post.linked_resources">
                                    <ng-include src="'/views/catalog/block/resource_thumb_light.html'" ng-init="resource=resource"></ng-include>
                                </div>
                            </div>
                            <p class="scroll-buttons" ng-show="post.linked_resources.length > 1">
                                <a href=""><img ng-click="gotoAnchor(3)" src="/img/icons/scroll-down-green.png" alt="Scroll Down" /></a>
                                <a href=""><img ng-click="gotoAnchor(0)" src="/img/icons/scroll-up-green.png" alt="Scroll Up" /></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .forum-content -->

        <div class="row container">
            <div class="col-md-12">
                <!-- <button class="button button-forum full-width">Charger les autres réponses</button> -->
                <a ui-sref="forum()" class="large large-purple">Créer votre sujet ici <img src="/img/smiley-large.png" class="smiley" alt="Smiley" /></a>
            </div>
        </div>
    </div>
</div>
