<div id="intro" class="intro-about">
    <h1>A propos</h1>
    <h2>Découvrez Makerscience</h2>
</div><!-- #intro -->

<div class="row container" ng-controller="StaticContentCtrl">

    <div class="col-md-12">

        <div id="content">

            <tabset class="nav-tabs-default">
                <tab heading="Makerscience, c’est quoi ?">
                    <div ng-bind-html="static.about"></div>
                </tab>
                <tab heading="Comment ça marche ?">
                    <div ng-bind-html="static.about_howitworks"></div>
                </tab>
                <tab heading="Équipe et contacts">
                    <div ng-bind-html="static.about_team"></div>
                    <div ng-bind-html="static.about_contact"></div>
                </tab>
                <tab heading="FAQ">
                    <div ng-bind-html="static.about_faq"></div>
                </tab>
                <tab heading="Charte d’utilisation">
                    <div ng-bind-html="static.about_cgu"></div>
                </tab>
            </tabset>

        </div><!-- #content -->

    </div>

</div><!-- .container -->
