<footer>
    <div class="row">
        <div class="col-md-4">
            <ul class="social">
                <li><a href=""><img src="./img/footer/social-twitter.gif" alt="Twitter" /></a></li>
                <li><a href=""><img src="./img/footer/social-facebook.gif" alt="Facebook" /></a></li>
                <li><a href=""><img src="./img/footer/social-google.gif" alt="Google+" /></a></li>
            </ul>
        </div>
        <div class="col-md-4 links">
            <h2>Liens vers d'autres sites</h2>
            <ul>
                <li><a href="">http://www.science-animation.org/</a></li>
                <li><a href="">http://science-animation.tumblr.com/</a></li>
            </ul>
        </div>
        <div class="col-md-4 home-newsletter">
            <h4>Inscrivez-vous à la newsletter</h4>
            <form method="post" action="">
                <input type="email" placeholder="Votre e-mail" /><button type="submit">OK</button>
            </form>
        </div>
    </div><!-- .row -->
</footer>
