<footer>
	<div class="blue">
		<div class="row container">
			<div class="col-md-12">
				<form method="post" action="">
					<img src="/img/footer/newsletter.png" alt="Newsletter" />
					<h2>Inscrivez-vous à<br />la newsletter</h2>
					<input type="email" placeholder="Votre email" /><button type="submit">OK</button>
				</form>
				<h3>Suivez MakerScience sur</h3>
				<ul class="social">
					<li><a href="https://twitter.com/makersciencefr"><img src="/img/footer/social-twitter.png" alt="Twitter" /></a></li>
					<li><a href="https://www.facebook.com/makerscience"><img src="/img/footer/social-facebook.png" alt="Facebook" /></a></li>
					<li><a href=""><img src="/img/footer/social-linkedin.png" alt="LinkedIn" /></a></li>
					<li><a href=""><img src="/img/footer/social-youtube.png" alt="YouTube" /></a></li>
				</ul>
			</div><!-- .col -->
		</div><!-- .row -->
	</div><!-- .blue -->
    <div class="row container">
    	<div class="col-md-5 financed">
	    	<h2>La création de Makerscience a été financée par:</h2>
	    	<ul>
	    		<li class="logo-investissements-avenir"><a href=""></a></li>
	    		<li class="logo-inmediats"><a href=""></a></li>
	    	</ul>
	    </div><!-- .col -->
	    <div class="col-md-7 about">
	    	<h3>A propos de MakerScience</h3>
	    	<p>Makerscience vise à créer un espace d’échange et de soutien aux projets de médiation culturelle des sciences, des techniques et des innovations : expositions, sites web, ateliers, dispositifs, jeux…<br />
Au sein de la communauté, une même volonté : rendre accessibles les sciences et techniques à tous les publics, et plus particulièrement aux jeunes, susciter des vocations et permettre à tous citoyens de comprendre les enjeux scientifiques et technologiques.</p>
	    </div><!-- .col -->
    </div><!-- .row -->
    <div class="cream">
		<div class="row container">
			<div class="col-md-5">
				<p>Makerscience est une initiative du Groupe Science Animation Midi-Pyrénées, conçu pour et avec de nombreuses structures et personnes engagées sur toute la France dans la culture scientifique et technique. Mais surtout : Makerscience vit grâce à une communauté de membres qui partagent leurs expériences et s’entraident.</p>
		    	<button>Contacter l'équipe</button>
			</div><!-- .col -->
			<div class="col-md-7 sitemap">
				<h3>Plan du site</h3>
				<div class="row">
					<div class="col-md-4">
						<h4>En savoir plus</h4>
						<ul>
							<li><a ui-sref="about">L'initiative</a></li>
							<li><a ui-sref="about">Comment ça marche</a></li>
							<li><a ui-sref="about">Les animateurs</a></li>
						</ul>
					</div><!-- .col -->
					<div class="col-md-4">
						<h4>S'impliquer</h4>
						<ul>
							<li><a ui-sref="profile.list">Les projets</a></li>
							<li><a ui-sref="map">La cartographie</a></li>
							<li><a ui-sref="project.new">Présenter un projet</a></li>
						</ul>
					</div><!-- .col -->
					<div class="col-md-4">
						<h4>Echanger</h4>
						<ul>
							<li><a ui-sref="profile.list">Les membres</a></li>
							<li><a ui-sref="resource.list">Les expériences partagées</a></li>
							<li><a ui-sref="forum">Les discussions</a></li>
						</ul>
					</div><!-- .col -->
				</div><!-- .row -->
			</div><!-- .col -->
		</div><!-- .row -->
	</div><!-- .cream -->
    <div class="row container">
		<div class="col-md-12 copyright">
			<p>© Copyright 2014 - Makerscience Tous droits réservés<span>Mentions légales</span></p>
		</div><!-- .col -->
    </div><!-- .row -->
</footer>
