<footer>
	<div class="blue">
		<div class="row container">
			<div class="col-md-12">
				<form method="post" action="">
					<img src="./img/footer/newsletter.png" alt="Newsletter" />
					<h2>Inscrivez-vous à<br />la newsletter</h2>
					<input type="email" /><button type="submit">OK</button>
				</form>
				<h3>Suivez MakerScience sur</h3>
				<ul class="social">
					<li><a href=""><img src="./img/footer/social-twitter.png" alt="Twitter" /></a></li>
					<li><a href=""><img src="./img/footer/social-facebook.png" alt="Facebook" /></a></li>
					<li><a href=""><img src="./img/footer/social-linkedin.png" alt="LinkedIn" /></a></li>
					<li><a href=""><img src="./img/footer/social-youtube.png" alt="YouTube" /></a></li>
				</ul>
			</div><!-- .col -->
		</div><!-- .row -->
	</div><!-- .blue -->
    <div class="row container">
    	<div class="col-md-5 financed">
	    	<h2>MakerScience est financé par:</h2>
	    	<ul>
	    		<li class="logo-investissements-avenir"><a href=""></a></li>
	    		<li class="logo-inmediats"><a href=""></a></li>
	    	</ul>
	    </div><!-- .col -->
	    <div class="col-md-7 about">
	    	<h3>A propos de MakerScience</h3>
	    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
	    </div><!-- .col -->
    </div><!-- .row -->
    <div class="cream">
		<div class="row container">
			<div class="col-md-5">
				<p>Makerscience est une initiative lancée par le Groupe Science Animation Midi-Pyrénées,  avec  le soutien de nombreux partenaires et personnes engagés dans le partage des sciences, des techniques et des innovations.</p>
		    	<button>Contacter l'équipe</button>
			</div><!-- .col -->
			<div class="col-md-7 sitemap">
				<h3>Plan du site</h3>
				<div class="row">
					<div class="col-md-4">
						<h4>En savoir plus</h4>
						<ul>
							<li><a href="">L'initiative</a></li>
							<li><a href="">Comment ça marche</a></li>
							<li><a href="">Les animateurs</a></li>
						</ul>
					</div><!-- .col -->
					<div class="col-md-4">
						<h4>S'impliquer</h4>
						<ul>
							<li><a href="">Les projets</a></li>
							<li><a href="">La cartographie</a></li>
							<li><a href="">Présenter un projet</a></li>
						</ul>
					</div><!-- .col -->
					<div class="col-md-4">
						<h4>Echanger</h4>
						<ul>
							<li><a href="">Les membres</a></li>
							<li><a href="">Les expériences partagées</a></li>
							<li><a href="">Les discussions</a></li>
						</ul>
					</div><!-- .col -->
				</div><!-- .row -->
			</div><!-- .col -->
		</div><!-- .row -->
	</div><!-- .cream -->
    <div class="row container">
		<div class="col-md-12 copyright">
			<p>© Copyright 2014 - Makerscience Tous droits réservés<span>Mentions légales</span></p>
		</div><!-- .col -->
    </div><!-- .row -->
</footer>

