<div id="header">

    <header id="fixed-nav" data-spy="affix">
        <nav id="menu" class="navbar" role="navigation">
            <div class="container">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" ui-sref="home"><img src="./img/logo.png" alt="Logo MakerScience" /></a>
                    </div>
                    <p class="navbar-tagline">Plateforme collaborative pour<br />la médiation des sciences, des techniques et des innovations</p>
                    <p class="register-login" ng-show="!authVars.isAuthenticated">
                        <button class="button" ng-click="openSignupPopup()">S'inscrire</button>
                        <button class="button" ng-click="openSigninPopup()">Se connecter</button>
                    </p>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a ui-sref="home" ng-class="{ selected: $state.includes('home') }">Accueil</a></li>
                            <li><a ui-sref="about" ng-class="{ selected: $state.includes('about') }">A propos</a></li>
                            <li><a ui-sref="profile.list" ng-class="{ selected: $state.includes('profile.list') }">Membres</a></li>
                            <li><a ui-sref="map" ng-class="{ selected: $state.includes('map') }">Cartographie</a></li>
                            <li><a ui-sref="project.list" ng-class="{ selected: $state.includes('project.list') }">Projets</a></li>
                            <li><a ui-sref="resource.list" ng-class="{ selected: $state.includes('resource.list') }">Expériences</a></li>
                            <li><a ui-sref="forum" ng-class="{ selected: $state.includes('forum') }">Discussions</a></li>
                        </ul>
                        <!--
                        <form class="navbar-right" ng-show="!authVars.isAuthenticated && !showLoginPanel">
                            <button class="connect" ng-init="showLoginPanel=false" ng-click="showLoginPanel=true">Se connecter</button>
                        </form>
                        -->

                        <div class="dropdown dropdown-logged-in" ng-show="authVars.isAuthenticated && currentMakerScienceProfile != null">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                {{currentMakerScienceProfile.parent.user.first_name}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" ui-sref="profile.detail({slug:currentMakerScienceProfile.slug})">Mon Profil</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Activités récentes</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" ui-sref="profile.dashboard({slug:currentMakerScienceProfile.slug})">Mes paramètres</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Aide</a></li>
                                <li role="presentation"><a ng-click="logout()" role="menuitem" tabindex="-1" href="#">Me déconnecter</a></li>
                            </ul>
                        </div>

                        <!-- Showing when loggin in and when logged in -->
                        <form method="post" class="navbar-right" role="search">
                            <ng-include src="'/views/base/search.html'"></ng-include>
                        </form>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </div><!-- .container -->
        </nav><!-- #menu -->
    </header>

    <div class="crumbs" ng-hide="$state.includes('home')">
        <div class="container">
            <div ncy-breadcrumb></div>
        </div><!-- .container -->
    </div><!-- .crumbs -->

</div><!-- #header -->

<!-- DEBUG #FIXME -->
<script type="text/javascript">
$('#fixed-nav').affix({
  offset: {
    top: 115,
    bottom: function () {
      return (this.bottom = $('.footer').outerHeight(true))
    }
  }
})
</script>
