<div id="header">

    <div id="nav-wrapper">
        <header id="fixed-nav" data-spy="affix">
            <nav id="menu" class="navbar" role="navigation">
                <div class="container">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" ui-sref="home"><img src="/img/logo.png" alt="Logo MakerScience" /></a>
                            <img src="/img/logo-small.png" alt="Logo MakerScience" class="nav-small" />
                        </div>
                        <p class="navbar-tagline">Rejoignez ceux qui mettent la science<br />et l'innovation à portée de tous</p>
                        <p class="register-login" ng-show="!authVars.isAuthenticated">
                            <button class="button" ng-click="openSignupPopup()">S'inscrire</button>
                            <button class="button" ng-click="openSigninPopup()">Se connecter</button>
                        </p>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a ui-sref="home" ng-class="{ selected: $state.includes('home') }">Accueil</a></li>
                                <li><a ui-sref="about" ng-class="{ selected: $state.includes('about') }">A propos</a></li>
                                <li><a ui-sref="profile.list" ng-class="{ selected: $state.includes('profile.list') }">Membres</a></li>
                                <li><a ui-sref="map" ng-class="{ selected: $state.includes('map') }">Cartographie</a></li>
                                <li><a ui-sref="project.list" ng-class="{ selected: $state.includes('project.list') }">Projets</a></li>
                                <li><a ui-sref="resource.list" ng-class="{ selected: $state.includes('resource.list') }">Expériences</a></li>
                                <li><a ui-sref="forum" ng-class="{ selected: $state.includes('forum') }">Discussions</a></li>
                            </ul>
                            <!--
                            <form class="navbar-right" ng-show="!authVars.isAuthenticated && !showLoginPanel">
                                <button class="connect" ng-init="showLoginPanel=false" ng-click="showLoginPanel=true">Se connecter</button>
                            </form>
                            -->

                            <div class="dropdown-logged-in" ng-show="authVars.isAuthenticated && currentMakerScienceProfile != null">
                                <ul>
                                    <li class="dropdown dropdown-user">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                            <span class="avatar avatar40">
                                                <img ng-show="currentMakerScienceProfile.parent.avatar" src="{{currentMakerScienceProfile.parent.avatar}}" class="profile img-circle">
                                                <img ng-hide="currentMakerScienceProfile.parent.avatar" src="/img/avatar.png" class="profile img-circle">
                                            </span>
                                            <span class="glyphicon glyphicon-menu-hamburger"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right " role="menu">
                                            <li role="presentation"><a role="menuitem" tabindex="-1" ui-sref="profile.detail({slug:currentMakerScienceProfile.slug})">Mon Profil</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" ui-sref="profile.dashboard({slug:currentMakerScienceProfile.slug})">Mon espace personnel</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" ui-sref="about()">Aide</a></li>
                                            <li role="presentation"><a ng-click="logout()" role="menuitem" tabindex="-1">Se déconnecter</a></li>
                                        </ul>
                                    </li>
                                    <li id="notifications" class="dropdown" role="menu" ng-controller="NotificationCtrl">
                                        <button class="dropdown-toggle notifications" data-toggle="dropdown" ng-click="markDisplayedAsRead()">
                                            <span class="glyphicon glyphicon-bell"></span>
                                            <span class="badge">{{unreadNotificationCounter}}</span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right dropdown-notifications">
                                            <li class="list-group-item" ng-class="{'notification-new': notif.unread == true}" ng-repeat="notif in lastNotifications">
                                                <p ng-bind-html="trustAsHtml(notif.description)"></p>
                                                <span am-time-ago="notif.timestamp"></span>
                                            </li>
                                            <li class="list-group-item">
                                                <a ui-sref="profile.dashboard({slug:currentMakerScienceProfile.slug})">
                                                    {{(notifications| filter : {unread : true}).length}} non-lues
                                                </a>
                                            </li>
                                            <!-- <li class="list-group-item"><button ng-click="markAllAsRead()"><span class="glyphicon glyphicon-tasks" ></span></button></li> -->
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                            <!-- Showing when loggin in and when logged in -->
                            <form method="post" class="navbar-right" role="search" ng-if="!$state.includes('search')">
                                <ng-include src="'/views/base/search.html'"></ng-include>
                            </form>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </div><!-- .container -->
            </nav><!-- #menu -->
        </header>
    </div><!-- #nav-wrapper -->

    <div class="crumbs" ng-hide="$state.includes('home')">
        <div class="container">
            <div ncy-breadcrumb></div>
        </div><!-- .container -->
    </div><!-- .crumbs -->

</div><!-- #header -->

<!-- DEBUG #FIXME -->
<script type="text/javascript">
/* Code to keep the top nav on top without "jumping" when scrolling down */
$(function() {
    $('#nav-wrapper').css('min-height', $("#header").height() + $("#fixed-nav").height() + 100);
    $('#nav-wrapper').toggleClass('affix-cheat');
    $('#fixed-nav').affix({
        offset: { top: $('#fixed-nav').offset().top }
    });

    $('.dropdown-toggle').dropdown();

    $('#notifications').on({
        "shown.bs.dropdown": function(e) {
            this.closable = true;
        },
        "click": function(e) {
            this.closable = ! $(e.target).hasClass('non-closing');
        },
        "hide.bs.dropdown":  function(e) {
            return this.closable;
        }
    });
});

</script>
