                    <h2>Rejoindre la communauté MakerScience!</h2>
                    <ul>
                        <li><img src="./img/home/home-share-facebook.png" alt="Facebook" /></li>
                        <li><img src="./img/home/home-share-twitter.png" alt="Twitter" /></li>
                        <li><img src="./img/home/home-share-google.png" alt="Google+" /></li>
                    </ul>
                    <p><a href="">S'inscrire</a></p>
                    <p><a href="" class="button">MakerScience c'est quoi?<img src="./img/smiley.png" alt="Smiley" /></a></p>
