<form method="post" action="" class="login">
    <h3>Inscrivez-vous via les réseaux sociaux</h3>
    <ul>
        <!-- <li><button class="connect-with-facebook"></button></li>
        <li><button class="connect-with-twitter"></button></li> -->
        <li><button class="connect-with-google" ng-click="authenticateGoogle()"></button></li>
    </ul>
    <p class="or">Ou</p>
    <fieldset>
        <input type="text" name="login" placeholder="Login"  ng-model="authVars.username"/>
        <input type="password" name="password" placeholder="Mot de passe"  ng-model="authVars.password"/>
        <button type="submit"  ng-click="submit()" >Connexion</button>
    </fieldset>
</form>
