<h2 class="projects clear"><span class="glyphicon glyphicon-tasks"></span> Projets</h2>
<div class="boxes boxes-medium">
    <div class="box" ng-repeat="project in projects">
        <ng-include src="'/views/block/project_thumb_light.html'"></ng-include>
    </div>
    <div class="box box-solo box-blue">
        <div>
            <a ui-sref="project.list">Voir plus <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
</div><!-- .boxes -->

<h2 class="resources clear"><span class="glyphicon glyphicon-book"></span> Ressources</h2>
<div class="boxes boxes-medium">
    <div class="box" ng-repeat="resource in resources">
        <ng-include src="'/views/block/resource_thumb_light.html'"></ng-include>
    </div>
    <div class="box box-solo box-green">
        <div>
            <a ui-sref="resource.list">Voir plus <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
</div><!-- .boxes -->

<h2 class="members clear"><span class="glyphicon glyphicon-user"></span> Profils</h2>
<div class="boxes boxes-profiles">
    <div class="box" ng-repeat="profile in profiles">
        <ng-include src="'/views/profile/block/profile_thumb_light.html'"></ng-include>
    </div>
    <div class="box box-solo box-pink">
        <div>
            <a ui-sref="profile.list">Voir plus <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
</div><!-- .boxes -->

<h2 class="forum clear"><span class="glyphicon glyphicon-user"></span> Discussions</h2>
<div class="boxes boxes-medium">
    <div class="box" ng-repeat="post in threads">
        <thread-light post="post" thread-style='box'></thread-light>
    </div>
    <div class="box box-solo box-purple">
        <div>
            <a ui-sref="forum">Voir plus <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
</div>
