<form method="post" action="" class="login" ng-controller='LoginCtrl'>
    <h3>Connectez-vous via les réseaux sociaux</h3>
    <ul >
        <li><button class="connect-with-facebook" ng-click="authenticate('facebook')"></button></li>
        <!--<li><button class="connect-with-twitter" ng-click="authenticate('twitter')"></button></li>-->
        <li><button class="connect-with-google" ng-click="authenticate('google')"></button></li>
    </ul>
    <p class="or">Ou</p>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">@</span>
            <input type="text" class="form-control" name="username" placeholder="Email ..." ng-model="basicEmail" required>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            <input type="text" class="form-control" name="password" placeholder="Mot de passe..." ng-model="basicPassword" required>

        </div>
    </div>
    <button type="submit"  ng-click="authenticate('basic')" >Se connecter</button>
</form>
