<form name="form" role="form" class="login">
    <h3>Inscrivez-vous via les réseaux sociaux</h3>
    <ul ng-controller='LoginCtrl'>
        <li><button class="connect-with-facebook" ng-click="authenticate('facebook')"></button></li>
        <!--<li><button class="connect-with-twitter" ng-click="authenticate('twitter')"></button></li>-->
        <li><button class="connect-with-google" ng-click="authenticate('google')"></button></li>
    </ul>
    <p class="or">Ou</p>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input type="text" class="form-control" name="first_name" placeholder="Prénom ..." ng-model="first_name" required>

        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input type="text" class="form-control" name="last_name" placeholder="Nom ..." ng-model="last_name" required>

        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">@</span>
            <input type="text" class="form-control" name="username" placeholder="Email ..." ng-model="username" required>
            <span ng-show="form.username.$error.username">Cet email est déjà pris.</span>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            <input type="password" class="form-control" name="pwd1" placeholder="Mot de passe..." ng-model="password" required>

        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            <input type="password" class="form-control" name="pwd2" placeholder="Confirmation du mot de passe ..." ng-model="password2" password required>
            <span ng-show="password != password2">Les deux mots de passe sont différents.</span>
        </div>
    </div>
    <button type="submit"  ng-click="register()" >Connexion</button>
</form>
