<form name="form" role="form" class="login" ng-init="showSubmitBtn=false">
    <h3>Inscrivez-vous via les réseaux sociaux</h3>
    <ul ng-controller='LoginCtrl'>
        <li><button class="connect-with-facebook" ng-click="authenticate('facebook')"></button></li>
        <!--<li><button class="connect-with-twitter" ng-click="authenticate('twitter')"></button></li>-->
        <li><button class="connect-with-google" ng-click="authenticate('google')"></button></li>
    </ul>
    <p class="or">Ou</p>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input type="text" class="form-control" name="first_name" placeholder="Prénom ..." ng-model="first_name" required>

        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input type="text" class="form-control" name="last_name" placeholder="Nom ..." ng-model="last_name" required>

        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">@</span>
            <input type="text" class="form-control" name="email" placeholder="Email ..." ng-model="email" required>
        </div>
        <span class="error" ng-show="emailError">Cet email est déjà associé à un compte.</span>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            <input type="password" class="form-control" name="pwd1" placeholder="Mot de passe..." ng-model="password" required>

        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            <input type="password" class="form-control" name="pwd2" placeholder="Confirmation du mot de passe ..." ng-model="password2" password required>
        </div>
        <span class="error" ng-show="passwordError">Les deux mots de passe doivent être identiques.</span>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label><input type="checkbox" ng-click="showSubmitBtn=!showSubmitBtn"> J'accepte les <a ng-click="viewCGU()">conditions d'utilisation</a></label>
        </div>
    </div>
    <button ng-show="showSubmitBtn" type="submit"  ng-click="register()" >S'inscrire</button>
</form>
