<div id="intro" class="intro-tags" style="background-image: url('./img/bg/header-map.jpg')">
    <h1>Tous les tags</h1>
    <!-- <h2></h2> -->
</div><!-- #intro -->

<div class="row container">

    <div class="col-md-12">

        <ul class="tags tags-listing" ng-controller="TagListCtrl">
            <li ng-repeat="tag in tags">
                <a ng-if="tag.name.length > 10" tooltip="{{tag.name}}" ui-sref="tag({tag:tag.slug})">{{tag.name| characters:10}}</a>
                <a ng-if="tag.name.length <= 10" ui-sref="tag({tag:tag.slug})">{{tag.name}}</a>
                <span class="weight">x {{tag.weight}}</span></li>
        </ul>

    </div><!-- .col -->

</div><!-- .row -->
