<div id="intro" class="intro-tags" style="background-image: url('./img/bg/header-map.jpg')">
    <h1>Tous les objets taggés avec</h1>
    <h2>« {{tag.name}} »</h2>
    <p class="center">
        <button class="button" tooltip="Recevoir des notifications dès qu’un nouveau contenu est posté avec ce tag">S'abonner</button>
    </p>
</div><!-- #intro -->

<div class="row container">
    <div id="content" class="tags">
        <div class="col-md-12">

            <div ng-controller="ObjectGetter">

                <h2 class="projects clear"><span class="glyphicon glyphicon-tasks"></span> Projets</h2>
                <div class="boxes boxes-medium">
                    <div class="box" ng-repeat="item in projectItems = (taggedItems| filter:{object_type_name:'project'})">
                        <div ng-init="getObject(item.object_type_name, item.object_id)">
                            <ng-include src="'views/catalog/block/project_thumb.html'"></ng-include>
                        </div>
                    </div>
                    <div class="box box-solo box-blue">
                        <div>
                            <a ui-sref="project.list">Voir plus <span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                    </div>
                </div><!-- .boxes -->

                <h2 class="resources clear"><span class="glyphicon glyphicon-book"></span> Expériences</h2>
                <div class="boxes boxes-medium">
                    <div class="box" ng-repeat="item in resourceItems = (taggedItems| filter:{object_type_name:'makerscienceresource'})">
                        <div ng-init="getObject(item.object_type_name, item.object_id)">
                            <ng-include src="'views/catalog/block/resource_thumb.html'"></ng-include>
                        </div>
                    </div>
                    <div class="box box-solo box-green">
                        <div>
                            <a ui-sref="resource.list">Voir plus <span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                    </div>
                </div><!-- .boxes -->

                <h2 class="members clear"><span class="glyphicon glyphicon-user"></span> Profils</h2>
                <div class="boxes boxes-medium">
                    <div class="box" ng-repeat="item in profileItems = (taggedItems| filter:{object_type_name:'makerscienceprofile'})">
                        <div ng-init="getObject(item.object_type_name, item.object_id)">
                            <ng-include src="'views/profile/block/profile_thumb.html'"></ng-include>
                        </div>
                    </div>
                    <div class="box box-solo box-pink">
                        <div>
                            <a ui-sref="profile.list">Voir plus <span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                    </div>
                </div><!-- .boxes -->

                <h2 class="tags"><span class="glyphicon glyphicon-tag"></span> Tags associés</h2>
                <ul class="tags tags-related">
                    <li><a href="">foo</a></li>
                    <li><a href="">bar</a></li>
                    <li><a href="">something</a></li>
                    <li><a href="">long-one-goes-here</a></li>
                    <li><a href="">and</a></li>
                    <li><a href="">a</a></li>
                    <li><a href="">very</a></li>
                    <li><a href="">short</a></li>
                    <li><a href="">one</a></li>
                </ul><!-- .tags-related -->

                <h2 class="default"><span class="glyphicon glyphicon-search"></span> Recherchez un autre tag</h2>
                <input type="text" name="search-tag" placeholder="Recherchez un autre tag" />
                <button class="button" type="submit">Rechercher</button>

            </div><!-- ng-controller -->
        </div><!-- .col-md-12 -->
    </div><!-- #content -->
</div><!-- .containter -->
