<div id="intro" class="intro-tags" style="background-image: url('./img/bg/header-map.jpg')">
    <h1>Tous les objets taggés avec</h1>
    <h2>« {{tag.name}} »</h2>
    <p class="center">
        <button class="button" ng-click="followTag(currentMakerScienceProfile.parent.id)" tooltip="Recevoir des notifications dès qu’un nouveau contenu est posté avec ce tag">S'abonner</button>
    </p>
</div><!-- #intro -->

<div class="row container">
    <div id="content" class="tags">
        <div class="col-md-12">
            <ng-include src="'views/base/multiple_object_listing.html'"></ng-include>

            <h2 class="tags"><span class="glyphicon glyphicon-tag"></span> Tags associés</h2>
            <ul class="tags tags-related">
                <li ng-repeat="tag in associatedTags"><a ui-sref="tag({tag:tag})">{{tag}}</a></li>
            </ul><!-- .tags-related -->

            <h2 class="default"><span class="glyphicon glyphicon-search"></span> Recherchez un autre tag</h2>
            <input type="text" ng-model="newSearchTag" placeholder="Recherchez un autre tag" />
            <button class="button" type="submit" ui-sref="tag({tag:newSearchTag})">Rechercher</button>
        </div><!-- .col-md-12 -->
    </div><!-- #content -->
</div><!-- .containter -->
