<div id="intro" class="intro-project-create" style="background-image: url('./img/bg/header-map.jpg')">
    <h1>Sans le savoir</h1>
    <h2>vous êtes peut-être tout près d'un beau projet...</h2>
</div><!-- #intro -->

<div class="map-search">
    <div class="container row">
        <div class="col-md-12">
            <form class="form-inline mapsearch">
                <input type="text" name="search" class="form-control" placeholder="Recherche..." />
                <button class="btn" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </form>
        </div>
    </div>
</div>

<div class="map" ng-controller="MakerScienceMapCtrl">
    <div class="member-info member-info-hidden" ng-class="showMemberInfo ? 'member-info-visible' : 'member-info-hidden'">
        <a class="toggle" ng-click="showMemberInfo = !showMemberInfo"><span class="glyphicon glyphicon-option-vertical"></span></a>
        <div ng-show="spottedProfile">
            <gravatar-image data-gravatar-email="spottedProfile.parent.user.email"
                data-gravatar-size="222"
                data-gravatar-rating="pg"
                data-gravatar-default="mm"
                data-gravatar-secure="true"
                data-gravatar-css-class="img-rectangle">
            </gravatar-image>
            <div class="member">
                <p>{{spottedProfile.full_name}}</p>
                <p>{{spottedProfile.activity}}</p>
            </div><!-- .member -->
            <div class="content">
                <h5>Il participe à ces projets</h5>
                <div class="boxes boxes-small" >
                    <div id="anchor{{$index}}" class="box" ng-repeat="project in spottedProfile.projects">
                        <ng-include src="'views/catalog/block/project_thumb.html'" ng-init="project=project"></ng-include>
                    </div><!-- .box -->
                </div><!-- .boxes -->
                <p class="scroll-buttons">
                    <a href=""><img ng-click="gotoAnchor(3)" src="/img/icons/scroll_down.png" alt="Scroll Down" /></a>
                    <a href=""><img ng-click="gotoAnchor(0)" src="/img/icons/scroll_up.png" alt="Scroll Up" /></a>
                </p>
            </div>
        </div>
        <div ng-show="!spottedProfile">
            <p class="notice">
                Sélectionner un membre sur la carte pour en savoir plus ...
            </p>
        </div>
    </div><!-- .member-info -->
    <div>
        <leaflet id="membersmap" defaults="defaults" markers="markers" center="center" height="700px" ></leaflet>
    </div>
</div>
