<link href='js/vendor/leaflet/dist/leaflet.css' rel='stylesheet' >
<link href='js/vendor/leaflet.markercluster/dist/MarkerCluster.css' rel='stylesheet' >
<link href='js/vendor/leaflet.markercluster/dist/MarkerCluster.Default.css' rel='stylesheet' >

<div id="intro" class="intro-project-create" style="background-image: url('./img/bg/header-listing-profiles.jpg')">
    <h1>La communauté</h1>
    <h2>Tous ensemble pour <em>l'innovation</em></h2>
</div><!-- #intro -->

<form class="form-inline mapsearch">
    <label for="search">Titre / Exemple / Membre de MakerScience</label>
    <input type="text" name="search" class="form-control" placeholder="Recherche..." />
    <button class="btn" type="submit"><span class="glyphicon glyphicon-search"></span></button>
</form>

<div class="map" ng-controller="MakerScienceMapCtrl">
    <div class="member-info member-info-hidden" ng-class="showMemberInfo ? 'member-info-visible' : 'member-info-hidden'">
        <a class="toggle" ng-click="showMemberInfo = !showMemberInfo"><span class="glyphicon glyphicon-option-vertical"></span></a>
        <div ng-show="spottedProfile">
            <gravatar-image data-gravatar-email="spottedProfile.parent.user.email"
                data-gravatar-size="120"
                data-gravatar-rating="pg"
                data-gravatar-default="mm"
                data-gravatar-secure="true"
                data-gravatar-css-class="img-circle">
            </gravatar-image>
            <div class="member">
                <p>{{spottedProfile.full_name}}</p>
                <p>{{spottedProfile.activity}}</p>
            </div><!-- .member -->
            <div class="content">
                <h5>Il participe à ces projets</h5>
                <div class="boxes boxes-small" >
                    <div id="anchor{{$index}}" class="box" ng-repeat="project in spottedProfile.projects">
                        <ng-include src="'views/catalog/block/project_thumb.html'" ng-init="project=project"></ng-include>
                    </div><!-- .box -->
                </div><!-- .boxes -->
                <p class="scroll-buttons">
                    <a href=""><img ng-click="gotoAnchor(3)" src="/img/icons/scroll_down.png" alt="Scroll Down" /></a>
                    <a href=""><img ng-click="gotoAnchor(0)" src="/img/icons/scroll_up.png" alt="Scroll Up" /></a>
                </p>
            </div>
        </div>
        <div ng-show="!spottedProfile">
            <p>
                Sélectionner un membre sur la carte pour en savoir plus ...
            </p>
        </div>
    </div><!-- .member-info -->
    <div>
        <leaflet id="membersmap" defaults="defaults" markers="markers" center="center" height="1000px" ></leaflet>
    </div>
</div>
