<div>

    <!-- <ul id="sidenav" class="resource">
        <li ng-show="currentUserHasEditRights"><a ng-click="editable = ! editable" ng-init="editable=false" ng-class="{selected: editable}"><span class="glyphicon glyphicon-pencil"></span>Editer</a></li>
        <li><a href=""><span class="glyphicon glyphicon-share-alt"></span>Partager</a></li>
        <li><a href=""><span class="glyphicon glyphicon-envelope"></span>Contact</a></li>
    </ul> -->

    <div id="intro" class="intro-resource">

        <div class="container">

            <div class="intro edit">
                <socialshare></socialshare>
                <div class="edit-buttons edit-resource-baseline" ng-show="editable">
                    <button ng-click="BaselineBtnForm.$show()" ng-hide="BaselineBtnForm.$visible">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </div>
                <h1>{{resourcesheet.parent.title}}</h1>

                <h2 editable-text="resourcesheet.parent.baseline"
                    e-form="BaselineBtnForm"
                    onbeforesave="updateProjectSheet('Project', resourcesheet.parent.id , 'baseline', $data)"
                    ng-bind-html="resourcesheet.parent.baseline">{{ resourcesheet.parent.baseline }}
                </h2>

                <h3><span>Ressource partagée</span></h3>

                <div class="row">
                    <div class="col-md-8" >
                        <img ng-src="{{coverURL}}" alt="Ressources image" />
                        <div class="editable" ng-show="editable" style="padding-top:inherit">
                            <div class="edit-buttons edit-cover-image">
                                <button ng-click="openCover(resourcesheet.base_projectsheet)"><span class="glyphicon glyphicon-camera"></span></button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">

                        <div class="side-header">
                            <ng-include src="'/views/block/resource_tags_widget.html'"></ng-include>

                            <div class="since">
                                <span>Crée le {{resourcesheet.parent.created_on | date:'dd/MM/yyyy'}}<span> /
                                <span>Mis à jour le {{resourcesheet.modified | date:'dd/MM/yyyy'}}<span>
                            </div>

                        </div><!-- .side-header -->

                    </div><!-- .col-md-4 -->

                </div><!-- .row -->

            </div><!-- .intro -->

        </div><!-- .container -->

    </div><!-- #intro -->

    <div class="row container">

        <div class="col-md-8">
            <div id="content">

                <tabset class="nav-tabs-resource">
                    <tab heading="Ressources">
                        <section class="medias">
                            <div class="edit-buttons" ng-click="openGallery(projectsheet.base_projectsheet)" ng-hide="DescBtnForm.$visible || !editable" ng-show="editable">
                                <button><span class="glyphicon glyphicon-pencil"></span></button>
                            </div>
                            <h3 ng-show="filteredByAuthor.length">Ressources dont je suis l'auteur ({{filteredByAuthor.length}})</h3>
                            <gallery-list medias="filteredByAuthor" uri="config.media_uri"></gallery-list>

                            <h3 ng-show="filteredByNotAuthor.length">Ressources récupérées que je souhaite partager ({{filteredByNotAuthor.length}})</h3>
                            <gallery-list medias="filteredByNotAuthor" uri="config.media_uri"></gallery-list>

                            <h3 ng-show="filteredByExperience.length">Mes expériences ({{filteredByExperience.length}})</h3>
                            <gallery-experiences-list medias="filteredByExperience"></gallery-experiences-list>
                        </section>

                        <button ng-show="editable" class="btn btn-primary btn-edit" ng-click="openGallery(projectsheet.base_projectsheet)">
                          <span class="glyphicon glyphicon-pencil"></span> Ajouter / supprimer des ressources
                        </button>
                    </tab>
                    <tab ng-show="{{resourcesheet.linked_makersciencepost.length}}" heading="Discussions ({{resourcesheet.linked_makersciencepost.length}})">
                        <section>
                            <div ng-repeat="post in resourcesheet.linked_makersciencepost">
                                <ng-include ng-if="post.id" src="'/views/forum/block/thread_light.html'"></ng-include>
                            </div>
                        </section>
                    </tab>
                </tabset>
            </div><!-- #content -->

        </div><!-- .col-md-8 -->

        <div class="col-md-4">
            <div id="sidebar" ng-init="objectTypeName='makerscienceresource';commentType=13;parentColor='resource'">
                <community-resource object-type-name="makerscienceresource" object-id="objectId" ng-if="objectId"></community-resource>
                <comments object-type-name="makerscienceresource" object-id="objectId" ng-if="objectId"></comments>
                <ng-include src="'/views/block/popularity.html'"></ng-include>
                <report-abuse-button></report-abuse-button>

            </div><!-- #sidebar -->

        </div><!-- .col-md-4 -->

    </div><!-- .row .container -->

    <div class="row container">

        <div class="col-md-12">

            <h2 class="boxed boxed-resource"><span class="glyphicon glyphicon-tasks"></span> Ressources Similaires</h2>

            <ul class="boxes boxes-medium boxes-spaced">
                <!-- #WARNING No space between a closing </li> and the following opening one or the browser will add extra space -->
                <li class="box" ng-repeat="resource in similars">
                    <ng-include src="'/views/block/resource_thumb_light.html'" ng-init="resource=resource"></ng-include>
                </li
                ><li class="box box-solo box-green">
                    <div>
                        <a ui-sref="resource.list">Plus d'expériences <span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </li>
            </ul>

            <a ui-sref="resource.form" class="large large-purple">Partager une ressource <i class="fa fa-lock" ng-show="!authVars.isAuthenticated"></i><img src="/img/smiley.png" class="smiley" alt="Smiley" /></a>

        </div>

    </div><!-- .row .container -->

</div><!-- ng-controller -->
