<div>

    <!-- <ul id="sidenav" class="resource">
        <li ng-show="currentUserHasEditRights"><a ng-click="editable = ! editable" ng-init="editable=false" ng-class="{selected: editable}"><span class="glyphicon glyphicon-pencil"></span>Editer</a></li>
        <li><a href=""><span class="glyphicon glyphicon-share-alt"></span>Partager</a></li>
        <li><a href=""><span class="glyphicon glyphicon-envelope"></span>Contact</a></li>
    </ul> -->

    <div id="intro" class="intro-resource">

        <div class="container">

            <div class="intro edit">
                <socialshare></socialshare>
                <div class="edit-buttons edit-resource-baseline" ng-show="editable">
                    <button ng-click="BaselineBtnForm.$show()" ng-hide="BaselineBtnForm.$visible">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </div>
                <h1>{{resourcesheet.parent.title}}</h1>

                <h2 editable-text="resourcesheet.parent.baseline"
                    e-form="BaselineBtnForm"
                    onbeforesave="updateProjectSheet('Project', resourcesheet.parent.id , 'baseline', $data)"
                    ng-bind-html="resourcesheet.parent.baseline">{{ resourcesheet.parent.baseline }}
                </h2>

                <h3><span>Expérience partagée</span></h3>

                <div class="row">
                    <div class="col-md-8" >
                        <img ng-src="{{resourcesheet.base_projectsheet.coverURL}}" alt="Experience Image" />
                        <div class="editable" ng-show="editable" style="padding-top:inherit">
                            <div class="edit-buttons edit-cover-image">
                                <button ng-click="openGallery(resourcesheet.base_projectsheet)"><span class="glyphicon glyphicon-camera"></span></button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">

                        <div class="side-header">
                            <ng-include src="'/views/block/resource_tags_widget.html'"></ng-include>

                            <div class="editable">
                                <div class="edit-buttons" ng-show="editable">
                                    <button ng-click="DurationBtnForm.$show()" ng-hide="DurationBtnForm.$visible">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </div>
                                <p editable-text="resourcesheet.duration"
                                    e-form="DurationBtnForm"
                                    onbeforesave="updateMakerScienceResourceSheet('MakerScienceResource', resourcesheet.id , 'duration', $data)">
                                    <span class="glyphicon glyphicon-time"></span>
                                    <span ng-if="resourcesheet.duration">Durée de mise en oeuvre : {{projectsheet.duration}}</span>
                                    <span ng-if="!resourcesheet.duration">Durée de mise en oeuvre non renseignée</span>
                                </p>
                            </div>

                            <div class="editable">
                                <div class="edit-buttons" ng-show="editable">
                                    <button ng-click="WebsiteBtnForm.$show()" ng-hide="WebsiteBtnForm.$visible">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </div>
                                <p editable-text="resourcesheet.parent.website"
                                    e-form="WebsiteBtnForm"
                                    onbeforesave="updateProjectSheet('Project', resourcesheet.parent.id , 'website', $data)">
                                    <span class="glyphicon glyphicon-globe"></span>
                                    <a ng-if="resourcesheet.parent.website" href="{{resourcesheet.parent.website}}" target="_blank">{{resourcesheet.parent.website}}</a>
                                    <span ng-if="!resourcesheet.parent.website">Site web non renseignée</span>
                                </p>
                            </div>
                            <div class="since">
                                <span>Crée le {{resourcesheet.parent.created_on | date:'dd/MM/yyyy'}}<span> /
                                <span>Mis à jour le {{resourcesheet.modified | date:'dd/MM/yyyy'}}<span>
                            </div>

                        </div><!-- .side-header -->

                    </div><!-- .col-md-4 -->

                </div><!-- .row -->

            </div><!-- .intro -->

        </div><!-- .container -->

    </div><!-- #intro -->

    <div class="row container">

        <div class="col-md-8">
            <div id="content">

                <tabset class="nav-tabs-resource">
                    <tab heading="Expérience">
                        <section>
                            <div class="edit-buttons" ng-click="DescBtnForm.$show()" ng-hide="DescBtnForm.$visible || !editable" ng-show="editable">
                                <button> <span class="glyphicon glyphicon-pencil"></span></button>
                            </div>
                            <h3>A propos de l'expérience</h3>

                            <p editable-tiny-angular="resourcesheet.parent.description"
                            blur="ignore"
                            e-form="DescBtnForm"
                            e-rows="4"
                            e-ta-toolbar="[['bold','italics', 'underline'], ['ul', 'ol'], ['insertLink']]"
                            onbeforesave="updateProjectSheet('Project', projectsheet.parent.id , 'description', $data)"
                            ng-bind-html="resourcesheet.parent.description">
                        </p>
                        </section>
                        <section ng-repeat="item in resourcesheet.base_projectsheet.question_answers">
                            <h3>{{item.question.text}}</h3>
                            <div class="edit-buttons" ng-click="AnswerBtnForm.$show()" ng-hide="AnswerBtnForm.$visible || !editable" ng-show="editable">
                                <button><span class="glyphicon glyphicon-pencil"></span></button>
                            </div>
                            <p editable-tiny-angular="item.answer"
                                blur="ignore"
                                 e-form="AnswerBtnForm"
                                 e-rows="4"
                                 e-ta-toolbar="[['bold','italics', 'underline'], ['ul', 'ol'], ['insertLink']]"
                                 onbeforesave="updateProjectSheet('ProjectSheetQuestionAnswer', item.id , 'answer', $data)"
                                 ng-bind-html="item.answer">
                            </p>
                        </section>

                        <ul class="gallery-links">
                            <li ng-repeat="media in projectsheet.base_projectsheet.bucket.files">
                                <!-- <div class="thumbnail" ng-show="media.bucket" ng-thumb="{ file: media.file, height: 100 }"></div>
                                <div class="thumbnail" ng-show="media.type === 'image' && !media.bucket"><img ng-src="{{media.url}}" /></div> -->
                                <a ng-show="media.file" class="filename" href="{{ config.media_uri }}{{ media.file }}" title="{{media.title}}" target="_blank">
                                  <span class="icon" ng-switch on="media.type">
                                      <i class="glyphicon glyphicon-file" ng-switch-when="document"></i>
                                      <i class="glyphicon glyphicon-link" ng-switch-when="link"></i>
                                  </span>
                                  <span class="title">{{media.title}}</span>
                                  <span class="url">{{media.url}}</span>
                                </a>
                                <a ng-show="media.url" class="filename" href="{{media.url}}">
                                  <span class="icon" ng-switch on="media.type">
                                      <i class="glyphicon glyphicon-file" ng-switch-when="document"></i>
                                      <i class="glyphicon glyphicon-link" ng-switch-when="link"></i>
                                  </span>
                                  <span class="title">{{media.title}}</span>
                                </a>
                            </li>
                        </ul>
                    </tab>
                    <tab heading="Discussions ({{resourcesheet.linked_makersciencepost.length}})">
                        <section>
                            <div ng-repeat="post in resourcesheet.linked_makersciencepost">
                                <ng-include ng-if="post.id" src="'/views/forum/block/thread_light.html'"></ng-include>
                            </div>
                        </section>
                    </tab>
                </tabset>
            </div><!-- #content -->

        </div><!-- .col-md-8 -->

        <div class="col-md-4">
            <div id="sidebar" ng-init="objectTypeName='makerscienceresource';commentType=13;parentColor='resource'">
                <community-resource object-type-name="makerscienceresource" object-id="objectId" ng-if="objectId"></community-resource>
                <comments object-type-name="makerscienceresource" object-id="objectId" ng-if="objectId"></comments>
                <ng-include src="'/views/block/popularity.html'"></ng-include>
                <report-abuse></report-abuse>

            </div><!-- #sidebar -->

        </div><!-- .col-md-4 -->

    </div><!-- .row .container -->

    <div class="row container">

        <div class="col-md-12">

            <h2 class="boxed boxed-resource"><span class="glyphicon glyphicon-tasks"></span> Expériences Similaires</h2>

            <ul class="boxes boxes-medium boxes-spaced">
                <!-- #WARNING No space between a closing </li> and the following opening one or the browser will add extra space -->
                <li class="box" ng-repeat="resource in similars">
                    <ng-include src="'/views/block/resource_thumb_light.html'" ng-init="resource=resource"></ng-include>
                </li
                ><li class="box box-solo box-green">
                    <div>
                        <a ui-sref="resource.list">Plus d'expériences <span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </li>
            </ul>

            <a ui-sref="resource.form" class="large large-purple">Partager une expérience <i class="fa fa-lock" ng-show="!authVars.isAuthenticated"></i><img src="/img/smiley.png" class="smiley" alt="Smiley" /></a>

        </div>

    </div><!-- .row .container -->

</div><!-- ng-controller -->
