<div class="admin">

    <div id="intro" class="intro-resource-create">
        <h1>Créez une page</h1>
        <h2>partageant une expérience</h2>
    </div><!-- #intro -->

    <div class="row container">

        <div class="col-md-12">

            <div id="content" class="new-resource">

                <h2>Créer une ressource</h2>
                <div class="introduction">
                  <p>Ce formulaire vous permet de décrire en détails une ressource que vous souhaitez partager en pensant qu'elle pourra aider d'autres membres. Plus vous détaillez votre projet, plus vous aiderez d'autres membres à reproduire votre initiative et la disséminer au plus grand nombre</p>
                  <p>Pour toute question <a href="">contacter l'équipe de Makerscience</a></p>
                </div>

                <form name="newResourceForm"
                      novalidate
                      ng-init="submitted=false"
                      ng-submit="saveMakerscienceResource(newResourceForm.$valid)"
                      ng-class="{ 'has-error' : newResourceForm.$invalid && submitted }">
                    <div class="row">
                        <div class="col-md-12">

                        <accordion close-others="false">
                            <accordion-group is-open="true" is-disabled="true">
                                <accordion-heading>
                                    <span class="title">Caractéristiques de la ressource</span>
                                </accordion-heading>
                                <fieldset>
                                    <label>Titre de la ressource <span class="required">*</span></label>
                                    <input type="text"
                                        name="resourceName"
                                        ng-model="projectsheet.project.title"
                                        maxlength="50"
                                        required/>
                                    <p ng-show="newResourceForm.resourceName.$invalid && submitted" class="help-block">Titre de l'expérience requis</p>

                                    <label>Sous-titre de la ressource <span class="required">*</span></label>
                                    <input type="text"
                                        name="projectBaseline"
                                        ng-model="projectsheet.project.baseline"
                                        maxlength="100"
                                        required/>
                                    <p ng-show="newResourceForm.projectBaseline.$invalid && submitted" class="help-block">Sous-titre de la ressource requise</p>
                                    <p class="help"><span class="glyphicon glyphicon-info-sign"></span> Résumez en une courte phrase votre ressource</p>

                                    <label>Thématiques <span class="required">*</span></label>
                                    <input type="text"
                                        name="thematiques"
                                        ng-model="projectsheet.project.thematiques"
                                        maxlength="100"
                                        required/>
                                    <p ng-show="newResourceForm.thematiques.$invalid && submitted" class="help-block">Thematiques requise</p>

                                    <label>Publics visés <span class="required">*</span></label>
                                    <input type="text"
                                           name="target"
                                           ng-model="projectsheet.project.target"
                                           maxlength="50"
                                           required/>
                                    <p ng-show="newResourceForm.target.$invalid && submitted" class="help-block">Publics visés requis</p>

                                    <label>Formats <span class="required">*</span></label>
                                    <input type="text"
                                           name="formats"
                                           ng-model="projectsheet.project.formats"
                                           maxlength="50"
                                           required/>
                                    <p ng-show="newResourceForm.formats.$invalid && submitted" class="help-block">Formats requis</p>
                               </fieldset>
                            </accordion-group>

                            <accordion-group is-open="true">
                                <accordion-heading>
                                    <div class="row">
                                        <div class="col-md-9">
                                            <span class="title">Ressources</span>
                                        </div>
                                        <div class="col-md-3 right">
                                            <button class="btn btn-primary toggle-button" ng-class="{'disabled': status1.open}"><span class="glyphicon glyphicon-plus"></span> Ajouter une ressources</button>
                                        </div>
                                    </div>
                                </accordion-heading>
                                <fieldset class="addPhotosVideos">
                                    <h5>Nouveau média</h5>
                                    <gallery-resource></gallery-resource>
                                </fieldset>
                            </accordion-group>
                        </div>
                    </div><!-- .row -->

                    <p class="right" ng-hide="hideControls">
                        <button type="button" class="button cancel" ui-sref="resource.list">Annuler</button>
                        <!-- FIXME : set up ctrler to allow 'save as draft'  -->
                        <!-- <button type="button" class="button">Enregistrer en brouillon</button>
                        <button type="button" class="button" ng-click="submitted=true">Publier</button>
                         -->
                        <button type="submit" class="button" ng-click="submitted=true;hideControls=true">Enregistrer</button>
                    </p>
                    <div class="progress" ng-show="hideControls">
                        <div ng-show="uploader.queue.length > 0" class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }" style="width: 0%;"></div>
                        <div ng-show="uploader.queue.length == 0" class="progress-bar" role="progressbar" ng-style="{ 'width': fake_progress + '%' }" style="width: 0%;"></div>
                    </div>
                </form>

            </div><!-- #content -->

        </div><!-- .row -->

    </div><!-- .row .container -->
</div>
