<div class="modal-send-message">
    <div class="container">
        <div class="row">
          <form role="form" action="" method="post">
            <div class="col-lg-6">
              <!-- <div class="form-group">
                <label for="InputName">Votre nom</label>
                <div class="input-group">
                  <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter Name" ng-model="message.sender_full_name" required>
              </div>
              <div class="form-group">
                <label for="InputEmail">Votre adresse email</label>
                <div class="input-group">
                  <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Enter Email" ng-model="message.sender_email" required  >
              </div> -->
                 <h1 ng-if="profile.first_name && profile.last_name">Votre message pour {{profile.first_name}} {{profile.last_name}}</h1>
                 <h1 ng-if="profile.full_name">Votre message pour {{profile.full_name}}</h1>
                 <h1 ng-if="profile.user.first_name && profile.user.last_name">Votre message pour {{profile.user.first_name}} {{profile.user.last_name}}</h1>
              <div class="form-group">
                <div class="input-group">
                  <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" ng-model="message.body" required></textarea>
              </div>
              <div class="form-group captcha">
                  <div
                    vc-recaptcha
                    theme="'light'"
                    key=recaptchaKey
                    on-create="setWidgetId(widgetId)"
                    on-success="setResponse(response)"
                    on-expire="cbExpiration()"
                ></div>
              </div>
              <input type="submit" name="submit" id="submit" value="Envoyer" class="btn btn-info" ng-click="sendMessage(message)" ng-hide="response == null || success">
              <div ng-show="success">
                  Votre message a bien été envoyé.
              </div>
            </div>
          </form>

        </div>

    </div>
</div>
