<span ng-show="authVars.isAuthenticated && currentMakerScienceProfile != null" ng-controller="FriendshipCtrl" ng-init="checkFriend(profile.id)">
    <button  ng-show="!isFriend" ng-click="addFriend(profile.id)" class="add-member"><span class="glyphicon glyphicon-plus"></span></button>
    <button  ng-show="isFriend" ng-click="removeFriend(profile.id)" class="add-member"><span class="glyphicon glyphicon-minus"></span></button>
</span>
<a ui-sref="profile.detail({slug:profile.slug})">
    <ng-include src="'/views/profile/block/avatar.html'" class="avatar75"></ng-include>
    <h3>{{profile.parent.user.first_name}} <strong>{{profile.parent.user.last_name}}</strong></h3>
    <h4>{{profile.activity}}</h4>
    <h5><span class="glyphicon glyphicon-map-marker"></span> {{profile.location.address.address_locality}}</h5>
</a>
