<a ui-sref="profile.detail({id:profile.id})">
	<!-- gravatar size:
		85 - homepage
		140 - profile listing
	-->
	<gravatar-image data-gravatar-email="profile.parent.user.email"
		data-gravatar-size="85"
		data-gravatar-rating="pg"
		data-gravatar-default="mm"
		data-gravatar-secure="true"
		data-gravatar-css-class="img-circle">
	</gravatar-image>
	<h3>{{profile.parent.user.first_name}} <strong>{{profile.parent.user.last_name}}</strong></h3>
	<h4>{{profile.activity}}</h4>
	<h5><span class="glyphicon glyphicon-map-marker"></span> {{profile.location.address_locality}}</h5>
</a>

