<span ng-show="authVars.isAuthenticated && currentMakerScienceProfile != null" ng-controller="FriendshipCtrl" ng-init="checkFriend(profile.id)">
    <div class="member-buttons">
        <button  ng-if="currentMakerScienceProfile.id != profile.id" ng-show="!isFriend" ng-click="addFriend(profile.id)" class="add-member">
            <span class="fa fa-user-plus"></span>
        </button>

        <button  ng-show="isFriend" ng-click="removeFriend(profile.id)" class="add-member">
            <span class="fa fa-user-times"></span>
        </button>

        <button  ng-show="isFriend" class="add-member" ng-click="showContactPopup(profile)">
            <span class="fa fa-envelope"></span>
        </button>
    </div>
</span>
<a ui-sref="profile.detail({slug:profile.slug})">
    <ng-include src="'/views/profile/block/avatar.html'" class="avatar75"></ng-include>
    <h3>{{profile.first_name}} <strong>{{profile.last_name}}</strong></h3>
    <h4>{{profile.activity}}</h4>
    <h5><span class="glyphicon glyphicon-map-marker"></span> {{profile.address_locality}}</h5>
</a>
